{% extends "dashboard/template.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navlink %}
    <li><a href="{% url 'dashboard:home_view' %}">Home</a></li>
{% endblock %}
{% block css %}
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css" rel="stylesheet">
    <link href="{% static 'css/rickshaw.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/dashboard_graph_view.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/dashboard_responsive.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block container %}
    <input type="hidden" id="user_id" value="{{ user.id }}">
    <!-- Left Section -->
    <div class="col-md-3 left_pane">
        <div class="row-fluid">
            <label for="project_dd">Select Project:</label>
            <select class="project_list btn btn-default dropdown-toggle dropdown_btn" id="project_dd"></select>
        </div>
        <br>
        <div class="row-fluid">
            <label for="media_dd">Select Media:</label>
            <select class="media_list btn btn-default dropdown-toggle dropdown_btn" id="media_dd"></select>
        </div>
        <br>
        <div class="row-fluid">
            <div class="image_wrapper"></div>
        </div>
        <br>
        <div class="row-fluid research_parameters">
            <h4>Research Parameters</h4>
            <table class="table table-bordered">
                <tr><td class="selected_param" val="attention">Attention</td>
                    <td val="meditation">Meditation</td></tr>
                <tr><td val="BP">Band Power</td><td val="ET">eTensity</td></tr>
                <tr><td val="YF">Familiarity</td><td val="Blink">Eye Blink</td></tr>
                <tr><td val="YY">YinYang</td><td val="AL">Alertness</td></tr>
                <tr><td val="AP">Appreciation</td><td val="ME">Mental Effort</td></tr>
                <tr><td val="CR">Creativity</td><td val="CP">Preparedness</td></tr>
            </table>
        </div>

        <div class="row-fluid metrics">
            <h4>Metrics</h4>
            <table class="table table-bordered">
                <tr><td class="selected_param" val="avg">Average</td><td val="var">Varience</td></tr>
            </table>
        </div>
        <div class="row-fluid gender">
            <h4>Gender</h4>
            <table class="table table-bordered">
                <tr><td class="selected_param" val="all">All</td><td class="compare" val="versus">Versus</td></tr>
                <tr><td val="male">Male</td><td val="female">Female</td></tr>
            </table>
        </div>

        <div class="row-fluid age">
            <h4>Age</h4>
            <table class="table table-bordered">
                <tr><td class="selected_param" val="all">All</td><td class="compare" val="versus">Versus</td></tr>
                <tr><td val="below">Below 29</td><td val="average">29-50</td></tr>
                <tr><td val="above">Above 50</td></tr>
            </table>
        </div>
    </div>
    <!-- Right Section -->
    <div class="col-md-9 right_pane ">
        <div class="row-fluid">
            <div class="benchmark_row">
                <span class="left_heading">Benchmark</span>
                <div class="right_float dropdown">
                    <button class="btn btn-default dropdown-toggle dropdown_btn" type="button" data-toggle="dropdown">Category
                        <span class="pull-right  caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Category 1</a></li>
                        <li><a href="#">Category 2</a></li>
                        <li><a href="#">Category 3</a></li>
                    </ul>
                </div>

                <div class="right_float dropdown">
                    <button class="btn btn-default dropdown-toggle dropdown_btn" type="button" data-toggle="dropdown">
                        Gender<span class="pull-right  caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Male</a></li>
                        <li><a href="#">Female</a></li>
                    </ul>
                </div>
                <div class="right_float dropdown">
                    <button class="btn btn-default dropdown-toggle dropdown_btn" type="button" data-toggle="dropdown">
                        Age<span class="pull-right  caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Young</a></li>
                        <li><a href="#">Teen</a></li>
                        <li><a href="#">Old</a></li>
                    </ul>
                </div>
            </div>
            <div class="smoothing_row">
                <span class="left_smooth">Smoothing</span>
                <div id="smoother"></div>
                <span class="reset_btn">Reset</span>
                <span class="right_heading">Scaling</span>
                <div id="preview"></div>
                <span class="graph_filters box_text">Graphs<span class="caret"></span></span>
            </div>
            <div class="export_div">Export
                <span class="pull-right caret"></span>
            </div>
            <div class="graph_filter_view">
                <form id="side_panel">
                    <div id="interpolation_form">
                        <label for="cardinal" class="selected_param">
                            <input type="radio" name="interpolation" id="cardinal" value="cardinal" checked>
                            <span>cardinal</span>
                        </label>
                        <label for="linear">
                            <input type="radio" name="interpolation" id="linear" value="linear">
                            <span>linear</span>
                        </label>
                        <label for="step">
                            <input type="radio" name="interpolation" id="step" value="step-after">
                            <span>step</span>
                        </label>
                    </div>
                    <div id="renderer_form" class="toggler">
                        <label for="area">
                            <input type="radio" name="renderer" id="area" value="area">
                            <span>area</span></label>
                        <label for="bar">
                            <input type="radio" name="renderer" id="bar" value="bar">
                            <span>bar</span></label>
                        <label for="line" class="selected_param">
                            <input type="radio" name="renderer" id="line" value="line" checked>
                            <span>line</span></label>
                        <label for="scatter">
                            <input type="radio" name="renderer" id="scatter" value="scatterplot">
                            <span>scatter</span></label>
                    </div>
                    <div id="offset_form">
                        <label for="stack">
                            <input type="radio" name="offset" id="stack" value="zero" checked>
                            <span>stack</span>
                        </label>
                        <label for="stream">
                            <input type="radio" name="offset" id="stream" value="wiggle">
                            <span>stream</span>
                        </label>
                        <label for="pct">
                            <input type="radio" name="offset" id="pct" value="expand">
                            <span>pct</span>
                        </label>
                        <label for="value" class="selected_param">
                            <input type="radio" name="offset" id="value" value="value">
                            <span>value</span>
                        </label>
                    </div>
                    <div id="legend"></div>
                </form>
            </div>
        </div>

        <br>

        <div class="row-fluid" id="chart_wrapper">
            <div class="chart_block_row">
                <div class="img_section">
                    <img class="thumbnail_image" src="{% static 'img/video_link.jpg' %}">
                    <img class="last_one" src="{% static 'img/video_link.jpg' %}">
                </div>
                <div id="content">

                    <div id="chart_container">
                        <div id="y_axis"></div>
                        <div id="chart"></div>
                        <div id="x_axis"></div>
                        <div id="timeline"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row-fluid">
            <div class="data_table">
                <table class="table right_table">
                    <thead>
                    <tr>
                        <td><h5>No Table Data Exist</h5></td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


        <input type="hidden" id="api_url" value="{{ api_url }}">
        <input type="hidden" id="host_url" value="{{ host_url }}">

{% endblock %}


{% block js %}
    {#    <script src="{% static 'js/jquery-ui.js' %}"></script>#}
    {#    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>#}
    <script src="{% static 'js/jquery-ui-update.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/d3.layout.min.js' %}"></script>
    <script src="{% static 'js/rickshaw.min.js' %}"></script>
    <script src="{% static 'js/extensions.js' %}"></script>
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script src="{% static 'js/render_graph.js' %}"></script>
    <script src="{% static 'js/dashboard_view.js' %}"></script>
{% endblock %}