{% extends "profile_base.html" %}
{% load staticfiles %}
{% block navlink %}
        <li><a href="{% url 'tester:dashboard_view' %}">Dashboard</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
                {{ user.username |truncatechars:20 }}Tester
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
                <li><a class="text-warning text-capitalize" href="{% url 'profiles:show_self' %}">Profile</a>
                </li>
                <li><a class="text-warning" href="{% url 'tester:logout' %}">Logout</a></li>
            </ul>
        </li>
{% endblock %}
{% block splash %}
    <link href="{% static 'css/rickshaw.css' %}" rel="stylesheet" type="text/css">

    <style type="text/css">
        body{
            font-family: pnaltbold,sans-serif;
        }
        .row-fluid {
            display:  flex;
            flex-wrap: wrap;
        }
        .row-fluid > [class*='col-'] {
            display: flex;
            flex-direction: column;
            padding: 5px;
        }
        .link_text img{
            width: 80px;
            height: 80px;
            margin: 18px;
        }
        .link_text{
            background-color: rgb(61, 158, 153);
            height:150px;
            font-size: 16px;
            margin-top: 10px;
            text-align: center;
            color: #fff;
        }
        .link_text:hover,.link_text:focus{
{#            transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; #}
            background-color: rgb(255, 181, 85);
            transition: background-color 0.3s ease;
            color: rgb(255,255,255);
            cursor: pointer;
            text-decoration: none;
        }.paddingtop{
             margin-top: 30px;
             margin-left: 15px;
         }
        .center_align{
            padding-top: 60px;
        }
    </style>
    <link href="{% static 'css/home_responsive.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block container %}
    <div class="container-fluid paddingtop">
        <div class="row-fluid">
            <div class="col-md-1.5"></div>
            <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:project_overview' %}">
                    <img src="{% static 'img/login_icons/projects.png' %}">
                    <div class="text_block">
                        Project View
                    </div>
                </a>
            </div>
            <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:media_overview' %}">
                    <img src="{% static 'img/login_icons/media.png' %}">
                    <div class="text_block">Media View</div>
                </a>
            </div>
            <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:view_reports' %}">
                    <img src="{% static 'img/login_icons/reports.png' %}">
                    <div class="text_block">Reports and Charts</div>
                </a>
            </div>
            <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:compare_reports' %}">
                    <img src="{% static 'img/login_icons/compare.png' %}">
                    <div class="text_block">Compare</div>
                </a>
            </div>
            <div class="col-md-1.5"></div>
            <div class="col-md-1.5"></div>
        </div>
    </div>


{% endblock %}

