{% extends "accounts/auth_base.html" %}
{% load staticfiles %}
{% block form %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
    <div style="">
        <a href="/"><h1 class="logo-name"><img src="{% static 'ico/favicon.png' %}" class="img-responsive"></h1></a>
    </div>
    <h3>Login to Neuro Sensum</h3>
        <form name="tester_login_form" method="post">
            {% csrf_token %}
            <label for="username">Username:</label><br>
            <input type="text" name="username" required id="username" placeholder="Enter Username" class="form-control">
            <label for="password">Password:</label><br>
            <input type="password" name="password" required id="password" placeholder="Enter Password" class="form-control"><br>
            <input type="submit" class="btn btn-block btn-primary" value="Log in">
            <input type="hidden" id="api_host" value="{{ api_url }}">
        </form>

        <p class="m-t"> <small>Entropik Technologies Pvt. Ltd. &copy; 2017</small> </p>
    </div>
{% endblock form %}
{% block scripts %}
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">

        $(function () {
            var api_host = $("#api_host").val();
            var form_name = $('form[name="tester_login_form"]');
            form_name.on("submit",function () {
                var login_url =api_host+"dashboard/login_create/";
                var login_data ={
                    "email":$("#username").val(),
                    "password":$("#password").val()
                };
                var get_login_status = ajax_call_with_login("POST",login_url,login_data);
                if(get_login_status.status == "Login Successful")
                {
                    window.location = "/tester/home_view/";
                    return true;
                }
                else{
                    return false;
                }
            });
        });
    </script>
{% endblock %}
