{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Password Change{% endblock %}
<!-- Benefits of the Django application -->
{% block container %}
<style type="text/css">
.top_margin{
    margin-top: 70px !important;
}
.btn-inline:nth-of-type(2){
    margin-left: 60px;
}
</style>
<div class="col-md-offset-4 col-md-4 top_margin">
<h1>Password Change</h1>

{% block form %}
  {% crispy form %}
{% endblock form %}
</div>
{% endblock %}
