{% extends "delegate/auth_base.html" %}
{% load staticfiles %}
{% block form %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/multi_select.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/>
    <style type="text/css">


    .success_input{
        box-shadow:0 0 4px green;
    }
    .error_input{
        box-shadow: 0 0 4px red;
    }
    .login_form{
        display: none;
    }
    </style>


    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div style="">
            <a href="/"><h1 class="logo-name"><img src="{% static 'site/img/affect_lab_logo.png' %}" class="m-t-xl img-responsive"></h1></a>
        </div><br>
        <div class="login_form">
            <h3>Sign-Up for Affect Lab</h3>
            <p>It's Free!</p>
            <form name="tester_signup" method="POST">
                {% csrf_token %}
                <label for="name">Enter Name:</label><br>
                <input type="text" required id="name" name="name" placeholder="Enter Name" class="form-control">
{#                <label for="username">Username:</label><br>#}
{#                <input type="text" required id="username" name="username" placeholder="Enter Username" class="form-control">#}
{#                <span class="username_status"></span><br>#}
                <label for="email">Email Address:</label>
                <input type="email" disabled id="email" name="email" placeholder="Enter Valid Email Address" class="form-control">
                <label for="new_password">Enter Password:</label>
                <input type="password" required id="new_password" name="password" placeholder="Enter Password" class="form-control">
                <label for="password_again">Confirm Password:</label>
                <input type="password" required id="password_again" name="password_again"
                        placeholder="Re-enter Password" class="form-control">
                <span class="password_status"></span><br>
                <label for="birth_date">Birthdate:</label>
                <input type="text" required id="birth_date" name="birthdate" placeholder='DD/MM/YYYY' class="form-control datepicker">
                <label for="gender">Select Gender:</label>
                <select required id="gender" name="gender" class="form-control">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <br>
                <input type="submit" class="btn btn-sm btn-block btn-primary" value="Sign up">
            </form>
            <input type="hidden" id="uuid" value="{{ uuid }}">
            <input type="hidden" id="user_id" value="">
            <input type="hidden" id="api_host" value="{{ api_url }}">
        </div>
        <span class="error_message"></span>
        <p class="text-muted text-center"><small>Already have an account?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="{% url 'accounts:login' %}">Login</a>
        <p class="m-t"> <small>Entropik Technologies Pvt. Ltd. &copy; 2017</small> </p>
    </div>
{% endblock form %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tag_manager.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/multi_select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common_functions.js' %}"></script>
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">

        $(function () {

            $('#birth_date').datetimepicker({
                dayOfWeekStart : 1,
                lang:'en',
                timepicker:false, //for hiding time from datepicker
                format:'d/m/Y',
                endDate: '+0d',
                autoclose: true,
                maxDate:new Date()

            });

            var login_screen = $('.login_form');
            login_screen.hide();
            var uuid = $("#uuid").val();
            var api_host = $("#api_host").val();
            // var get_ = api_host + "dashboard/check_username_available/";
            var get_email = api_host + "dashboard/getemail/";
            var ajax_data = {"variable":uuid};

            var get_project_list = ajax_call_with_login("POST",get_email,ajax_data);
            if(get_project_list.is_expired == true || get_project_list.status == "activation key not found"){
                login_screen.hide();
                $(".error_message").text("Invalid Link. Click on Logo to Go back to home");
            }
            else if(get_project_list.email_verified){
                login_screen.hide();
                $(".error_message").text("Already Signed up. Click on Logo to Go back to home");
            }
            else{
                login_screen.show();
                $("#email").val(get_project_list.email);
                $("#user_id").val(get_project_list.user_id);
            }

            $("#password_again").on("change",function () {
                var confirm_password = $(this).val();
                var password = $("#new_password").val();
                if(confirm_password != password)
                {
                    $(".password_status").text("incorrect password").fadeOut(3000);
                    $(this).removeClass("success_input").addClass('error_input');
                }
                else{
                    $(".password_status").text("password matched").fadeOut(3000);
                    $(this).removeClass("error_input").addClass('success_input');
                }
            });
            var form_name = $('form[name="tester_signup"]');
            form_name.on("submit",function (event) {
                event.preventDefault();
                if(form_name.find(".error_input").length > 0 )
                {
                    form_name.find(".error_input").trigger("keypress");
                    return false;
                }
                var signup_url =api_host+"dashboard/updatetester/";
                //var form_data = $(this).serializeArray();
                var ajax_data = {
                    "user_id":$("#user_id").val(),
                    "name":$("input[name='name']").val(),
                    "username":$("input[name='email']").val(),
                    "email":$("input[name='email']").val(),
                    "password":$("input[name='password']").val(),
                    "birthdate":$("input[name='birthdate']").val(),
                    "gender":$("select[name='gender']").find("option:selected").val()
                };
                var get_signup_status = ajax_call_with_login("POST",signup_url,ajax_data);
                if(get_signup_status.status == "success")
                {
                    login_screen.hide();
                    $(".error_message").text("Signed up successfully");
                    // window.location = "/tester/login/";
                }
                else{
                    login_screen.show();
                    $(".error_message").text(get_signup_status.status);
                }
                return false;
            });
        });
    </script>
{% endblock %}
