<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activate Email</title>
</head>
<body>
<table style="background-color:#1B3949" width="100%" cellpadding="20">
    <tbody><tr><td style="text-align: center"><img style="width: 140px;height: 70px;" src="{% static 'img/affectlab_logo.png' %}" /></td></tr>
    </tbody></table>
<div style="font-size: 16px;font-family: 'Helvetica Neue Light',Helvetica,sans-serif;color: #222;line-height: 150%;">
    <h2 style="font-size:20px;font-family:'Helvetica Neue';color: #3d70b2;">Hi {{ name }},</h2>
Thank you for signing up for Affect Lab! Your 30-day trial is free, with no credit card required.
<p style="background-color:#3d70b2;width:180px;height:50px;text-align:center"><b>
<a href='{{protocol}}{{ host }}/activate/{{activation_key}}' target="_blank" style="font-size:16px;line-height: 150%;color:#ffffff;display:table-cell;vertical-align:middle;padding:12px;text-decoration:none" >Confirm Account</a>
</b></p>
By confirming your account, you accept the Affect Lab <a href="{{protocol}}{{ host }}/terms" style="color: #3d70b2;text-decoration: underline;">Terms of Use</a>.
If you have problems logging in, go to Affect Lab <a style="color: #3d70b2;text-decoration: underline;" href="{{protocol}}{{ host }}/contact">contact us</a>. We look forward to seeing what you create!
<br><br>Regards,<br><br>
Affect Lab Team
</div>
</body>
</html>