{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block navbar %}
{% endblock %}


{% block container %}
    <style>
        .gray-bg{
            background-color: #fff !important;
        }
    </style>
<div class="container form-box">
  <div class="text-center">
    <h2>{% block form_heading %}{% endblock %}</h2>
  </div>
  {% block form %}
  {% endblock %}
</div>

{% endblock container %}

