{% extends "accounts/auth_base.html" %}
{% load staticfiles %}
{% block navbar %}
    <style type="text/css">
    label{
        text-align: left;
        display: block;
    }
    </style>
{% endblock %}



{% block form %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
    <div style="">
        <a href="/"><h1 class="logo-name"><img src="{% static 'ico/favicon.png' %}" class="img-responsive"></h1></a>
    </div>
    <h3>Login to Neuro Sensum</h3>
        <form name="login_form" method="POST">
            {% csrf_token %}
            <label for="username">Username<span class="asteriskField">*</span>:</label>
            <input type="text" required id="username" name="username" placeholder="Enter Username" class="form-control">
            <span class="username_status"></span>
            <label for="new_password">Enter Password<span class="asteriskField">*</span>:</label>
            <input type="password" required id="password" name="password" placeholder="Enter Password" class="form-control"><br>
            <input type="submit" class="btn btn-sm btn-primary btn-block" value="Log in">
            <input type="hidden" id="api_host" value="{{ api_url }}">
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="{% url 'accounts:signup' %}">Create an account</a>
        </form>
        <p class="m-t"> <small>Entropik Technologies Pvt. Ltd. &copy; 2017</small> </p>
    </div>
{% endblock form %}
{% block scripts %}
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">
    $(function () {
        var api_host = $("#api_host").val();
       var admin_login_form = $("form[name='login_form']");
       admin_login_form.on('submit',function (event) {
           event.preventDefault();
            var signup_url= api_host +"dashboard/login/";
            var ajax_data = {
                "username":$("input[name='username']").val(),
                "password":$("input[name='password']").val()
            };
            debugger;
           var get_signup_status = call_ajax("POST",signup_url,ajax_data);
           debugger;
           if(get_signup_status.status == "success")
           {
               window.location = "/users/home/";
           }
           else{
               $(".error_message").text(get_signup_status.status);
               return false;
           }
       });
    });
    </script>
{% endblock %}
{# class LoginView(generic.TemplateView):#}
{##     template_name = "accounts/login.html"#}
{##     http_method_names = ['get']#}
{###}
{##     def get(self, request, *args, **kwargs):#}
{##         kwargs['api_url'] = settings.API_ENDPOINT#}
{##         return super(LoginView, self).get(self, *args, **kwargs)#}
