{% extends "accounts/auth_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Neuro sensum | Login {% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block form %}
<style>
        html , body{
            height: 0px !important;
            min-width: 0px !important;
            background: #808083 !important;
        }
        /*.container{
            background: #dadada;
            margin-top:5%; 
            vertical-align: middle;
        }*/
    </style>
    <div class="text-center col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
        <div style="">
            <a href="/">
                <h1 class="logo-name">
                    <img src="{% static 'ico/favicon.png' %}" class="img-responsive m-t-xl"></h1>
            </a>
        </div>
        <br>
        <h3 class="m-t">Login to Neuro Sensum</h3>
        {% crispy form %}
        <p class="entropik-t">
            <small>Neuro sensum &copy; 2017</small>
        </p>
    </div>
{% endblock form %}
