{% extends "accounts/auth_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block form %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
    <div style="margin-bottom: 75px;">
        <h1 class="logo-name"><img src="{% static 'ico/favicon.png' %}" class="img-responsive"></h1>
    </div>
        <h3>Password Reset Done</h3>
        <p>
            Please check your mail. You would have received a password reset mail from us.
        </p>
        <p class="m-t"> <small>Entropik Technologies Pvt. Ltd. &copy; 2017</small> </p>
    </div>
    </div>

{% endblock form %}

