{% extends "accounts/auth_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block form %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div style="margin-bottom: 75px;margin-left: 78px;">
            <h1 class="logo-name"><img src="{% static 'site/img/affect_lab_logo.png' %}" class="img-responsive"></h1>
        </div>
        <h3 class="password">Password Reset</h3>
  {% crispy form %}
    <p class="m-t"> <small>Entropik Technologies Pvt. Ltd. &copy; 2017</small> </p>
    </div>
{% endblock form %}


