{% extends "accounts/auth_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Neuro Sensum - Schedule Demo Success{% endblock %}



{% block container %}

    <div class="text-center col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="margin-top: 100px;">
        <div style="">
            <a href="/">
                <h1 class="logo-name">
                    <img src="{% static 'site/img/affect_lab_logo.png' %}" class="img-responsive m-t-xl"></h1>
            </a>
        </div><br>
        <h3 >THANK YOU FOR REACHING OUT!
        </h3>
        <br>
        <h6 style="font-size: 16px">One of us from Affect Lab is looking into your requirements right now and will be contacting you soon to schedule a demo. </h6>
        <h6 style="font-size: 16px">But while you’re waiting (promise, not too long), see what we’re up to on social!
        </h6>

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-12 col-sm-12 footer-social text-center sm-text-center">
                <!-- social media link -->
                <a target="_blank" href="https://www.facebook.com/entropiktech"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/entropiktech"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/7795723"><i class="fa fa-linkedin"></i></a>
                <!-- end social media link -->
            </div>
        </div>
    </div>
{% endblock container %}