{% extends "website/schedule_demo_base.html" %}
{% load staticfiles %}
{% block title %}Neuro Sensum - Schedule A Demo{% endblock %}
{% block navbar %}
    <style type="text/css">
        label {
            text-align: left;
            display: block;
        }

        .error_message {
            color: red;
        }

        .success_input {
            box-shadow: 0 0 4px green;
        }

        .error_input {
            box-shadow: 0 0 4px red;
        }

        img {

            display: block;
            max-width: 100%;
            height: auto;
        }

        .gray-bg {
            background-color: #fff !important;
        }

        input[type=checkbox] {
            width: 30px;
        }

        section {
            display: none;;
        }

        #to-top {
            display: none !important;
        }

        input[type='checkbox'] {
            float: left;
            width: 20px;
        }

        input[type='checkbox'] + label {
            display: block;
            width: 30px;
        }
    </style>
{% endblock %}

{% block form %}
    {#                    <div class="middle-box loginscreen   animated fadeInDown">#}

    <form name="admin_signup" method="POST" style="margin-top:70px;">




    <div class="col-lg-offset-4 col-lg-4  col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-12"
         style="font-size: 12px">
        {% csrf_token %}
        <label class="error_message"></label>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input placeholder="Name *" autofocus="" required="" name="name" type="text" class="form-control font12"
                       style="font-size: 11px;" tabindex="1">
            </div>
        </div>


        <!-- end input -->
        <!-- input  -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="text" placeholder="Email *" required name="email" class="form-control font12"
                       style="font-size: 11px;" tabindex="2">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-right:0px;">
                <select id="country_select"
                        style="    padding-left: 10px;    padding-right: 0px;height: 33px;box-sizing: border-box;"
                        tabindex="3">
                    <option data-countryCode="DZ" data-text="Algeria (+213)" value="213">Algeria (+213)</option>
                    <option data-countryCode="AD" data-text="Andorra (+376)" value="376">Andorra (+376)</option>
                    <option data-countryCode="AO" data-text="Angola (+244)" value="244">Angola (+244)</option>
                    <option data-countryCode="AI" data-text="Anguilla (+1264)" value="1264">Anguilla (+1264)</option>
                    <option data-countryCode="AG" data-text="Antigua &amp; Barbuda (+1268)" value="1268">Antigua &amp;
                        Barbuda (+1268)
                    </option>
                    <option data-countryCode="AR" data-text="Argentina (+54)" value="54">Argentina (+54)</option>
                    <option data-countryCode="AM" data-text="Armenia (+374)" value="374">Armenia (+374)</option>
                    <option data-countryCode="AW" data-text="Aruba (+297)" value="297">Aruba (+297)</option>
                    <option data-countryCode="AU" data-text="Australia (+61)" value="61">Australia (+61)</option>
                    <option data-countryCode="AT" data-text="Austria (+43)" value="43">Austria (+43)</option>
                    <option data-countryCode="AZ" data-text="Azerbaijan (+994)" value="994">Azerbaijan (+994)</option>
                    <option data-countryCode="BS" data-text="Bahamas (+1242)" value="1242">Bahamas (+1242)</option>
                    <option data-countryCode="BH" data-text="Bahrain (+973)" value="973">Bahrain (+973)</option>
                    <option data-countryCode="BD" data-text="Bangladesh (+880)" value="880">Bangladesh (+880)</option>
                    <option data-countryCode="BB" data-text="Barbados (+1246)" value="1246">Barbados (+1246)</option>
                    <option data-countryCode="BY" data-text="Belarus (+375)" value="375">Belarus (+375)</option>
                    <option data-countryCode="BE" data-text="Belgium (+32)" value="32">Belgium (+32)</option>
                    <option data-countryCode="BZ" data-text="Belize (+501)" value="501">Belize (+501)</option>
                    <option data-countryCode="BJ" data-text="Benin (+229)" value="229">Benin (+229)</option>
                    <option data-countryCode="BM" data-text="Bermuda (+1441)" value="1441">Bermuda (+1441)</option>
                    <option data-countryCode="BT" data-text="Bhutan (+975)" value="975">Bhutan (+975)</option>
                    <option data-countryCode="BO" data-text="Bolivia (+591)" value="591">Bolivia (+591)</option>
                    <option data-countryCode="BA" data-text="Bosnia Herzegovina (+387)" value="387">Bosnia Herzegovina
                        (+387)
                    </option>
                    <option data-countryCode="BW" data-text="Botswana (+267)" value="267">Botswana (+267)</option>
                    <option data-countryCode="BR" data-text="Brazil (+55)" value="55">Brazil (+55)</option>
                    <option data-countryCode="BN" data-text="Brunei (+673)" value="673">Brunei (+673)</option>
                    <option data-countryCode="BG" data-text="Bulgaria (+359)" value="359">Bulgaria (+359)</option>
                    <option data-countryCode="BF" data-text="Burkina Faso (+226)" value="226">Burkina Faso (+226)
                    </option>
                    <option data-countryCode="BI" data-text="Burundi (+257)" value="257">Burundi (+257)</option>
                    <option data-countryCode="KH" data-text="Cambodia (+855)" value="855">Cambodia (+855)</option>
                    <option data-countryCode="CM" data-text="Cameroon (+237)" value="237">Cameroon (+237)</option>
                    <option data-countryCode="CA" data-text="Canada (+1)" value="1">Canada (+1)</option>
                    <option data-countryCode="CV" data-text="Cape Verde Islands (+238)" value="238">Cape Verde Islands
                        (+238)
                    </option>
                    <option data-countryCode="KY" data-text="Cayman Islands (+1345)" value="1345">Cayman Islands
                        (+1345)
                    </option>
                    <option data-countryCode="CF" data-text="Central African Republic (+236)" value="236">Central
                        African Republic (+236)
                    </option>
                    <option data-countryCode="CL" data-text="Chile (+56)" value="56">Chile (+56)</option>
                    <option data-countryCode="CN" data-text="China (+86)" value="86">China (+86)</option>
                    <option data-countryCode="CO" data-text="Colombia (+57)" value="57">Colombia (+57)</option>
                    <option data-countryCode="KM" data-text="Comoros (+269)" value="269">Comoros (+269)</option>
                    <option data-countryCode="CG" data-text="Congo (+242)" value="242">Congo (+242)</option>
                    <option data-countryCode="CK" data-text="Cook Islands (+682)" value="682">Cook Islands (+682)
                    </option>
                    <option data-countryCode="CR" data-text="Costa Rica (+506)" value="506">Costa Rica (+506)</option>
                    <option data-countryCode="HR" data-text="Croatia (+385)" value="385">Croatia (+385)</option>
                    <!-- <option data-countryCode="CU" value="53">Cuba (+53)</option> -->
                    <option data-countryCode="CY" data-text="Cyprus - North (+90)" value="90">Cyprus - North (+90)
                    </option>
                    <option data-countryCode="CY" data-text="Cyprus - South (+357)" value="357">Cyprus - South (+357)
                    </option>
                    <option data-countryCode="CZ" data-text="Czech Republic (+420)" value="420">Czech Republic (+420)
                    </option>
                    <option data-countryCode="DK" data-text="Denmark (+45)" value="45">Denmark (+45)</option>
                    <option data-countryCode="DJ" data-text="Djibouti (+253)" value="253">Djibouti (+253)</option>
                    <option data-countryCode="DM" data-text="Dominica (+1809)" value="1809">Dominica (+1809)</option>
                    <option data-countryCode="DO" data-text="Dominican Republic (+1809)" value="1809">Dominican Republic
                        (+1809)
                    </option>
                    <option data-countryCode="EC" data-text="Ecuador (+593)" value="593">Ecuador (+593)</option>
                    <option data-countryCode="EG" data-text="Egypt (+20)" value="20">Egypt (+20)</option>
                    <option data-countryCode="SV" data-text="El Salvador (+503)" value="503">El Salvador (+503)</option>
                    <option data-countryCode="GQ" data-text="Equatorial Guinea (+240)" value="240">Equatorial Guinea
                        (+240)
                    </option>
                    <option data-countryCode="ER" data-text="Eritrea (+291)" value="291">Eritrea (+291)</option>
                    <option data-countryCode="EE" data-text="Estonia (+372)" value="372">Estonia (+372)</option>
                    <option data-countryCode="ET" data-text="Ethiopia (+251)" value="251">Ethiopia (+251)</option>
                    <option data-countryCode="FK" data-text="Falkland Islands (+500)" value="500">Falkland Islands
                        (+500)
                    </option>
                    <option data-countryCode="FO" data-text="Faroe Islands (+298)" value="298">Faroe Islands (+298)
                    </option>
                    <option data-countryCode="FJ" data-text="Fiji (+679)" value="679">Fiji (+679)</option>
                    <option data-countryCode="FI" data-text="Finland (+358)" value="358">Finland (+358)</option>
                    <option data-countryCode="FR" data-text="France (+33)" value="33">France (+33)</option>
                    <option data-countryCode="GF" data-text="French Guiana (+594)" value="594">French Guiana (+594)
                    </option>
                    <option data-countryCode="PF" data-text="French Polynesia (+689)" value="689">French Polynesia
                        (+689)
                    </option>
                    <option data-countryCode="GA" data-text="Gabon (+241)" value="241">Gabon (+241)</option>
                    <option data-countryCode="GM" data-text="Gambia (+220)" value="220">Gambia (+220)</option>
                    <option data-countryCode="GE" data-text="Georgia (+7880)" value="7880">Georgia (+7880)</option>
                    <option data-countryCode="DE" data-text="Germany (+49)" value="49">Germany (+49)</option>
                    <option data-countryCode="GH" data-text="Ghana (+233)" value="233">Ghana (+233)</option>
                    <option data-countryCode="GI" data-text="Gibraltar (+350)" value="350">Gibraltar (+350)</option>
                    <option data-countryCode="GR" data-text="Greece (+30)" value="30">Greece (+30)</option>
                    <option data-countryCode="GL" data-text="Greenland (+299)" value="299">Greenland (+299)</option>
                    <option data-countryCode="GD" data-text="Grenada (+1473)" value="1473">Grenada (+1473)</option>
                    <option data-countryCode="GP" data-text="Guadeloupe (+590)" value="590">Guadeloupe (+590)</option>
                    <option data-countryCode="GU" data-text="Guam (+671)" value="671">Guam (+671)</option>
                    <option data-countryCode="GT" data-text="Guatemala (+502)" value="502">Guatemala (+502)</option>
                    <option data-countryCode="GN" data-text="Guinea (+224)" value="224">Guinea (+224)</option>
                    <option data-countryCode="GW" data-text="Guinea - Bissau (+245)" value="245">Guinea - Bissau
                        (+245)
                    </option>
                    <option data-countryCode="GY" data-text="Guyana (+592)" value="592">Guyana (+592)</option>
                    <option data-countryCode="HT" data-text="Haiti (+509)" value="509">Haiti (+509)</option>
                    <option data-countryCode="HN" data-text="Honduras (+504)" value="504">Honduras (+504)</option>
                    <option data-countryCode="HK" data-text="Hong Kong (+852)" value="852">Hong Kong (+852)</option>
                    <option data-countryCode="HU" data-text="Hungary (+36)" value="36">Hungary (+36)</option>
                    <option data-countryCode="IS" data-text="Iceland (+354)" value="354">Iceland (+354)</option>
                    <option data-countryCode="IN" data-text="India (+91)" value="91" selected>India (+91)</option>
                    <option data-countryCode="ID" data-text="Indonesia (+62)" value="62">Indonesia (+62)</option>
                    <option data-countryCode="IQ" data-text="Iraq (+964)" value="964">Iraq (+964)</option>
                    <!-- <option data-countryCode="IR" value="98">Iran (+98)</option> -->
                    <option data-countryCode="IE" data-text="Ireland (+353)" value="353">Ireland (+353)</option>
                    <option data-countryCode="IL" data-text="Israel (+972)" value="972">Israel (+972)</option>
                    <option data-countryCode="IT" data-text="Italy (+39)" value="39">Italy (+39)</option>
                    <option data-countryCode="JM" data-text="Jamaica (+1876)" value="1876">Jamaica (+1876)</option>
                    <option data-countryCode="JP" data-text="Japan (+81)" value="81">Japan (+81)</option>
                    <option data-countryCode="JO" data-text="Jordan (+962)" value="962">Jordan (+962)</option>
                    <option data-countryCode="KZ" data-text="Kazakhstan (+7)" value="7">Kazakhstan (+7)</option>
                    <option data-countryCode="KE" data-text="Kenya (+254)" value="254">Kenya (+254)</option>
                    <option data-countryCode="KI" data-text="Kiribati (+686)" value="686">Kiribati (+686)</option>
                    <!-- <option data-countryCode="KP" value="850">Korea - North (+850)</option> -->
                    <option data-countryCode="KR" data-text="Korea - South (+82)" value="82">Korea - South (+82)
                    </option>
                    <option data-countryCode="KW" data-text="Kuwait (+965)" value="965">Kuwait (+965)</option>
                    <option data-countryCode="KG" data-text="Kyrgyzstan (+996)" value="996">Kyrgyzstan (+996)</option>
                    <option data-countryCode="LA" data-text="Laos (+856)" value="856">Laos (+856)</option>
                    <option data-countryCode="LV" data-text="Latvia (+371)" value="371">Latvia (+371)</option>
                    <option data-countryCode="LB" data-text="Lebanon (+961)" value="961">Lebanon (+961)</option>
                    <option data-countryCode="LS" data-text="Lesotho (+266)" value="266">Lesotho (+266)</option>
                    <option data-countryCode="LR" data-text="Liberia (+231)" value="231">Liberia (+231)</option>
                    <option data-countryCode="LY" data-text="Libya (+218)" value="218">Libya (+218)</option>
                    <option data-countryCode="LI" data-text="Liechtenstein (+417)" value="417">Liechtenstein (+417)
                    </option>
                    <option data-countryCode="LT" data-text="Lithuania (+370)" value="370">Lithuania (+370)</option>
                    <option data-countryCode="LU" data-text="Luxembourg (+352)" value="352">Luxembourg (+352)</option>
                    <option data-countryCode="MO" data-text="Macao (+853)" value="853">Macao (+853)</option>
                    <option data-countryCode="MK" data-text="Macedonia (+389)" value="389">Macedonia (+389)</option>
                    <option data-countryCode="MG" data-text="Madagascar (+261)" value="261">Madagascar (+261)</option>
                    <option data-countryCode="MW" data-text="Malawi (+265)" value="265">Malawi (+265)</option>
                    <option data-countryCode="MY" data-text="Malaysia (+60)" value="60">Malaysia (+60)</option>
                    <option data-countryCode="MV" data-text="Maldives (+960)" value="960">Maldives (+960)</option>
                    <option data-countryCode="ML" data-text="Mali (+223)" value="223">Mali (+223)</option>
                    <option data-countryCode="MT" data-text="Malta (+356)" value="356">Malta (+356)</option>
                    <option data-countryCode="MH" data-text="Marshall Islands (+692)" value="692">Marshall Islands
                        (+692)
                    </option>
                    <option data-countryCode="MQ" data-text="Martinique (+596)" value="596">Martinique (+596)</option>
                    <option data-countryCode="MR" data-text="Mauritania (+222)" value="222">Mauritania (+222)</option>
                    <option data-countryCode="YT" data-text="Mayotte (+269)" value="269">Mayotte (+269)</option>
                    <option data-countryCode="MX" data-text="Mexico (+52)" value="52">Mexico (+52)</option>
                    <option data-countryCode="FM" data-text="Micronesia (+691)" value="691">Micronesia (+691)</option>
                    <option data-countryCode="MD" data-text="Moldova (+373)" value="373">Moldova (+373)</option>
                    <option data-countryCode="MC" data-text="Monaco (+377)" value="377">Monaco (+377)</option>
                    <option data-countryCode="MN" data-text="Mongolia (+976)" value="976">Mongolia (+976)</option>
                    <option data-countryCode="MS" data-text="Montserrat (+1664)" value="1664">Montserrat (+1664)
                    </option>
                    <option data-countryCode="MA" data-text="Morocco (+212)" value="212">Morocco (+212)</option>
                    <option data-countryCode="MZ" data-text="Mozambique (+258)" value="258">Mozambique (+258)</option>
                    <option data-countryCode="MN" data-text="Myanmar (+95)" value="95">Myanmar (+95)</option>
                    <option data-countryCode="NA" data-text="Namibia (+264)" value="264">Namibia (+264)</option>
                    <option data-countryCode="NR" data-text="Nauru (+674)" value="674">Nauru (+674)</option>
                    <option data-countryCode="NP" data-text="Nepal (+977)" value="977">Nepal (+977)</option>
                    <option data-countryCode="NL" data-text="Netherlands (+31)" value="31">Netherlands (+31)</option>
                    <option data-countryCode="NC" data-text="New Caledonia (+687)" value="687">New Caledonia (+687)
                    </option>
                    <option data-countryCode="NZ" data-text="New Zealand (+64)" value="64">New Zealand (+64)</option>
                    <option data-countryCode="NI" data-text="Nicaragua (+505)" value="505">Nicaragua (+505)</option>
                    <option data-countryCode="NE" data-text=">Niger (+227)" value="227">Niger (+227)</option>
                    <option data-countryCode="NG" data-text="Nigeria (+234)" value="234">Nigeria (+234)</option>
                    <option data-countryCode="NU" data-text="Niue (+683)" value="683">Niue (+683)</option>
                    <option data-countryCode="NF" data-text="Norfolk Islands (+672)" value="672">Norfolk Islands
                        (+672)
                    </option>
                    <option data-countryCode="NP" data-text="Northern Marianas (+670)" value="670">Northern Marianas
                        (+670)
                    </option>
                    <option data-countryCode="NO" data-text="Norway (+47)" value="47">Norway (+47)</option>
                    <option data-countryCode="OM" data-text="Oman (+968)" value="968">Oman (+968)</option>
                    <option data-countryCode="PK" data-text="Pakistan (+92)" value="92">Pakistan (+92)</option>
                    <option data-countryCode="PW" data-text="Palau (+680)" value="680">Palau (+680)</option>
                    <option data-countryCode="PA" data-text="Panama (+507)" value="507">Panama (+507)</option>
                    <option data-countryCode="PG" data-text="Papua New Guinea (+675)" value="675">Papua New Guinea
                        (+675)
                    </option>
                    <option data-countryCode="PY" data-text="Paraguay (+595)" value="595">Paraguay (+595)</option>
                    <option data-countryCode="PE" data-text="Peru (+51)" value="51">Peru (+51)</option>
                    <option data-countryCode="PH" data-text="Philippines (+63)" value="63">Philippines (+63)</option>
                    <option data-countryCode="PL" data-text="Poland (+48)" value="48">Poland (+48)</option>
                    <option data-countryCode="PT" data-text="Portugal (+351)" value="351">Portugal (+351)</option>
                    <option data-countryCode="PR" data-text="Puerto Rico (+1787)" value="1787">Puerto Rico (+1787)
                    </option>
                    <option data-countryCode="QA" data-text="Qatar (+974)" value="974">Qatar (+974)</option>
                    <option data-countryCode="RE" data-text="Reunion (+262)" value="262">Reunion (+262)</option>
                    <option data-countryCode="RO" data-text="Romania (+40)" value="40">Romania (+40)</option>
                    <option data-countryCode="RU" data-text="Russia (+7)" value="7">Russia (+7)</option>
                    <option data-countryCode="RW" data-text="Rwanda (+250)" value="250">Rwanda (+250)</option>
                    <option data-countryCode="SM" data-text="San Marino (+378)" value="378">San Marino (+378)</option>
                    <option data-countryCode="ST" data-text="Sao Tome &amp; Principe (+239)" value="239">Sao Tome &amp;
                        Principe (+239)
                    </option>
                    <option data-countryCode="SA" data-text="Saudi Arabia (+966)" value="966">Saudi Arabia (+966)
                    </option>
                    <option data-countryCode="SN" data-text="Senegal (+221)" value="221">Senegal (+221)</option>
                    <option data-countryCode="CS" data-text="Serbia (+381)" value="381">Serbia (+381)</option>
                    <option data-countryCode="SC" data-text="Seychelles (+248)" value="248">Seychelles (+248)</option>
                    <option data-countryCode="SL" data-text="Sierra Leone (+232)" value="232">Sierra Leone (+232)
                    </option>
                    <option data-countryCode="SG" data-text="Singapore (+65)" value="65">Singapore (+65)</option>
                    <option data-countryCode="SK" data-text="Slovak Republic (+421)" value="421">Slovak Republic
                        (+421)
                    </option>
                    <option data-countryCode="SI" data-text="Slovenia (+386)" value="386">Slovenia (+386)</option>
                    <option data-countryCode="SB" data-text="Solomon Islands (+677)" value="677">Solomon Islands
                        (+677)
                    </option>
                    <option data-countryCode="SO" data-text="Somalia (+252)" value="252">Somalia (+252)</option>
                    <option data-countryCode="ZA" data-text="South Africa (+27)" value="27">South Africa (+27)</option>
                    <option data-countryCode="ES" data-text="Spain (+34)" value="34">Spain (+34)</option>
                    <option data-countryCode="LK" data-text="Sri Lanka (+94)" value="94">Sri Lanka (+94)</option>
                    <option data-countryCode="SH" data-text="St. Helena (+290)" value="290">St. Helena (+290)</option>
                    <option data-countryCode="KN" data-text="St. Kitts (+1869)" value="1869">St. Kitts (+1869)</option>
                    <option data-countryCode="SC" data-text="St. Lucia (+1758)" value="1758">St. Lucia (+1758)</option>
                    <option data-countryCode="SR" data-text="Suriname (+597)" value="597">Suriname (+597)</option>
                    <option data-countryCode="SD" data-text="Sudan (+249)" value="249">Sudan (+249)</option>
                    <option data-countryCode="SZ" data-text="Swaziland (+268)" value="268">Swaziland (+268)</option>
                    <option data-countryCode="SE" data-text="Sweden (+46)" value="46">Sweden (+46)</option>
                    <option data-countryCode="CH" data-text="Switzerland (+41)" value="41">Switzerland (+41)</option>
                    <!-- <option data-countryCode="SY" value="963">Syria (+963)</option> -->
                    <option data-countryCode="TW" data-text="Taiwan (+886)" value="886">Taiwan (+886)</option>
                    <option data-countryCode="TJ" data-text="Tajikistan (+992)" value="992">Tajikistan (+992)</option>
                    <option data-countryCode="TH" data-text="Thailand (+66)" value="66">Thailand (+66)</option>
                    <option data-countryCode="TG" data-text="Togo (+228)" value="228">Togo (+228)</option>
                    <option data-countryCode="TO" data-text="Tonga (+676)" value="676">Tonga (+676)</option>
                    <option data-countryCode="TT" data-text="Trinidad &amp; Tobago (+1868)" value="1868">Trinidad &amp;
                        Tobago (+1868)
                    </option>
                    <option data-countryCode="TN" data-text="Tunisia (+216)" value="216">Tunisia (+216)</option>
                    <option data-countryCode="TR" data-text="Turkey (+90)" value="90">Turkey (+90)</option>
                    <option data-countryCode="TM" data-text="Turkmenistan (+993)" value="993">Turkmenistan (+993)
                    </option>
                    <option data-countryCode="TC" data-text="Turks &amp; Caicos Islands (+1649)" value="1649">Turks
                        &amp; Caicos Islands (+1649)
                    </option>
                    <option data-countryCode="TV" data-text="Tuvalu (+688)" value="688">Tuvalu (+688)</option>
                    <option data-countryCode="UG" data-text="Uganda (+256)" value="256">Uganda (+256)</option>
                    <option data-countryCode="GB" data-text="UK (+44)" value="44">UK (+44)</option>
                    <option data-countryCode="UA" data-text="Ukraine (+380)" value="380">Ukraine (+380)</option>
                    <option data-countryCode="AE" data-text="United Arab Emirates (+971)" value="971">United Arab
                        Emirates (+971)
                    </option>
                    <option data-countryCode="US" data-text="USA (+1)" value="1">USA (+1)</option>
                    <option data-countryCode="UY" data-text="Uruguay (+598)" value="598">Uruguay (+598)</option>
                    <option data-countryCode="UZ" data-text="Uzbekistan (+998)" value="998">Uzbekistan (+998)</option>
                    <option data-countryCode="VU" data-text="Vanuatu (+678)" value="678">Vanuatu (+678)</option>
                    <option data-countryCode="VA" data-text="Vatican City (+379)" value="379">Vatican City (+379)
                    </option>
                    <option data-countryCode="VE" data-text="Venezuela (+58)" value="58">Venezuela (+58)</option>
                    <option data-countryCode="VN" data-text="Vietnam (+84)" value="84">Vietnam (+84)</option>
                    <option data-countryCode="VG" data-text="Virgin Islands - British (+1)" value="1">Virgin Islands -
                        British (+1)
                    </option>
                    <option data-countryCode="VI" data-text="Virgin Islands - US (+1)" value="1">Virgin Islands - US
                        (+1)
                    </option>
                    <option data-countryCode="WF" data-text="Wallis &amp; Futuna (+681)" value="681">Wallis &amp; Futuna
                        (+681)
                    </option>
                    <option data-countryCode="YE" data-text="Yemen (North)(+969)" value="969">Yemen (North)(+969)
                    </option>
                    <option data-countryCode="YE" data-text="Yemen (South)(+967)" value="967">Yemen (South)(+967)
                    </option>
                    <option data-countryCode="ZM" data-text="Zambia (+260)" value="260">Zambia (+260)</option>
                    <option data-countryCode="ZW" data-text="Zimbabwe (+263)" value="263">Zimbabwe (+263)</option>

                </select>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style=" padding-left: 0px;margin-bottom: 20px;" tabindex="4">
                <input type="text" id="text1" onkeypress="return IsNumeric(event);" ondrop="return false;"
                       onpaste="return false;" placeholder="Mobile *" required
                       name="mobile" class="form-control "
                       style="    padding-right:  0px;font-size: 11px;  height:33px;  margin-right:  0px;margin-bottom: 5px;"/>
                <span id="error" style="color: Red; display: none;">* Input digits (0 - 9)</span>
                {#                <input#}
                {#                    type="number" placeholder="Mobile *" required  pattern="[0-9]"                    name="mobile" class="form-control " style="    padding-right:  0px;font-size: 11px;  height:33px;  margin-right:  0px;"></div>#}
            </div>

        </div>
        <!-- end input -->
        <div class="row" style=" margin-bottom: 30px;text-align: center;">
            <span class=" tech-selection-heading"
                  style="    font-size: 1em;"> WHICH TECHNOLOGY ARE YOU INTERESTED?</span>
            <div class="row centerDiv" style="display: inline-block;">
                <div class="border" id="test3" style="float:left;margin-right: 20px; " tabindex="5">
                    <div class="facial" id="test3">
                    </div>
                    <span class="title " style="font-size: 10px;">FACIAL DECODING</span>
                </div>
                <div class="border" style="float:left; " tabindex="6">
                    <div class="eeg">
                    </div>
                    <span class="title " style="font-size: 10px;">BRAINWAVE MAPPING</span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <textarea placeholder="Want to let us know what you’re looking for?" name="message"
                          class="form-control font12"
                          style="font-size: 11px;" tabindex="7"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" tabindex="8">
                <lable><input type="checkbox" checked="checked" id="TermCondition" name="optionsChecks" class="check1">
                </lable>
                <lable> I agree to the<a href="{% url 'termscondition' %}" target="_blank">Terms and Conditions</a>
                </lable>
            </div>
        </div>
        <!-- textarea  -->

        <!-- end textarea  -->
        <!-- checkbox button  -->


        <div class="row" style="text-align: center;">
            <br>
            <!-- button  -->
            <button class="btn schedule_btn" type="submit" tabindex="9">Schedule A Demo</button>
            <!-- end button  -->

        </div>
        <input type="hidden" id="api_host" value="{{ api_url }}">
        {#                    </div>#}
    </div>
{% endblock form %}
{% block scripts %}
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">
        function isValidEmailAddress(emailAddress) {
            var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
            return pattern.test(emailAddress);
        }
        ;
        $(function () {
            $('.border').click(function () {
                debugger;
                $(this).toggleClass('selected')
            });

            var api_host = $("#api_host").val();
            var admin_signup_form = $("form[name='admin_signup']");
            admin_signup_form.on('submit', function (event) {
                event.preventDefault();
                var email = $("input[name='email']").val();
                var error_inputs = $(".error_input");
                var isTermandConditionChecked = $('#TermCondition').prop('checked');
                $(".error_message").hide();
                if (!isValidEmailAddress(email)) {
                    $(".error_message").show().text("Please enter a valid email").addClass('.error_message');
                    return false;
                } else if (isTermandConditionChecked == false) {
                    $(".error_message").show().text("Please accept Terms and Conditions to continue").addClass('.error_message');

                } else {
                    var signup_url = api_host + "dashboard/scheduleademo/";
                    if (error_inputs.length == 0) {
                        var ajax_data = {
                            "name": $("input[name='name']").val(),
                            "email": email,
                            "company_name": $("input[name='companyname']").val(),
                            "company_url": $("input[name='companywebsite']").val(),
                            "mobile": $("#country_select").val() + "-" + $("input[name='mobile']").val(),
                            "message": $("textarea[name='message']").val()
                        };
                        var get_signup_status = call_ajax("POST", signup_url, ajax_data);
                        if (get_signup_status.status == "created") {
                            window.location = "/schedule-demo-success/";
                        }
                        else if (get_signup_status.status == "error") {
                            $(".error_message").show().text("A user with this email already exist");
                            $("#email").removeClass("success_input").addClass('.error_message');
                            return false;
                        }
                        else {
                            $(".error_message").show().text(get_signup_status.status);
                            return false;
                        }
                    }
                    else {
                        $(".error_message").text("complete the error fields");
                        return false;
                    }
                }
            });
        });


        {#    ******************* code for displaying value in country dropdown**********************#}
        {#        $('#country_select option:selected').html($('#country_select option:selected').attr('value')); // already changed onload#}

        $('#country_select').on('change mouseleave', function () {
            $('#country_select option').each(function () {
                $(this).html($(this).attr('data-text'));
            });
            $('#country_select option:selected').html($('#country_select option:selected').attr('value'));
            $(this).blur();
        });
        $('#country_select').on('focus', function () {
            $('#country_select option').each(function () {
                $(this).html($(this).attr('data-text'));
            });
        });

        {#  ************************mobile  number validation script****************#}

        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            if (ret)
                document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }

    </script>
{% endblock %}
