<!DOCTYPE html>{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="margin:0">

  <div style="width: 100%;min-width: 702px;background-color: #e8ecf0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 12px;font-weight: 200;line-height:20px;padding: 40px 0 100px 0;">
    <div style="width:702px;margin:0 auto">
      <img src="{% static 'site/img/signup_mail/mail.png' %}"/>
     <div style="border-bottom:1px solid #e6eff8;padding:50px 70px 65px 80px;background: rgba(228, 182, 182, 0.24);">
      <div>
        <h1 style="color:#4b5660;text-align:center;font-size:24px;font-weight:700;line-height:24px;margin-bottom:30px">INSTALL ONE OF OUR SDKs</h1>
        <table>
          <tbody>
           <tr>
            <td style="width: 110px;text-align:center;height:100px;padding-right: 58px;">
              <a href="#" style="text-decoration:none;color:#757d86;">
                <img src="{% static 'site/img/signup_mail/icon_ios.png' %}" style="height:100px;margin-bottom:20px;" >
                ios
              </a>
            </td>
            <td style="width:110px;text-align:center;height:100px;padding-left:45px;">
              <a href="#" style="text-decoration:none;color:#757d86;">
                <img src="{% static 'site/img/signup_mail/icon_android.png' %}" style="height:100px;margin-bottom:30px"  >
                Android
              </a>
            </td>
            <td style="width:110px;text-align:center;height:100px;padding-left: 68px;">
              <a href="#" style="text-decoration:none;color:#757d86;">
                <img src="{% static 'site/img/signup_mail/icon_java.png' %}" style="height:100px;margin-bottom:30px"  >Javascript
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div style="text-align:left;padding:82px 0 53px 41px;;color:#4b5660;font-size:19px;font-weight:500;background-color:#fff;">
      Have a question? Email our support team at <a href="mailto:support@chromo.io" style="border:0;font-weight:500;font-size:19px;color:#a5b1c1;text-decoration:none" target="_blank">support@chromo.io</a>&nbsp;or talk to us on our community forum.
    </div>
  </div>
</div>
</body>
</html>
