<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neuro Sensum Product Page</title>
    <meta name="description" content="described about Neurosensum product" />
    <!-- landing page template -->
    <meta name="neurosensum" content="Landingpage template"/>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}" />		
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/font-awesome.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <!-- Template  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/lpage/style.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- First Section -->
    <div class="banner" id="lp_banner">
        <!-- Slider with text and background images -->
        <ul>
            <li class="banner_slide1">
                <div class="slide_caption">
                    <h1>Detect the Emotions</h1>
                    <p>Detecting the cognitive paramaters is an exciting challenge which gives the parametric values.</p>
                </div>
            </li>
            <li class="banner_slide2">
                <div class="slide_caption">
                    <h1>Analyze the Insights</h1>
                    <p>Insight Analysis is an interesting option to look over the improvement.</p>
                </div>
            </li>
            <li class="banner_slide3">
                <div class="slide_caption">
                    <h1>Compare the Demographics</h1>
                    <p>Comparision enables you to look up your enhancing areas.</p>
                </div>
            </li>
        </ul>
    </div>
    <!-- Visible in only Mobile devices -->
    <div id="mobile_menu">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#lp_banner"><i class="glyphicon glyphicon-home"></i> &nbsp; Home</a></li>
                <li><a href="#lp_features"><i class="glyphicon glyphicon-briefcase"></i> &nbsp; About</a></li>
                <li><a href="#lp_events"><i class="glyphicon glyphicon-bullhorn"></i> &nbsp; Events</a></li>
                <li><a href="#lp_clients"><i class="glyphicon glyphicon-calendar"></i> &nbsp; Timeline</a></li>
                <li><a rel="nofollow" href="{% url 'accounts:login' %}" class="login_home external-link"><i class="glyphicon glyphicon-export"></i> &nbsp; Log In</a></li>
                <li><a href="#lp_contactus"><i class="glyphicon glyphicon-phone-alt"></i> &nbsp; Contact</a></li>
            </ul>
    </div>
    <!-- Top Header section for all screens -->
    <div class="container_wapper">
        <div id="banner_menu">
            <div class="container-fluid">
                <div class="col-xs-4 lp_logo">
                	<a href="#">
                    	<img src="{% static 'ico/favicon.png' %}" id="logo_img" alt="Neuro Sensum" title="Neurosensum Template" />
                    	<!-- <h1 id="logo_text">Neuro<span>Sensum</span></h1> -->
                    </a>
                </div>
                <div class="col-sm-8 hidden-xs">
                    <ul class="nav nav-justified">
                        <li><a href="#lp_banner">Home</a></li>
                        <li><a href="#lp_features">Features</a></li>
                        <li><a href="#lp_events">Events</a></li>
                        <li><a href="#lp_clients">Clients</a></li>
                        <li><a href="#lp_contactus">Contact</a></li>
                        <li><a rel="nofollow" href="http://neurosensum.com/" class="external-link">About Us</a></li>
                        <li class="login_home"><a target="_blank" href="{% url 'accounts:login' %}">Log In</a></li>
                     </ul>
                </div>
                <div class="col-xs-8 visible-xs">
                    <a href="#" id="mobile_menu"><span class="glyphicon glyphicon-th-list"></span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Four Important features for landing page -->
    <div id="lp_features" class="container_wapper">
        <div class="container-fluid">
            <h1>Exciting Features</h1>
            <div class="col-sm-6 col-md-3 about_icon">
                <div class="imgwap mission"><i class="fa fa-rocket"></i></div>
                <h2>Cognitive Parameters</h2>
                <p>Deep dive into the view of actual Emotions.</p>
            </div>
            <div class="col-sm-6 col-md-3 about_icon">
                <div class="imgwap product"><i class="fa fa-cubes"></i></div>
                <h2>Demographics</h2>
                <p>Statistical filters for better understanding of the data.</p>
            </div>
            <div class="col-sm-6 col-md-3 about_icon">
                <div class="imgwap testimonial"><i class="fa fa-bar-chart-o"></i></div>
                <h2>Performance</h2>
                <p>Compare the performance with dual check.</p>
            </div>
            <div class="col-sm-6 col-md-3 about_icon">
                <div class="imgwap statistic"><i class="fa fa-comments"></i></div>
                <h2>Analysis</h2>
                <p>Ability to analyze which are giving the best results.</p>
            </div>
        </div>
    </div>
    <!--Events section image with subtitles -->
    <div id="lp_events" class="container_wapper">
        <div class="container-fluid">
            <h1>Events</h1>
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <div class="event_box_wap event_animate_left">
                    <div class="event_box_img">
                        <img src="{% static 'css/img/event1.jpg' %}" class="img-responsive" alt="Web Design Trends" />
                    </div>
                    <div class="event_box_caption">
                        <h1>Web Design Trends</h1>
                        <p><span class="glyphicon glyphicon-map-marker"></span> New Hotel, Bangkok, Thailand &nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span> 4:00 PM to 8:00 PM</p>
                        <p>Quisque feugiat dapibus lectus ut consectetur. Donec et ante vitae leo cursus hendrerit vitae ac mauris. Suspendisse dictum pretium urna quis rutrum. Nullam tincidunt dolor ut leo malesuada, eget volutpat turpis porttitor.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <div class="event_box_wap event_animate_right">
                    <div class="event_box_img">
                        <img src="{% static 'css/img/event2.jpg' %}" class="img-responsive" alt="Free Bootstrap Seminar" />
                    </div>
                    <div class="event_box_caption">
                        <h1>Free Bootstrap Seminar</h1>
                        <p><span class="glyphicon glyphicon-map-marker"></span> Digital Hall, Yangon, Myanmar &nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span> 10:30 AM to 3:30 PM </p>
                        <p>Vestibulum dapibus dolor porttitor urna pretium euismod. Aliquam lobortis enim at lacinia mollis. Curabitur eget sem eros. Duis pulvinar rhoncus lectus, ac hendrerit enim pharetra et.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <div class="event_box_wap event_animate_left">
                    <div class="event_box_img">
                        <img src="{% static 'css/img/event3.jpg' %}" class="img-responsive" alt="" />
                    </div>
                    <div class="event_box_caption">
                        <h1>Mobile Designs</h1>
                        <p><span class="glyphicon glyphicon-map-marker"></span> Old Town Center, Mandalay, Myanmar &nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span> 3:30 PM to 6:30 PM </p>
                        <p>Etiam ac ante gravida, pellentesque odio non, facilisis dui. Suspendisse vestibulum justo quis sapien sodales, in pellentesque erat congue.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <div class="event_box_wap event_animate_right">
                    <div class="event_box_img">
                        <img src="{% static 'css/img/event4.jpg' %}" class="img-responsive" alt="" />
                    </div>
                    <div class="event_box_caption">
                        <h1>Happy Startups</h1>
                        <p><span class="glyphicon glyphicon-map-marker"></span> New Hat, Lashio, Myanmar &nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span> 2:15 PM to 5:15 PM </p>
                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc rutrum urna eget augue placerat sodales. Mauris ut dapibus nisi, eget fringilla lectus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Timeline Section -->
    <div id="lp_clients" class="container_wapper">
        <h1>Timeline</h1>
        <div class="container-fluid">
            <div class="time_line_wap">
                <div class="time_line_caption">10 days ago</div>
                <div class="time_line_paragraph">
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <p>
                           <span class="glyphicon glyphicon-user"></span> <a href="#">George</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Web Design</a>, <a href="#">Responsive</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-edit"></span> <a href="#">3 comments</a>
                    </p>
                    <p>Aliquam adipiscing nibh sem, vitae aliquet ipsum rutrum nec. Nulla nec fermentum libero. Duis quis fermentum libero. Nunc facilisis ultrices fringilla. Nullam sed ligula ac libero venenatis pellentesque vitae nec mauris.</p>
                </div>
            </div>
            <div class="time_line_wap">
                <div class="time_line_caption">2 weeks ago</div>
                <div class="time_line_paragraph">
                    <h1>Excepteur sint occaecat cupidatat</h1>
                    <p>
                           <span class="glyphicon glyphicon-user"></span> <a href="#">Kyor Kyor</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-bookmark"></span> <a href="#">HTML5</a>, <a href="#">Mobile</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-edit"></span> <a href="#">2 comments</a>
                    </p>
                    <p>Vestibulum pellentesque leo mi, non adipiscing odio tristique in. Aliquam suscipit magna nisi, non dapibus purus cursus in. Sed vitae quam bibendum mauris vehicula pretium. Curabitur ac ornare magna. Vestibulum dapibus dolor porttitor urna pretium euismod. Aliquam lobortis enim at lacinia mollis.</p>
                </div>
            </div>
            <div class="time_line_wap">
                <div class="time_line_caption">one month ago</div>
                <div class="time_line_paragraph">
                    <h1>Doloremque laudantium</h1>
                    <p>
                           <span class="glyphicon glyphicon-user"></span> <a href="#">Cooker</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Web Design</a>, <a href="#">CSS3</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-edit"></span> <a href="#">3 comments</a>
                    </p>
                    <p>Fusce feugiat sem dolor. Curabitur a consectetur quam. Maecenas ut purus rutrum, bibendum eros eu, suscipit diam. Praesent semper bibendum gravida. Praesent eget leo ac arcu aliquet pellentesque sit amet at tortor. Cras sagittis nec tellus nec imperdiet.</p>
                </div>
            </div>
            <div class="time_line_wap">
                <div class="time_line_caption">15 May 2084</div>
                <div class="time_line_paragraph">
                    <h1>Neque porro quisquam</h1>
                    <p>
                           <span class="glyphicon glyphicon-user"></span> <a href="#">Brain</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-bookmark"></span> <a href="#">HTML5</a>, <a href="#">Animation</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-edit"></span> <a href="#">6 comments</a>
                    </p>
                    <p>Ut varius nibh adipiscing sagittis lobortis. Sed imperdiet risus enim, sit amet tempus nisi lobortis a. Etiam in gravida leo, non interdum sapien. Sed mi odio, pharetra at tellus ac, adipiscing pulvinar dolor. Nulla quis suscipit urna. Integer congue non nunc a luctus.</p>
                </div>
            </div>
            <div class="time_line_wap">
                <div class="time_line_caption">20 April 2084</div>
                <div class="time_line_paragraph">
                    <h1>Sed do eiusmod tempor</h1>
                    <p>
                           <span class="glyphicon glyphicon-user"></span> <a href="#">John West</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-bookmark"></span> <a href="#">3D Effect</a>, <a href="#">CSS3</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-edit"></span> <a href="#">4 comments</a>
                    </p>
                    <p>Maecenas in ipsum pulvinar, dapibus leo ut, adipiscing neque. Phasellus tincidunt arcu eleifend placerat posuere. Nullam nec eros in leo facilisis blandit id in neque. Proin varius, neque in eleifend porta, neque arcu dapibus risus, vel congue ante nibh varius nisi.</p>
                </div>
            </div>
            <div class="time_line_wap">
                <div class="time_line_caption">5 April 2084</div>
                <div class="time_line_paragraph">
                    <h1>client 10</h1>
                    <p>
                           <span class="glyphicon glyphicon-user"></span> <a href="#">Moon Plus</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Web Design</a>, <a href="#">Responsive</a> &nbsp;&nbsp;
                           <span class="glyphicon glyphicon-edit"></span> <a href="#">5 comments</a>
                    </p>
                    <p>This client is awesome</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact us Section -->
    <div id="lp_contactus" class="container_wapper">
        <div class="container-fluid">
            <h1>Contact</h1>
            <!-- Google Maps -->
            <div class="col-xs-12">
                <div id="lp_contactus_map"></div>
            </div>
            <!-- Address Details -->
            <div class="col-md-4">
                <h2>Contact Info.</h2>
                <p><strong>Email:</strong> indonesia@neurosensum.com<br /><br />
                    <strong>Website:</strong>www.neurosensum.com<br />
                    <strong>Address:</strong> Gama Tower Unit 16 B, Jalan H.R. Rasuna Said Kav. C22, Karet Kuningan, Jakarta Selatan, 12940
                </p>
                <ul class="list-inline social-link">
                    <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a> 
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a> 
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a> 
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-youtube"></i></a> 
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-github"></i></a> 
                    </li>
               </ul>
            </div>
            <!-- Contact us form -->
            <form action="#" method="post" class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                    <h2>Send Enquiry</h2>
                    </div>
                    <div class="col-md-6">
                        <p>Name</p>
                        <input type="text" name="name" id="name" placeholder="Your Name" />
                    </div>
                    <div class="col-md-6">
                        <p>Email</p>
                        <input type="text" name="email" id="email" placeholder="Your Email" />
                    </div>
                    <div class="col-md-12">
                        <p>Subject</p>
                        <input type="text" name="subject" id="subject" placeholder="Subject" />
                    </div>
                    <div class="col-md-12">
                        <p>Message</p>
                        <textarea name="message" id="message"  placeholder="Write your message here..."></textarea>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-offset-6">
                        <button type="submit">Send</button>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <button type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Copyright Information -->
    <div id="lp_footer">
        <div>
            <p id="footer">Copyright &copy; 2017 Neuro Sensum</p>
        </div>
    </div>
    <!-- Script files loaded last for fast loading webpage -->
    <script type="text/javascript" src="{% static 'js/site/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/unslider.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="{% static 'js/lpage_script.js' %}"></script>
</body>
</html>