{% load staticfiles %}

<!-- end why choose us section -->
<a href="{% url 'accounts:signup' %}" target="_blank"><div id="to-top"></div></a>
<!-- footer -->
<footer >
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-sm-12 col-xs-12 ">

                <div class="row margin-four no-margin-bottom">
                    <div class="col-md-6 col-sm-6 sm-text-center sm-margin-bottom-four">
                        <!-- link -->
                        <ul class="list-inline footer-link text-uppercase">
                            <li><a href="http://entropiktech.com/about_us" target="_blank">About us</a></li>
                            <li><a href="http://entropiktech.com/careers" target="_blank">Join us</a></li>
                            <li><a href="http://entropiktech.com/press">Press</a></li>
                        </ul>
                        <!-- end link -->
                    </div>
                    <div class="col-md-6 col-sm-6 footer-social text-right sm-text-center">
                        <!-- social media link -->
                        <a target="_blank" href="https://www.facebook.com/entropiktech"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/entropiktech"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/7795723"><i class="fa fa-linkedin"></i></a>
                        <a href="https://play.google.com/store/apps/details?id=com.entropiktech.affectlab&hl=en" target="_blank"><img src="{% static '/website/images/web/google-play-badge.png' %}" class="app-icon" alt=""></a>
                        <!-- end social media link -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- end footer -->