{% load staticfiles %}
<!-- navigation panel -->
<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-white nav-border-bottom"
     role="navigation">
    <div class="container">
        <div class="row">
            <!-- logo -->
            <div class="col-md-offset-1  col-md-2 pull-left"><a class="logo-light" href="{% url 'home' %}"><img
                    alt="Affect Lab Logo" src="{% static 'website/images/headerlogo.png' %}" class="logo"/></a><a
                    class="logo-dark" href="{% url 'home' %}"><img alt="Affect Lab Logo"
                                                                   src="{% static 'website/images/headerlogo.png' %}"
                                                                   class="logo"/></a></div>
            <!-- end logo -->

            <!-- end search and cart  -->
            <!-- toggle navigation -->
            <div class="navbar-header col-sm-8 col-xs-2 pull-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <!-- toggle navigation end -->
            <!-- main menu -->
            <div class="col-md-8 no-padding-right accordion-menu text-right">
                <div class="navbar-collapse collapse">
                    <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
                        <!-- menu item -->

                        <li class="dropdown panel featureheader">
                            <a href="{% url 'technology' %}" data-role="tab">TECHNOLOGY</a>
                        </li>
                        <li class="dropdown featureheader panel simple-dropdown">
                            <a href="#scienceCollapse" class="dropdown-toggle collapsed " data-toggle="collapse"
                               data-parent="#accordion" data-hover="dropdown">Solutions<i class="fa fa-angle-down"></i></a>
                            <!-- sub menu single -->
                            <!-- sub menu item  -->
                            <ul id="scienceCollapse" class="dropdown-menu panel-collapse collapse" role="menu">
                                <li><a href="{% url 'media_research' %}" data-role="tab">MEDIA RESEARCH</a></li>
                                <li><a href="{% url 'brand_research' %}" data-role="tab">BRAND RESEARCH</a></li>
                                <li><a href="{% url 'product_research' %}" data-role="tab">PRODUCT RESEARCH</a></li>
                                <li><a href="{% url 'ux_research' %}" data-role="tab">UI/UX RESEARCH</a></li>

                            </ul>
                            <!-- end sub menu item  -->
                            <!-- end sub menu single -->
                        </li>
                        <!-- end menu item -->
                        <!-- menu item -->
                        <!--<li class="dropdown panel featureheader">-->
                            <!--<a href="http://resource.affectlab.io/category/articles/">Resource</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash; end menu item &ndash;&gt;-->
                        <!-- menu item -->
                        <li class="login-home"><a target="_blank" href="{% url 'accounts:login' %}">Log In</a></li>

                        <!-- end menu item -->
                    </ul>
                </div>
            </div>
            <!-- end main menu -->
        </div>
    </div>
</nav>
