<!DOCTYPE html>{% load staticfiles %}

<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Affect Lab | Emotion Recognition Software and Analysis</title>
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
    {#    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">#}
    <link href='https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css" rel="stylesheet">
    <!--<link rel="alternate" type="application/rss+xml" title="AffectLab Feed" href="https://resource.affectlab.io/">-->
    <!--<meta charset="UTF-8">-->
    <meta name="keywords" content="brainwaves,video analytics,affectlab neuroscience,product research, advertising,Cognitive Insights, motion capture, head mounted display, head tracking, neuroscience">
    <meta name="description" content="Affect Lab enables you to conduct an emotion analysis of a user's reaction to products and marketing campaigns & measure behavioral parameters">
    <meta property="og:tile" content="Affect Lab | Emotion Recognition Software and Analysis">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://54.237.131.186/">
    <meta property="og:image" content="http://54.237.131.186/static/website/images/headerlogo.png">
    <meta property="og:description" content="Affect Lab enables you to conduct an emotion analysis of a user's reaction to products and marketing campaigns & measure behavioral parameters">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Affect Lab">

    <meta name="pageTitle" content="Affect Lab | Emotion Recognition Software and Analysis">
    <meta name="countryName" content="in">
    <meta name="languageName" content="en">
    <meta name="searchable" content="y">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@affectlab">
    <meta name="twitter:title" content="Affect Lab | Emotion Recognition Software and Analysis">
    <meta name="twitter:description" content="Affect Lab enables you to conduct an emotion analysis of a user's reaction to products and marketing campaigns & measure behavioral parameters">
    <meta name="twitter:image" content="http://54.237.131.186/static/website/images/headerlogo.png">

    <!-- favicon -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <!-- animation -->
    <link rel="stylesheet" href="{% static 'website/css/animate.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.css' %}"/>
    <link rel="stylesheet"  href="{% static 'website/css/et-line-icons.css' %}"/>
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css' %}" />
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/owl.transitions.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/full-slider.css' %} "/>
    <!-- text animation -->
    <link rel="stylesheet" href="{% static 'website/css/text-effect.css' %}" />
    <!-- common -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />
    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <!--[if IE]>
            <link rel="stylesheet" href="css/style-ie.css" />
        <![endif]-->
    <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    {#    <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">#}

         {#  Google Analytics Script  code for affectlab #}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-96865986-1', 'auto');
        ga('send', 'pageview');

    </script>

    {#  end of ga script  #}
</head>
<body>
{% include "website/_header.html" %}
{% block container %}
{% endblock %}
{% include "website/why_choose_us.html" %}
{% include "website/_footer.html" %}
{#<script src="http://d3js.org/d3.v3.min.js"></script>#}
<script src="https://use.fontawesome.com/09ad2ec8b7.js"></script>
<!-- javascript libraries / javascript files set #1 -->
<script type="text/javascript" src="{% static 'website/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/bootstrap-hover-dropdown.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/skrollr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/smooth-scroll.js' %}"></script>
<!-- jquery appear -->
<script type="text/javascript" src="{% static 'website/js/jquery.appear.js' %}"></script>
<!-- animation -->
<script type="text/javascript" src="{% static 'website/js/wow.min.js' %}"></script>
<!-- page scroll -->
<script type="text/javascript" src="{% static 'website/js/page-scroll.js' %}"></script>
<!-- easy piechart-->
<script type="text/javascript" src="{% static 'website/js/jquery.easypiechart.js' %}"></script>
<!-- parallax -->
<script type="text/javascript" src="{% static 'website/js/jquery.parallax-1.1.3.js' %}"></script>
<!--portfolio with shorting tab -->
<script type="text/javascript" src="{% static 'website/js/jquery.isotope.min.js' %}"></script>
<!-- owl slider  -->
<script type="text/javascript" src="{% static 'website/js/owl.carousel.min.js' %}"></script>
<!-- magnific popup  -->
<script type="text/javascript" src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/popup-gallery.js' %}"></script>
<!-- text effect  -->
<script type="text/javascript" src="{% static 'website/js/text-effect.js' %}"></script>
<!-- revolution slider  -->
<script type="text/javascript" src="{% static 'website/js/jquery.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.revolution.js' %}"></script>
<!-- counter  -->
<script type="text/javascript" src="{% static 'website/js/counter.js' %}"></script>
<!-- countTo -->
<script type="text/javascript" src="{% static 'website/js/jquery.countTo.js' %}"></script>
<!-- fit videos  -->
<script type="text/javascript" src="{% static 'website/js/jquery.fitvids.js' %}"></script>
<!-- imagesloaded  -->
<script type="text/javascript" src="{% static 'website/js/imagesloaded.pkgd.min.js' %}"></script>
<!-- hamburger menu-->
<script type="text/javascript" src="{% static 'website/js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/hamburger-menu.js' %}"></script>
<!-- setting -->
<script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>
<script type="text/javascript">$(document).ready(function() {
    $('#videoModal').on('shown.bs.modal', function (e) {
        $(".modal-body").html('<video id="popUpVideo" controls>'+
                '<source src="{% static 'website/video/affectlabpromo.mp4'%}" type="video/mp4">' +
                '</video>');
        });
    $('#videoModal').on('hidden.bs.modal', function () {
        $('#popUpVideo')[0].pause();
        $(".modal-body").html('');
    });

      $('#mediaModal').on('shown.bs.modal', function (e) {
        $(".modal-body").html('<video id="popUpmediaVideo" controls>'+
                '<source src="{% static 'website/video/media_research_full.mp4'%}" type="video/mp4">' +
                '</video>');
        });
    $('#mediaModal').on('hidden.bs.modal', function () {
        $('#popUpmediaVideo')[0].pause();
        $(".modal-body").html('');
    });

        var id = 0;
        var usecase_class =
                ["media-research-header",
                    "brand-research-header",
                    "product-research-header"];
        setInterval(function() {
            if ( id < usecase_class.length ) {
                $("."+usecase_class[id]).trigger('click');
                id ++;
            } else {
                id = 0;
            }

        }, 3000);

    //set active class to tabs
    var path = window.location.pathname.split('/')[1];
    var href = "";
    if(path =='technology') {
        href = "/technology/";
    }else if(path != ""){
        href = "#scienceCollapse";
    }
    $('nav a[href="'+href+'"]').parent().addClass('active-tab');
    function isVisible(elment) {
        var vpH = $(window).height(), // Viewport Height
                st = $(window).scrollTop(), // Scroll Top
                y = $(elment).offset().top;

        return y <= (vpH + st);
    }

    $(window).scroll(function() {
        if($(this).scrollTop() < 30) {
            $('#to-top').fadeOut();
        } else if (isVisible($('footer'))) {
            $('#to-top').css('position','absolute');
        } else {
            $('#to-top').css('position','fixed');
            $('#to-top').fadeIn();

        }
    });
});

</script>


{% block js %}
{% endblock %}
</body>
</html>


