{% extends "website/base.html" %}
{% load staticfiles %}
{% block container %}
    <style type="text/css">
        .active-tab a {
            color: #EF5350 !important;
        }

        .nav-white.sticky-nav .navbar-nav li.active-tab a:hover {
            color: #fff !important;
        }

        .nav-white.shrink-nav .navbar-nav li.active-tab a:hover {
            color: #000;
        }
    </style>
    <!-- end navigation panel -->
    <section class="no-padding full-screen cover-background">
        <div class="item owl-bg-img"
             style="background-image:url({% static '/website/images/research/banner_big_brand_research.jpg' %});">
            <div class="container full-screen position-relative" style="min-height: 797px;">
                <div class="slider-typography text-center">
                    <div class="slider-text-middle-main">

                        <div class="slider-text-middle padding-left-right-px wow fadeIn animated"
                             style="visibility: visible; animation-name: fadeIn;">
                            <div class="col-lg-offset-1 col-md-offset-1 col-md-8 col-sm-6 col-xs-offset-1 xs-pull-none smallscreen">
                                <span class="enhance white-text">ENHANCE YOUR</span><br>
                                <span class="advertisements white-text">BRAND’S PERCEPTION</span><br>
                                <span class="with white-text">WITH </span><span class="advertisements white-text">EMOTIONAL HOOKS</span><br>

                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- slider -->
    <section>
        <div class="container">
            <div class="row" >
                <!-- section title -->
                <div class="col-md-12 text-center no-padding margin-five no-margin-top sm-margin-bottom-ten">
                    <p class="never">It’s time to understand what draws consumers to your brand</p>
                </div>
                <!-- end section title -->
            </div>
            <div class="row" style="
    margin-bottom: 4%;
">
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/brand_optimization.jpg' %}" alt="Brand Optimization"/>
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">Brand Optimization</span><br>
                            <!--<span class="destinations-place text-uppercase font-weight-400 letter-spacing-3 black-text display-block">990 Places</span>-->
                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Analyze emotional, behavioral & cognitive user
                                        behavior and predict responses
                                    </li>
                                    <br>

                                </ul>


                            </div>


                        </div>
                    </div>
                </div>
                <!-- end tour item -->
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten
                         ">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/competitive_analysis.jpg' %}" alt="Competitive Analysis"/>
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">Competitive Analysis</span><br>

                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Compare user metrics like perception, awareness,
                                        market positioning before-after a campaign or with
                                        competition
                                    </li>
                                    <br>


                                </ul>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- end tour item -->
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/effective_media_planning.jpg' %}"
                             alt="Effective Media Planning"/>
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">QUICK TURN AROUND TIME</span><br>

                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Quick & Easy testing offers flexibility to brands
                                        across different industries, optimize their user experience for
                                        higher conversion rates.
                                    </li>
                                    <br>


                                </ul>


                            </div>


                        </div>
                    </div>
                </div>
                <!-- end tour item -->
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/data_driven_decisions.jpg' %}" alt="Data Driven Decision"/>
                        <div class="popular-destinations-text" style="padding-top: 50px;">
                            <span class="destinations-name picheader">EASY ANALYTICS</span><br>

                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Export raw data or generate rich, ready-to-use
                                        campaign reports from the dashboard
                                    </li>
                                    <br>
                                    <hr class="separator">
                                    <li class="display-block picbody">Get feedback and
                                        recommendations with actionable for campaign optimization
                                    </li>
                                    <br>


                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- end tour item -->
            </div>
        </div>
    </section>
    <!-- end features section -->

    <!-- end about us section -->
    <section id="our-services" class="our-services no-padding">
        <div class="col-md-6 bg-light-gray padding-five box-min-height sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section"
             style="background-image:url('{% static 'website/images/whatwedo_brand.jpg' %}');">
            <div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
                <h1 class="whathead margin-ten no-margin-top orange-light-text">What We Do</h1>
                <div class="whatbody"> Measure where your brand stands on a user’s emotional spectrum. Strengthen brand
                    building efforts by assigning campaign assets and responses
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-gray-light padding-five no-padding-bottom sm-padding-bottom-six box-min-height sm-display-table">
            <div class="col-lg-11 col-md-12 pull-left xs-no-padding">
                <ul>
                    <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                        <div class="number orange-light-text">01.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">BRAND IMPACT ANALYSIS</span>
                            <span class="testingbody">Calculate emotional impact of your brand story, guidelines, look and feel, and market positioning.</span>
                        </div>
                    </li>
                    <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                        <div class="number orange-light-text">02.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Brand Affinity Tracking</span>
                            <span class="testingbody">Quantify the connect of users to your brand, optimize user engagement to increase brand loyalty and referrals.</span>
                        </div>
                    </li>
                    <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                        <div class="number orange-light-text">03.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Brand Recall Analysis</span>
                            <span class="testingbody">Measure both aided and unaided brand awareness to optimize campaigns for increased user familiarity levels.</span>
                        </div>
                    </li>
                    <li class="position-relative font-weight-300 text-extra-large">
                        <div class="number orange-light-text">04.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Copy Testing</span>
                            <span class="testingbody">Test your campaign content before launch, analyze user sentiment and optimize media plan for positive responses.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="border-bottom clear-both xs-text-center footer-case-studies">
        <div class="container">
            <div class="row" style="
    margin-bottom: 4%;
">
                <div class="col-md-12 text-center">
                    <label class="headline">Case Studies</label>
                </div>
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/07/07/media-planning-without-affect-lab/">-->
                        <!--<img width="300" height="250"-->
                             <!--src="http://resource.affectlab.io/wp-content/uploads/2017/07/Cartoon2.0-300x147.jpg">-->
                        <!--<label class="title">Add the power of Human Emotions to your Advertising</label>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/07/03/how-brainwave-mapping-helps-understand-consumers-better-infographic/">-->
                        <!--<img width="300" height="250"-->
                             <!--src="http://resource.affectlab.io/wp-content/uploads/2017/07/featured-1.jpg">-->
                        <!--<label class="title">How Brainwave Mapping helps Understand Consumers Better-->
                            <!--[Infographic]</label>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/07/03/does-consumer-research-make-you-want-to-seek-peace-like-the-yogis/">-->
                        <!--<img width="300" height="250"-->
                             <!--src="http://resource.affectlab.io/wp-content/uploads/2017/07/2017-06-30-300x147.jpg">-->
                        <!--<label class="title">Does Consumer Research Make You Want to Seek Peace Like The Yogis?</label></a>-->

                <!--</div>-->

            </div>
        </div>
    </section>


    <!-- end clients reviews section -->


{% endblock %}

