{% extends "website/base.html" %}
{% load staticfiles %}
{% block container %}
    <!-- end navigation panel -->
    <section class="no-padding full-screen cover-background" style="background-image: url('{% static 'website/images/affectlabimg.jpg' %}'); min-height: 697px;">
        <div class="video-background  fit-videos">
            <div class="container full-screen position-relative" style="min-height: 797px;">
                <div class="slider-typography text-center">
                    <div class="slider-text-middle-main">

                        <div class="slider-text-middle padding-left-right-px wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                            <div class="col-lg-offset-1 col-md-offset-1 col-md-7 col-sm-6">
                                <span class="banner-head white-text">DECODING</span><br>
                                <span class="banner white-text">EMOTIONAL</span><br>
                                <span class="banner white-text">INTERACTIVITY</span><br>
                                <br>
                                <a href="#"><button class="play-videos" data-toggle="modal" data-target="#videoModal">Play Video</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrapper full-screen-width z-index-0" style="min-width: 1268px;">
            <!-- video -->
            <video autoplay="" muted="" loop="" class="html-video" preload="auto" poster="{% static 'images/video-bg1.jpg' %}">
                <source type="video/mp4" src="{% static 'website/video/affectlab.mp4' %}"/>
            </video>
            <!-- end video -->
        </div>
    </section>


    <!-- slider -->
    <section class="client-logo-section">
        <div class="container" >
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 text-center corporate-slider sm-margin-bottom-seven ">
                    <p class="nmrheading text-center">Transforming product experiences</p>
                    <p class="nmrheading text-center">by decoding human emotions</p>
                    <p class="client-body-text">Affect Lab goes beyond surveys and questionnaires, to delve into  user's <br> subconscious thoughts & ensure brand message resonates with them emotionally</p>
                </div>
                <!-- end section title -->
            </div>

            <div class="row award-wrapper">
                <div class="row grid-border border-top border-panel">
                    <!-- clients logo -->
                    <div class="col-md-3 col-sm-6 no-padding">
                        <div class="client-logo-outer"><div class="client-logo-inner"><a href="https://twitter.com/SAPStartupStudi/status/855296213985382400/photo/1" target="_blank"><img alt="Headstart logo" src="{% static 'website/images/web/brand/Headstart.png' %}" class="logo" /></a></div></div>
                        <p class="awardtext" style="text-align:center;margin-top:-1px;">Top 5 in headstart Startup National</p>
                    </div>
                    <!-- end clients logo -->
                    <!-- clients logo -->
                    <div class="col-md-3 col-sm-6 no-padding">
                        <div class="client-logo-outer"><div class="client-logo-inner"><a href="https://blogs.sap.com/2017/05/11/making-sap-solutions-better-and-richer/" target="_blank"><img alt="SAP Logo" src="{% static 'website/images/web/brand/SAP.png' %}" class="logo" /></a></div></div>
                        <p class="awardtext" style="text-align:center;margin-top:-1px;">SAP Accelerator</p>
                    </div>
                    <!-- end clients logo -->
                    <!-- clients logo -->
                    <div class="col-md-3 col-sm-6 no-padding">
                        <div class="client-logo-outer"><div class="client-logo-inner"><a href="https://www.gartner.com/doc/3716917/cool-vendors-artificial-intelligence-india" target="_blank"><img alt="Gartner Logo" src="{% static 'website/images/web/brand/Gartner.png' %}" class="logo"/></a></div></div>
                        <p class="awardtext" style="text-align:center;margin-top:-1px;">Gartner cool vendor</p>
                    </div>
                    <!-- end clients logo -->
                    <!-- clients logo -->
                    <div class="col-md-3 col-sm-6 no-padding">
                        <div class="client-logo-outer"><div class="client-logo-inner"><a href="http://entropiktech.com/press/index.php/2017/03/20/meet-unpluggds-most-promising-startups/" target="_blank"><img alt="NextBigWhat logo" src="{% static 'website/images/web/brand/NextBigWhat.png' %}" class="logo" target="_blank" /></a></div></div>
                        <p class="awardtext" style="text-align:center;margin-top:-1px;">Most promising startup 2016</p>
                    </div>
                    <!-- end clients logo -->
                </div>
            </div>
        </div>
    </section>
    <!-- end features section -->

    <!-- end about us section -->
    <!-- timeline section -->
    <section id="blog-slider-main" class="heightsec blog-slider bg-deep-red xs-padding-bottom-fifteen" style="height:615px;">
        <div class="container position-relative">
            <div class="row no-margin">
                <div class="col-md-8 col-sm-12">
                    <p class="launchfont font-weight-700 letter-spacing-1 white-text">JUST LAUNCHED!</p><br>
                    <p class="launchbody white-text">Now access the complete Affect Lab research suite<br> on your android phone.</p>
                    <p class="launchsubheading white-text">The app works in conjunction with Affect Lab Brainwave mapping EEG Headset & <br>supports end-to-end testing for product, effectiveness of video or audio<br> advertising and calculating brand safety.</p>
                    <div>
                        <a href="https://play.google.com/store/apps/details?id=com.entropiktech.affectlab&hl=en"> <img src="{% static 'website/images/web/icons/google-play-badge.png'%}" alt="app" class="googleplay img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="{% static 'website/images/web/icons/app_screen_png.png'%}" alt="app" class="launchimg img-responsive">
                </div>

            </div>
        </div>
    </section>    <!-- about section -->
    <section>
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-10 col-sm-10 text-center center-col">
                    <p class="nmrheading" style="text-align:center;">About Affect Lab</p>
                    <div class="separator-line-thin bg-orange"></div>
                    <p class="nmrbody width-90 center-col no-margin-bottom sm-margin-top-twenty"> Affect Lab enables you to conduct an emotion analysis of a user's reaction to products and marketing<br> campaigns & measure behavioral parameters such as attention, appreciation, concentration along <br> with cognitive parameters like happiness, boredom and familiarity</p>
                </div>
                <!-- end section highlight text -->
            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- clients reviews section -->
    <section class="u-xs-PaddingTop70 u-xs-PaddingBottom100 how-its-work">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <p class="nmrheading" style="text-align:center;">How it Works</p>
                    <div class="separator-line-thin bg-orange"></div>
                </div>
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 sm-margin-top-twenty">
                    <p class="body width-90 center-col no-margin-bottom">Affect Lab helps you decode user behavior by using EEG-brain wave mapping and facial tracking</p>

                </div>
            </div>
            <div class="row u-MarginTop80 u-xs-MarginTop50">
                <div class="col-md-12 text-center">
                    <div class="Steps">
                        <div class="Step">
                            <div class="Step__thumb u-BoxShadow100">
                                <span class="Step__thumb-number">01</span>
                                <i class="Icon Icon-user-group"></i>
                                <img src="{% static 'website/images/how_it_works_1.png' %}" alt="Track Experiences" style="width:100px;height:100px;">
                            </div>
                            <p class="u-MarginTop20 u-LineHeight2 title">Track Experiences</p>
                            <p>Affect Lab headset tracks the customer's brain waves and facial tracking as he experiences a product or consumes content</p>
                        </div>
                        <div class="Step">
                            <div class="Step__thumb StepCurve StepCurve--down">
                                <img src="{% static 'website/images/web/icons/step-downcurve.png' %}" alt="Downcurve">
                            </div>
                        </div>
                        <div class="Step">
                            <div class="Step__thumb u-BoxShadow100">
                                <span class="Step__thumb-number">02</span>
                                <i class="Icon Icon-trophy"></i>
                                <img src="{% static 'website/images/how_it_works_2.png' %}" alt="Cognitive Research" style="width:100px;height:100px;">

                            </div>
                            <p class="u-MarginTop20 u-LineHeight2 title">Cognitive Research</p>
                            <p>Affect Lab derives emotional & cognitive response of the customer and corresponding heat maps using brain wave mapping and facial tracking </p></div>
                        <div class="Step">
                            <div class="Step__thumb StepCurve StepCurve--up">
                                <img src="{% static 'website/images/web/icons/step-upcurve.png' %}" alt="Upcurve">
                            </div>
                        </div>
                        <div class="Step">
                            <div class="Step__thumb u-BoxShadow100">
                                <span class="Step__thumb-number">03</span>
                                <i class="Icon Icon-support"></i>
                                <img src="{% static 'website/images/how_it_works_3.png' %}" alt="Smart Analysis" style="width:130px;height:100px;">

                            </div>
                            <p class="u-MarginTop20 u-LineHeight2 title">Smart Analysis</p>
                            <p>Affect Lab offers visualization tools to give second by second analysis, comparison & benchmarking of the customer response
                            </p>                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="corporate-standards no-padding-bottom">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 col-sm-12 text-center corporate-slider sm-margin-bottom-seven">
                    <p class="nmrheading" style="text-align:center;">Use Cases</p>
                    <div class="separator-line-thin bg-orange"></div>
                    <p class="nmrbody sm-margin-top-twenty">Turn around your traditional marketing by analyzing product experiences and understanding what<br> your customers really want. Affect Lab helps brands across FMCG, Media, Automotive, Education,<br> Healthcare, Advertising industry</p>
                </div>
                <!-- end section title -->
            </div>
        </div>
        <div class="container-fluid margin-five no-margin-bottom no-padding">
            <div class="row no-margin">
                <!-- tab -->
                <div class="col-md-12 col-sm-12 center-col text-center no-padding" id="animated-tab">
                    <!-- tab navigation -->
                    <ul class="nav nav-tabs margin-five no-margin-top xs-margin-bottom-seven">
                        <li class="nav active"><a href="#tab6_sec1" data-toggle="tab" class="xs-min-height-inherit xs-no-padding"><span class="media-research-header"></span></a><br><span class="text-small text-uppercase letter-spacing-3 margin-five font-weight-600 xs-letter-spacing-none">MEDIA RESEARCH</span></li>
                        <li class="nav"><a href="#tab6_sec2" data-toggle="tab" class="xs-min-height-inherit xs-no-padding"><span class="brand-research-header"></span></a><br><span class="text-small text-uppercase letter-spacing-3 margin-five font-weight-600 xs-letter-spacing-none">BRAND RESEARCH
</span></li>
                        <li class="nav"><a href="#tab6_sec3" data-toggle="tab" class="xs-min-height-inherit xs-no-padding"><span class="product-research-header"></span></a><br><span class="text-small text-uppercase letter-spacing-3 margin-five font-weight-600 xs-letter-spacing-none">PRODUCT RESEARCH
</span></li>

                    </ul>
                    <!-- end tab navigation -->
                    <!-- tab content section -->
                    <div class="tab-content">
                        <!-- tab content -->
                        <div id="tab6_sec1" class="text-center center-col tab-pane fade in active">
                            <div class="tab-pane fade in">
                                <div class="col-lg-6 col-md-6 no-padding corporate-standards-img cover-background position-relative" style="background-image:url({% static 'website/images/web/use_cases/media_research.jpg' %});">
                                    <div class="opacity-medium bg-dark-gray"></div>
                                    <p class="title-small text-uppercase corporate-standards-title white-text letter-spacing-7"><span class="title-extra-large no-letter-spacing deep-red-text">01</span><br>MEDIA RESEARCH</p>
                                </div>
                                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                                    <div class="img-border-small-fix border-gray"></div>
                                    <span class="media-research-content-red"></span>
                                    <h3 class="bannerbtn margin-ten no-margin-bottom">Maximize emotional and sales impact of your advertisements; Improve viewer attention & engagement by analyzing metrics that matter</h3><br>
                                    <ul>
                                        <li>Advert testing-video/print/digital</li>
                                        <li>Movie trailer optimization</li>
                                        <li>Audio research</li>
                                        <li>Ad-placement optimization</li>
                                    </ul><br>
                                    <div class="learn-more-btn">
                                        <a href="{% url 'media_research' %}">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- tab content -->
                        <div id="tab6_sec2" class="text-center center-col tab-pane fade in">
                            <div class="tab-pane fade in">
                                <div class="col-lg-6 col-md-6 no-padding corporate-standards-img cover-background position-relative" style="background-image:url({% static 'website/images/web/use_cases/brand_research.jpg' %});">
                                    <div class="opacity-medium bg-dark-gray"></div>
                                    <p class="title-small text-uppercase corporate-standards-title white-text letter-spacing-7"><span class="title-extra-large no-letter-spacing deep-red-text">02</span><br>BRAND RESEARCH
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                                    <div class="img-border-small-fix border-gray"></div>
                                    <span class="brand-research-content-red"></span>
                                    <h3 class="bannerbtn margin-ten no-margin-bottom">Evaluate where your brand stands on an emotional spectrum to strengthen brand building campaigns by assessing your assets</h3><br>
                                    <ul>
                                        <li>Brand campaign effectiveness</li>
                                        <li>Brand affinity tracking</li>
                                        <li>Brand recall analysis</li>
                                        <li>Content research</li>
                                    </ul><br>
                                    <div class="learn-more-btn">
                                        <a href="{% url 'brand_research' %}">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->

                        <!-- tab content -->
                        <div id="tab6_sec3" class="text-center center-col tab-pane fade in">
                            <div class="tab-pane fade in">
                                <div class="col-lg-6 col-md-6 no-padding corporate-standards-img cover-background position-relative" style="background-image:url({% static 'website/images/web/use_cases/product_variant_research.jpg' %});">
                                    <div class="opacity-medium bg-dark-gray"></div>
                                    <p class="title-small text-uppercase corporate-standards-title white-text letter-spacing-7"><span class="title-extra-large no-letter-spacing deep-red-text">03</span><br>PRODUCT RESEARCH
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 corporate-standards-text sm-margin-lr-four sm-margin-top-four xs-padding-tb-ten">
                                    <div class="img-border-small-fix border-gray"></div>
                                    <span class="product-research-content-red"></span>
                                    <h3 class="bannerbtn margin-ten no-margin-bottom">Test your products before launch; Optimize your product and strategy for a successful launch</h3><br>
                                    <ul>
                                        <li>In-store testing</li>
                                        <li>Package testing</li>
                                        <li>Natural environment testing</li>
                                        <li>UI/UX research</li>
                                    </ul><br>
                                    <div class="learn-more-btn">
                                        <a href="{% url 'product_research' %}">LEARN MORE</a>
                                    </div>
                                    {#                                    <button class="schedule_btn" href="#">LEARN MORE</button>#}
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->



                    </div>
                    <!-- end tab content section -->
                </div>
                <!-- end tab -->
            </div>
        </div>
    </section>

    <!-- features section -->
    <section>
        <div class="container">
            <div class="row">
                <p class="nmrheading" style="text-align:center;">Features</p>
                <div class="separator-line-thin bg-orange"></div>
            </div>
            <div class="row sm-margin-top-five" style="margin-top: -30px; ">
                <!-- features item -->
                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                    <img  alt="360 Degree Experience" src="{% static 'website/images/360_degree_exp.png' %}" class="medium-icon no-margin-bottom deep-red-text" style="width:50px;height:50px;">
                    <span class="Montserrat-Regular font-weight-600 letter-spacing-1 black-text margin-ten display-block no-margin-bottom xs-margin-top-five">360 Degree Experience</span>
                    <p class="feature center-col margin-three no-margin-bottom display-block">Go beyond the talk and cognitive biases to truly understand what consumers are looking for with biometric data</p>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                    <img src="{% static 'website/images/multiple_scenario.png' %}" alt="multiple scenario" multiple_scenario class="medium-icon no-margin-bottom deep-red-text" style="width:50px;height:50px;">
                    <span class="Montserrat-Regular font-weight-600 letter-spacing-1 black-text margin-ten display-block no-margin-bottom xs-margin-top-five">Multiple Scenario Testing</span>
                    <p class="feature center-col margin-three no-margin-bottom display-block">Test consumer reactions in different scenarios & record multiple readings during natural/lab environment testing </p>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten">
                    <img src="{% static 'website/images/customer_insight.png' %}" alt="customer insight" class="medium-icon no-margin-bottom deep-red-text" style="width:50px;height:50px;">
                    <span class="Montserrat-Regular font-weight-600 letter-spacing-1 black-text margin-ten display-block no-margin-bottom xs-margin-top-five">Consumer Insights</span>
                    <p class="feature center-col margin-three no-margin-bottom display-block">Understand the consumer's subconscious processing and understand their decision making factors </p>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="{% static 'website/images/immediate_actionable.png' %}" alt="immediate actionable" class="medium-icon no-margin-bottom deep-red-text" style="width:50px;height:50px;">
                    <span class="Montserrat-Regular font-weight-600 letter-spacing-1 black-text margin-ten display-block no-margin-bottom xs-margin-top-five">Immediate Actionables</span>
                    <p class="feature center-col margin-three no-margin-bottom display-block">Get detailed feedback and targeted recommendations on basis of accurate and high quality biometric data</p>
                </div>
                <!-- end features item -->
            </div>
            <br>
            <div class="row">
                <!-- features item -->

                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                    <img src="{% static 'website/images/user_friendly.png' %}" alt="user friendly" class="medium-icon no-margin-bottom deep-red-text" style="width:50px;height:50px;">
                    <span class="Montserrat-Regular font-weight-600 letter-spacing-1 black-text margin-ten display-block no-margin-bottom xs-margin-top-five">User Friendly</span>
                    <p class="feature center-col margin-three no-margin-bottom display-block">Light weight tool as compared to heavy neuro research hardware. Can be set up in just 120 seconds! </p>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                    <img  src="{% static 'website/images/24x7_support.png' %}" alt="24x7 support"  class="medium-icon no-margin-bottom deep-red-text" style="width:50px;height:50px;">
                    <span class="Montserrat-Regular font-weight-600 letter-spacing-1 black-text margin-ten display-block no-margin-bottom xs-margin-top-five">24/7 Support</span>
                    <p class="feature center-col margin-three no-margin-bottom display-block">Tech support from the best minds in data analytics and biometric enthusiasts; Open APIs to integrate any new technology</p>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten">
                    <img  src="{% static 'website/images/improved_roi.png' %}" alt="improved roi" class="medium-icon no-margin-bottom deep-red-text" style="width:50px;height:50px;">
                    <span class="Montserrat-Regular font-weight-600 letter-spacing-1 black-text margin-ten display-block no-margin-bottom xs-margin-top-five">Improved ROI</span>
                    <p class="feature center-col margin-three no-margin-bottom display-block">Make timely decisions during product development lifecycle/marketing campaigns</p>
                </div>
                <!-- end features item -->
                <!-- features item -->
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="{% static 'website/images/easy_analytics.png' %}" alt="easy analytics" class="medium-icon no-margin-bottom deep-red-text" style="width:50px;height:50px;">
                    <span class="Montserrat-Regular font-weight-600 letter-spacing-1 black-text margin-ten display-block no-margin-bottom xs-margin-top-five">Easy Analytics</span>
                    <p class="feature center-col margin-three no-margin-bottom display-block">Capture, view and analyze data using the easy-to-use, responsive and mobile friendly Affect Lab app & Web Dashboard </p>
                </div>
                <!-- end features item -->
            </div>
        </div>
    </section>
    <!-- end features section -->

    <!-- clients reviews section -->
    <section>
        <div class="container" style="margin-top:-55px;">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 text-center corporate-slider sm-margin-bottom-seven ">
                    <p class="nmrheading" style="text-align:center;">What Clients Say?</p>
                    <div class="separator-line-thin bg-orange"></div>
                </div>
                <!-- end section title -->
            </div>
            <div class="row margin-three no-margin-bottom sm-no-margin-top">
                <!-- testimonials item -->
                <div class="col-md-12 col-sm-12 testimonial-style2 text-center wow fadeIn margin-ten no-margin-top sm-margin-top-twenty">
                    <img src="{% static 'website/images/tom.jpg' %}"  alt="client tom" style="margin-top:-85px;"/>
                    <p class="center-col width-90">Being a young startup, one doesn't imagine Neuro Research to be affordable both in terms of putting in effort and price; But with Affect Lab, carrying out user study of our video advertisements and platform content was very straightforward. Their quick turnaround time, reports complete with actionables have helped us create emotionally engaging content for students & in turn increase our average content consumption by 25%</p>
                    <span class="name black-text">Tom patchin - Fictionite</span>
                    <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
                </div>
                <!-- end testimonials item -->

            </div>
            <div class="row margin-three no-margin-bottom sm-no-margin-top">

                <div class="col-md-12 col-lg-12  col-sm-12 col-xs-12">
                    <div class="row grid-border border-top border-panel">
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/publicis-group.png' %}" alt="Publicis Groupe" style="width:100px;height:100px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img  src="{% static 'website/images/web/clients/tam-media.png' %}" alt="Tam Area Research" style="width:100px;height:100px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/hansa.png' %}" alt="Hansa Research" style="width:100px;height:100px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/itc.png' %}" alt="ITC Limited" style="width:80px;height:80px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/dentsu.png' %}" alt="Dentsu Aegis" style="width:80px;height:80px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/brandmovers.png' %}" alt="Brand Movers" style="width:100px;height:100px;"></div></div>
                        </div>

                        <!-- end clients logo -->

                    </div>
                    <div class="row grid-border border-top border-panel">
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/fictionvortex.png' %}" alt="Fiction Vortex" style="width:100px;height:100px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img  src="{% static 'website/images/web/clients/yellow-chalk.png' %}" alt="Yellow Chalk" style="width:100px;height:100px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/easteregg.png' %}" alt="Easter Egg" style="width:100px;height:100px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/meetmarina.png' %}" alt="Meet Maria" style="width:100px;height:100px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/tvf.png' %}" alt="tvf" style="width:80px;height:80px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/go-active.png' %}" alt="GoAktive" style="width:100px;height:100px;"></div></div>
                        </div>

                        <!-- end clients logo -->

                    </div>
                    <div class="row grid-border border-top border-panel no-border">
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/spacebot.png' %}" alt="Space Bot" style="width:100px;height:100px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding border-right">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img  src="{% static 'website/images/web/clients/asymmetrique.png' %}" alt="Asymmetrique" style="width:100px;height:100px;"></div></div>
                        </div>
                        <!-- end clients logo -->
                        <!-- clients logo -->
                        <div class="col-md-2 col-sm-4 col-xs-6 no-padding border-right">
                            <div class="client-logo-outer"><div class="client-logo-inner"><img src="{% static 'website/images/web/clients/fictionite.png' %}" alt="Fictionite" style="width:100px;height:100px;"></div></div>
                        </div>
                    </div>
                </div>
            </div></div>
    </section>
    <section>
        <div class="container">
            <div class="row membermargin">
                <div class="col-md-12 text-center corporate-slider sm-margin-bottom-seven ">
                    <p class="memberhead">Member Of</p>
                    <img src="{% static 'website/images/web/icons/nmbsa-icon.jpg' %}" alt="Neuro Marketing Science & Business Association" class="member">
                </div>
            </div>
        </div>
    </section>

    <div id="videoModal" class="modal fade" role="dialog" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>

            </div>

        </div>
    </div>
    <!-- end clients reviews section -->


{% endblock %}
