{% extends "website/base.html" %}
{% load staticfiles %}
{% block container %}
    <style type="text/css">
        .active-tab a {
            color: #EF5350 !important;
        }

        .nav-white.sticky-nav .navbar-nav li.active-tab a:hover {
            color: #fff !important;
        }

        .nav-white.shrink-nav .navbar-nav li.active-tab a:hover {
            color: #000;
        }
    </style>
    <!-- end navigation panel -->
    <section class="no-padding full-screen cover-background"
             style="background-image: url('{% static 'website/images/mediaresearch.png' %}'); min-height: 697px;">
        <div class="video-background  fit-videos">
            <div class="container full-screen position-relative" style="min-height: 797px;">
                <div class="slider-typography text-center">
                    <div class="slider-text-middle-main">

                        <div class="slider-text-middle padding-left-right-px wow fadeIn animated"
                             style="visibility: visible; animation-name: fadeIn;">
                            <div class="col-lg-offset-1 col-md-offset-1 col-md-9 col-sm-9 col-xs-offset-1 xs-pull-none smallscreen">
                                <span class="advertisement white-text">ADVERTISEMENTS</span>
                                <span class="truly white-text">THAT TRULY</span><br>
                                <span class="move white-text">MOVE YOUR </span>
                                <span class="audience white-text"> AUDIENCE</span><br>
                                <br>
                                <a href="#">
                                    <button class="play-video" data-toggle="modal" data-target="#mediaModal">Play
                                        Video
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrapper full-screen-width z-index-0" style="min-width: 1268px;">
            <!-- video -->
            <video autoplay="" muted="" loop="" class="html-video" preload="auto"
                   poster="{% static 'images/video-bg1.jpg' %}">
                <source type="video/mp4" src="{% static 'website/video/media_research_looping.mp4' %}"/>
            </video>
            <!-- end video -->
        </div>
    </section>

    <!-- slider -->
    <section>
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 text-center no-padding margin-five no-margin-top sm-margin-bottom-ten">
                    <p class="never">Never launch an advertisement that doesn’t create an impact</p>
                </div>
                <!-- end section title -->
            </div>
            <div class="row">
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/research/benchmark.jpg' %}" alt="Benchmark"/>
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">Bench Marking</span><br><br>
                            <!--<span class="destinations-place text-uppercase font-weight-400 letter-spacing-3 black-text display-block">990 Places</span>-->
                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Compare videos across competitors and industries
                                        to set achievable benchmarks
                                    </li>
                                    <br>
                                    <hr class="separator">
                                    <li class="display-block picbody">Conduct a video audit of your media list</li>

                                </ul>


                            </div>


                        </div>
                    </div>
                </div>
                <!-- end tour item -->
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten
                         ">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/research/strategic_media_planning.jpg' %}"
                             alt="Strategic Media"/>
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">Strategic Media Planning</span><br>

                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Maximize video budgets with response prediction
                                    </li>
                                    <br>
                                    <hr class="separator">
                                    <li class="display-block picbody">Test how videos perform in different markets to
                                        refine targeting
                                    </li>
                                    <br>
                                    <hr class="separator">
                                    <li class="display-block picbody">Boost your organic traffic and increase engagement
                                        with emotionally relevant content
                                    </li>
                                    <br>

                                </ul>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- end tour item -->
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/research/optimize_videos.jpg' %}" alt="Optimize Videos"/>
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">IN-Video Analysis</span><br><br>

                            <a href="#" class="highlight-button btn btn-small padd no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Measure second by second emotional response of
                                        test viewers
                                    </li>
                                    <br>
                                    <hr class="separator">
                                    <li class="display-block picbody">Identify segments that don’t resonate with users,
                                        edit videos to evoke the right emotional response
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tour item -->
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/research/custom_reporting.jpg' %}" alt="Custom Report"/>
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">Custom Reporting</span>

                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Export raw data or generate rich, ready-to-use
                                        campaign reports from the dashboard.
                                    </li>
                                    <br>
                                    <hr class="separator">
                                    <li class="display-block picbody">Get insights into video campaigns for immediate
                                        actionables
                                    </li>
                                    <br>

                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- end tour item -->
            </div>
        </div>
    </section>
    <!-- end features section -->

    <!-- end about us section -->
    <section id="our-services" class="our-services no-padding">
        <div class="col-md-6 bg-light-gray padding-five box-min-height sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section"
             style="background-image:url('{% static 'website/images/research/what_we_do.jpg' %}');">
            <div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
                <h1 class="whathead margin-ten no-margin-top orange-light-text">What We Do</h1>
                <div class="whatbody">Sales intelligence powered by emotions. We measure the metrics that matter in
                    getting viewer attention, higher customer engagement and greater conversion rates
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-gray-light padding-five no-padding-bottom sm-padding-bottom-six box-min-height sm-display-table">
            <div class="col-lg-11 col-md-12 pull-left xs-no-padding">
                <ul>
                    <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                        <div class="number orange-light-text">01.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Audio/Video/Digit/Print Advert testing</span>
                            <span class="whatwedo-point"> Test your audio, video, print and digital advertisements to gauge its market impact and optimize for higher conversions</span>
                        </div>
                    </li>

                    <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                        <div class="number orange-light-text">02.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Movie/Show trailer optimization</span>
                            <span class="whatwedo-point"> Get frame by frame emotional analysis of a user watching your trailers. Optimize these pocket sized AVs to stimulate positive brand responses</span>
                        </div>
                    </li>
                    <li class="position-relative font-weight-300 text-extra-large">
                        <div class="number orange-light-text">03.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Ad-placement optimization</span>
                            <span class="whatwedo-point"> Give your ad conversions a boost by testing and optimizing the placement where it gets the most attention from your target market</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="border-bottom clear-both xs-text-center footer-case-studies">
        <div class="container">
            <div class="row" style="    margin-bottom: 4%;">
                <div class="col-md-12 text-center">
                    <label class="headline">Case Studies</label>
                </div>
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/05/12/measuring-emotional-response-to-video-advertisements-a-moment-by-moment-analysis-to-map-parts-of-the-video-with-low-attention-levels-2/"><img-->
                            <!--width="300" height="250"-->
                            <!--src="http://resource.affectlab.io/wp-content/uploads/2017/05/600x450xOLx-1.jpg.pagespeed.ic.ZwTHgfX36d.webp">-->
                        <!--<label class="title">Optimizing Video Advertisements</label>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/09/20/sales-wars-big-billion-day-vs-the-great-indian-festival/"><img-->
                            <!--width="300" height="250"-->
                            <!--src="http://resource.affectlab.io/wp-content/uploads/2017/09/505x512x2017-09-20-Copy.jpg.pagespeed.ic.3xoEpUxsK6.webp">-->
                        <!--<label class="title">SALES WARS – big billion day vs the great indian festival</label>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/05/12/benchmarking-4-video-adverts-against-a-viral-video-advert-to-predict-audience-impact-and-emotional-connectivity-the-4-advertisements-are-likely-to-generate-2/">-->
                        <!--<img width="300" height="250"-->
                             <!--src="http://resource.affectlab.io/wp-content/uploads/2017/05/Brand-movers-300x225.jpg">-->
                        <!--<label class="title">Bench-marking & Ranking Your Videos</label></a>-->

                <!--</div>-->

            </div>
        </div>
    </section>

    <!-- end clients reviews section -->
    <div id="mediaModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>

            </div>

        </div>
    </div>

{% endblock %}

