{% extends "website/base.html" %}
{% load staticfiles %}
{% block container %}
    <style type="text/css">
        .active-tab a {
            color: #EF5350 !important;
        }

        .nav-white.sticky-nav .navbar-nav li.active-tab a:hover {
            color: #fff !important;
        }

        .nav-white.shrink-nav .navbar-nav li.active-tab a:hover {
            color: #000;
        }
    </style>
    <!-- end navigation panel -->
    <section id="slider" class="full-screen no-padding travel-agency-slider">
        <div id="owl-demo" class="owl-carousel owl-theme light-pagination">

            <!-- slider item -->
            <div class="item owl-bg-img product-research-banner">
                <div class="slider-overlay bg-black"></div>
                <div class="container full-screen position-relative">
                    <div class="col-md-12 slider-typography">
                        <div class="slider-text-middle-main pull-left text-left">
                            <div class="slider-text-middle padding-left-right-px wow fadeIn">
                                <div class="col-md-10 col-sm-12 smallscreen">
                                    <span class="launch white-text">LAUNCH A</span><br>
                                    <span class="product white-text">PRODUCT </span>
                                    <span class="launch space white-text">THAT IS</span><br>
                                    <span class="design white-text">DESIGNED FOR </span>
                                    <span class="product white-text">SUCCESS</span><br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
    </section>
    <!-- slider -->
    <section>
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 text-center no-padding margin-five no-margin-top sm-margin-bottom-ten">
                    <p class="never">Understand what consumers are looking for and optimize for growth</p>
                </div>
                <!-- end section title -->
            </div>
            <div class="row" style=" margin-bottom: 4%;">
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/pre_launch_testing.jpg' %}" alt="Competitive Edge"/>
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">Competitive Edge</span><br>
                            <!--<span class="destinations-place text-uppercase font-weight-400 letter-spacing-3 black-text display-block">990 Places</span>-->
                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody"> Identify advantages and disadvantages of
                                        competing approaches for product design, and development to understand what
                                        worked
                                        and what didn’t
                                    </li>
                                    <br>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tour item -->
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten
                         ">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/product_validation.jpg' %}" alt="Holistic Approach"/>
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">Holistic Approach</span>

                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">With Affect Lab you can use either brainwave
                                        mapping or facial decoding combined with a questionnaire and session video
                                        recording
                                    </li>
                                    <br>

                                </ul>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- end tour item -->
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/project_planning.jpg' %}" alt="Project Planning">
                        <div class="popular-destinations-text">
                            <span class="destinations-name picheader">Flexible Project Planning</span><br>

                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Follow agile product development</li>
                                    <br>
                                    <hr class="separator">
                                    <li class="display-block picbody">Conduct multiple tests for all milestones
                                        effectively to develop and launch a successful product
                                    </li>
                                    <br>
                                    <hr class="separator">
                                    <li class="display-block picbody">Identify and
                                        avoid developing under-selling features
                                    </li>
                                    <br>

                                </ul>


                            </div>


                        </div>
                    </div>
                </div>
                <!-- end tour item -->
                <!-- tour item -->
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="popular-destinations position-relative">
                        <img src="{% static 'website/images/actionable_insight.jpg' %}" alt="Easy Analytics"/>
                        <div class="popular-destinations-text" style="padding-top: 50px;">
                            <span class="destinations-name picheader">Easy Analytics</span><br>

                            <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View
                                Details</a>
                        </div>
                        <div class="popular-destinations-highlight">
                            <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Observe user behavior in real time</li>
                                    <br>
                                    <hr class="separator">
                                    <li class="display-block picbody">Export raw data or generate rich, ready-to-use
                                        campaign reports. Improve your product with the
                                        help of educated recommendations
                                    </li>
                                    <br>


                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- end tour item -->
            </div>
        </div>
    </section>
    <!-- end features section -->

    <!-- end about us section -->
    <section id="our-services" class="our-services no-padding">
        <div class="col-md-6 bg-light-gray padding-five box-min-height sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section"
             style="background-image:url('{% static 'website/images/research/whatwedo_product.jpg' %}');">
            <div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
                <h1 class="whathead margin-ten no-margin-top orange-light-text">What We Do</h1>
                <div class="whatbody"> Analyze consumer responses to enhance product experience, optimize your product
                    development and GTM strategy before launch
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-gray-light no-padding-bottom sm-padding-bottom-six box-min-height sm-display-table">
            <div class="col-lg-11 col-md-12 pull-left xs-no-padding">
                <ul>
                    <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                        <div class="number orange-light-text">01.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Package Testing</span>
                            <span class="testingbody"> Test package design concepts to identify creative elements that resonate the most with your consumers and validate product packaging</span>
                        </div>
                    </li>
                    <li class="position-relative font-weight-300 text-extra-large">
                        <div class="number orange-light-text">02.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Natural Environment Testing</span>
                            <span class="testingbody"> Measure consumer responses as they experience products in a natural environment. Understand media and device usage to decode their behavior</span>
                        </div>
                    </li>
                    <br>
                    <li class="position-relative font-weight-300 text-extra-large">
                        <div class="number orange-light-text">03.</div>
                        <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Product Variant Testing</span>
                                <span class="testingbody">Compare product variants during product development to optimize products according to consumer emotions for higher acceptance rate
in the market.</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="border-bottom clear-both xs-text-center footer-case-studies">
        <div class="container">
            <div class="row" style="margin-bottom: 4%;">
                <div class="col-md-12 text-center">
                    <label class="headline">Case Studies</label>
                </div>
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/09/06/product-variant-testing-fmcg/">-->
                        <!--<img width="300" height="250"-->
                             <!--src="http://resource.affectlab.io/wp-content/uploads/2017/09/pexels-photo-339835-300x225.jpg">-->
                        <!--<label class="title">Product Variant Testing – FMCG</label>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/10/12/package-testing-personal-care-category/"-->
                    <!--&gt;<img width="300" height="250"-->
                          <!--src="http://resource.affectlab.io/wp-content/uploads/2017/10/Untitled-1-copy1-300x150.jpg">-->
                        <!--<label class="title">Private: [CASE STUDY] package testing – personal care category</label>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/05/30/402/">-->
                        <!--<img width="300" height="250"-->
                             <!--src="http://resource.affectlab.io/wp-content/uploads/2017/05/fm-300x102.jpg">-->
                        <!--<label class="title">3 Ways human behaviour research can be applied to your-->
                            <!--brand/product</label></a>-->

                <!--</div>-->

            </div>
        </div>
    </section>

    <!-- end clients reviews section -->


{% endblock %}

