{% extends "website/base.html" %}
{% load staticfiles %}
{% block container %}
    <style>
        .active-tab a {
            color: #EF5350 !important;
        }

        .nav-white.sticky-nav .navbar-nav li.active-tab a:hover {
            color: #fff !important;
        }

        .nav-white.shrink-nav .navbar-nav li.active-tab a:hover {
            color: #000;
        }
    </style>

    <!-- slider -->
    <section class="no-padding cover-background">
        <div id="owl-demo" class="owl-carousel owl-theme owl-half-slider">
            <!-- slider item -->
            <div class="item  technology-background ">
                <div class="slider-typography text-center">
                    <div class="slider-text-middle-main">
                        <div class="container position-relative ">
                            <div class="slider-typography text-center">
                                <div class="slider-text-middle-main">

                                    <div class="slider-text-middle padding-left-right-px wow fadeIn">
                                        <div class="col-md-offset-1 col-md-10 col-sm-12">
                                            <p class="bannerbighead white-text">REVOLUTIONIZE <br>PRODUCT EXPERIENCE</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
            </div>
        </div>
    </section>
    <!-- end slider -->


    <section id="section2">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-10 col-sm-10 text-center center-col">
                    <p class="nmrheading" style="text-align:center;">Facial Coding</p>
                    <div class="separator-line-thin bg-orange no-margin-bottom"
                         style="margin-bottom: 15px !important;"></div>
                    <p>Affect Lab uses facial coding to quantify how users feel by analyzing facial expression</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 col-lg-1 col-sm-1  "></div>
                <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 ">

                    <div class="row margin-ten no-margin-bottom sm-no-margin-top" style="margin-top: 4% !important;">
                        <!-- testimonials item -->
                        <div class="col-md-6 col-sm-6 col-xs-6 text-center wow fadeIn margin-seven no-margin-top">

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-2 imgDiv">
                                    <div class="circle ">
                                        <img src="{% static 'website/images/tech/icon/facial_expression.png' %}"
                                             alt="Facial Coding" class="imgsize"/>
                                    </div>
                                </div>
                                <div class=" col-md-9 col-sm-9 col-xs-8 contentCenter" style="margin-top: 10px">

                                    <p class="techhead" style="    margin: 0;">Facial Expressions Identified</p>
                                    <p class="techbody"> Facial expressions of users are identified and <br>
                                        landmarked using Affect Lab's proprietary tech</p>
                                </div>
                            </div>
                        </div>
                        <!-- end testimonials item -->
                        <!-- testimonials item -->
                        <div class="col-md-6 col-sm-6 col-xs-6   text-center wow fadeIn margin-seven no-margin-top">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-2 imgDiv">
                                    <div class="circle ">
                                        <img src="{% static 'website/images/tech/icon/algorithm_calcultation.png' %}"
                                             alt="EEG Heatset" class="imgsize"/>
                                    </div>
                                </div>
                                <div class=" col-md-9 col-sm-9 col-xs-8 contentCenter" style="margin-top: 10px">
                                    <p class="techhead" style="    margin: 0;">Algorithms Calculate Emotions</p>
                                    <p class="techbody">Our deep learning algorithms them calculate<br>
                                        Human emotions with an accuracy of ~85%</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-offset-1  col-sm-offset-1 col-md-offset-1 col-lg-offset-1"></div>
            </div>

        </div>
    </section>
    <section id="section2">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-10 col-sm-10 col-xs-10 text-center center-col">
                    <p class="nmrheading" style="text-align:center;">Brainwave Mapping</p>
                    <div class="separator-line-thin bg-orange no-margin-bottom"
                         style="margin-bottom: 15px !important;"></div>
                    <p>Affect Lab uses EEG(ElectroEncephaloGraphy) to measure user emotion by analyzing brainwave
                        data</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 col-lg-1 col-sm-1  "></div>
                <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 ">
                    <div class="row margin-ten no-margin-bottom sm-no-margin-top" style="margin-top: 4% !important;">
                        <!-- testimonials item -->
                        <!-- end testimonials item -->
                        <!-- testimonials item -->
                        <div class="col-md-6 col-sm-6 col-xs-5 text-center wow fadeIn margin-seven no-margin-top">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-2 imgDiv">
                                    <div class="circle ">
                                        <img src="{% static 'website/images/tech/icon/electrical_activity_calculated.png' %}"
                                             alt="EEG Heatset" class="imgsize "/>
                                    </div>
                                </div>
                                <div class=" col-md-9 col-sm-9 col-xs-8 contentCenter" style="margin-top: 10px">
                                    <p class="techhead" style="    margin: 0;">Electrical Activity Calculated</p>
                                    <p class="techbody">Electrical activity in user's brain are<br>
                                        monitored using Affect Lab's
                                        <br>headset</p>
                                </div>
                            </div>
                        </div>

                        <!-- testimonials item -->
                        <div class="col-md-6 col-sm-6 col-xs-6  text-center wow fadeIn margin-seven no-margin-top">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 imgDiv">
                                    <div class="circle ">
                                        <img src="{% static 'website/images/tech/icon/algorithm_define_metrics.png' %}"
                                             alt="Facial Coding" class="imgsize"/>
                                    </div>
                                </div>
                                <div class=" col-md-9 col-sm-9 col-xs-9 contentCenter" style="margin-top: 10px">
                                    <p class="techhead" style="    margin: 0;">Algorithms Define Metrics</p>
                                    <p class="techbody"> The brain activity data collected by the EEG headset is <br>
                                        then interpreted by Algorithms to define behavioral<br>
                                        and cognitive metrics
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1  col-sm-offset-1 col-md-offset-1 col-lg-offset-1"></div>
            </div>
        </div>
    </section>
    <section id="section2"style="margin-bottom: 4% !important;" >
        <div class="container">
            <div class="row" style="margin-top: 2% !important;">
                <!-- section title -->
                <div class="col-md-10 col-sm-10 col-xs-12 text-center center-col" style="    margin-bottom: 4%;">
                    <p class="nmrheading" style="text-align:center;">Eye Tracking</p>
                    <div class="separator-line-thin bg-orange no-margin-bottom"
                         style="margin-bottom: 15px !important;"></div>
                    <p>Affect Lab uses Remote Eye tracking to monitor where, when, and what people are looking at & for
                        how long</p>
                </div>
            </div>

            <div class="row" id="EyeTracking">
                <div class=" col-md-1  col-sm-1 "></div>
                <div class=" col-md-10  col-sm-10  col-xs-12">

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 text-center wow fadeIn margin-seven no-margin-top">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 imgDiv">
                                    <div class="circle ">
                                        <img src="{% static 'website\images\tech\icon\eye-tracking.png' %}"
                                             alt="Eye Tracking" class="imgsize"/>
                                    </div>
                                </div>
                                <div class=" col-md-9 col-sm-9 col-xs-9 contentCenter" style="margin-top: 10px">
                                    <p class="techhead" style="    margin: 0;">Tracking Eye Movements</p>
                                    <p class="techbody"> Visual activity is monitored using a standard webcam & screen
                                        based Eye
                                        Tracking software
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6  text-center wow fadeIn margin-seven no-margin-top">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 imgDiv">
                                    <div class="circle ">
                                        <img src="{% static 'website/images/tech/icon/flow.png' %}"
                                             alt="Eye Tracking" class="imgsize"/>
                                    </div>
                                </div>
                                <div class=" col-md-9 col-sm-9 col-xs-9 contentCenter" style="margin-top: 10px">
                                    <p class="techhead" style="    margin: 0;">Algorithms calculate Visual Metrics</p>
                                    <p class="techbody"> Image processing algorithms calculate the point of gaze to
                                        create Heat
                                        Maps & Gaze Plots in real-time
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-1  col-sm-1  "></div>

            </div>

        </div>
    </section>

    <section id="portfolio" class="grid-wrap work-4col no-padding wow fadeIn">
        <div class="container-fluid">
            <div class="row no-padding" style="margin-bottom: 4%;">
                <!-- section title -->
                <div class="col-md-12 col-xs-12 col-sm-12 text-center">
                    <p class="emotionhead nmrheading no-padding-bottom">Emotions</p>
                    <div class="separator-line-thin bg-orange no-margin-bottom"></div>
                    {#<div class="separator-line-thin bg-orange no-margin-bottom"#}
                </div>
                {#                 <div class="col-md-12 text-center">#}
                {#                    <p class="teachhead nmrheading">Metrics</p>#}
                {#                    <div class="separator-line-thin bg-orange"></div>#}
                {#                </div>#}
                <!-- end section title -->


                <div class="grid-gallery overflow-hidden">
                    <div class="tab-content">
                        <ul class="masonry-items grid">
                            <!-- portfolio item -->
                            <li class="html jquery wordpress">
                                <figure>
                                    <div class="gallery-img"><img src="{% static 'website/images/tech/anger.jpg' %}"
                                                                  alt="anger"></div>
                                    <figcaption>

                                        <p>Anger</p>
                                    </figcaption>
                                </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- portfolio item -->
                            <li class="html magento wordpress">
                                <figure>
                                    <div class="gallery-img"><img src="{% static 'website/images/tech/disgust.jpg' %}"
                                                                  alt="Disgust"></div>
                                    <figcaption>

                                        <p>Disgust</p>
                                    </figcaption>

                                </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- portfolio item -->
                            <li class="jquery magento wordpress">
                                <figure>
                                    <div class="gallery-img"><img src="{% static 'website/images/tech/fear.jpg' %}"
                                                                  alt="fear"></div>
                                    <figcaption>

                                        <p>Fear</p>
                                    </figcaption>
                                </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- portfolio item -->
                            <li class="wordpress magento jquery">
                                <figure>
                                    <div class="gallery-img"><img src="{% static 'website/images/tech/shocked.jpg' %}"
                                                                  alt="Shocked"></div>
                                    <figcaption>

                                        <p>Shocked</p>
                                    </figcaption>

                                    </figcaption>
                                </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- portfolio item -->
                            <li class="html jquery">
                                <figure>
                                    <div class="gallery-img"><img src="{% static 'website/images/tech/sad.jpg' %}"
                                                                  alt="Sad"></div>
                                    <figcaption>

                                        <p>Sad</p>
                                    </figcaption>
                                </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- portfolio item -->
                            <li class="html magento">
                                <figure>
                                    <div class="gallery-img"><img src="{% static 'website/images/tech/happy.jpg' %}"
                                                                  alt="Happy"></div>
                                    <figcaption>

                                        <p>Happy</p>
                                    </figcaption>
                                </figure>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- features section -->
    <section id="features" class="features wow fadeIn no-margin">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 text-center">
                    <p class="teachhead nmrheading">Metrics</p>
                    <div class="separator-line-thin bg-orange no-margin-bottom"
                         style="margin-bottom: 4% !important;"></div>
                </div>
                <!-- end section title -->
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <!-- features item -->
                    <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                        {#                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><span#}
                        {#                                class="technumber bg-number white-text display-inline-block"></span></div>#}
                        {#                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">#}
                        <h5>Attention</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>A cognitive variable that measures the users focus while watching a video, advertisement
                            or listening to an audio. It provides an overview of how immersive the user is during
                            this period.</p>
                        {#                        </div>#}
                    </div>
                    <!-- end features item -->
                    <!-- features item -->
                    <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                        {#                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><span#}
                        {#                                class="technumber bg-number white-text display-inline-block">02</span></div>#}
                        {#                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">#}
                        <h5>Enjoyability</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>A moment by moment analysis of how much of positive or negative inclination is displayed
                            by user during the course of watching a video, advertisement or listening to an
                            audio</p>
                        {#                        </div>#}
                    </div>
                    <!-- features item -->

                    <!-- end features item -->
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                        {#                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><span#}
                        {#                                class="technumber bg-number white-text display-inline-block"></span></div>#}
                        {#                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">#}
                        <h5>Engagement</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>A key indicator of how a user's brain is processing the video, advertisement or audio.
                            Higher the effort put in by the user to understand the content, greater the complexity
                            and vice-versa</p>
                        {#                    </div>#}
                    </div>
                    <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                        {#                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><span#}
                        {#                                class="technumber bg-number white-text display-inline-block"></span></div>#}
                        {#                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">#}
                        <h5>Emotional Spectrum</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>An emotional measure that covers the user’s mood range across intense or mild to pleasant
                            or unpleasant. Lower emotional score describes droopy or gloomy moods and higher
                            emotional score describes excited or delighted moods</p></div>
                    {#                    </div>#}

                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp">
                        {#                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><span#}
                        {#                                class="technumber bg-number white-text display-inline-block"></span></div>#}
                        {#                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">#}
                        <h5>Activation</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>A variable that ranges from tranquility or boredom to alertness and excitement. It
                            corresponds to similar concepts such as level of activation and stimulation</p>
                        {#                        </div>#}
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- end features section -->
{% endblock %}

