{% extends "website/base.html" %}
{% load staticfiles %}
{% block container %}
    <style type="text/css">
        .active-tab a{
            color:#EF5350 !important;
        }
        .nav-white.sticky-nav .navbar-nav li.active-tab a:hover{
            color:#fff !important;
        }
        .nav-white.shrink-nav .navbar-nav li.active-tab a:hover{
            color:#000;
        }
    </style>
    <!-- end navigation panel -->
     <section class="no-padding full-screen cover-background">
        <div class="item owl-bg-img" style="background-image:url({% static '/website/images/research/ui_ux/ui_ux_cover.jpg' %});">
            <div class="container full-screen position-relative" style="min-height: 797px;">
                <div class="slider-typography text-center">
                    <div class="slider-text-middle-main">

                        <div class="slider-text-middle padding-left-right-px wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                            <div class="col-lg-offset-1 col-md-offset-1 col-md-8 col-sm-6 col-xs-offset-1 xs-pull-none smallscreen">
                                 <span class="enhance white-text">ENHANCE YOUR</span><br>
                                <span class="advertisements white-text">USER SATISFACTION</span><br>
                                        <span class="with white-text">BY </span><span class="advertisements white-text">IMPROVING USABILITY & EFFICIENCY OF INTERACTION</span><br>

                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- slider -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center no-padding margin-five no-margin-top sm-margin-bottom-ten">
                        <p class="never">GOOD UX IS GOOD BUSINESS</p>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row" style="
    margin-bottom: 4%;
">
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/research/ui_ux/vimm.jpg' %}" alt="VIMM/NCPI Framework"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">VIMM/NCPI Framework</span><br>
                                <!--<span class="destinations-place text-uppercase font-weight-400 letter-spacing-3 black-text display-block">990 Places</span>-->
                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">NCPI framework breaks down a website/system into following segments:
                                    <li class="display-block picbody">Navigation, Content, Presentation & Interaction. While VIMM stands for Visual,
                                        Intellectual, Memory and Motor testing</li><br><hr class="separator">
                                    <li class="display-block picbody">These four simple concepts covered in the model, account for 80% of the usability issues</li>


                                </ul>


                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten
                         ">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/research/ui_ux/holistic_approach.jpg' %}" alt="Holistic Approach"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Holistic Approach</span><br>

                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">With Affect Lab you can use either brainwave mapping or facial decoding combined with a questionnaire and navigation video recording</li><br>


                                </ul>

                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/research/ui_ux/quick_turn_around.jpg' %}" alt="Quick Turn Around Time"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Quick Turn Around Time</span><br>

                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                     <ul>
                                    <li class="display-block picbody">Quick & simple testing offers flexibility to brands across different industries, optimize their user experience for higher conversion rates</li><br>


                                </ul>


                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/research/ui_ux/easy_analytics.jpg' %}" alt="Easy Analytics"/>
                            <div class="popular-destinations-text" style="padding-top: 50px;">
                                <span class="destinations-name picheader">Easy Analytics</span><br>

                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                   <ul>
                                    <li class="display-block picbody">Export raw data or generate rich, ready-to-use campaign reports from the dashboard Export raw data or generate rich, ready-to-use campaign reports from the dashboard</li><br><hr class="separator">
                                    <li class="display-block picbody">Get insights into video campaigns for immediate actionables</li><br>
                                </ul>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                </div>
            </div>
        </section>
    <!-- end features section -->

    <!-- end about us section -->
    <section id="our-services" class="our-services no-padding">
            <div class="col-md-6 bg-light-gray padding-five box-min-height sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section" style="background-image:url('{% static 'website/images/research/whatwedo_ui_ux.jpg' %}');">
                <div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
                    <h1 class="whathead margin-ten no-margin-top orange-light-text">What We Do</h1>
                    <div class="whatbody">Help you improve your
                        site/app/game and product user
                        experience from the ground up with
                        conversion focused actionable
                        insights </div>
                </div>
            </div>
            <div class="col-md-6 bg-gray-light padding-five no-padding-bottom sm-padding-bottom-six box-min-height sm-display-table">
                <div class="col-lg-11 col-md-12 pull-left xs-no-padding">
                    <ul>
                        <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                            <div class="number orange-light-text">01.</div>
                            <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Competitive Benchmarking</span>
                                <span class="testingbody">An analysis of how your site or product performs in comparison to your market competitors. Identify
pros & cons of competing approaches</span></div>
                        </li>
                        <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                            <div class="number orange-light-text">02.</div>
                            <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Website/App/Game Usability Audit</span>
                                <span class="testingbody">A detailed audit helps understand how users interact with your interface. Helps create a baseline for
your product</span></div>
                        </li>
                        <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                            <div class="number orange-light-text">03.</div>
                            <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">Brand Recall Analysis</span>
                                <span class="testingbody">Measure both aided and unaided brand awareness to optimize campaigns for increased user familiarity levels.</span></div>
                        </li>
                        <li class="position-relative font-weight-300 text-extra-large">
                            <div class="number orange-light-text">04.</div>
                            <div><span class="black-text testing text-transform-uppercase display-table margin-two-bottom">A/B Testing</span>
                                <span class="testingbody">Compare how your design iterations have impacted the overall user experience or compare two
different design approaches</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    <section class="border-bottom clear-both xs-text-center footer-case-studies">
        <div class="container">
            <div class="row" style="
    margin-bottom: 4%;
">
                <div class="col-md-12 text-center">
                    <label class="headline">Case Studies</label>
                </div>
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/10/11/correlation-between-vimm-scores-and-website-traffic-dropoffs/">-->
                        <!--<img width="300" height="250" src="http://resource.affectlab.io/wp-content/uploads/2017/10/reduce-bounce-rate-copy-300x156.png">-->
                        <!--<label class="title">Private: Case study: Correlation between VIMM Scores and Website Traffic Drop-offs</label>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/09/25/case-study-competitive-benchmarking-ux/">-->
                        <!--<img width="300" height="250"  src="http://resource.affectlab.io/wp-content/uploads/2017/09/Competative-Benchmarking-300x200.jpg">-->
                        <!--<label class="title">Private: Case Study – Competitive UX Benchmarking</label>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<a href="http://resource.affectlab.io/2017/07/28/compartive-ux-study/"><img width="300" height="250" src="http://resource.affectlab.io/wp-content/uploads/2017/07/560x315xFEATUREDIMAGE.jpg.pagespeed.ic.__nOMZJ91n.webp">-->
                        <!--<label class="title">Game On: UX testing for Mobile Games</label></a>-->

                <!--</div>-->

            </div>
        </div>
    </section>

    <!-- end clients reviews section -->


{% endblock %}

