{% load staticfiles %}
<section class="fix-background" style="background-image:url({% static 'website/images/Callout.png'%});">
    <div class="opacity-full bg-deep-red"></div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-5 col-sm-12 sm-margin-bottom-ten sm-text-center">
                <p class="title-large font-weight-700 letter-spacing-1 white-text">Why Choose Us?</p>
                <p class="text-med white-text margin-five">When most market research techniques rely on what users have to say, it is time to give yours a competitive edge by knowing a customer's unarticulated and unsaid feelings</p>
                <h6 class="white-text"><b>DON'T DELIVER A PRODUCT, DELIVER AN EXPERIENCE</b></h6>
            </div>
            <div class="col-md-1 col-sm-1 col-md-offset-1 col-xs-4  text-center margin-three">
                <img alt="Impact" src="{% static 'website/images/impact.png' %}" class="medium-icon no-margin-bottom deep-red-text">
                <p class="font-weight-600 white-text margin-five no-margin-bottom">100%</p>
                <p class="white-text letter-spacing-2 text-small margin-three">Impact on Topline</p>
            </div>

            <div class="col-md-1 col-sm-1 col-md-offset-1 col-xs-4  text-center margin-three">

                <img alt="120 seconds setup Time" src="{% static 'website/images/120_sec_setup.png' %}" class="medium-icon no-margin-bottom deep-red-text">
                <p class="font-weight-600 white-text margin-five no-margin-bottom">120sec</p>
                <p class="white-text letter-spacing-2 text-small margin-three">Setup Time</p>
            </div>

            <div class="col-md-1 col-sm-1 col-md-offset-1 col-xs-4  text-center margin-three">

                <img alt="Emotional Parameters measured" src="{% static 'website/images/parameters.png' %}" class="medium-icon no-margin-bottom deep-red-text">
                <p class="font-weight-600 white-text margin-five no-margin-bottom">20+</p>
                <p class="white-text letter-spacing-2 text-small margin-three">Emotional Parameters Measured</p>

            </div>
        </div>
    </div>
</section>