@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');

/** dashboard master layout start **/
@font-face {
    font-family: 'pnaltlight';
    src: url('../fonts/pnaltlight.otf') format('openType');
}

@font-face {
    font-family: 'pnaltcondensedlight';
    src: url('../fonts/pnaltcondensedlight.otf') format('openType');
}
@font-face {
    font-family: 'pnaltblack';
    src: url('../fonts/pnaltblack.otf') format('openType');
}
@font-face {
    font-family: 'pnaltbold';
    src: url('../fonts/pnaltbold.otf') format('openType');
}
@font-face {
    font-family: 'pnaltextrabold';
    src: url('../fonts/pnaltextrabold.otf') format('openType');
}
@font-face {
    font-family: 'pnaltextracondensedbold';
    src: url('../fonts/pnaltextracondensedbold.otf') format('openType');
}
@font-face {
    font-family: 'pnbold';
    src: url('../fonts/pnbold.otf') format('openType');
}

html, body
{
    font-family: pnaltlight,sans-serif;
    min-width: 1250px !important;
    background-color: #eee;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background-color: #273234;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid #c1d1dc;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 175px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    margin-bottom: 0px !important;

}

.sidebar-nav li {
    padding-left: 5px;
    line-height: 10px;
    background: #273234;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #e6e6e5;
    padding:18px 0;
    font-family: pnaltlight;
    font-size: 13px;
    padding-left: 15px;
}
.sidebar-nav li a span{
    padding-left: 4px;
}

.sidebar-nav li a .sidebar-icon
 {
     background-image: url("../img/sprite-icons.png");
     background-repeat: no-repeat;
     display: inline-block;
     padding-right: 7px;
     vertical-align: middle;
    background-size: 30px;
 }


.sidebar-nav li a .sidebar-icon.overview {
   /* background-position: -25px -1px;
    height: 26px;
    width: 26px;*/
    background-position: -1px 0px;
    height: 16px;
    width: 13px;
}
.sidebar-nav li a .sidebar-icon.content-list {
    /*background-position: 1px -21px;
    height: 23px;
    width: 23px;*/
    background-position: 0px -15px;
    height: 14px;
    width: 14px;
}
.sidebar-nav li a .sidebar-icon.user-list {
    /*background-position: 1px -45px;
    height: 23px;
    width: 23px;*/
    background-position: 0px -28px;
    height: 14px;
    width: 15px;
}
.sidebar-nav li a .sidebar-icon.intelligent-cluster {
  /*  background-position: 1px -70px;
    height: 23px;
    width: 24px;*/
    background-position: 0px -71px;
    height: 18px;
    width: 15px;
}
.sidebar-nav li a .sidebar-icon.notification {
   /* background-position: 1px -89px;
    height: 26px;
    width: 26px;*/
    background-position: 0px -42px;
    height: 14px;
    width: 15px;
}
.sidebar-nav li a .sidebar-icon.ab-testing {
    background-position: 1px -109px;
    height: 23px;
    width: 23px;
}
.sidebar-nav li a .sidebar-icon.settings {
    /*background-position: 1px -148px;
    height: 26px;
    width: 26px;*/
        background-position: 0px -89px;
    height: 17px;
    width: 15px;
}

.sidebar-nav li a .sidebar-icon.user-emotion {
    /*background-position: 1px -148px;
    height: 26px;
    width: 26px;*/
        background-position: 0px -56px;
    height: 15px;
    width: 15px;
}
.sidebar-nav li.active a .sidebar-icon.overview{
    background-position: -15px 0px;
}
.sidebar-nav li.active a .sidebar-icon.content-list{
    background-position: -15px -15px;
}
.sidebar-nav li.active a .sidebar-icon.user-list{
    background-position: -15px -28px;
}
.sidebar-nav li.active a .sidebar-icon.intelligent-cluster{
    background-position: -15px -71px;
}
.sidebar-nav li.active a .sidebar-icon.user-emotion{
    background-position: -15px -56px;
}
.sidebar-nav li.active a .sidebar-icon.notification{
    background-position: -15px -42px;
}
.sidebar-nav li.active a .sidebar-icon.ab-testing{
    background-position: -15px -109px;
}
.sidebar-nav li.active a .sidebar-icon.settings{
    background-position: -15px -89px;
}



.sidebar-nav li.active {
    color: #ffefd6;
    background: #fff;
    -moz-box-shadow: inset 0 0 4px #232323;
    -webkit-box-shadow: inset 0 0 4px #232323;
    box-shadow: inset 0 0 4px #232323;

}
.sidebar-nav li.active a {
    background-color: #f58345;
}
.sidebar-nav li:hover {
    background: #3b4446;
    color: #8a8a89;
    box-shadow: none;
}
.sidebar-nav li a:hover {
      background: #3b4446;
}
.sidebar-nav > .sidebar-brand a {
    color: #747d94;
}
.navbar-brand {
    padding: 6px 15px;
}
.navbar-brand> img {
    height: 35px;
}
.navbar-default{
    background-color: #fff;
    border:0px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        width: 176px;
    }
    .navbar-header{
        width:175px;
        margin-left:-15px !important;
        border-color:#212b2d !important;

    }
    .navbar>.container-fluid .navbar-brand{
        margin-left: 0px !important;
    }
}
/** dashboard master layout End **/


.cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #3487f7;
    border-radius: 2px;
    color: #3487f7;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.cta:hover {
    background-color: #3487f7;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentContainer {
    outline: 1px solid #aaa;
    width: 180px;
    height: 122px;
    float: left;
    margin: 10px;
    background-color: #ececec;
    overflow: hidden;

}
.userContainer {
    outline: 1px solid #aaa;
    width: 180px;
    height: 130px;
    float: left;
    margin: 10px;
    background-color: #ececec;
    overflow: hidden;

}
.w3-container{
    margin-top: 25px;
}
.rectangle_bg table {
    margin-top: 40px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-left: 50px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.card_circle{
    background-color: #ffffff;
    background-size: cover;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -114px;
    width: 220px;
    height: 130px;
}
.card_rectangle{
    background-color: #ffffff;
    background-size: cover;
    margin-left: -20px;
    margin-top: -156px;
    width: 220px;
    height: 130px;
}
[class^="view_link"] {
    /* display: inline-block; */
    /* vertical-align: middle; */
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.view_link{
	 width:100%;
	 text-align:center;
     display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

}
.view_link:hover{
	color:#fff;
}
.view_link:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0087C0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.view_link:hover:before, .view_link:focus:before, .view_link:active:before{
   -webkit-transform: scaleY(1);
    transform: scaleY(1);
}


.view_link > div{
	margin-top:5px;
}

.contentContainer img,.userContainer img {
    float: left;
    margin: 10px;
}

.contentContainer ul,.userContainer ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 10px !important;
}

.contentContainer button,.userContainer button {
    float: right;
    margin: 10px;
}

.contentContainer .hide,.userContainer .hide{
	display:none;
}
.contentContainer div:first-child{
	height:80px;
}
.userContainer div:first-child{
	height:90px;
}
.happy{
	background-color: yellow !important;
}
.relaxed{
	background-color: orange !important;
}
.stressed{
	background-color: #ff4d4d !important;
}
.upset{
	background-color: #1fab1f !important;
}
.headline_header {
    height: 40px;
    padding: 16px 20px;
    border-bottom: 1px solid #ced4e0;
    background-color: #eff2f7;
    background-image: -webkit-linear-gradient(#f3f5f9 0,#eaedf4 100%);
    background-image: linear-gradient(#f3f5f9 0,#eaedf4 100%);
    box-shadow: inset 0 1px #fff,0 1px 1px rgba(100,100,100,0.1);
}
.header_text {
    float: left;
    font-family: Raleway,sans-serif;
    font-size: 16px;
    color: #5c617b;
    white-space: nowrap;
    line-height: .4;
}
#page-content-wrapper{
    margin-top: 50px;
    min-width: 1250px;
}
#addContent label, #addContent input {
    display: block;
    margin-bottom: 10px;
    float: left;
}




#addContent label[for="title"], #addContent label[for="releaseDate"] {
    clear: both;
}

#addContent button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}

#addContent div {
    width: 550px;
}

#addContent div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}
table, th, td {
    border: 1px solid black;
}
a{
    color: #0088c0;
}
.row-space{
    margin-top: 10px;
}

.form-control{
    height:30px !important;
    border:0;
    border-radius: 0;
}
.form-inline{
    margin-left:88px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.cf-wrapper{
    background-color: #fbfbfb;
    border: 1px solid #c4c9d8;
    margin: 10px 10px;
}
.cf-wrapper .top-bar {
    padding:10px;
}
.custom_filter{
    padding: 0px 15px;
}
.custom_filter .form-inline div{
    display: inline-block;
}
.cf-wrapper-top-bar{
    box-shadow: inset 0 1px #fff,0 1px 1px rgba(0,0,0,0.03);
    position: relative;
    height: 50px;
    background-color: #eff2f9;
    border-bottom: 1px solid #e0e4ec;
    border-radius: 3px 3px 0 0;

}
.cf_bottom_bar{
    background-color: #eff1f6;
    border: 1px solid #c4c9d8;
    box-shadow: inset 0 1px #fff,0 1px 1px rgba(0,0,0,0.03);
    padding: 10px;
    border-radius: 0 0 3px 3px;
    text-align: right;
    position: relative;
}
.button_primary, .button_primary:visited {
    background-color: rgb(2, 137, 193);
    background-image: linear-gradient(rgb(11, 145, 195) 0px, rgb(83, 160, 238) 100%);
    box-shadow: rgb(9, 142, 193) 0px 1px 1px inset, rgba(0, 0, 0, 0.2) 0px 2px 2px -1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(1, 136, 193);
    border-image: initial;
}
.cf_bottom_bar .button.show {
    cursor: pointer;
    padding: 6px 12px;
    width: 7%;
}
.cf-top-label{
    color:#1e7da8;
    margin-right: 10px;
    margin-left: 30px;
}
/** Intelligent Cluster CSS**/
.andorswitch {
    position: absolute;
    float: left;
    width: 90px;
    height: 30px;
    top: -14px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.andorswitch-checkbox {
    display: none;
}
.andorswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.andorswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.andorswitch-inner:before, .andorswitch-inner:after {
    display: block; float: left; width: 50%;
    height: 25px;
    padding: 0;
    line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.andorswitch-inner:before {
    content: "AND";
    padding-left: 10px;
    background-color: #00a3ad; color: #FFFFFF;
}
.andorswitch-inner:after {
    content: "OR";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.andorswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.andorswitch-checkbox:checked + .andorswitch-label .andorswitch-inner {
    margin-left: 0;
}
.andorswitch-checkbox:checked + .andorswitch-label .andorswitch-switch {
    right: 0px;
}


.custom_filter .new_row {
    background: url('../img/new_row.png');
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: 11px;
}

.custom_filter .remove_row {
    width: 22px;
    height: 20px;
    margin: 6px 4px;
    background-image: url('../img/red_x.png');
    background-position: 0 0;
    display: inline-block;
    top: 13px;
    position: relative;

}
.custom_filter .remove_row:hover {
    background-position: 0 -16px;
}
.grey_horz {
    /*display: inline-block;*/
    position: relative;
    top: -4px;
    width: 55px;
    border-left: 1px solid #fbfbfb;
    border-bottom: 1px solid #bfcfda;
    /*display: none;*/
}
 .cfandorswitch-label {
     position: relative;
     z-index: 1;
     display: block;
     float: left;
     width: 90px;
     padding: 5px 0;
     background: #dfe2ec;
     color: #747d94;
     font-weight: bold;
     text-align: center;
     text-shadow: 0 1px rgba(255, 255, 255, 0.5);
     text-transform: uppercase;
     border-radius: 18px;
     margin-top: -10px;
     font-size: 12px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
 }
    /*gesture page css*/
    .add_padding{
            display: inline-block;
            padding-bottom:5px;
            font-family:pnaltlight;
        }
        .date_row{
            box-shadow: 0 0 5px rgba(0,0,0,0.35);
            background-color: white;
            margin-top: 10px;
            margin-left: -20px;
            margin-right: -10px;
        }
        .custom-event-filter{
            margin:10px 0;
        }
        .custom-event-filter .form-inline{
            margin:0 !important;
        }
        .date_row input[type="text"]{
            width: 141px;
            height: 34px;
        }
        .date_row input[type="button"]{
            margin-left: 50px;
            width: 100px;
            height:35px;
        }

        .graph-container{
            margin-top: 20px;
        }
        .chart-switcher{
            display: inline-flex;
            position: relative;
            float: right;
            text-align: center;
        }
        .chart-switcher .switcher_side {
            border: 1px rgba(30,165,128,0.1);
            /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
            height: 24px;
            line-height: 22px;
            width: 26px !important;
            padding: 0;
            color: #858ea4;
            background-color: #f8f8fa;
            /*background-image: -webkit-linear-gradient(#fcfcfc 0,#f1f3f6 100%);*/
            /*background-image: linear-gradient(#fcfcfc 0,#f1f3f6 100%);*/
        }
        #duration_table, #outcome_table{
            display: none;
            margin-left: 30px;
        }
        table,td,th{
            border: 1px solid #2baae0;
            font-family: pnaltlight;
        }
        tr td:nth-of-type(2){
            text-align: center;
        }
        thead tr td{
            color: #2baae0;
            font-size: 20px;
            font-family: pnaltbold;
        }
        .switcher_side div span a{
            visibility: hidden;
        }
        .rectangle_bg table td{
            height:50px
        }

        .add_padding:nth-of-type(3){
            float: right;
            margin-top: 10px !important;
            padding-right: 10px;
        }
        .filter-record{
            width: 60px !important;
            margin-left: 0px !important;
        }
    .date-picker{
        border: 1px solid #1e7da8;
    }

   .add_padding .ui-datepicker-trigger {
            background-image:  url("../img/dashboard_icons.png");
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: 7px 9px;
            background-size: 19px;
            border: 0;
            padding-left: 16px;
            position: relative;
            top: 9px;
            left: -34px;
            width: 33px;
            height: 30px;
        }

        .add_padding .ui-datepicker-trigger:hover{
                background-color: #eee;
        }
        .switcher_side>div.pie{
            background-image: url("../img/dashboard_icons.png") ;
            background-repeat: no-repeat;
            background-position: 6px -20px;
            background-size: 15px;
            background-color: #fff;
        }
       .switcher_side.active>div.pie{
            background-color: #eee ;
        }
        .switcher_side>div.table{
            background-image:  url("../img/dashboard_icons.png")  ;
            background-repeat: no-repeat;
            background-position: 5px -44px;
            background-size: 15px;
            background-color: #fff;
        }
        .switcher_side.active>div.table{
            background-color: #eee;
        }
          .switcher_side{
            width: 30px !important;
        }
button.multiselect.dropdown-toggle.btn.btn-default{
    border: 1px solid #1e7da8;
    border-radius: 0 !important;
}
.filter-record{
    background-color: #1e7da8;
    color: #fff;
    border:0;
    font-family: pnaltbold;
}
  @-moz-document url-prefix() {
           .date_row input[type="text"]{
               margin-top: 10px;
           }
           .add_padding .ui-datepicker-trigger {
               top:-4px;
            }
        }
  .no-padding-right{
      padding-right:0px;
  }