/* graph */

.rickshaw_graph {
	position: relative;
}
.rickshaw_graph svg {
	display: block;
	overflow: hidden;
}

/* ticks */

.rickshaw_graph .x_tick {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0px;
	border-left: 1px dotted rgba(0, 0, 0, 0.2);
	pointer-events: none;
}
.rickshaw_graph .x_tick .title {
	position: absolute;
	font-size: 12px;
	/*font-family: Arial, sans-serif;*/
	opacity: 0.5;
	white-space: nowrap;
	margin-left: 3px;
	bottom: 1px;
}

/* annotations */

.rickshaw_annotation_timeline {
	height: 1px;
	border-top: 1px solid #e0e0e0;
	margin-top: 10px;
	position: relative;
}
.rickshaw_annotation_timeline .annotation {
	position: absolute;
	height: 6px;
	width: 6px;
	margin-left: -2px;
	top: -3px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.25);
}
.rickshaw_graph .annotation_line {
	position: absolute;
	top: 0;
	bottom: -6px;
	width: 0px;
	border-left: 2px solid rgba(0, 0, 0, 0.3);
	display: none;
}
.rickshaw_graph .annotation_line.active {
	display: block;
}

.rickshaw_graph .annotation_range {
        background: rgba(0, 0, 0, 0.1);
        display: none;
        position: absolute;
        top: 0;
        bottom: -6px;
}
.rickshaw_graph .annotation_range.active {
        display: block;
}
.rickshaw_graph .annotation_range.active.offscreen {
        display: none;
}

.rickshaw_annotation_timeline .annotation .content {
	background: white;
	color: black;
	opacity: 0.9;
	padding: 5px 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	position: relative;
	z-index: 20;
	font-size: 12px;
	padding: 6px 8px 8px;
	top: 18px;
	left: -11px;
	width: 160px;
	display: none;
	cursor: pointer;
}
.rickshaw_annotation_timeline .annotation .content:before {
	content: "\25b2";
	position: absolute;
	top: -11px;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
}
.rickshaw_annotation_timeline .annotation.active,
.rickshaw_annotation_timeline .annotation:hover {
	background-color: rgba(0, 0, 0, 0.8);
	cursor: none;
}
.rickshaw_annotation_timeline .annotation .content:hover {
	z-index: 50;
}
.rickshaw_annotation_timeline .annotation.active .content {
	display: block;
}
.rickshaw_annotation_timeline .annotation:hover .content {
	display: block;
	z-index: 50;
}
.rickshaw_graph .y_axis,
.rickshaw_graph  .x_axis_d3 {
	fill: none;
}
#x_axis .x_axis_d3,#x_axis_distribution .x_axis_d3 {
	max-width: 100% !important;
    margin-left: 40px;
	margin-top: -8px;
}
.rickshaw_graph .y_ticks .tick line,
.rickshaw_graph .x_ticks_d3 .tick {
	stroke: rgba(0, 0, 0, 0.16);
	stroke-width: 2px;
	shape-rendering: crisp-edges;
	pointer-events: none;
}
.rickshaw_graph .y_grid .tick,
.rickshaw_graph .x_grid_d3 .tick {
	z-index: -1;
	stroke: rgba(0, 0, 0, 0.20);
	stroke-width: 1px;
	stroke-dasharray: 1 1;
}
.rickshaw_graph .y_grid .tick[data-y-value="0"] {
	stroke-dasharray: 1 0;
}
.rickshaw_graph .y_grid path,
.rickshaw_graph .x_grid_d3 path  {
	fill: none;
	stroke: none;
}
.rickshaw_graph .y_ticks path,
.rickshaw_graph .x_ticks_d3 path {
	fill: none;
	stroke: #808080;
}
.rickshaw_graph .y_ticks text,
.rickshaw_graph .x_ticks_d3 text {
	opacity: 0.5;
	font-size: 12px;
	pointer-events: none;
}
.rickshaw_graph .x_tick.glow .title,
.rickshaw_graph .y_ticks.glow text {
	fill: black;
	color: black;
	text-shadow:
		-1px 1px 0 rgba(255, 255, 255, 0.1),
		1px -1px 0 rgba(255, 255, 255, 0.1),
		1px 1px 0 rgba(255, 255, 255, 0.1),
		0px 1px 0 rgba(255, 255, 255, 0.1),
		0px -1px 0 rgba(255, 255, 255, 0.1),
		1px 0px 0 rgba(255, 255, 255, 0.1),
		-1px 0px 0 rgba(255, 255, 255, 0.1),
		-1px -1px 0 rgba(255, 255, 255, 0.1);
}
.rickshaw_graph .x_tick.inverse .title,
.rickshaw_graph .y_ticks.inverse text {
	fill: white;
	color: white;
	text-shadow:
		-1px 1px 0 rgba(0, 0, 0, 0.8),
		1px -1px 0 rgba(0, 0, 0, 0.8),
		1px 1px 0 rgba(0, 0, 0, 0.8),
		0px 1px 0 rgba(0, 0, 0, 0.8),
		0px -1px 0 rgba(0, 0, 0, 0.8),
		1px 0px 0 rgba(0, 0, 0, 0.8),
		-1px 0px 0 rgba(0, 0, 0, 0.8),
		-1px -1px 0 rgba(0, 0, 0, 0.8);
}

/********************************************
* Details. css file
*
*********************************************
*/
.rickshaw_graph .detail {
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.1);
	bottom: 0;
	width: 1px;
	transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	-webkit-transition: opacity 0.25s linear;
}
.rickshaw_graph .detail.inactive {
	opacity: 0;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
}
.rickshaw_graph .detail .x_label {
	/*font-family: Arial, sans-serif;*/
	border-radius: 3px;
	padding: 6px;
	opacity: 0;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	position: absolute;
	background: white;
	white-space: nowrap;
}
.rickshaw_graph .detail .x_label.left {
	left: 0;
}
.rickshaw_graph .detail .x_label.right {
	right: 0;
}
.rickshaw_graph .detail .item {
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: 0.25em;
	font-size: 12px;
	/*font-family: Arial, sans-serif;*/
	opacity: 0;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin-left: 1em;
	margin-right: 1em;
	margin-top: -1em;
	white-space: nowrap;
}
.rickshaw_graph .detail .item.left {
	left: 0;
}
.rickshaw_graph .detail .item.right {
	right: 0;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
	background: rgba(0, 0, 0, 0.8);
}

.rickshaw_graph .detail .item:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;

	content: "";

	border: 5px solid transparent;
}
.rickshaw_graph .detail .item.left:after {
	top: 1em;
	left: -5px;
	margin-top: -5px;
	border-right-color: rgba(0, 0, 0, 0.8);
	border-left-width: 0;
}
.rickshaw_graph .detail .item.right:after {
	top: 1em;
	right: -5px;
	margin-top: -5px;
	border-left-color: rgba(0, 0, 0, 0.8);
	border-right-width: 0;
}
.rickshaw_graph .detail .dot {
	width: 4px;
	height: 4px;
	margin-left: -3px;
	margin-top: -3.5px;
	border-radius: 5px;
	position: absolute;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: white;
	border-width: 2px;
	border-style: solid;
	display: none;
	background-clip: padding-box;
}
.rickshaw_graph .detail .dot.active {
	display: block;
}

/*
*********************************************
* Legend CSS
*********************************************
*/

.rickshaw_legend {
	/*font-family: Arial;*/
	font-size: 12px;
	color: white;
	background: #404040;
	display: inline-block;
	padding: 12px 5px;
	border-radius: 2px;
	position: relative;
}
.rickshaw_legend:hover {
	z-index: 10;
}
.rickshaw_legend .swatch {
	width: 10px;
	height: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.rickshaw_legend .line {
	clear: both;
	line-height: 140%;
	padding-right: 15px;
}
.rickshaw_legend .line .swatch {
	display: inline-block;
	margin-right: 3px;
	border-radius: 2px;
}
.rickshaw_legend .label {
	margin: 0;
	white-space: nowrap;
	display: inline;
	font-size: inherit;
	background-color: transparent;
	color: inherit;
	font-weight: normal;
	line-height: normal;
	padding: 0px;
	text-shadow: none;
}
.rickshaw_legend .action:hover {
	opacity: 0.6;
}
.rickshaw_legend .action {
	margin-right: 0.2em;
	/*font-size: 10px;*/
	opacity: 0.2;
	cursor: pointer;
	font-size: 14px;
}
.rickshaw_legend .line.disabled {
	opacity: 0.4;
}
.rickshaw_legend ul {
	list-style-type: none;
	/*margin: 0;*/
	padding: 0;
	margin: 2px;
	cursor: pointer;
}
.rickshaw_legend li {
	padding: 0 0 0 2px;
	min-width: 80px;
	white-space: nowrap;
}
.rickshaw_legend li:hover {
	background: rgba(255, 255, 255, 0.08);
	border-radius: 3px;
}
.rickshaw_legend li:active {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}

/*
*****************************************
Extension css
*****************************************
 */
div, span, p, td {
	/*font-family: Arial, sans-serif;*/
}
#chart,#chart_distribution {
	display: inline-block;
}
#chart path,#chart_distribution path {
	-webkit-transition: opacity 0.2s linear;
}

#legend {
	display: inline-block;
	position: relative;
	left: 8px;
}
#legend_container {
	position: absolute;
	right: 0;
	bottom: 26px;
	width: 0;
}
#chart_container {
	position: relative;
	display: inline-block;

}
#smoother,#smoother_distribution {
	margin: 0 0 10px 16px;
	width: 100px;
}
/*.rickshaw_graph .detail {*/
	/*left: -1000;*/
/*}*/
#chart ,#chart_distribution{
	border: 1px solid #f0f0f0;
}
#side_panel {
	background-color: #fff;
    margin-bottom: 10px;
    padding: 13px 0 0 31px;
	width: 84%;
	/*width: 240px;*/
	display: inline-block;
	vertical-align: top;
}
#side_panel section {
	color: #505050;
	font-size: 12px;
}
#side_panel section h6 {
	margin: 0 0 1em 0;
	font-size: 12px;
	font-weight: normal;
}
#side_panel .ui-slider-horizontal {
	height: 1px !important;
	border-color: #e0e0e0;
	margin-bottom: 10px;
}
#side_panel .ui-slider-handle {
	border-color: #a0a0a0;
	height: 9px !important;
	width: 9px !important;
	top: -5px !important;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
#side_panel div label{
    background-position: 10% 50%;
    line-height: 50px !important;
}
#legend {
	background-color: white;
	margin-left: 0;
	padding: 0;
	left: 0;
}
#legend .label {
	color: #404040;
}
#legend .action {
	color: black;
	opacity: 0.5;
}
#legend ul {
	padding: 0;
}
h1 {
	/*font-family: Franklin Gothic Medium, UnDotum, Helvetica, Arial;*/
	font-weight: normal;
	font-size: 20px;
}
section {
	border: none;
	border-top: 1px solid #eaeaea;
	padding: 15px 0;
}
#smoother,#smoother_distribution {
	margin: 5px 0 0 10px;
	width: 20%;
}
label.disabled {
	opacity: 0.4;
}
#renderer_form.toggler {
	display: inline-block;
	margin-left: 27px;
    width: 25%;
}
#renderer_form.toggler input[type=radio]:checked {
	outline: 2px solid steelblue;
}
#renderer_form.toggler input[type=radio] {
	-moz-appearance: button;
	background: white;
	margin: 0 7px;
	width: 39px;
	height: 26px;
	position: absolute;
}
#renderer_form.toggler label {
	background-repeat: no-repeat;
    cursor: pointer;
    /*border: 1px solid;*/
    height: 50px;
    font-size: 20px;
	width: 100%;
    display: block;
}
.right_pane table thead tr td,
.right_pane table tbody tr td{
	text-transform: capitalize;
}
#interpolation_form{
    margin-top: 4px;
}
#renderer_form,#offset_form{
    margin-top: -8px;
}
#interpolation_form label:hover,
#offset_form label:hover,
#renderer_form label:hover{
    background-color: #dedede;
}
#interpolation_form,
#offset_form {
	vertical-align: top;
	display: inline-block;
	width: 25%;
	margin-left: 20px;
}
#interpolation_form label,
#offset_form label {
	display: block;
}
label[for=area] {
	background: url(images/om_stack.png);
}
label[for=line] {
	background: url(images/om_lines.png);
}
label[for=bar] {
	background: url(images/om_bar.png);
}
label[for=scatter] {
	background: url(images/om_scatter.png);
}
#interpolation_form label {
	margin-bottom: 20px;
}
input[type=radio]{
	position: absolute;
    clip: rect(1px,1px,1px,1px);
}
#offset_form label,
#interpolation_form label {
	background-repeat: no-repeat;
	background-position: 2em center;
	cursor: pointer;
	/*border: 1px solid;*/
    height: 50px;
	font-size: 20px;

    /*padding: 5px;*/
	/*cursor: hand;*/
}
#offset_form label span,
#interpolation_form label span ,
#renderer_form label span{
	padding-left: 80px;
}
label[for=stack] {
	background-image: url(images/offset_stack.png);
}
label[for=pct] {
	background-image: url(images/offset_pct.png);
}
label[for=stream] {
	background-image: url(images/offset_stream.png);
}
label[for=value] {
	background-image: url(images/offset_value.png);
}
label[for=cardinal] {
	background-image: url(images/interp_cardinal.png);
}
label[for=linear] {
	background-image: url(images/interp_linear.png);
}
label[for=step] {
	background-image: url(images/interp_step.png);
}

#smoother,#smoother_distribution, #preview,#preview_distribution{
		border: 1px solid #AAA;
		background: #000;
		cursor: default;
		display: block;
		height: 1px;
		width: 100%;
		padding-left: 16px;
		clear: both;
		margin-top:10px;
	}

	.ui-slider-handle {
		margin-top:-4px !important;
	}

	 table{
            background: white;
            border-radius: 0;
            border: 1px solid #000000;
        }

        body{
            height:90%;
        }
        .body_text span,.body_text label{
            font-size: 16px;
        }

        #chart_container {
            position: relative;
            /*height:770px;*/
			width : 100%;
            padding: 15px;
        }
        #chart ,#chart_distribution{
            position: relative;
            left: 5px;
        }
        .rickshaw_graph .y_ticks {
            left: 0;
        }
        #y_axis{
            position: absolute;
            top: -10px;
            bottom: 0;
            width: 40px;
            padding-top: 10px;
        }#y_axis_distribution {
			 position: absolute;
			 bottom: 29px;
			 width: 40px;
			 padding-top: 10px;

		 }
        .dropdown_btn{
            height: 50px;
        }
        .dropdown_btn,.dropdown-menu{
            margin: 0;
            width: 100% !important;
            text-align: left;
            /*font-size: 20px;*/
            /*font-weight: 900;*/
            color: #646464;
            border-radius: 0;
        }
        .right_align{
            float: right;
            vertical-align: middle;
        }
        tr td, .box_text,.reset_btn{
            text-align: center;
            width: 100px;
            height:50px;
            cursor: pointer;
            color:#646464;
            vertical-align: middle !important;
            font-weight: 400 !important;
            font-size: 16px;
        }
        .rickshaw_graph .x_tick .title{
            position: absolute;
            opacity: 0.5;
            white-space: nowrap;
            margin-left: 3px;
            bottom: -33px;
            color: #333;
        }
        .caret{
            margin-top: 6px;
            opacity: 0.4;
        }
        .selected_param,.selected_param:hover{
            background-color: #808080 !important;
            color: #fff !important;
            font-weight: 400 !important;
            text-decoration: none;
            text-shadow: -1px -1px 0 #444;
            box-shadow: inset 2px 2px 8px 0 #000;

        }
        table tr td:hover{
            background-color: #dedede;
        }
        .row-fluid h4{
            font-weight: bold;
            color: #000;
        }
        .dropdown-menu li a{
            font-weight: 100;
            color: #646464;
            font-size: 12px !important;
        }
        .right_table thead tr td{
            background-color: #e6e6e6;
        }
		.right_table1 thead tr td{
            background-color: #e6e6e6;
        }
        span.box_text{
            text-align: left;
            border: 1px solid rgba(204, 204, 204, 0.39);
            width: 200px;
            height: 32px;
            padding: 7px 18px;
            text-transform: capitalize;
            float: right;
            font-size: 20px;
            margin-top: -2px;
        }

        .light_text{
            opacity: 0.4;
            padding-left: 10px;
            font-size: 15px;
        }
        .box_text .caret{
            float: right;
        }
        .export_div{
            float: right;
            background-color: white;
            border: 1px solid black;
            padding: 8px;
            width: 15.5%;
            font-size: 12px;
            font-weight: 700;
            height: 34px;
            padding-top: 9px;
            margin-top: 4px;
            padding-left: 20px;
        }
        .left_smooth{
            color: #646464;
            float: left;
            padding: 4px;
            font-size: 16px;
            font-weight: 400;
            margin-left: 8px;
        }
        .left_heading{
            color: #646464;
            float: left;
            padding: 1px;
            font-size: 16px;
            font-weight: 400;
            margin-left: 8px;
        }
        .right_heading{
            padding: 12px 12px 12px 375px ;
            font-size: 20px;
            font-weight: 400;
            float: left;
            margin-left: 20px;
        }
        .reset_btn{
            width: 100px;
            height: 30px;
            /*font-size: 16px !important;
            margin-left: 255px;*/
            border: 1px solid rgba(204, 204, 204, 0.39);
            background-color: #eee;
            margin-top: -1px;
            padding-top: 3px;
            vertical-align: middle !important;
        }
        .export_div_pdf{
            display: inline;
            text-align: center;
            float: right;
            width: 15.5%;
            height: 34px;
            margin-top: 4px;
            margin-top: -9px;
        }
        .export_div_pdf .dropdown_btn{
        height: 32px !important;
        margin-top: 4px !important;
        font-size: 12px !important;
        margin-right: -10px;
    }
        .thumbnail_image{
            display: inline;
            padding: 19px 0 6px 0;
            width: 46%;
            margin-left: 56px;
            margin-right: -4px;
        }
        .last_one{
            display: inline;
            width:46%;
            margin-top: 13px;
        }
        .img_section{
            margin-top: 20px;

        }
    .right_float{
        display: inline;
        text-align: center;
        color:#646464;
        vertical-align: middle !important;
        font-weight:900 !important;
        font-size:12px;
        width: 200px;
        text-transform: capitalize;
        float: right;
        height: 38px;
        margin-top: -9px;
    }
    .right_float .dropdown_btn{
        height: 32px !important;
        margin-top: 4px !important;
        font-size: 12px !important;
        margin-right: -10px;
    }
	.graph_filter_view{
		display: none;
	}

	.benchmark_row{
		background-color:white;
        border:1px solid #ccc;
        padding: 8px;
        height: 70px;
	}
	.smoothing_row{
		background-color:white;
        border:1px solid #ccc;
        display:inline-block;
        width: 100%;
        height: 70px;
	}
	.chart_block_row{
		background-color:white;
        border:1px solid #ccc;
	}
/**
*
*/
#page-content-wrapper{
	margin-top: 80px !important;
}
.right_table{
	margin-bottom: 0 !important;
}
.right_table1{
	margin-bottom: 0 !important;
}
span.ui-slider-handle.ui-corner-all.ui-state-default{
    height: 15px !important;
    width: 15px !important;
    top: -3px !important;
}

.at_param,.at_param:hover{
    background-color: #0594d3 !important;
    color: #fff !important;
    font-weight: 400 !important;
    text-decoration: none;
    text-shadow: -1px -1px 0 #0594d3;
    box-shadow: inset 2px 2px 8px 0 #0594d3;
}
.eng_param,.eng_param:hover{
    background-color: #3ecdf9 !important;
    color: #fff !important;
    font-weight: 400 !important;
    text-decoration: none;
    text-shadow: -1px -1px 0 #3ecdf9;
    box-shadow: inset 2px 2px 8px 0 #3ecdf9;
}
.act_param,.act_param:hover{
    background-color: #29ffef !important;
    color: #fff !important;
    font-weight: 400 !important;
    text-decoration: none;
    text-shadow: -1px -1px 0 #29ffef;
    box-shadow: inset 2px 2px 8px 0 #29ffef;
}
.enj_param,.enj_param:hover{
    background-color: #99fffa !important;
    color: #fff !important;
    font-weight: 400 !important;
    text-decoration: none;
    text-shadow: -1px -1px 0 #99fffa;
    box-shadow: inset 2px 2px 8px 0 #99fffa;
}