/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (max-width : 1200px) {
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    body{
        font-size: 14px !important;
    }
    .smoothing_row{
        padding: 7px;
    }


    .right_heading{
        color: #646464;
        padding: 12px 12px 12px 244px;
        margin-top: -8px;
    }

    .graph_filters{
        font-size: 12px !important;
        font-weight: 400 !important;
    }
    .left_smooth, .right_heading{
        font-size: 16px !important;
    }

    .dropdown_btn{
        height: 34px !important;
        font-size: 12px !important;
        text-transform: capitalize;
    }
    label,.row-fluid h4{
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 13px !important;
        color: #646464 !important;
    }
    .top-gap{
        margin-top: 10px;
    }
    .image_wrapper {
        background-color: grey;
        border: 1px solid #adadad;
        height: 173px !important;
    }
    .table-bordered  tr td
    {
        font-size: 16px !important;
        height:35px !important;
    }
    .benchmark_row{
        height: 40px;
        font-size: 16px !important;
        margin-top: 27px !important;
        background-color: white;
        border: 1px solid #ccc;
        padding: 8px;
    }
    .smoothing_row{
        height: 40px;
        font-size: 16px;
        border-top: 0 !important;
    }
    /*For home page*/
    .text_block{
        font-size: 30px !important;
        font-weight: 900 !important;
    }
/* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {


    .smoothing_row{
        padding: 8px;
    }

/* STYLES GO HERE */
}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

/* mac os laptop */
@media all
and (min-width : 680px)
and (max-width : 1400px) {
    /*For making the table responsive*/
    .data_table{
        width: 880px;
        overflow-x: auto;
    }
    /*For the smoothing row in the right side */
     .smoothing_row{
        padding: 7px;
    }


    .right_heading{
        padding: 12px 12px 12px 188px;
    }

    .left_heading{
        font-size: 16px !important;
    }
    /*For media image in dashboard page*/
    .image_wrapper {
        background-color: grey;
        border: 0 !important;
        height: 156px !important;
    }
    .dashboard_image_wrapper{
        width: 100%;
        height: 100px !important;
        border: 1px solid #adadad !important;
    }
}

/* bigger screen laptops*/
@media all
and (min-width : 1400px) {
    .data_table{
        width: 980px;
        overflow-x: auto;
    }
    .dashboard_image_wrapper{
        width: 100%;
        height: 123px !important;
        border: 1px solid #adadad !important;
    }

}