/** dashboard master layout start **/
html, body
{
    font-family: pnaltblack, sans-serif;
    min-width: 1250px !important;
    background-color: #eee;
}
.navbar {
    background-color: rgba(255,255,255,1) !important;
}
.navbar-brand> img {
    height: 50px !important;
}
/** dashboard master layout End **/
.header_text {
    float: left;
    font-family: Raleway,sans-serif;
    font-size: 16px;
    color: #5c617b;
    white-space: nowrap;
    line-height: .4;
}
#page-content-wrapper{
    margin-top: 50px;
    min-width: 1250px;
}
table, th, td {
    border: 1px solid black;
}
a{
    color: #0088c0;
}
.row-space{
    margin-top: 10px;
}

.form-control{
    height:30px !important;
}
.form-inline{
    margin-left:88px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.button_primary, .button_primary:visited {
    background-color: rgb(2, 137, 193);
    background-image: linear-gradient(rgb(11, 145, 195) 0px, rgb(83, 160, 238) 100%);
    box-shadow: rgb(9, 142, 193) 0px 1px 1px inset, rgba(0, 0, 0, 0.2) 0px 2px 2px -1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(1, 136, 193);
    border-image: initial;
}
