.track-test{
    background: url("../img/dashboard/test_track.png") no-repeat 6px center;
    width: 35px;
    height: 30px;
    display: block;
    background-size: 30px 30px;

}
.track-edit{
    background: url("../img/dashboard/test_edit.png") no-repeat 6px center;
    width: 35px;
    height: 30px;
    display: block;
    background-size: 30px 30px;
}
.track-close{
    background: url("../img/dashboard/test_close.png") no-repeat 6px center;
    width: 35px;
    height: 30px;
    display: block;
    background-size: 30px 30px;
}
.track-delete{
    background: url("../img/dashboard/test_delete.png") no-repeat 6px center;
    width: 35px;
    height: 30px;
    display: block;
    background-size: 30px 30px;
}
.track-result{
    background: url("../img/dashboard/result.png") no-repeat 6px center;
    width: 35px;
    height: 30px;
    display: block;
    background-size: 30px 30px;
}
.project-delete{
    background: url("../img/dashboard/project_delete.png") no-repeat 6px center;
    width: 35px;
    height: 30px;
    display: block;
    background-size: 30px 30px;
}
.project-edit{
    background: url("../img/dashboard/project_edit.png") no-repeat 6px center;
    width: 35px;
    height: 30px;
    display: block;
    background-size: 30px 30px;
}
a:focus{
    outline: 0 !important;
}
#project_table_wrapper  a{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
#project_table_wrapper  a:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.highlighted-test{
    background-color: #eee;
    padding-top:0px !important ;
}
.highlighted-project{
    background-color: #ffe1ce !important;
}
