/* mac os laptop */
@media all
and (min-width : 980px)
and (max-width : 1400px) {
    /*.row-fluid > [class*='col-'] {
        width: 170px !important;
    }*/
}

/* bigger screen laptops*/
@media all
and (min-width : 1400px) {
   /* .row-fluid > [class*='col-'] {
        width: 190px !important;
    }*/
}