/** dashboard master layout start **/
@font-face {
    font-family: 'pnaltlight';
    src: url('../fonts/pnaltlight.otf') format('openType');
}

@font-face {
    font-family: 'pnaltcondensedlight';
    src: url('../fonts/pnaltcondensedlight.otf') format('openType');
}
@font-face {
    font-family: 'pnaltblack';
    src: url('../fonts/pnaltblack.otf') format('openType');
}
@font-face {
    font-family: 'pnaltbold';
    src: url('../fonts/pnaltbold.otf') format('openType');
}
@font-face {
    font-family: 'pnaltextrabold';
    src: url('../fonts/pnaltextrabold.otf') format('openType');
}
@font-face {
    font-family: 'pnaltextracondensedbold';
    src: url('../fonts/pnaltextracondensedbold.otf') format('openType');
}
@font-face {
    font-family: 'pnbold';
    src: url('../fonts/pnbold.otf') format('openType');
}
@font-face {
    font-family: 'pnaltregular';
    src: url('../fonts/pnaltregular.otf') format('openType');
}


html, body
{
    font-family: pnaltlight,sans-serif;
    min-width: 1250px !important;
    background-color: #eee;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background-color: #273234;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid #c1d1dc;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 175px;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0 !important;

}
.selected_url{
    color:rgb(255, 108, 60) !important;
}
.sidebar-nav li {
    padding-left: 5px;
    line-height: 10px;
    background: #273234;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}


.sidebar-nav li a {
    display: inline;
    height:51px;
    text-decoration: none;
    color: #e6e6e5;
    padding:10px 0;
    font-family: pnaltlight,sans-serif;
    font-size: 13px;
}

.black_border{
    height: 1px;
border-top: 1px solid rgba(15,10,12,.3);
}
.sidebar-nav li.active {
    color: #ffefd6;
    background: #fff;
    -moz-box-shadow: inset 0 0 4px #232323;
    -webkit-box-shadow: inset 0 0 4px #232323;
    box-shadow: inset 0 0 4px #232323;
}
.sidebar-nav li.active a {
    background-color: #f58345;
}
.sidebar-nav li:hover {
    background: #3b4446;
    color: #8a8a89;
    box-shadow: none;
}
.sidebar-nav li a:hover {
      background: #3b4446;
}
.sidebar-nav > .sidebar-brand a {
    color: #747d94;
}
.navbar-brand {
    padding: 6px 15px;
}

.navbar-default{
    background-color: #fff;
    border:0;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        width: 176px;
    }
    .navbar-header{
        width:175px;
        margin-left:-15px !important;
        border-color:#212b2d !important;

    }
    .navbar>.container-fluid .navbar-brand{
        margin-left: 0 !important;
    }
}
#page-content-wrapper{
    margin-top: 50px;
    min-width: 1250px;
}
.sidebar_top_text{
    line-height: 10px;
    padding: 10px 0 18px 15px;
    color: #fff;
    font-size: 16px;
    font-family: pnaltregular,sans-serif;
}


.sidebar-nav li a:before {
    content: '\00b7';
    font-size: 200px;
    vertical-align: middle;
    color: #5f5f5f;
    display: inline-block;
    height: 37px;/* \00b7or whatever color you prefer */
}
.center_border:before{
    content: "";
    background-color: #5f5f5f;
    position: absolute;
    width: 5px;
    left: 25px;
    top: 65px;
    bottom: 10px;
    height: 60px;
    z-index: 1;
}
.filled_page a:before{
    color:rgba(21,140,186,1) !important;
}
/** dashboard master layout End **/
.success_btn,.success_btn:hover,.success_btn:active,
.success_btn:visited,.success_btn:focus{
    color: #fff;
    background-color: #ff6c3c;
    width: 150px;
    border-radius: 25px;
    border: 1px solid #ff6c3c;
    font-weight: 900;
}
.cancel_btn,.cancel_btn:hover,.cancel_btn:active,
.cancel_btn:focus,.cancel_btn:visited{
    background-color: #fff;
    border: 1px solid #ff6c3c;
    color: #ff6c3c;
    width: 150px;
    border-radius: 37px;
    font-weight: 900;
}