/*All media queries comes here */
@media all and (min-device-width: 300px) and (max-device-width: 700px){
#main-menu .nav-bar li{
    display: block;
}
#main-menu .nav-bar li span{
    display: none;
}

}