.panel-primary .panel-heading, .panel-primary .panel-footer, .panel-primary.panel-colorful {
    background-color: #42a5f5;
    border-color: #42a5f5;
    color: #fff;
}

.panel-info .panel-heading, .panel-info .panel-footer, .panel-info.panel-colorful {
    background-color: #00bcd4;
    border-color: #00bcd4;
    color: #fff;
}

.panel-success .panel-heading, .panel-success .panel-footer, .panel-success.panel-colorful {
    background-color: #8bc34a;
    border-color: #8bc34a;
    color: #fff;
}

.panel-warning .panel-heading, .panel-warning .panel-footer, .panel-warning.panel-colorful {
    background-color: #ffa726;
    border-color: #ffa726;
    color: #fff;
}

.panel-danger .panel-heading, .panel-danger .panel-footer, .panel-danger.panel-colorful {
    background-color: #ef5350;
    border-color: #ef5350;
    color: #fff;
}

.panel-mint .panel-heading, .panel-mint .panel-footer, .panel-mint.panel-colorful {
    background-color: #26a69a;
    border-color: #26a69a;
    color: #fff;
}

.panel-purple .panel-heading, .panel-purple .panel-footer, .panel-purple.panel-colorful {
    background-color: #ba68c8;
    border-color: #ba68c8;
    color: #fff;
}

.panel-pink .panel-heading, .panel-pink .panel-footer, .panel-pink.panel-colorful {
    background-color: #ec407a;
    border-color: #ec407a;
    color: #fff;
}

.panel-dark .panel-heading, .panel-dark .panel-footer, .panel-dark.panel-colorful {
    background-color: #263238;
    border-color: #263238;
    color: #fff;
}

.panel > .panel-heading:after, .panel.panel-colorful > .panel-heading:after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.panel-colorful > .panel-heading {
    border: 0;
}

.panel-default > .panel-heading:after, .panel-primary > .panel-heading:after, .panel-info > .panel-heading:after, .panel-success > .panel-heading:after, .panel-warning > .panel-heading:after, .panel-danger > .panel-heading:after, .panel-purple > .panel-heading:after, .panel-pink > .panel-heading:after, .panel-dark > .panel-heading:after {
    display: none;
}

.panel-bordered-default, .panel-default.panel-bordered {
    border: 1px solid #bac5cd;
}

.panel-bordered-primary, .panel-primary.panel-bordered {
    border: 1px solid #42a5f5;
}

.panel-bordered-info, .panel-info.panel-bordered {
    border: 1px solid #00bcd4;
}

.panel-bordered-success, .panel-success.panel-bordered {
    border: 1px solid #8bc34a;
}

.panel-bordered-warning, .panel-warning.panel-bordered {
    border: 1px solid #ffa726;
}

.panel-bordered-danger, .panel-danger.panel-bordered {
    border: 1px solid #ef5350;
}

.panel-bordered-mint, .panel-mint.panel-bordered {
    border: 1px solid #26a69a;
}

.panel-bordered-purple, .panel-purple.panel-bordered {
    border: 1px solid #ba68c8;
}

.panel-bordered-pink, .panel-pink.panel-bordered {
    border: 1px solid #ec407a;
}

.panel-bordered-dark, .panel-dark.panel-bordered {
    border: 1px solid #263238;
}

.panel-group .panel {
    border-radius: 0;

}
.panel{
    margin-bottom: 0px !important;
}
.panel-group > div {
    padding-left: 0;
    padding-right: 0;
}

.panel-group > div:first-child > .panel {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.panel-group > div:last-child > .panel {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.panel-group > div + div > .panel {
    margin-left: -1px;
}

.panel-control {
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px;
}

.panel-control:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    left: -1em;
    position: relative;
}

.panel-control .btn {
    padding-left: 7px;
    padding-right: 7px;
}

.panel-control > i, .panel-control > .badge, .panel-control > label {
    vertical-align: middle;
}

.panel-control > .toggle-switch + label {
    vertical-align: baseline;
}

.panel-control .nav-tabs {
    display: inline-block;
    height: 40px;
    margin-top: 10px;
    vertical-align: bottom;
    border: 0;
}

.panel-control .nav-tabs > li {
    margin-top: 1px;
    margin-right: 5px;
    height: 100%
}

.panel-control .nav-tabs > li > a {
    border-radius: 0;
    margin-right: 0;
    height: 100%;
    line-height: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 15px;
}

.panel-control .nav-tabs > li:not(.active) {
    background-color: transparent;
    opacity: .6;
}

.panel-control .nav-tabs > li:not(.active) a {
    border-bottom: 0 !important;
    color: inherit;
}

.panel-control .nav-tabs > li:not(.active) a:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: transparent;
}

.panel-control .nav-tabs > .active > a {
    z-index: 1;
}

.panel-control .progress {
    min-width: 150px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.panel-control .switchery {
    margin-left: 15px;
    vertical-align: middle;
}

.panel-control .pager {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
}

.panel-control .pagination {
    margin: 0;
    border-radius: 0;
    vertical-align: middle;
}

.panel-control .pagination > li > a, .panel-control .pagination > li > span {
    padding: 0 10px;
    border: 0;
    border-color: rgba(0, 0, 0, 0.09);
    box-shadow: none;
    height: 100%;
    line-height: 30px;
}

.panel-control .pagination > li:not(.active):not(.disabled) > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.09);
}

.panel-control .pagination > .disabled > a, .panel-control .pagination > .disabled > a:hover, .panel-control .pagination > .disabled > a:active {
    border-color: rgba(0, 0, 0, 0.09);
}

.panel-control .pagination > li:not(.active) > a, .pagination > li > a {
    background-color: transparent;
    color: inherit;
}

.panel-control .pagination > li > a:hover, .pagination > li > a:focus {
    box-shadow: none;
}

.panel-control .btn, .panel-control .dropdown-toggle.btn {
    border: 0;
}

.panel-control .open > .btn, .panel-control .btn.active, .panel-control .btn:active {
    box-shadow: none !important;
}

.panel-control .btn-default {
    background-color: transparent;
    color: inherit;
}

.panel-control > .btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.panel-control > .btn:last-child, .panel-control > .btn-group:last-child > .btn:first-child {
    border-bottom-right-radius: 0;
}

.pad-all {
    padding: 10px;
}
.padding-top-10{
    padding-top: 10px;
}

.panel-heading {
    padding: 0px 10px !important;
}

.no-padding {
    padding-top: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}