

/* #### Mobile Phones Portrait or Landscape #### */
@media screen  and (min-device-width: 480px)  and (max-device-width: 640px){
    header .navbar-default{
        margin-left: 0!important;
    }
    #section6 div.circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        text-align: center;
        background-color: #eae8e9;
    }

    #section2 p.text-right {
        margin: 0;
    }
    #section2 p.text-left {
        margin: 0;
    }
    #section4 h3 {
        text-align: center;
        font-size: 34px;
        color: #ccc;
    }

    #section4 h3 {
        text-align: center;
        font-size: 34px;
        color: #ccc;
    }
    #section4 p.product {
        font-size: 21px;
        color: rgba(43, 42, 40, 0.4);
        text-align: center;
        margin-left: 152px;
        margin-top: -18px;
        margin-bottom: 35px;
        font-weight: 300;
    }
    #section5 h3 {
        text-align: center;
        font-size: 34px;
        color: #ccc;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 0;
        background: #fff;
        box-shadow: 0 0 3px grey;
    }

    section#calltoaction {
        position: absolute;
        top: 58px;
    }

    /*.navbar-brand {
        float: left;
        height: 0;
        padding:0;
        font-size: 18px;
    }
    header .navbar-brand{
        padding: 0px 0px;
    }
    */


}
/*Galaxy s7*/
/*@media screen and (max-device-width: 360px){*/
/*#section4 p.product{*/
/*margin-left: 0;*/
/*}*/
/*}*/

/*end*/
@media screen and (min-device-width:481px) and (max-device-width: 786px) and (orientation: portrait){


}
@media screen and (device-width:360px) and (device-height:640px){
    div#carouselposition{
        overflow:visible!important;
    }
    #carouselposition img,
    #pricingposition img{
        width:50%!important;
    }
    #carouselposition h4,
    #pricingposition h4{
        font-size: 12px!important;
    }
    .sidetext ul{
        font-size: 18px!important;
    }
    button.videocase,
    button.videoprice{
        padding: 0.5rem 6.75rem!important;
    }
    #mainsection {
        margin-top: 70px!important;
    }
    #container .frame{
        margin-top: 21px!important;
    }
    button.case, button.price{
        margin-top: 60px!important;
    }
    #pricingposition h2.thirdheading{
        margin-top: 50px!important;
        font-size: 30px!important;
    }
    button.enterpriseprice{
        margin-bottom: 30px;
    }
    .carousel-inner-position{
        height: 193%!important;
    }

}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    /*Other pages banner image resize*/
    header .navbar-default{
        margin-left: 0!important;
    }
    /*#waypoint1-magic {*/
    /*height: 40vh!important;*/
    /*background-size: cover;*/
    /*}*/
    #section6 div.circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        text-align: center;
        background-color: #eae8e9;
    }

    #section2 p.text-right {
        margin: 0;
    }
    #section2 p.text-left {
        margin: 0;
    }
    #section4 p.product{
        margin-left: 80px;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 0;
        background: #fff;
        box-shadow: 0 0 3px grey;
    }
    #section4 h3 {
        text-align: center;
        font-size: 34px;
        color: #ccc;
    }
    #section4 p.product {
        font-size: 21px;
        color: rgba(43, 42, 40, 0.4);
        text-align: center;
        margin-left: 152px;
        margin-top: -18px;
        margin-bottom: 35px;
        font-weight: 300;
    }
    #section5 h3 {
        text-align: center;
        font-size: 34px;
        color: #ccc;
    }
    #section5 p.product {
        font-size: 21px;
        color: rgba(43, 42, 40, 0.4);
        text-align: center;
        margin-left: 152px;
        margin-top: -18px;
        margin-bottom: 35px;
        font-weight: 300;
    }


}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
    footer .logo{
        margin-left: 60px;
    }
    #section4 h4{
        text-align: center;
    }
    #section5 h4{
        text-align: center;
    }
    .carousel-inner-position {
        bottom: -1129px!important;
    }
    /*header .navbar-brand{
        padding: 0;
    }
    .navbar-brand{
        padding: 0;
        }*/
    #section2 p.text-left {
        margin:0;
    }
    #section2 p.text-right {
        margin:0;
    }
    /*.navbar-custom.top-nav-collapse {*/
    /*padding: 0;*/
    /*border-bottom: 0;*/
    /*background: #fff;*/
    /*box-shadow: 0 0 3px grey;*/
    /*}*/


}
@media screen and (max-device-width: 360px){
    .carousel-inner-position {
        bottom: -1129px!important;
    }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (orientation:portrait){
    /* some CSS here */
    header .navbar-default{
        margin-left: 0!important;
    }
    section h2{
        font-size:25px!important;
    }
    /*#waypoint1-magic {*/
    /*height: 40vh!important;*/
    /*background-size: cover;*/
    /*}*/
    #section6 div.circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        text-align: center;
        background-color: #eae8e9;
    }
    #section6 p{
        font-size: 9px!important;
    }
    footer #main-menu .nav-bar{
        font-size: 10px!important;
    }
    .copyright.text-center {
        font-size: 10px!important;
    }

    #section2 p.text-right {
        margin: 0;
    }

    #section2 p{
        text-align: center!important;
        font-size: 12px!important;
    }
    #section4 p.product{
        margin-left: 80px;
    }
    .navbar-header{
        margin-top: 16px!important;

    }
    #section4 h4{
        text-align: center;
    }
    #section5 h4{
        text-align: center;
    }

    section#calltoaction {
        position: absolute;
        top: 58px;
    }

    #section4 h3 {
        text-align: center;
        font-size: 32px!important;
        color: #ccc;
    }

    #section5 h3 {
        text-align: center;
        font-size: 32px!important;
        color: #ccc;
    }


    #videosection{
        position: inherit!important;
    }
    #circlesection .middleimg img {
        width: 100%!important;
        margin-top: 125px!important;
    }
    div.circlemiddle{
        width: 0!important;
        height: 0!important;
        margin-top: 0!important;
    }
    .border-right:before{
        margin-left: 0!important;
        width:25% !important
    }
    .border-left:before{
        margin-left: 0!important;
        width:25%!important;
    }
    #features .iconspaceright{
        margin-left: 14px!important;
        width: 100%!important;
    }
    #features .iconspaceleft{
        margin-left: -15px!important;
        width: 100%!important;
    }
    svg:not(:root){
        width: 100%!important;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 0;
        background: #fff;
        box-shadow: 0 0 3px grey;
    }
    .navbar-brand{
        float:none!important;
    }
    .footerlinks li{
        text-align: center!important;
    }
    .footerlinks li:hover{
        color:red;
    }
    button.case,
    button.price{
        padding: 0.05rem 7.75rem!important;
        display: block!important;
        margin-right: auto!important;
        margin-left: auto!important;
    }
    .videofooterlinks li{
        text-align: center!important;
    }
    .videofooterlinks li:hover{
        color: red;
    }
    #carouselposition h2,
    #background h2{
        font-size: 30px!important;
        margin-top: 0!important;
    }

}
@media only screen and (max-width:1024px) and (min-width: 768px){
    div#carouselposition{
        overflow:visible!important;
    }
    #carouselposition img,
    #pricingposition img{
        width:50%!important;
    }
    #carouselposition h4,
    #pricingposition h4{
        font-size: 12px!important;
    }
    .sidetext ul{
        font-size: 18px!important;
    }
    button.videocase{
        padding: 0.5rem  4.75rem!important;
        margin-left:auto!important;
        margin-right: auto!important;
    }
    button.videoprice{
        padding: 0.5rem 6.75rem!important;
    }
    #mainsection {
        margin-top: 70px!important;
    }
    #container .frame{
        margin-top: 21px!important;
    }
    button.case, button.price{
        margin-top: 60px!important;
    }
    #pricingposition h2.thirdheading{
        margin-top: 50px!important;
        font-size: 30px!important;
    }
    button.enterpriseprice{
        margin-bottom: 30px;
    }

    hr.visualborder{
        width:100%!important;
        margin-left: 0!important;
    }
    #catagorybrainwave h5,
    #catagorybrainwave p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagoryheadset p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset p,
    #catagorybrainwave p{
        font-size: 15px!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagorybrainwave h5{
        font-size: 18px;
        text-align: center!important;
    }
    #catagorybrainwave img{
        margin-left:35px!important;
    }
    .propertybox h5{
        margin-left: 0!important;
        text-align: center!important;
        font-size: 15px!important;
    }
    .propertybox ul{
        font-size: 11px!important;
        padding: 0!important;
    }
    #secondpara p,
    .belowtext p{
        font-size: 15px!important;
    }
    .backgroundcontainer p{
        font-size: 16px!important;
    }
    h4{
        font-size: 13px!important;
    }
    p{
        font-size: 15px!important;
    }
    .mgbottom {
        margin-bottom: 70px!important;
    }
    #features .featuretop{
        margin-top: 70px!important;
    }
    .carousel-inner-position{
        height:192%!important;
    }
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse{
        margin-top: -53px!important;
    }
}
@media only screen and (max-width: 640px) and (min-width: 360px){
    div#carouselposition{
        overflow:visible!important;
    }
    #carouselposition img,
    #pricingposition img{
        width:50%!important;
    }
    .scienceimg {
        width: 100%!important;
    }
    #carouselposition h4,
    #pricingposition h4{
        font-size: 12px!important;
    }
    .sidetext ul{
        font-size: 18px!important;
    }
    button.videocase{
        padding: 0.5rem  4.75rem!important;
        margin-left:auto!important;
        margin-right: auto!important;
    }
    button.videoprice{
        padding: 0.5rem 6.75rem!important;
    }
    #mainsection {
        margin-top: 70px!important;
    }
    #container .frame{
        margin-top: 21px!important;
    }
    button.case, button.price{
        margin-top: 60px!important;
    }
    #pricingposition h2.thirdheading{
        margin-top: 50px!important;
        font-size: 30px!important;
    }
    button.enterpriseprice{
        margin-bottom: 30px;
    }

    hr.visualborder{
        width:100%!important;
        margin-left: 0!important;
    }
    #catagorybrainwave h5,
    #catagorybrainwave p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagoryheadset p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset p,
    #catagorybrainwave p{
        font-size: 15px!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagorybrainwave h5{
        font-size: 18px;
        text-align: center!important;
    }
    #catagorybrainwave img{
        margin-left:35px!important;
    }
    .propertybox h5{
        margin-left: 0!important;
        text-align: center!important;
        font-size: 15px!important;
    }
    .propertybox ul{
        font-size: 11px!important;
        padding: 0!important;
    }
    #secondpara p,
    .belowtext p{
        font-size: 15px!important;
    }
    .backgroundcontainer p{
        font-size: 16px!important;
    }
    h4{
        font-size: 13px!important;
    }
    p{
        font-size: 15px!important;
    }
    .mgbottom {
        margin-bottom: 70px!important;
    }
    #features .featuretop{
        margin-top: 70px!important;
    }
    .carousel-inner-position{
        height:192%!important;
    }

}
/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (min-resolution: 2dppx){
    /* some CSS here */

    div#carouselposition{
        overflow:visible!important;
    }
    #carouselposition img,
    #pricingposition img{
        width:50%!important;
    }
    #carouselposition h4,
    #pricingposition h4{
        font-size: 12px!important;
    }
    .sidetext ul{
        font-size: 18px!important;
    }
    button.videocase{
        padding: 0.5rem  4.75rem!important;
    }
    button.videoprice{
        padding: 0.5rem 6.75rem!important;
    }
    #mainsection {
        margin-top: 70px!important;
    }
    #container .frame{
        margin-top: 21px!important;
    }
    button.case, button.price{
        margin-top: 60px!important;
    }
    #pricingposition h2.thirdheading{
        margin-top: 50px!important;
        font-size: 30px!important;
    }
    button.enterpriseprice{
        margin-bottom: 30px;
    }
    .scienceimg{
        width:100%!important;
    }
    hr.visualborder{
        width:100%!important;
        margin-left: 0!important;
    }
    #catagorybrainwave h5,
    #catagorybrainwave p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagoryheadset p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset p,
    #catagorybrainwave p{
        font-size: 15px!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagorybrainwave h5{
        font-size: 18px;
        text-align: center!important;
    }
    #catagorybrainwave img{
        margin-left:35px!important;
    }
    .propertybox h5{
        margin-left: 0!important;
        text-align: center!important;
        font-size: 15px!important;
    }
    .propertybox ul{
        font-size: 11px!important;
        padding: 0!important;
    }
    #secondpara p,
    .belowtext p{
        font-size: 15px!important;
    }
    .backgroundcontainer p{
        font-size: 16px!important;
    }
    h4{
        font-size: 13px!important;
    }
    p{
        font-size: 15px!important;
    }
    .mgbottom {
        margin-bottom: 70px!important;
    }
    #features .featuretop{
        margin-top: 70px!important;
    }
    .carousel-inner-position{
        height:192%!important;
    }

}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (device-height: 667px) and (device-width: 375px){
    /* some CSS here */
    div#carouselposition{
        overflow:visible!important;
    }
    #carouselposition img,
    #pricingposition img{
        width:50%!important;
    }
    #carouselposition h4,
    #pricingposition h4{
        font-size: 12px!important;
    }
    .sidetext ul{
        font-size: 18px!important;
    }
    button.videocase{
        padding: 0.5rem 4.75rem!important;
        margin-left:78px!important;
    }
    button.videoprice{
        padding: 0.5rem 6.75rem!important;
    }
    #mainsection {
        margin-top: 70px!important;
    }
    #container .frame{
        margin-top: 21px!important;
    }
    button.case, button.price{
        margin-top: 60px!important;
    }
    #pricingposition h2.thirdheading{
        margin-top: 50px!important;
        font-size: 30px!important;
    }
    button.enterpriseprice{
        margin-bottom: 30px;
    }
    .scienceimg{
        width:100%!important;
    }
    hr.visualborder{
        width:100%!important;
        margin-left: 0!important;
    }
    #catagorybrainwave h5,
    #catagorybrainwave p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagoryheadset p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset p,
    #catagorybrainwave p{
        font-size: 15px!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagorybrainwave h5{
        font-size: 18px;
        text-align: center!important;
    }
    #catagorybrainwave img{
        margin-left:35px!important;
    }
    .propertybox h5{
        margin-left: 0!important;
        text-align: center!important;
        font-size: 15px!important;
    }
    .propertybox ul{
        font-size: 11px!important;
        padding: 0!important;
    }
    #secondpara p,
    .belowtext p{
        font-size: 15px!important;
    }
    .backgroundcontainer p{
        font-size: 16px!important;
    }
    h4{
        font-size: 13px!important;
    }
    p{
        font-size: 15px!important;
    }
    .mgbottom {
        margin-bottom: 70px!important;
    }
    #features .featuretop{
        margin-top: 70px!important;
    }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px){
    /* some CSS here */
    /*image resize*/
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 0;
        background: #fff;
        box-shadow: 0 0 3px grey;
    }


}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 0;
        background: #fff;
        box-shadow: 0 0 3px grey;
    }

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

    /* Styles */
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 0;
        background: #fff;
        box-shadow: 0 0 3px grey;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 0;
        background: #fff;
        box-shadow: 0 0 3px grey;
    }
    .carousel-inner-position {
        bottom: -1129px!important;
    }



}
@media only screen  and (min-width : 1900px) {

}


@media (max-width: 768px) {
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 0;
        background: #fff;
        box-shadow: 0 0 3px grey;
    }

    #section4 h3 {
        text-align: center;
        font-size: 50px;
        color: #ccc;
    }
    /*#carouselposition{*/
    /*overflow:visible!important;*/
    /*}*/
    #section5 h3 {
        text-align: center;
        font-size: 50px;
        color: #ccc;
    }

    .videofooterlinks li{
        text-align: center!important;
    }


    .videofooterlinks li:hover {
        color: red;
    }


    div#carouselposition{
        max-height: 225%!important;
    }
    .sidetext{
        text-align: center!important;
    }
    /*div#carouselposition{*/
    /*overflow:visible!important;*/
    /*}*/
    #carouselposition img,
    #pricingposition img{
        width:50%!important;
    }
    #carouselposition h4,
    #pricingposition h4{
        font-size: 12px!important;
    }
    .sidetext ul{
        font-size: 18px!important;
    }
    button.videocase{
        padding: 0.5rem  4.75rem!important;
        margin-left:auto!important;
        margin-right: auto!important;
    }
    button.videoprice{
        padding: 0.5rem 6.75rem!important;
    }
    #mainsection {
        margin-top: 70px!important;
    }
    #container .frame{
        margin-top: 21px!important;
    }
    button.case, button.price{
        margin-top: 60px!important;
    }
    #pricingposition h2.thirdheading{
        margin-top: 50px!important;
        font-size: 30px!important;
    }
    button.enterpriseprice{
        margin-bottom: 30px;
    }

    hr.visualborder{
        width:100%!important;
        margin-left: 0!important;
    }
    #catagorybrainwave h5,
    #catagorybrainwave p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagoryheadset p{
        margin-left: 0!important;
        text-align: center!important;
    }
    #catagoryheadset p,
    #catagorybrainwave p{
        font-size: 15px!important;
        text-align: center!important;
    }
    #catagoryheadset h5,
    #catagorybrainwave h5{
        font-size: 18px;
        text-align: center!important;
    }
    #catagorybrainwave img{
        margin-left:35px!important;
    }
    .propertybox h5{
        margin-left: 0!important;
        text-align: center!important;
        font-size: 15px!important;
    }
    .propertybox ul{
        font-size: 11px!important;
        padding: 0!important;
    }
    #secondpara p,
    .belowtext p{
        font-size: 15px!important;
    }
    .backgroundcontainer p{
        font-size: 16px!important;
    }
    h4{
        font-size: 13px!important;
    }
    p{
        font-size: 15px!important;
    }
    .mgbottom {
        margin-bottom: 70px!important;
    }
    #features .featuretop{
        margin-top: 70px!important;
    }
    .carousel-inner-position{
        height:192%!important;
    }


}

/*@media only screen and (max-width: 1300px){*/
/*button.videocase{*/
/*padding: 0.5rem 10.75rem!important;*/
/*}*/
/*}*/
/*@media only screen and (max-width: 1200px){*/
/*button.videocase{*/
/*padding: 0.5rem 9.75rem!important;*/
/*}*/
/*}*/


@media (min-width: 1900px){
    .col-lg-2 {
        width: 16.66666667%;
    }
}
@media only screen and (min-device-width: 1900px){
    .container {
        width:91.5%;
    }
    div.rounded-sideright {
        margin-left: -146px!important;
    }
    div.rounded-siderightcontact {
        margin-left:-160px!important;
    }
    #section5 .rounded-siderightcontact {
        margin-left: -32px!important;
    }
    #features .iconspaceright{
        margin-left: 15px!important;
    }
    #features .iconspaceleft{
        margin-left: -15px!important;
    }
    div.circlemiddle{
        width: 500px!important;
        height: 500px!important;
        margin-top: -615px!important;
        box-shadow: 0px 0px 100px rgba(119, 119, 119, 0.44)!important;
    }
    div.circle{
        box-shadow: 0px 0px 25px rgba(119, 119, 119, 0.44)!important;
    }
    .beacon1:before{
        height: 10em!important;
        width: 10em!important;
        left: -35px!important;
        top: -70px!important;
    }
    .beacon2:before{
        height: 15em!important;
        width: 15em!important;
        left: -90px!important;
        top: -130px!important;
    }
    div.rounded-sideright,
    div.rounded-sideleft{
        padding: 10px!important;
    }
    div.rounded-sideright > h2{
        font-size: 60px!important;
        margin-right: 27px!important;
    }
    div.rounded-sideleft > h2{
        font-size: 60px!important;
    }
    div.rounded-sideleft{
        margin-left: 117px!important;
    }
}
/* Case study css*/
@media screen and (device-width: 357px) and (device-width: 992px){
    #Testsection div.testbox{
        border: 1px solid #eee;
        background: #eee;
        text-align: center;
        border-radius: 13px;
        min-height: 150px;
        font-family: Proximaaltbold;
        width: 150px;
        margin-bottom: 10px; }
}
#researchanalysis div.p.imgtext{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    margin-top:10%;

}
