@font-face {
    font-family: 'ProximaNova';
    src: url('../../fonts/pnaltbold.otf') format('openType');
}
@font-face {
    font-family: 'Proximalight';
    src: url('../../fonts/pnaltlight.otf') format('openType');
}

@font-face {
    font-family: 'Proximaxtrabold';
    src: url('../../fonts/proximaextrabold.otf') format('openType');
}
@font-face {
    font-family: 'Proximaaltcondensed';
    src: url('../../fonts/altcondensed.otf') format('openType');
}
@font-face {
    font-family: 'Proximaaltbold';
    src: url('../../fonts/pnaltbold.otf') format('openType');
}
@font-face {
    font-family: Proximaaltregular  ;
    src: url('../../fonts/pnaltregular.otf') format('openType');
}
@font-face {
    font-family: Proximaaltbold ;
    src: url('../../fonts/pnbold.otf') format('openType');
}
/*************************
********Home CSS**********
**************************/
.top_nav{
    padding: 0;
    border-bottom: 0;
    background: #fff;
    box-shadow: 0 0 3px grey;
}
/*body{*/
/*font-family: 'Lato', sans-serif!important;*/
/*}*/
#home-slider {
    overflow: hidden;
    position: relative;
}
#home-slider1 {
    overflow: hidden;
    position: relative;
}
#home-slider2 {
    overflow: hidden;
    position: relative;
}

#section1 .wrapper {
    width: 100%;

}

#section1 img {
    background-size: cover;
    width: 100%;
    height: 100%;
}


#waypoint1-magic {
    /*background: url('../../img/Banner.jpg') no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    /*height: 100%;*/
}
#videosection{
    /*position: absolute;*/
    /*top:200px;*/
    padding-top: 200px;
}
#videosection button{
    padding: 6px 3px;
    width: 15%;

}
#videosection button.play {
    width: 24%;
}

video{
    width: 100%;
    margin-bottom: 30px;
}
#line{
    /*width: 457px;*/
    /*height: 350px;*/
    /* background: bisque; */
    font-size: 12px;

}
.tooltip circle{
    color:white!important;
}
/*.banner{*/
/*height:570px;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*background: url('../../img/chromonew/banner.jpg') no-repeat center;*/

/*}*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.left-control,
.right-control {
    position: absolute;
    top: 50%;
    height: 51px;
    width: 51px;
    line-height: 48px;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 20;
    font-size: 24px;
    color: #fff;
    text-align: center;
    transition: all 0.5s ease;
}
.left-control {
    left: -51px;
}
.right-control {
    right: -51px;
}
.left-control:hover,
.right-control:hover {
    color: #fff;
}
#home-slider:hover .left-control {
    left: 30px;
}
#home-slider:hover .right-control {
    right: 30px;
}
#home-slider1:hover .left-control {
    left: 30px;
}
#home-slider1:hover .right-control {
    right: 30px;
}
#home-slider2:hover .left-control {
    left: 30px;
}
#home-slider2:hover .right-control {
    right: 30px;
}
/*Header section*/
.navbar-brand{
    height:0!important;
    padding:0!important;
    margin-left: 0!important;
}
.navbar-brand>img {
    display: inline-block;
}
.navbar-brand>img {
    margin-top: 2px!important;
    width:18%;
}
button.navbar-toggle {
    background-color: #F44336;
}
button.navbar-toggle .icon-bar {
    background-color: #fff;
}
img.img-responsive.textlogo{
    width:20%;
}
/*headers link*/
.navbar-nav .links span{
    color: #646464;
    font-weight: bold;
    font-size: 13px;
    font-family: Proximaaltregular  ;
    letter-spacing: 0.5px;
    text-transform: uppercase;

}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 19px !important;
        padding-bottom: 0 !important;

    }
}

/*End*/

#section2{
    margin-bottom: 170px;
    position: relative;
    margin-top:150px;
}
#section5{
    position: relative;
}
#sectionimage{
    margin-bottom: 270px;
}
#features{
    background: -webkit-linear-gradient(-90deg,#ffb555, #ff7150); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg,#ffb555, #ff7150); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg,#ffb555, #ff7150); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg,#ffb555, #ff7150); /* Standard syntax */

}
#features .featuretop{
    margin-top:90px;
}
#features .featuretop .lastbottom{
    margin-bottom: 150px;
}
#circlesection
{
    margin-top:185px;
}
#circlesection p{
    font-size: 15px;
    color: black;
    font-family: Proximaaltregular;
}
#circlesection img{
    width: 100%;
    margin-top: -15px;
}
#circlesection h4{
    margin-top:25px;
    font-size:21px;
    color: #ff7150;
    font-family: Proximaaltbold;
}
#circlesection .middleimg h4{
    margin-top:35px;
    font-size:21px;
    color: #ff7150;
    font-family: Proximaaltbold;
}
#circlesection .middleimg img{
    width:100%;
    margin-top: 43px;
    margin-right: -4px;
}
div.rounded-sideright {
    background-color: white;
    padding: 9px;
    -webkit-border-radius: 0 91px 91px 0;
    /*border: 1px solid cadetblue;*/
    margin-left: -30px;
    position: absolute;
    width: 100%;
    top: -30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);

}
div.rounded-siderightcontact {
    background-color: white;
    padding: 9px;
    -webkit-border-radius: 0 91px 91px 0;
    /*border: 1px solid cadetblue;*/
    margin-left:-50px;
    position: absolute;
    width: 100%;
    top: -70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);


}
#section5 .rounded-siderightcontact {
    background-color: white;
    padding: 5px;
    -webkit-border-radius: 0 91px 91px 0;
    /*border: 1px solid cadetblue;*/
    margin-left: -32px;
    /*margin-top: -40px;*/
    box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.44);

}
#features .iconspaceright{
    background:#fff;
    border-radius: 100px 0 0 100px;
    margin-left: 15px;
    width: 100%;
    margin-top:15px;
    box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.44);
}
#features .iconspaceleft{
    background: #fff;
    border-radius: 0 100px 100px 0;
    margin-left: -15px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.44);
    margin-top: 45px;
}
#features .iconspaceright img,
#features .iconspaceleft img{
    width: 90%;
}

#features .featurebase{
    margin-top: 150px;
}
/*#features .iconspaceleft img,*/
/*#features .iconspaceright img*/
/*{*/
/*width: 84%;*/
/*}*/

.mgbottom{
    margin-bottom: 170px;
}
#features h2{
    color:#fff;
    font-weight: bold;
    font-size:30px;
    font-family: Proximaaltbold;
}
.float_right_text{
    float: right;
    margin-top: 15px;
    width: 63%;
}
.float_left_text{
    float: left;
    margin-top: 15px;
    width: 63%;
}
#features p{
    color:#fff;
    font-weight:normal;
    font-size:20px;
    font-family: Proximaaltregular;
}
#features h5{
    color: #fff;
    font-family: Proximaaltregular;
    font-size: 18px;
    font-style: italic;
}
div.rounded-sideright > h2
{
    text-align: right;
    margin-bottom: 10px;
    margin-top:10px;
    font-size: 50px;
    margin-right:50px;
    color:#646464;
    font-family: Proximaaltbold;

}
div.rounded-siderightcontact > h2
{
    text-align: right;
    margin-bottom: 10px;
    margin-top:10px;
    font-size: 50px;
    margin-right: 50px;
    font-family: Proximaaltbold;
    color:#646464;

}
div.rounded-sideleft {
    background-color: white;
    margin-left: 37px;
    padding: 9px;
    -webkit-border-radius: 91px 0 0 91px;;
    /*border: 1px solid cadetblue;*/
    margin-right: -15px;
    margin-bottom: -72px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
#sectionimage .feature_text{
    margin-top: 30px;
}
div.rounded-sideleft > h2
{
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 50px;
    margin-left:50px;
    font-family: Proximaaltbold;
    color:#646464;

}

div.circle {
    width: 200px;
    height:200px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    margin-left: -20px;
    box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.44);
}

div.circlemiddle {
    width: 347px;
    height: 347px;
    margin-top: -423px;
    border-radius: 50%;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.44);
}

.border-left h4 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: left;
}
.border-left:before {
    position: absolute;
    top: 128%;
    overflow: hidden;
    width: 80%;
    height: 3px;
    content: '\a0';
    background-color: #ffa55d;

}
.border-left:before {
    margin-left:-141%;
    /*text-align: right;*/
}
.border-right h4 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: right;
}
.border-right:before {
    position: absolute;
    top: 130%;
    overflow: hidden;
    width:20%;
    height: 3px;
    content: '\a0';
    background-color: #ffa55d;

}
.border-right:before {
    margin-left: 60%;;
    /*text-align: right;*/
}
/*.color {*/
/*background-color: #ccc;*/
/*}*/

#contactus{
    /*background: url('../../img/contact_us.png') no-repeat center center;*/
    padding:20px;
    margin-top:-275px;
    background-size: cover;
}
#contactus .form-control{
    background:rgb(255, 255, 255);
    border:0;
    padding: 11px 17px!important;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.44);
    font-family: Proximaaltregular;
    color:#646464;
}
#contactus textarea.form-control{
    border-radius: 20px;
    height: 120px;
}
#contactus h2{
    margin-top: -11px;
    color: #555;
}
#contactus form{
    margin-top: 40px;
}
#contactus .btn-primary {
    color: #fff;
    background-color: #ff7350;
    padding:7px 78px;
    border: 0;
    border-radius: 22px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -36px;
}
#howitworks{
    position: relative;
}

.footerlinks {
    list-style-type: none;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 55px;

}
.footerlinks li a{
    color:#777;
    text-decoration: none;
}
.footerlinks li{
    margin-top: 2px;
}
footer .social-icons {
    margin-top: 80px;
    text-align: center;
}
footer .social-icons a:hover {
    color: #37c7ba!important;
    border: 2px solid #37c7ba;
    font-size: 20px;
    font-weight: bold;
    transition: all .2s linear;

}
footer .social-icons a {
    background: transparent;
    border:2px solid #337ab7;
}
a.btn-social, .btn-social {
    border-radius: 50%;
    color: #337ab7 !important;
    display: inline-block;
    height: 40px;
    line-height: 22px;
    margin: 9px 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 40px;
}
.fa-facebook:before {
    /* content: "\f099"; */
    line-height: 37px;
    font-size: 16px;
}
.fa-twitter:before {
    /* content: "\f099"; */
    line-height: 37px;
    font-size: 16px;
}
.fa-linkedin:before {
    /* content: "\f099"; */
    line-height: 37px;
    font-size: 16px;
}
.websitelink{
    text-align: center;
    margin-top: 10px;
}
.websitelink a{
    color: darkred;
    text-decoration: none;
    font-size:16px;
    font-family: Proximaaltregular;
}

.websitelink a:hover{
    color: red;
}


i.fa.fa-twitter{
    font-weight: bold;
}
/*footer img{*/
/*margin-top: 90px;*/
/*}*/
footer .logoup,
footer .textlogo{
    width:100%;

}
footer .logoup{
    margin-top:80px;
}

nav ul li a:hover:before{
    height: 10px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color:transparent!important;
}
.selected_url {
    color: #ff7251 !important;
}
.nav li a:before{
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    top:-4px;
    left: 0;
    content: "";
    background: #ff7251;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
/*.navbar-nav .links span:active,*/
/*.navbar-nav .links span:visited{*/
/*top:-4px;*/
/*left: 0;*/
/*content: "";*/
/*background: #ff7251;*/
/*-o-transition: all .2s linear;*/
/*}*/

.beacon1{
    position: absolute;
    top: 53%;
    left: 50%;
    /* background-color: #2c3e50; */
    height: 3em;
    width: 3em;
    border-radius: 50%;
    -webkit-transform: translateX(-100%) translateY(-100%);
    z-index: -1;
}
.beacon1:before{
    position: absolute;
    content: "";
    height: 5em;
    width: 5em;
    left: 6px;
    top: -35px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow:0px 0px 0px 90px #ff9c82;;
    -webkit-animation: active 3s infinite linear;
    animation: active 3s infinite linear;
}
.beacon2{
    position: absolute;
    top: 54%;
    left: 50%;
    /* background-color: #2c3e50; */
    height: 3em;
    width: 3em;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.beacon2:before{
    position: absolute;
    content: "";
    height: 10em;
    width: 10em;
    left: -50px;
    top: -95px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow:0px 0px 0px 30px #ff5f48;
    -webkit-animation: active 2s infinite linear;
    animation: active 3s infinite linear;
}

@-webkit-keyframes active{
    0%{
        -webkit-transform:scale(.1);
        opacity:1;
    }
    70%{
        -webkit-transform:scale(2.5);
        opacity:0;
    }
    100%{
        opacity:0;
    }
}

@keyframes active{
    0%{
        transform:scale(.1);
        opacity:1;
    }
    70%{
        transform:scale(2.5);
        opacity:0;
    }
    100%{
        opacity:0;
    }
}



.selected_param{
    background-color: #808080;
    color: #fff;
    font-weight: 900 !important;
    text-decoration: none;
    text-shadow: -1px -1px 0 #444;
    box-shadow: inset 2px 2px 8px 0 #000;
    border: 0;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/********************
 * TOOLTIP CSS
 */

.nvtooltip {
    position: absolute;
    background-color: rgba(255,255,255,1);
    padding: 10px;
    border: 1px solid #ddd;

    font-family: Arial;
    font-size: 13px;

    transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;

    transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;

    -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    box-shadow: 4px 4px 12px rgba(0,0,0,.5);

    -moz-border-radius: 15px;
    border-radius: 15px;
}

.nvtooltip h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nvtooltip p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nvtooltip span {
    display: inline-block;
    margin: 2px 0;
}
/**********
*  General SVG CSS
*/

text {
    font: 12px sans-serif;
}

/**********
*  Legend
*/

.legend .series {
    cursor: pointer;
}

.legend circle {
    stroke-width: 2px;
}

.legend .disabled circle {
    fill-opacity: 0;
}

/**********
*  Axes
*/

.axis path {
    fill: none;
    stroke: #000;
    stroke-opacity: .75;
    shape-rendering: crispEdges;
}

.axis path.domain {
    stroke-opacity: .75;
}

.axis line {
    fill: none;
    stroke: #000;
    stroke-opacity: .25;
    shape-rendering: crispEdges;
}

.axis line.zero {
    stroke-opacity: .75;
}

/**********
*  Line chart
*/

.point-paths path {
    /*
    fill: #eee;
    stroke: #aaa;
    */
    stroke-opacity: 0;
    fill-opacity: 0;
}

.lines path {
    fill: none;
    stroke-width: 1.5px;
    stroke-linecap: round;

    transition: stroke-width 250ms linear;
    -moz-transition: stroke-width 250ms linear;
    -webkit-transition: stroke-width 250ms linear;

    transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
}

.line.hover path {
    stroke-width: 6px;
}

.lines .point {
    transition: stroke-width 250ms linear;
    -moz-transition: stroke-width 250ms linear;
    -webkit-transition: stroke-width 250ms linear;
}

.lines .point.hover {
    stroke-width: 20px;
    stroke-opacity: .5;
}



/*video cognitive research*/
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
button.case:active,
button.case:visited,
button.case:focus,
button.price:active,
button.price:focus,
button.price:visited,
button.videoprice:active,
button.videoprice:visited,
button.videoprice:focus,
button.videocase:active,
button.videocase:visited,
button.videocase:focus,
button.enterpriseprice:active,
button.enterpriseprice:visited,
button.enterpriseprice:focus{
    border:none!important;
    outline: none!important;
}

button.case,
button.price{
    color: #ff9a62;
    background-color:white;;
    font-size:22px;
    font-weight: bold;
    padding:0.5rem 10.75rem;
    border-radius: 12rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: color 0.3s, border 0.3s;
    margin-top:60px;
    font-family: Proximaaltbold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
button.videoprice{
    color: #ff9a62;
    background-color:white;;
    font-size:22px;
    padding:0.5rem 12.75rem;
    border-radius: 12rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: color 0.3s, border 0.3s;
    margin-top: 46px;
    font-family: Proximaaltbold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
button.videocase{
    color: #ff9a62;
    background-color:white;;
    font-size:22px;
    padding:0.5rem 11.75rem;
    border-radius: 12rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: color 0.3s, border 0.3s;
    margin-top: 46px;
    font-family: Proximaaltbold;
    margin-left:55px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);

}
button.enterpriseprice{
    color: #ff9a62;
    background-color:white;;
    font-size:22px;
    font-weight: bold;
    padding:0.5rem 7.75rem;
    border-radius: 12rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: color 0.3s, border 0.3s;
    font-family: Proximaaltbold;
    margin-top:50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

button.videocase:hover,
button.videoprice:hover,
button.enterpriseprice:hover,
button.case:hover,
button.price:hover{
    background-color:#ff7350;
    color: #fff;
}
section#section3{
    margin-top: -100px;
}
#section1{
    margin-top: 100px;
}
section{
    border:none!important;
}
#mainsection{
    margin-top:150px;
}
#carouselposition h2,
#background h2{
    letter-spacing: 1px;
    color: #646464;
    font-size: 48px;
    font-family: Proximaaltbold !important;
    margin-bottom:20px;
}
#carouselposition h2.secondheading{
    letter-spacing: 1px;
    color: #fff;
    font-size: 48px;
    font-family: Proximaaltbold !important;
}
#pricingposition h2.thirdheading{
    letter-spacing: 1px;
    color: #fff;
    font-size: 48px;
    font-family: Proximaaltbold !important;
    margin-top: 120px;
}
#pricingposition a:hover,
#carouselposition a:hover{
    text-decoration: none;
}

#bgorange{
    background: #ff9c61;
    position: relative;
}
#carouselposition h4,
#background h4,.visual_text{
    font-size:22px;
    margin-bottom: 70px;
    color: white;
    font-family: Proximaaltregular !important;
    margin-top:0px;
}
.science_header_text,.visual_text{
    margin-top:40px !important;
    margin-bottom:40px !important;
}
#carouselposition h3{
    font-size:18px;
    font-weight: normal;
    color: black;
}
#carouselposition .descriptionleft h4,
#carouselposition .descriptionright h4{
    font-size: 20px;
    font-weight: 500;

}
#carouselposition .bottomsection{
    margin-bottom: 45px;
}
.carousel{
    margin-top: 250px;
    max-height: 145%;
    background: linear-gradient(-90deg,#ffb16c, #ff7150);
    position: relative;
}
#background{
    margin-top: 250px;
    max-height: 160%;
    background: linear-gradient(-90deg,#ffb16c, #ff7150);
    position: relative;
}

.media-carousel .carousel-control.left
{
    left: 40px !important;
    background-image: none;
    background: none repeat scroll 0 0 #fff;
    border-radius: 40px 40px 40px 40px;
    height: 60px;
    width: 60px;
    margin-top:300px;
    line-height: 50.5px;
    position: fixed;
    box-shadow: 0 0px 8px rgba(0,0,0,.6);
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: 40px;
    background-image: none;
    background: none repeat scroll 0 0 #fff;
    border-radius: 40px 40px 40px 40px;
    height: 60px;
    width: 60px;
    margin-top:300px;
    line-height:50.5px;
    position: fixed;
    box-shadow: 0 0px 8px rgba(0,0,0,.6);
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.carousel-inner-position{
    /*position: absolute;*/
    /*bottom:-819px;*/
    /*!*height: 1053px;*!*/
    /*!*margin-left: -25px;*!*/
    top:-230px;
    height:190%;
}

.carousel-control{
    font-size: 45px;
    color: #e01a1a;
    top:9px;
}
#carouselposition{
    padding: 0;
    overflow: hidden;
}
#crouselsection .carousel,
#crouselsection .item,
#crouselsection .active {
    height: 75%;
}
.carousel-product{
    margin-top: 250px;
    background: linear-gradient(-90deg,#ffb16c, #ff7150);
    position: relative;
}
.carousel-inner-position-product{
    top:-230px;
}
#section6 h2{
    margin-bottom: 90px;
    font-size: 50px;
}
#section6{
    background: linear-gradient(-90deg,#ffb555, #ff7150);
    margin-top: -55px;
}
#section6 .owl-carousel{
    margin-bottom: 48px;
    margin-top: 60px;
}
.owl-carousel .bwdisrupt{
    margin-top:35px;
}
div.rounded-sideleftpress{
background-color: white;
margin-left: 37px;
padding: 5px;
-webkit-border-radius: 91px 0 0 91px;;
/*border: 1px solid cadetblue;*/
margin-right: -15px;
margin-top: 0px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
div.rounded-sideleftpress >h2{
text-align: left;
margin-bottom: 10px;
margin-top: 10px;
font-size: 50px;
margin-left:50px;
color:#646464;
}
#pricingposition h5 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 80px;
    margin-left: 28px;
}
#pricingposition ul {
    list-style-type: none;
    color: white;
    font-size:24px;
    margin-bottom: 65px;
    font-family: Proximaaltregular;
}
hr.comparisionborder{
    border-top: 3px solid #3d9e99;
    width:228%;
    margin-top: -5px;
    margin-bottom: 0;
    margin-left:28px;
}
hr.parameters{
    border-top: 3px solid #3d9e99;
    width:228%;
    margin-top: -5px;
    margin-bottom: 0;
    margin-left: 22px;
}
hr.visualborder{
    border-top: 3px solid #3d9e99;
    width:146%;
    margin-top: -5px;
    margin-bottom: 0;
    margin-left: 66px;
}
#pricingposition h2{
    letter-spacing: 1px;
    color: #646464;
    font-size: 48px;
    font-family: Proximaaltbold !important;
}
#pricingposition h2.secondheading{
    letter-spacing: 1px;
    color: #fff;
    font-size: 48px;
    font-family: Proximaaltbold !important;
}
#bgorange{
    background: #ff9c61;
    position: relative;
}
#pricingposition h4{
    font-size: 18px;
    margin-bottom: 67px;
    color: white;
    font-family: Proximaaltregular  !important;
}
#pricingposition h3{
    font-size: 30px;
    font-family: Proximaaltregular;
    font-weight: 600;
    color: #646464;
    margin-top: -100px;
    margin-bottom: 40px;
}
#pricingposition .descriptionleft h4,
#pricingposition .descriptionright h4{
    font-size: 20px;
    font-weight: 500;

}
#pricingposition .bottomsection{
    margin-bottom: 45px;
}
div#pricingposition{
    margin-top:215px;
    min-height:200%;
    background: linear-gradient(-90deg,#ffb16c, #ff7150);
    position: relative;
}
#test {
    -webkit-animation: flash 1s linear infinite;
    animation: flash 6s linear infinite;
    /*position: fixed;*/
    /*bottom: 0px;*/
}

#test:hover {
    -webkit-animation: none;
    animation:none;
    /*position: fixed;*/
    /*bottom: 0px;*/
}
#test1 {
    -webkit-animation: flash 1s linear infinite;
    animation: flash 6s linear infinite;
    /*position: fixed;*/
    /*bottom:0px;*/
    right:93px;
}

#test1:hover {
    -webkit-animation: none;
    animation:none;
    /*position: fixed;*/
    /*bottom: 0px;*/
}
.visualsection{
    margin-bottom: 60px;
}
.footerbottomborder{
    background: linear-gradient(-90deg,#ffb16c, #ff7150);
    height:10%;
}
.backgroundcontainer{
    background: linear-gradient(-90deg,#ffb16c, #ff7150);
    min-height:50%;
    margin-top: 60px;
}
.mgtop{
    margin-top: 60px;
    margin-bottom: 60px;
}


footer{
    margin-top:0px;
    box-shadow: 0 0 3px grey;
}
.footertop{
    margin-top: -80px;
}
.videofooterlinks{
    list-style-type: none;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 55px;
    padding: 0;
}

.videofooterlinks li a{
    color:darkred;
    text-decoration: none;
    font-family: Proximaaltregular;
}

.videofooterlinks li a:hover{
    color: red;
}

.videofooterlinks li{
    margin-top:-4px;
}
.sidetext {
    /*height:244px;*/
    margin-left: -15px;
}
.parametertext{
    margin-left:-21px;
}
p.segments {
    margin-top: -9px;
    margin-left: 49px;
    font-size: 24px!important;
    color: white!important;
    list-style-type: none;
    font-family: Proximaaltbold !important;
}
.sidetext h5{
    font-size: 20px;
    color: white;
    font-family: Proximaaltbold !important;
    margin-top:55px;
    margin-left: 20px;
}
.sidetext ul{
    font-size: 24px;
    color: white;
    list-style-type: none;
    font-family: Proximaaltbold ;
    margin-left: -10px;
}
.sidetext span{
    color: #fff;
    margin-left: 35px;
    font-family: Proximaaltbold;
    font-size: 24px;
}
.visual_text{
    width: 70%;
    margin-top: 10px;
}

/*Pricing table*/
.pricesubject{
    margin-top: -272px;
}
hr.mainhr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid #ff5f40;
}
hr.priceborder
{
    margin-bottom: -50px;
    margin-top: 6px;
    padding:0;
    border:0;
}
.dots {
    position: absolute;
    left: 0;
    top: 20px;
    letter-spacing: 6px;
    width: 980px;
    overflow: hidden;
}

#container {
    /*position: absolute;*/
    margin-top: 51px!important;
    max-width: 100%;
    margin: auto;
    /*display: flex;*/
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#container .frame {
    flex: 1 175px;
    background: #FFF;
    overflow: hidden;
    border-radius:25px;
}
#container .frame .title {
    height: 90px;
    padding: 0 10px;
    display: block;
    font-size: 25pt;
    color: #FFF;
    font-weight: bold;
    line-height: 85px;
}
#container .frame .inset {
    padding:75px;
    text-align: center;
}
#container ul {
    color: #646464 !important;
    font-family: Proximaaltregular;
    font-size: 19px;
}
#container ul li{
    line-height: 4;
}
#container .frame .inset .price {
    height: 50px;
    font-size: 25pt;
    font-weight: bold;
    line-height: 50px;
}
#container .frame .inset .price sup {
    position: relative;
    top: -10px;
    font-size: 14pt;
    line-height: normal;
}
#container .frame .inset .per {
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
}
#container .frame .inset .desc {
    margin-top: 15px;
}
#container .frame .data {
    padding: 5px;
    color: #FFF;
}
#container .frame .data li {
    margin: 10px;
}
#container .frame .purchase {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    background: transparent;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    line-height: 50px;
    font-smoothing: antialiased;
}
#container .frame.basic .title, #container .frame.basic .data {
    background: #3d9e99;
    text-align: center;
}
#container .frame.basic .price, #container .frame.basic .per, #container .frame.basic .purchase {
    color: #83BF00;
}
#container .frame.normal .title, #container .frame.normal .data {
    background: #3d9e99;
    text-align: center;
}
#container .frame.normal .price, #container .frame.normal .per, #container .frame.normal .purchase {
    color: #0056BF;
}
#container .frame.premium .title, #container .frame.premium .data {
    background: #3d9e99;
    text-align: center;
}
#container .frame.premium .price, #container .frame.premium .per, #container .frame.premium .purchase {
    color: #BF0000;
}
/*science page*/
.scienceimg{
    width:45%;
}

#secondpara h5{
    margin-top: 50px;
    color: #ff7150;
    margin-bottom: 40px;
    font-family: 'Proximaaltbold';
    font-size:22px;
}
#secondpara p{
    font-family: Proximaaltregular  ;
    color: black;
    font-size:20px;
}
#catagoryheadset {
    margin-top: 60px;
}
#catagorybrainwave{
    margin-top: 170px;
}

#catagoryheadset h5{
    margin-top:40px;
    color: #ffb555;
    margin-bottom: 40px;
    font-family: 'Proximaaltbold';
    font-size:22px;
    text-align: left;
    margin-left: 40px;
}
#catagorybrainwave h5{
    margin-top:40px;
    color: #ffb555;
    margin-bottom: 40px;
    font-family: 'Proximaaltbold';
    font-size:22px;
    text-align: left;
    margin-left: -25px;
}
.backgroundcontainer h3{
    margin-top:10px;
    color: #fff;
    margin-bottom:50px;
    font-family: 'Proximaaltbold';
    margin-left: 45px;
}

#catagoryheadset p{
    margin-top: -25px;
    color:#000;
    font-family: Proximaaltregular  ;
    font-size: 18px;
    margin-left: 40px;
}
#catagorybrainwave p{
    margin-top: -25px;
    color:#000;
    font-family: Proximaaltregular  ;
    font-size: 18px;
    margin-left:-25px;
}
.backgroundcontainer p{
    margin-top: -25px;
    color:#fff;
    font-family: Proximaaltregular  ;
    font-size:20px;
    margin-left: 45px;
}

#catagoryheadset img{
    width:85%;
}
#catagorybrainwave img{
    width:85%;
    margin-left: 75px;
}
.backgroundcontainer img{
    width:80%;
}
#catagorybrainwave .brainwavetext h5,
#catagorybrainwave .brainwavetext p{
    margin-left: 30px;
}
.propertybox{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
    background: #fff;
    border-radius: 20px;
    margin-top: 30px;
}
.propertybox ul{
    list-style-type: none;
    text-align: center;
    line-height: 2;
    font-size: 15px;
    font-family: Proximaaltregular;
    margin-top: 25px;
    margin-bottom: 25px;
}
.propertybox h5{
    color: #44afa7;
    font-family: Proximaaltregular;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
}
.propertybox p{
    color: #fff;
    font-family: 'ProximaNova';
    font-size: 16px;
    margin-left: 40px;
    margin-top: 10px;
}
.bottomborder{
    background: #ffb748;
    padding: 5px;
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
}
.bottomborder h5{
    color:#fff;
}
.belowtext p{
    margin-top: 70px;
    font-family: Proximaaltregular  ;
    color: #000;
    font-size:20px;
}
/* Tablet and bigger */
@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}
.alert-success{
    color: #3c763d;
    margin-top: 41px!important;
    margin-right: auto!important;
    margin-left: auto!important;
    text-align: center!important;
}

#videosection h2{
    font-size: 30px;
    font-family: Proximaaltregular  ;
    color: #646464;
    margin-top: -80px;
    margin-bottom: 42px;

}
/*div#chart_wrapper{
    border: 1px solid rgba(0,0,0,.5);
    width:128%;
    height: 50%;
}
#chart_container{
    position: relative;
    padding-top: 10px;
    padding-left: 28px;
}*/
/*terms and condition*/

#termscondition p,
#privacypolicy p{
    text-align: justify;
    padding-bottom: 30px;
    color: #5d5353;
    padding-left: 47px;
    padding-right: 30px;
    font-family: Proximaaltregular  ;
}
#termscondition h2,
#privacypolicy h2{
    color: #ff8355;
    font-family: Proximaaltbold;

}
#privacypolicy h4 {
    font-size: 16px;
    color: #273235;
    font-weight: normal;
    text-transform: uppercase;
}


/*case study styling*/

.mgtop{
    margin-top: 50px;
}

#casestudybanner {
    background: url('../../img/olx_bannerbright.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 60%;
    margin-top: 33px;
}

#casebrief h3{
    text-align: center;
    text-transform: uppercase;
    font-family: Proximaaltbold;
    color:#ffffff;
}
#casebrief p{
    font-family: Proximaaltregular;
    color:#646464;
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
}
#casebrief h4,
#Testsection h4,
#researchanalysis
{
    font-family: Proximaaltbold;
}
#casebrief .objective{
    margin-left: 16px;
}
#researchanalysis{
    margin-top: 20px;
}
#casebrief ul{
    font-family:Proximaaltregular ;
    color:#646464;
    margin-top:20px;
    margin-bottom:35px;
    margin-left: -24px;
    font-size: 16px;
    list-style-type: none;
}
#casebrief li{
    margin-left: 30px;
}
.listimage{
    width:6%;
    float:left;
}
/*#casebrief li{*/
/*list-style-image:url('../../img/affectlab_logo.png');*/
/*background-repeat: no-repeat;*/
/*background-position: 0 .4em;*/
/*padding-left: .6em;*/
/*background-size: 1em;*/
/*}*/

#Testsection h3{
    margin-bottom: 10px;
}
#Testsection h2{
    font-size: 70px;
    font-family: proximaaltbold;
    margin-top: 30px;
}
#Testsection .testbox{
    border: 1px solid #eee;
    background: #eee;
    text-align: center;
    border-radius: 13px;
    min-height: 170px;
    font-family: Proximaaltbold;
}
#Testsection .videoleft{
    margin-right:50px;
}
#Testsection .testusers h3,
#Testsection .testusersp,
#Testsection .testusers h5{
    text-align: center;
    font-family: Proximalight;
}
#Testsection .testusers p,
#Testsection .testusers h5{
    text-align: center;
    font-family: Proximalight;
}
#Testsection .testusers h3{
    font-size: 42px;
    font-family: Proximaaltbold;
}

#Testsection .testusers{
    margin-top: 20px;
}
#researchanalysis p{
    font-family: Proximaaltregular;
    color: #646464;
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
}
#researchanalysis .downpara{
    margin-top:-16px;
}
#researchanalysis img{
    margin-top:55px;
}
#compareimage{
    margin-top: 20px;
}
#attentionresponse p{
    margin-top:4px;
    font-family: Proximaaltregular;
    color: #646464;
    text-align: left;
    font-size: 16px;
}
#attentionresponse{
    margin-top: 30px;
}
#attentionresponse .blackbox{
    border: 1px solid #eee;
    background:rgba(0,0,0,0.8);
    text-align: center;
    border-radius: 13px;
    min-height: 170px;
    font-family: Proximaaltbold;
    color:#fff;
}
#attentionresponse .blackbox h3{
    font-size: 42px;
    margin-top:35px;
    font-family: Proximaaltbold;
}
#attentionresponse .blackbox h5{
    margin-top: 20px;
}
#conclusion h5{
    font-size: 18px;
    font-family: Proximaaltbold;
    margin-top: 40px;
    text-align: center;
}
#conclusion p{
    font-family: Proximaaltbold;
    color: #646464;
    text-align: center;
}
#conclusion{
    margin-bottom: 50px;
    margin-top: 20px;
}
/*end*/

/* Case study css*/
#Testsection h3{
    margin-bottom: 10px;
}
#Testsection h2{
    font-size: 70px;
    font-family: proximaaltbold;
    margin-top: 30px;
}
.case,b{
    font-family: Proximaaltbold;
    font-weight: 500;
}
#casebrief{
    background: -webkit-linear-gradient(-90deg,#ffb555, #ff7150);
    background: -o-linear-gradient(-90deg,#ffb555, #ff7150);
    background: -moz-linear-gradient(-90deg,#ffb555, #ff7150);
    background: linear-gradient(-90deg,#ffb555, #ff7150);
    color:#ffffff;
    margin-bottom: 120px;
}

.casestudyheading{
    background: -webkit-linear-gradient(-90deg,#ffb555, #ff7150);
    background: -o-linear-gradient(-90deg,#ffb555, #ff7150);
    background: -moz-linear-gradient(-90deg,#ffb555, #ff7150);
    background: linear-gradient(-90deg,#ffb555, #ff7150);
    color:#ffffff;
    margin-bottom: 120px;
}

#Testsection1 .testbox{
    border: 1px solid #eee;
    text-align: center;
    border-radius: 13px;
    min-height: 250px;
    font-family: Proximaaltbold;
    margin-top: -40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
}
.img:hover {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}

.results{
    color: #ff9a62;
    background-color:white;;
    font-size:20px;
    font-weight: bold;
    padding:0.4rem 5.70rem;
    border-radius: 12rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: color 0.3s, border 0.3s;
    margin-top:50px;
    font-family: Proximaaltbold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);

}
.results:hover {
    background: #ff9a62;
    color:white ;
}
p.imgtext{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;


}