{% extends "common_website_base.html" %}
{% load staticfiles %}
{% block container %}
    <section class=" no-padding-bottom border-top wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-8 col-xs-11 text-center center-col">
                    <p class="not-found-title black-text">404!</p>
                    <p class="text-med text-uppercase letter-spacing-2">The page you were looking<br> for could not be found.</p>
                    <a class="schedule_btn btn btn-small no-margin-right" href="{% url 'home' %}">Go to home page</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-sm-8 col-xs-11 center-col">

                    <img src="{%  static 'website/images/404.jpg' %}" alt="404 error">
                </div>
            </div>
        </div>
    </section>
{% endblock container %}