<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">

    <title>{% block title %}Neuro Sensum {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/profiles_base.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/fonts/font-awesome.min.css' %}" rel="stylesheet">

    <style type="text/css">
        .navbar-right{
            font-family: pnaltregular,sans-serif;
        }
        .navbar-right a span:hover{
            color:black;
        }
        #page-content-wrapper .row{
            margin-right: 0;
        }
        .paddingtop{
            padding-top:40px;
        }
        img.profile-pic.img-circle {
            height:40px;
            margin-top: 5px;
            width:40px;
        }
        .navbar-default .navbar-nav>li>a {
            color: #777;
        }
        /*for profile pic display*/
        .dropdown{
            display:inline-flex !important;
        }
        .profile-pic {
            max-width: 200px;
            max-height: 200px;
            display: block;
        }
        .profile-menu{
            padding-left: 2px !important;
        }
    </style>
</head>
<body class="gray-bg">

{% block navbar %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

    <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                {% block navbar-brand %}
                    <img src="{% static 'ico/favicon.png' %}" class="img-responsive">
                {% endblock %}
            </a>
        </div>
        {% block navbar-menu %}
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% block navbar-left %}{% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% block navbar-right %}
                        {% if user.is_authenticated %}
                                <li><a href="{% url 'dashboard:dashboard_view' %}">Dashboard</a></li>
                            {% if user.is_staff %}
{#                                <li><a href="{% url 'admin:index' %}">Admin</a></li>#}
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
                                    {{ user.username |truncatechars:20 }}
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="text-warning text-capitalize" href="{% url 'profiles:show_self' %}">Profile</a>
                                    </li>
                                    <li><a class="text-warning" href="{% url 'accounts:logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
                </ul>
            </div><!--/.nav-collapse -->
        {% endblock %}
    </div>
    </div>
{% endblock navbar %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block splash %}
{% endblock splash %}

{% block container %}
    <div class="container">

    </div><!-- /.container -->
{% endblock container %}

<!-- Site footer -->
{% block footer %}

{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- <script src="{#% static 'js/creative.min.js' %#}"></script>-->

{% block scripts %}
{% endblock scripts %}
</body>
</html>


