<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">

    <title>{% block title %} :: Affect Lab :: {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this site -->
    {% block styles %}

        <link href="{% static 'css/profiles_base.css' %}" rel="stylesheet">

    {% endblock styles %}
    {% block extracss %}
        <style type="text/css">
            .navbar-right{
                font-family: pnaltregular,sans-serif;
            }
            .navbar-right a span:hover{
                color:black;
            }
            #page-content-wrapper .row{
                margin-right: 0;
            }
            .navbar{
                background-color: rgba(255,255,255,1);
            }
        </style>
    {% endblock extracss %}

</head>

<body class="gray-bg">

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "dashboard:home_view" %}">
                    {% block navbar-brand %}
                        <img src="{% static 'ico/favicon.png' %}" class="img-responsive">
                    {% endblock %}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                  {% block navlink %}
                  {% endblock %}


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock navbar %}


{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block splash %}
{% endblock %}

<div id="page-content-wrapper">
    <div class="row">

        <div class="col-lg-12" id="result">
            {% block container %}

            {% endblock %}
        </div>
    </div>
</div>

<!-- Site footer -->
{% block footer %}

{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

{% block js %}
{% endblock %}
</body>
</html>


