{% extends "profile_base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Account{% endblock %}
{% block sidebar %}

<style type="text/css">

	#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    border:1px solid #1487bd;
}
#myBar {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #1487bd;
}
.row{
	height: 40px;
}

.my_btn{
    background-color: #1487bd;
    border:0;
    height:30px;
    color:#fff;
    float: right;
}
body{
    height:90%;
}
.bold_text{
    font-family:pnaltbold;
}
.center_text{
    text-align: center;
}
.right_text{
    float: right;
}
.body_text span,.body_text label{
    font-size: 16px;
}
#count_value{
    color:rgba(0,122,196,1);
}

</style>
<ul class="sidebar-nav">
    {% comment %}<div class="sidebar_top_text">Documentation</div>
    <li>
        {#  {% url 'dashboard:posture_pattern' %}{% url 'dashboard:gettingstarted' %}#}
        <a href="{% url 'profiles:featured_guide' %}"><span>Featured guide</span></a>
    </li>
    <li>
        <a href="{% url 'profiles:api_usage_guide' %}"><span>API Usage guide</span></a>
    </li>
    <li>
        <a href="{% url 'profiles:faq' %}"><span>FAQ</span></a>
    </li>
    <hr class="black_border">{% endcomment %}
</ul>
{% endblock sidebar %}
{% block container %}

<div class="body_text">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Bill Plan</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
  	<div class="col-md-12">
  		<label class="bold_text">Current Monthly Usage</label>
  	</div>
  	<div class="col-md-4">
  		<div id="myProgress">
	  <div id="myBar"></div>
	</div>
  	</div>
  	<div class="col-md-4 center_text">
        <span class="bold_text"><span id="count_value"></span> of 10000</span>  <label>monthly Users active</label>
  	</div>
  	<div class="col-md-2">
  		<input class="my_btn"  type="button" value="Upgrade Now">
  	</div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
  	<div class="col-md-12">
  		<h2>Project Details</h2>
  	</div>
      <div class="clearfix"></div>
  </div>
</div>
    <br>
<div class="container-fluid">
  <div class="row">
  	<div class="col-md-2">
  		<span>Usage Tier<span class="right_text">:</span></span>
  	</div>
  	<div class="col-md-10">
  		<label class="bold_text">Free Tier</label>
  	</div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row ">
  	<div class="col-md-2">
  		<span>Project Token<span class="right_text">:</span></span>
  	</div>
  	<div class="col-md-10">
  		<label class="bold_text">{{project_token}}</label>
        <input type="hidden" id="project_token" value="{{ project_token }}">
        <input type="hidden" id="api_url" value="{{ api_url }}">
  	</div>
  </div>
</div>
</div>

{% endblock %}

{% block scripts %}
{#    this code comes after the footer section #}
<script type="text/javascript">
$(function () {
    {# taking the token and urls    #}
    var  PROJECT_TOKEN = $('#project_token').val();
    var API_HOSTNAME =$('#api_url').val();
    var url = 'getactiveusers';
    {# for passing the end date in the format of yyyy-dd-mm #}
    var current_date = new Date().toISOString();
    var end_date= current_date.slice(0,4) +"-"+current_date.slice(8,10)+"-"+current_date.slice(5,7);

    filter_json={'end_date':end_date};

        try {
            $.ajax({
                type: "POST",
                url: API_HOSTNAME + url + "/" + PROJECT_TOKEN + "/",
                dataType: 'json',
                beforeSend: function (xhr) {
                    var user = "apiuser";// your actual username
                    var pass = "entropik123";// your actual password
                    var token = user.concat(":", pass);
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                    xhr.setRequestHeader('Authorization', ("Basic ".concat(btoa(token))));
                },
                data: JSON.stringify(filter_json),
                async: false,
                success: function (data) {
                    var count=0;
                    var filter_result = JSON.parse(data);
                    var countSelector=$("#count_value");
                    if(data != "{}")
                    count = filter_result.count;
                    var limit= (count /100);
                    countSelector.text(count);
                    $("#myBar").css("width",limit);
                    if(limit > 80){
                    countSelector.css('color','red');
                    }
                }
            });
        } catch (error) {
            console.log(error);
        }
});
</script>
{% endblock scripts %}
