{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
{% block css %}
{% endblock %}
{% block container %}
    <style type="text/css">
        label{
            font-size: 13px !important;
            color: #646464 !important;
            font-family: Arial,sans-serif;
        }

        .addbutton {
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        font-size: 10px;
        border-radius: 12px;
        border: 1px solid green;
        width: 40px;
        }

    .addbutton:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }
        .form-control{
            height: 40px !important;
            border-radius: 0;
        }
        #project_list{
            font-size: 16px !important;
            text-transform: capitalize;
            font-weight: 900;

        }
        .thumbnail img{
            width: 140px;
            height: 80px;
            box-shadow: 0 0 2px #888888;
        }
        .thumbnail{
            word-break: break-all;
            text-align: center;
            margin: 20px;
            display: inline-block;
            background-color: rgba(255,255,255,1);
            border-radius: 0;
            border: 1px solid rgba(255,255,255,1);
        }
        h1{
            text-align: center;
            display: block;
        }
        .selected_thumbnail{
            border: 1px solid rgb(255, 183, 93);
            background-color: rgba(255, 183, 9,0.6);
        }
        .tm-tag {
            color: #555555;
            background-color: #f5f5f5;
            border: #bbbbbb 1px solid;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            display: inline-block;
            border-radius: 3px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            margin: 0 5px 5px 0;
            padding: 4px;
            text-decoration: none;
            transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            vertical-align: middle;
        }
        .tm-tag .tm-tag-remove {
            color: #000000;
            font-weight: bold;
            margin-left: 4px;
            opacity: 0.2;
        }
        .tm-tag .tm-tag-remove:hover {
            color: #000000;
            text-decoration: none;
            opacity: 0.4;
        }
        .tm-tag.tm-tag-info {
            color: #636363;
            background-color: #eeeeee;
            border-radius: 0 !important;
        }
        input[type="text"].tm-input {
            margin-bottom: 5px;
            vertical-align: middle !important;
        }
        .control-group.tm-group {
            margin-bottom: 5px;
        }
        .form-horizontal .control-group.tm-group {
            margin-bottom: 15px;
        }

        .fixed_height{
            height: 30px;
        }
        .media_name{
            text-transform: capitalize;
            display: inline;
            line-height: 30px;
        }
        .media_box{
            border: 1px solid #000000;
            background-color: #fff;
        }
        .media_label{
            display: block;
            margin: 10px 14px;
        }
        #media_list{
            height: 430px;
            overflow-y: scroll;
        }
        .modal-dialog{
            /*width: 700px;*/
        }
        hr{
            margin: 0 0;
        }
        #addTestModalContent .bootstrap-select.btn-group .dropdown-toggle .filter-option,
         #editTestModalContent .bootstrap-select.btn-group .dropdown-toggle .filter-option{
            width: 400px !important;
        }
    </style>
    <div>
    <div>
    <form method="POST" name="create_media" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{ user.id }}" id="user_id">
        <input type="hidden" value="{{ project_id }}" name="project" id="project">
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon" id="medianame-addon">Test Name:</span>
                    <input type="text" class="form-control" required="" name="name" id="name" placeholder="Enter Test Name" aria-describedby="medianame-addon">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon" id="mediaversion-addon">Test Version:</span>
                    <input type="text" class="form-control" required="" name="media_version" id="test_version" placeholder="Enter Test Version" aria-describedby="mediaversion-addon">
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon" id="activityType-addon">Activity Type:</span>
                    <select class="form-control" id="activityType">
                        <option value="1">Video</option>
                        <option value="3">Android App</option>
                        <option value="4">iOS App</option>
                        <option value="5">Webpage</option>
                        <option value="6">Physical</option>
                        <option value="7">Facial Emotion</option>

                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group file-selection">
                    <span class="input-group-addon" id="fileType-addon">File Type:</span>
                    <select id="selectionType" name="file_location" class="form-control" aria-describedby="fileType-addon">
                        <option value="0">Please select option</option>
                        <option value="1">Local Drive</option>
                        <option value="2">Network</option>
                    </select>
                </div>      
            </div>
        </div><br>
        <div class="row">
            <div class="col-xs-12">
            <div class="input-group">
                <span class="input-group-addon" id="tags-addon">Tags:</span>
                <input type="text" autocomplete="on" name="tags" id="hash_tags" placeholder="Press Enter/Comma  after each tag"
                       class="form-control input-medium tm-input tm-input-info tm-input-01"/>
            </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon" id="addTester-addon">Add Tester:</span>
                    <select class="form-control selectpicker" style="max-width:260px" data-width="260px" data-actions-box="true" name="testers" id="testers" multiple data-live-search="true">
                    </select>
                </div>
            </div>
        </div><br>
        <input type="hidden" id="nd_count" value="0">
        <input type="hidden" id="pd_count" value="0">
        <input type="hidden" id="ld_count" value="0">
        <input type="hidden" id="localdrive_count" value="0">
        <table id ='localdrive_table'>
            <tr style="padding-bottom:15px"><td style="padding:5px">
        <i class="fa fa-plus localDrive" aria-hidden="true" id="localDrivePath_add" style="vertical-align:middle;padding:3px"></i>
                </td>
                <td>
            <input class="localDrive form-control file-selection" type="file" id="localDrivePath" >
                </td>
            </tr>
        </table>
        <input type="hidden" id="networkDrive_count" value="0">
        <div id="network_group">
        <div class="input-group file-selection" id='networkDrivePath_div' >

            <!--<table id ='networkDrive_table'>-->
            <!--<tr><td style="padding:5px">-->
             <!--<button class="addbutton" type="add_button">+ Add More</button>-->
            <i class="fa fa-plus networkDrive" aria-hidden="true" style="vertical-align:middle;float:left;" id="networkDrivePath_add"></i>
            <!--</td>-->
            <!--<td>-->
            <span class="input-group-addon networkDrive" id="networkDrive-addon">URL:</span>

            <input type="text" class="form-control networkDrive" name="url" id="networkDrivePath" aria-describedby="networkDrive-addon">
            <br>
                    <!--</td>-->
            <!--</tr>-->
            <!--</table>-->
        </div>
        </div>
        <input type="hidden" id="physical_group_count" value="0">
        <div id="physical_group">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-plus" aria-hidden="true" style="vertical-align:middle;float:left;" id="physical_group_add"></i>
                </div>
                <div class="col-xs-7">
                    <div class="input-group">
                        <span class="input-group-addon" id="">Description:</span>
                        <input type="text" class="form-control" name="description_0" id="description_0" required>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="number" min="0" class="form-control" name="time_desc_0" id="time_desc_0">
                        <span class="input-group-addon" id="">Seconds</span>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <label class="file-selection"> Video Preview</label>
        <video class="file-selection" src="" height="100px" width="350px" style="padding-top:10px" controls></video>
        <label id="error_message" class="error"></label>
        <br>

        <input type="hidden" id='api_url' value="{{ api_url }}">
            <input type="hidden" id="host_url" value="{{ host_url }}">
        <div class="success_message"></div>
    </form>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tag_manager.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript">
        var cnt=0;

        function networkDrive_sub(i) {
                cnt = parseInt($('#nd_count').val());
                $('#nd_count').val(cnt-1);
                $('#networkDrivePath_'+i).remove();
                $('#input-group_'+i).remove();
                $('#networkDrivePath_sub_'+i).remove();
                $('#networkDrive-addon_'+i).remove();
                return false;
        };

        function physical_group_sub(i) {
                cnt = parseInt($('#pd_count').val());
                $('#pd_count').val(cnt-1);
                $('#physical_group_'+i).remove();
                $('#input-group_'+i,'#description_'+i,'#time_desc_'+i).remove();
                return false;
        };
        function localDrive_sub(i) {
                cnt = parseInt($('#ld_count').val());
                $('#ld_count').val(cnt-1);
                $('#tr_'+i).remove();
                $('#td_'+i).remove();
                $('#localDrivePath_'+i).remove();
                $('#localDrivePath_sub_'+i).remove();
                return false;
        };
        
        $('#physical_group_add').click(function() {
            cnt = parseInt($('#pd_count').val());
            if(cnt>=10)
            {
                alert("Ad Clutter Limit Reached : Max 10");
                return false;
            }
            $('#pd_count').val(cnt+1);
            var i= parseInt($('#pd_count').val());
            $('<div id="physical_group_'+i+'"><div class="row" ><div class="col-xs-1"><i class="fa fa-minus" aria-hidden="true" id="physical_group_sub_'+i+'" onclick="physical_group_sub('+i+');"></i></div>'+
                '<div class="col-xs-7"><div class="input-group">'+
                '<span class="input-group-addon">Description:</span><input type="text" required class="form-control" name="description_'+i+'" id="description_'+i+'"></div></div>'+
                '<div class="col-xs-4"><div class="input-group"><input type="number" min="0" class="form-control" name="time_desc_'+i+'" id="time_desc_'+i+'"><span class="input-group-addon" id="time_desc_'+i+'">Seconds</span></div></div></div><br></div>').appendTo(physical_group);
            //$('#physical_group_count').val(i+1);
            return false;
        });


         $('#networkDrivePath_add').click(function() {
                cnt = parseInt($('#nd_count').val());
                if(cnt>=10)
                {
                    alert("Ad Clutter Limit Reached : Max 10");
                    return false;
                }
                $('#nd_count').val(cnt+1);
                var i= parseInt($('#networkDrive_count').val());
                $('<div class="input-group file-selection" id="input-group_'+i+'" style="padding-bottom:25px"><i class="fa fa-minus networkDrive" aria-hidden="true" id="networkDrivePath_sub_'+i+'" onclick="networkDrive_sub('+i+');" style="vertical-align:middle;float:left;padding-bottom:13px;"></i><span class="input-group-addon networkDrive " id="networkDrive-addon_'+i+'">URL:</span><input type="text" class="form-control networkDrive" name="url" id="networkDrivePath_'+i+'" aria-describedby="networkDrive-addon"></div>').appendTo(network_group);
                $('#networkDrive_count').val(i+1);
                return false;
        });

        $('#localDrivePath_add').click(function() {
                cnt = parseInt($('#ld_count').val());
                if(cnt>=10)
                {
                    alert("Ad Clutter Limit Reached : Max 10");
                    return;
                }
                $('#ld_count').val(cnt+1);
                var i= parseInt($('#localdrive_count').val());
                $('#localdrive_table tbody').append('<tr style="padding-bottom:15px" id="tr_'+i+'"><td style="padding:5px"><i class="fa fa-minus localDrive" aria-hidden="true" id="localDrivePath_sub_'+i+'" onclick="localDrive_sub('+i+');" style="vertical-align:middle;padding:3px"></i></td><td id="td_'+i+'"><input class="localDrive form-control file-selection" type="file" id="localDrivePath_'+i+'"></td></tr>');
                $('#localdrive_count').val(i+1);
                return false;
        });

        function saveTest() {
            var api_host = $("#api_url").val();
            var host_url = $("#host_url").val();
            var media_name = $("#name").val();
            var project_id = $("#project").val();
            var test_version = $("#test_version").val();
            var media_id = $("#media_id").val();
            var user_id = $("#user_id").val();
            var created_date = new Date();
            // var category = $('#category').find('option:selected').val();
            // var subcategory = $('#subcategory').find('option:selected').val();
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
            var hash_tags = $(".tm-input.tm-input-01").tagsManager('tags');
            var user_testers = $('#testers').val();
            if(media_name == ""){
                return require_file_selection("Please enter Test Name");
            }
            if(test_version == ""){
                return require_file_selection("Please enter Test Version");
            }
            else if(hash_tags.length == 0)
            {
                return require_file_selection("Select at least one Hashtag");
            }
            $(".success_message").hide();
            var selectedType = $('#selectionType :selected').val();
            var url = "";
            var media = {
                name:media_name,
                project:project_id,
                created_date:created_date,
                activitytype:$("#activityType").val(),
                csrf_token:csrf_token,
                image:"abc.jpg",
                media_version:test_version,
                url:""
            }
            //media.activity type are video, aapp, ios app,normal...
            if(media.activitytype=="1" || media.activitytype=="2"){
                 var arr= [];
                // selected type signifies localdrive or network
                if(selectedType == "0"){
                    return require_file_selection("Please select a file type");
                }else
                if(selectedType == "1"){
                    media.url=  $("#localDrivePath").val().match(/[^\\/]*$/)[0];
                    media.file_location= selectedType;
                    if(media.url == "")
                        return require_file_selection("Please choose a file");
                debugger;
                var cnt = parseInt($('#localdrive_count').val());

                var media_id = media_id;
                var project_id = project_id;
                var formData = new FormData();

                var filename = $("#localDrivePath").val().match(/[^\\/]*$/)[0];
                if(filename && filename.indexOf('.') == -1)
                {
                   filename = filename + '.mp4';
                }
                formData.append('file', $("#localDrivePath")[0].files[0]);
                formData.append('filename',filename);
                formData.append('prefix', project_id.toString()+'/');
                 var data= '';
                 var url = host_url + 'users/s3uploadvideo/';
                  $.ajax({
                        url : url,
                        type : 'POST',
                        data : formData,
                        async: false ,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,  // tell jQuery not to set contentType
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'))
                        },
                        success : function(response) {
                          data =response;
                        }
                    });
                media.url = data['url'];
                for(var i=0;i<cnt;i++)
                {
                    var media_id = media_id;
                    var project_id = project_id;
                    var formData = new FormData();

                 if($("#localDrivePath_"+i ).length != 0)
                    {
                    var filename = $("#localDrivePath_"+i).val().match(/[^\\/]*$/)[0];
                    if(filename && filename.indexOf('.') == -1)
                    {
                        filename = filename + '.mp4';
                    }
                    formData.append('file', $("#localDrivePath_"+i)[0].files[0]);
                    formData.append('filename',filename);
                    formData.append('prefix', project_id.toString()+'/');
                     var data= '';
                     var url = host_url + 'users/s3uploadvideo/';
                      $.ajax({
                            url : url,
                            type : 'POST',
                            data : formData,
                            async: false ,
                            processData: false,  // tell jQuery not to process the data
                            contentType: false,  // tell jQuery not to set contentType
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader('X-CSRFToken',Cookies.get('csrftoken'))
                            },
                            success : function(response) {
                              data =response;
                            }
                        });
                      arr.push(data['url']);
                   }
                   }

                }else if(selectedType == "2"){
                    media.url= $("#networkDrivePath").val();
                    media.file_location= selectedType;
                    if(media.url == "")
                        return require_file_selection("Please enter a url");
                    cnt = parseInt($('#networkDrive_count').val());
                    for(var i=0;i<cnt;i++)
                    {
                        if($("#networkDrivePath_"+i ).length != 0)
                        {
                            path = $('#networkDrivePath_'+i).val();
                            arr.push(path);
                        }
                    }
                }


            }
            else if(media.activitytype == "5"){
                // webpage
                media.url = $("#localDrivePath").val().match(/[^\\/]*$/)[0];
                // media.file_location 
                if(media.url == "")
                    media.url = "https://dummyimage.com/600x400/fad/def";
            }
            else if(media.activitytype == "6"){
                // physical
                var arr= [];
                cnt = parseInt($('#pd_count').val());
                var seconds_val= 0;
                if(cnt>0)
                {
                    for(var i=0;i<=cnt;i++)
                    {
                        if($("#description_"+i).val().length !== 0)
                        {
                            if($('#time_desc_'+i).val() !== "") seconds_val=$('#time_desc_'+i).val();
                            path = $('#description_'+i).val()+"_"+ seconds_val;
                            arr.push(path);
                        }
                        else{
                            return require_file_selection("Complete the Description Field");
                        }
                    }
                }
                else{
                    if($("#description_0").val().length !== 0)
                    {
                        if($('#time_desc_0').val() !== "") seconds_val=$('#time_desc_0').val();
                        path = $('#description_0').val()+"_"+ seconds_val;
                        arr.push(path);
                    }
                    else{
                        return require_file_selection("Complete the Description Field");
                    }
                }
                media.url = "https://dummyimage.com/600x400/fad/def";

            }
            else{
                media.url="https://dummyimage.com/600x400/fad/def";
            }

            
            // console.log(arr);

		if(user_testers.length == 0){
                // return require_file_selection("Add at least one Tester");
		user_testers=[];
            }



            var ajax_data = {
                "ad_clutter" : arr,
                "media":media,
                 "media_test": {
                    "start_date" : created_date,
                    "end_date":"2017-10-25",
                    "tags":hash_tags,
                    "project_id":project_id,
                    "user_id":user_id,
                    "is_completed":0,
                    "usertesters":user_testers
                }
            };
            var action_type = "add";
            if(project_id != undefined && project_id != null && project_id != ""){
                action_type = "update";
            }
            var test_url = api_host + "dashboard/media_plus_mediatest/";

            var inserted_data = call_ajax_json("POST", test_url, JSON.stringify(ajax_data));

            if (inserted_data.status == "Done") {

                $(".success_message").show().css('color', 'green').text("New Test Created Successfully");
                window.location.reload();
            } else if (inserted_data.status == "Updated") {
                $(".success_message").show().css('color', 'green').text("Project is updated");
                window.location.reload();
            } else {
                $(".success_message").show().css('color', 'red').text("Please try again !");
            }
        }

        function require_file_selection(message) {
            $(".success_message").show().css('color', 'Red').text(message);
            return false;
        }
    $(function () {
        $('#nd_count').val(0);
        $('#ld_count').val(0);
        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        }
        if($(location).attr('pathname')== "/users/create_test_view/"){
            var selected =$("#create_test_view");
            selected.addClass("selected_url");
        }

        $(".tm-input.tm-input-01").tagsManager({
            blinkBGColor_1: '#FFFF9C',
            blinkBGColor_2: '#CDE69C'//,
        });

        $('#start_date,#end_date').datetimepicker({
            dayOfWeekStart : 1,
            lang:'en',
            timepicker:false, //for hiding time from datepicker
            format:'d/m/Y',
            minDate: 0, //disable past dates
            minDateTime:new Date()
        });
        var project_drop_down= $('#project_list');
        var media_drop_down = $('#media_list');
        var api_host =$("#api_url").val();
        var host_url =$("#host_url").val();
        var user_id = $("#user_id").val();
        //get project list api
       var url_split = window.location.pathname.split('/');
        if (url_split.length >3)
        {
            var project_id = url_split[3],media_id=url_split[4];
            project_drop_down.find("option[value='"+project_id+"']").attr('selected','selected').trigger("change");
            media_drop_down.find("input[value='"+media_id+"']").parent().addClass('selected_thumbnail');
        }
        project_drop_down.find("option[value='"+project_id+"']").attr('selected','selected');
        var get_testers_url = api_host + "dashboard/getusertesters/";
        var get_testers_list = ajax_call_with_login("POST",get_testers_url,{"user_id":user_id});
        var testers = "";
        if(get_testers_list.length > 0) {
            get_testers_list.forEach(function (tester_list) {
               if(tester_list.is_active) // only add active tester
                    testers += "<option value='" + tester_list.id + "' title='" + tester_list.email + "'>" + tester_list.name + "</option>";
            });
        }
        $('#testers').append(testers).selectpicker('refresh');

        //on click of launch button
        $("form").on("submit",function () {
            var create_testers_url = api_host + "dashboard/createmediatest/";
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            var media_id =$(".selected_thumbnail #media_id").val();
            var project_id = project_drop_down.find(" option:selected").attr("value");
            var hash_tags = $(".tm-input.tm-input-01").tagsManager('tags');
            var user_testers = $('#testers').val();
            var success_message = $(".success_message");
            if(!media_id){
                success_message.html("No media Selected").show().fadeOut(3000);
                return false;
            }else if(hash_tags.length == 0)
            {
                success_message.html("Select at least one Hash tag").show().fadeOut(3000);
                return false;
            }
            else{
		 	if(user_testers.length == 0){
                	// success_message.html("Add at least one Tester").show().fadeOut(3000);
                	// return false;
                	user_testers = [];
	            }
                success_message.html("Creating Test... please wait...").show();
                var create_test_data = {
                    "start_date" : start_date,
                    "end_date": end_date,
                    "tags":hash_tags,
                    "project_id":project_id,
                    "media_id":media_id,
                    "user_id":user_id,
                    "is_completed":0,
                    "usertesters":user_testers
                };
                var get_status = ajax_call_with_login("POST",create_testers_url,create_test_data);
                //if the test is created then redirect to Home Page by displaying the message.
                if(get_status.status && get_status.status == "Done")
                {
                    //to display the success message
                    success_message.html("Test Created Successfully").show().fadeOut(3000);
                    //to redirect to home page
                    {#                        window.location= "/users/project_overview/";#}
                    return true;
                }
                else{
                    success_message.html("Test Failed to create").show().fadeOut(3000);
                    //stay back in the same page.
                    return false;
                }
            }

        });
        $("img").on("error", function(){
            $(this).attr('src', '/static/img/image_not_found.png');
        });
    });
    (function localFileVideoPlayer() {
        'use strict';
        var URL = window.URL || window.webkitURL;
        var displayMessage = function (message, isError) {
            var element = document.querySelector('#error_message');
            element.innerHTML = message;
            element.className = isError ? 'error' : 'info'
        };
        var playLocalDriveSelectedFile = function (event) {
            var file = this.files[0];
            var type = file.type;
            var videoNode = document.querySelector('video');
            var canPlay = videoNode.canPlayType(type);
            if (canPlay === '') canPlay = 'no';
            var message = 'Can play type "' + type + '": ' + canPlay;
            var isError = canPlay === 'no';
            //displayMessage(message, isError);

            if (isError) {
                return
            }
            var fileURL = URL.createObjectURL(file);
            videoNode.src = fileURL
        };
        var playNetworkDriveSelectedFile = function (event) {
            var videoNode = document.querySelector('video');
            var fileURL  = $("#networkDrivePath").val();
            videoNode.src = fileURL
        };
        var inputLocalDrivePathNode = document.querySelector('#localDrivePath');
        inputLocalDrivePathNode.addEventListener('change', playLocalDriveSelectedFile, false);
        var inputLocalDrivePathNode = document.querySelector('#networkDrivePath');
        inputLocalDrivePathNode.addEventListener('change', playNetworkDriveSelectedFile, false)
    })();
    $(function() {
        // default hide all drive input
        $(".networkDrive,.localDrive,#physical_group").hide();
        $("#selectionType").change(function(){
            // clean url
            $("video").attr("src",'');
            $("#error_message").text("");
            // select drop down option form network
            var selectedType = $('#selectionType :selected').val();
            switch(selectedType){
                case "1":
                    $(".localDrive").show();
                    $(".networkDrive").hide();
                    break;
                case "2":
                    $(".localDrive").hide();
                    $(".networkDrive").show();
                    break;
                default:
                    $(".networkDrive,.localDrive,#physical_group").hide();
                    break;
            }

        });
    });
    $('#activityType').change(function (e) {
        var selectedActivity=$("#activityType option:selected").text();
        if(selectedActivity == "Video" || selectedActivity == "Audio"){
            $('#physical_group').hide();
            $('.file-selection').show();
            $("#selectionType").val("0").trigger('change');
        } else if(selectedActivity == "Webpage"){
            $('#physical_group,.file-selection').hide();
            $('.localDrive').show();
            $('#localDrivePath_add').hide();
        } else if(selectedActivity == "Physical"){
            $('.file-selection').hide();
            $('#physical_group').show();
        } else{
            //hide video and audio selection file.
            $('#physical_group,.file-selection').hide();
        }
    });
    </script>
</div>
{% endblock %}