{% extends 'dashboard/template.html' %}
{% load staticfiles %}
{% block css %}
{% endblock %}
{% block container %}
    <div class="col-md-6">
    <h1>Create Media</h1>
    <form method="POST" name="create_media" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{ user.id }}" id="user_id">
        <input type="hidden" value="{{ project_id }}" name="project" id="project">
        <div class="input-group">
            <span class="input-group-addon" id="medianame-addon">Media Name:</span>
            <input type="text" class="form-control" required="" name="name" id="name" placeholder="Enter Media Name" aria-describedby="medianame-addon">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="mediaversion-addon">Media Version:</span>
            <input type="text" class="form-control" required="" name="media_version" id="version" placeholder="Enter Media Version" aria-describedby="mediaversion-addon">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="fileType-addon">File Type:</span>
            <select id="selectionType" name="file_location" class="form-control" aria-describedby="fileType-addon">
                <option value="0">Please select option</option>
                <option value="1">Local Drive</option>
                <option value="2">Network</option>
            </select>
        </div>
        <br>

        <input class="localDrive form-control" type="file" id="localDrivePath" >
        <br>
        <div class="input-group">
            <span class="input-group-addon networkDrive" id="networkDrive-addon">URL:</span>
            <input type="text" class="form-control networkDrive" name="url" id="networkDrivePath" aria-describedby="networkDrive-addon">
        </div>
        <label> Video Preview</label>
        <video src="" height="200px" width="640px" controls></video>
        <label id="error_message" class="error"></label>
        <br>
        <a href="{% url "dashboard:manage_project" %}" class="btn btn-inline cancel_btn">Cancel</a>
        <input type="submit" class="btn btn-primary btn-inline success_btn" value="Create">
        <input type="hidden" id="api_url" value="{{ api_url }}">
        <div class="success_message"></div>
    </form>
    </div>
    <div class="col-md-3"></div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">
    $(function () {
        var api_host = $("#api_url").val();
        var form = $("form[name='create_media']");
        var ajax_url = api_host+"dashboard/add_media/";

        form.on("submit",function (event) {
            event.preventDefault();
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: ajax_url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if(data.status == "inserted")
                    {
                        $(".success_message").text("Media Created Successfully");
                        window.location = "/users/manage_project/";
                    }
                }
            });
            return false;
        });
    });
    (function localFileVideoPlayer() {
        'use strict'
        var URL = window.URL || window.webkitURL
        var displayMessage = function (message, isError) {
            var element = document.querySelector('#error_message')
            element.innerHTML = message
            element.className = isError ? 'error' : 'info'
        }
        var playLocalDriveSelectedFile = function (event) {
            var file = this.files[0]
            var type = file.type
            var videoNode = document.querySelector('video')
            var canPlay = videoNode.canPlayType(type)
            if (canPlay === '') canPlay = 'no'
            var message = 'Can play type "' + type + '": ' + canPlay
            var isError = canPlay === 'no'
            displayMessage(message, isError)

            if (isError) {
                return
            }
            console.log(file);
            var fileURL = URL.createObjectURL(file)
            videoNode.src = fileURL
        }
        var playNetworkDriveSelectedFile = function (event) {
            var videoNode = document.querySelector('video')
            var fileURL  = $("#networkDrivePath").val()
            videoNode.src = fileURL
        }
        var inputLocalDrivePathNode = document.querySelector('#localDrivePath')
        inputLocalDrivePathNode.addEventListener('change', playLocalDriveSelectedFile, false)
        var inputLocalDrivePathNode = document.querySelector('#networkDrivePath')
        inputLocalDrivePathNode.addEventListener('change', playNetworkDriveSelectedFile, false)
    })()
    $(function() {
        // default hide all drive input
        $(".networkDrive,.localDrive").hide();
        $("#selectionType").change(function(){
            // clean url
            $("video").attr("src",'');
            $("#error_message").text("");
            // select drop down option form network
            var selectedType = $('#selectionType :selected').val();
            switch(selectedType){
                case "1":
                    $(".localDrive").show();
                    $(".networkDrive").hide();
                    break;
                case "2":
                    $(".localDrive").hide();
                    $(".networkDrive").show();
                    break;
                default:
                    $(".networkDrive,.localDrive").hide();
                    break;
            }

        });
    })
    </script>
{% endblock %}