{% load staticfiles %}
{% block css %}

    <style type="text/css">
        .thumbnail {
            position: relative;
            word-break: break-all;
            margin: 20px 10px 40px 10px;
            display: inline-flex;
            width: 140px;
            height: 80px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 0;
            box-shadow: 0 0 1px #888888;
            border: 1px solid rgba(255, 255, 255, 1);
        }

        .thumbnail .close, .project_name_wrapper .delete {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            padding: 2px 2px;
            cursor: pointer;
            font-size: 24px;
            font-weight: 900;
            opacity: .2;
            border-radius: 50%;
        }

        .thumbnail:hover img {
            opacity: 0.8;
        }

        .thumbnail:hover .close, .project_name_wrapper:hover .delete {
            background-color: #fff;
            opacity: 1;
        }

        .project_name_wrapper .delete {
            color: red;
        }

        .project_name_wrapper {
            position: relative;
            border-radius: 0;
            display: block;
            text-align: left;
            border: 1px solid #646464;
            padding: 7px;
        }

        .add {
            font-size: 55px;
            font-weight: 900;
            padding-left: 55px;
            text-decoration: none;
        {#        margin-left: 10px;#}
        }

        .add.active, .add:focus, .add:hover {
            text-decoration: none !important;
        }

        h1 {
            text-align: center;
        }

        .form-control {
            width: 93%;
        }

        input,
        .form-control {
            height: 40px;
            border-radius: 0;
        }

        .media_section {
            position: fixed !important;
            top: 50px;
            right: 0;
            bottom: 0;
            padding-left: 33px;
            background-color: rgba(255, 255, 255, 1);
        }

        .media_section .project_view {
            padding-bottom: 30px;
        }

        .col-lg-12 .container-fluid {
            padding-right: 0 !important;
        }

        .search_bar {
            margin: 20px 10px;
            border-radius: 25px;
        }

        hr {
            margin-top: 0;
        }

        .project_section {
            margin-left: 10%;
        }

        .project_view {
            height: 78%;
            margin-top: 50px;
            overflow-y: scroll;
        }

        .media_section h1 {
            margin-left: 27%;
        }

        .right_align {
            float: right;
            width: 78%;
        }

        .media_view {
            display: inline-flex;
        }

        .bootstrap-select {
            background-color: transparent;
            margin-right: 20px;
        }

        .fa-plus {
            color: #333;
        }

        #addProjectModal .modal-body {
            padding: 0px !important;
        }

        #addProjectModal .modal-content {
            width: 500px;
        }

        #addCategory {
            display: none;
            background: white;
            position: absolute;
            border: 1px solid black;
            border-radius: 6px;
            width: 340px;
            padding: 15px;
            overflow: hidden;
            text-shadow: none;
            z-index: 50;
        }

        #addSubcategory {
            display: none;
            background: white;
            position: absolute;
            border: 1px solid black;
            border-radius: 6px;
            width: 340px;
            padding: 15px;
            overflow: hidden;
            text-shadow: none;
            z-index: 50;
        }

        .success_message {
            color: green;
            margin-top: 20px;
            margin-bottom: 20px;

        }
    </style>
{% endblock %}
{% block container %}

    <input type="hidden" id="api_url" value="{{ api_url }}">
    <input type="hidden" id="host_url" value="{{ host_url }}">
    <input type="hidden" id="project_id" value="{{ project_id }}">
    <input type="hidden" id="row_index_id" value="">

    <div class="project_section">
        <div class="success_message"></div>
        <form method="post" name="create_project">
            {% csrf_token %}

            <input type="hidden" value="{{ user.id }}" id="user_id">
            <div class="form-group">
                <label for="project_name">Project Name:</label>
                <input type="text" class="form-control" autofocus required name="project_name" id="project_name"
                       placeholder="Enter Project Name">
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <br>
                <select class="selectpicker form-control" data-live-search="true" required name="category"
                        id="category">
                </select>
                <i class="fa fa-plus" aria-hidden="true" data-toggle="modal" id="categoryModal"
                   data-target="#categoryModal" title="Add new category"></i>

            </div>
            <div class="form-group">
                <label for="subcategory ">Subcategory:</label>
                <br>
                <select class="selectpicker form-control" data-live-search="true" required name="subcategory"
                        id="subcategory">
                </select>
                <i class="fa fa-plus" aria-hidden="true" data-toggle="modal" id="subcategoryModal"
                   data-target="#subcategoryModal" title="Add new subcategory"></i>

            </div>

        </form>
    </div>
    <div class="J-M jQjAxd" id="addCategory" role="menu" aria-haspopup="true"
         style="user-select: none; left: 408px; top: 20px;">
        <div class="SK AX" style="user-select: none; min-width: 64px;">
            <div class="J-N-JE" style="user-select: none;">
                <input id="addCategoryText" class="aXn" style="width: 300px;" tabindex="0" role="combobox"
                       aria-autocomplete="list" placeholder="Add new category"/>
                <label id="addCategoryError" style="color:red;"></label>
            </div>
            <div class="J-JK" style="text-align: center;margin-top:10px" role="menuitem" aria-hidden="false" id=":2z1">
                <button type="button" class="btn btn-primary btn-inline launch_btn" id="addCategorySaveBtn">Save
                </button>
                <button type="button" class="btn btn-primary btn-inline launch_btn" id="addCategoryCancelBtn">Cancel
                </button>

            </div>
        </div>
    </div>
    <div class="J-M jQjAxd" id="addSubcategory" role="menu" aria-haspopup="true"
         style="user-select: none; left: 408px; top: 20px;">
        <div class="SK AX" style="user-select: none; min-width: 64px;">
            <div class="J-N-JE" style="user-select: none;">
                <input id="addSubcategoryText" style="width: 300px;" tabindex="0" role="combobox"
                       aria-autocomplete="list" placeholder="Add new subcategory"/>
                <label id="addSubcategoryError" style="color:red;"></label>
            </div>
            <div class="J-JK" style="text-align: center;margin-top:10px" role="menuitem" aria-hidden="false" id=":2z1">
                <button type="button" class="btn btn-primary btn-inline launch_btn" id="addSubcategorySaveBtn">Save
                </button>
                <button type="button" class="btn btn-primary btn-inline launch_btn" id="addSubcategoryCancelBtn">
                    Cancel
                </button>

            </div>
        </div>
    </div>
    <!--End SubCategory Modal -->
{% endblock %}
{% block js %}

    <link rel="stylesheet" href="{% static 'css/fonts/font-awesome.min.css' %}">
    <script type="text/javascript">
        $(function () {


            if ($(location).attr('pathname') == "/users/manage_project/") {
                var selected = $("#project_overview");
                selected.addClass("selected_url");
            }
            //this is for create project section
            var project_id = $("#project_id").val();
            var api_host = $("#api_url").val();
            var host_url = $("#host_url").val();
            var user_id = $("#user_id").val();
            //get project list api
            var category_url = api_host + "dashboard/querycategories/";
            var category_ajax_data = {"op": "get", "user_id": user_id};
            var get_category_list = call_ajax("POST", category_url, category_ajax_data);
            var categories_dd = "";
            var subcategories_dd = "";
            var categories_drop_down = $("#category");
            var sub_categories_drop_down = $("#subcategory");

            //to display the list of categories
            if (get_category_list.length > 0) {
                get_category_list.forEach(function (category_data) {
                    categories_dd += "<option value='" + category_data.category_name + "'>" + category_data.category_name + "</option>"
                });
                categories_drop_down.append(categories_dd);
                categories_drop_down.on('change', function () {
                    var selected_category = categories_drop_down.find("option:selected").val();
                    var index = get_category_list.findIndex(function (x) {
                        return x.category_name == selected_category
                    });
                    subcategories_dd = "";
                    if(index != -1){
                        get_category_list[index].subcategories.forEach(function (data) {
                            subcategories_dd += "<option value='" + data.name + "' selected=''>" + data.name + "</option>";
                        });
                    }
                    sub_categories_drop_down.html("").append(subcategories_dd);
                    sub_categories_drop_down.selectpicker('refresh');
                }).triggerHandler("change");
            }
            else {
                $(".launch_btn").attr("disabled");
            }
            $("form").on('submit', function (event) {
                event.preventDefault();

                return false;
            }); //end of create project submit button

            $('#subcategory,#category').selectpicker({
                width: '330px'
            });

            $('#subcategory,#category').selectpicker('refresh');


            $("#addSubcategorySaveBtn").click(function () {
                var subCategoryName = $("#addSubcategoryText").val();
                if (subCategoryName == "" || subCategoryName == undefined) {
                    $('#addSubcategoryError').text('Enter subcategory name.');
                    return false;
                } else {
                    $('#addSubcategoryError').text('');
                }
                var category = $('#category').find('option:selected').val();
                if (category == "" || category == undefined) {
                    $('#addSubcategoryError').text('Please select category.');
                } else {
                    $('#addSubcategoryError').text('');
                }
                var categoryName = $('#category').find('option:selected').val();
                var payload = {
                    "op": "add",
                    "user_id": $('#user_id').val(),
                    "category": categoryName,
                    "subcategories": subCategoryName
                };
                var category_url = api_host + "dashboard/querycategories/";
                var save_category_list = call_ajax("POST", category_url, payload);
                if (save_category_list.status == "added") {
                    $('#addSubcategoryError').css('color', 'green').text('Save Successfully');
                    subcategories_dd = "<option value='" + subCategoryName + "' selected=''>" + subCategoryName + "</option>";
                    sub_categories_drop_down.prepend(subcategories_dd);
                    $('#subcategory').selectpicker('refresh');

                    var selected_category = categories_drop_down.find("option:selected").val();
                    var index = get_category_list.findIndex(function (x) {
                        return x.category_name == selected_category
                    });
                    get_category_list[index].subcategories.push({"id":1,"name":subCategoryName})

                    setTimeout(function () {
                        $('#addSubcategory').slideToggle(300);
                    }, 300);
                } else {
                    $('#addSubcategoryError').css('color', 'red').text('Please try again.');
                }
            });
            $("#addCategorySaveBtn").click(function () {
                var categoryName = $("#addCategoryText").val();
                if (categoryName == "" || categoryName == undefined) {
                    $('#addCategoryError').text('Enter category name.');
                    return false;
                } else {
                    $('#addCategoryError').text('');
                }
                var payload = {
                    "op": "add",
                    "user_id": $('#user_id').val(),
                    "category": categoryName
                };
                var category_url = api_host + "dashboard/querycategories/";
                var save_category_list = call_ajax("POST", category_url, payload);
                if (save_category_list.status == "added") {
                    $('#addCategoryError').css('color', 'green').text('Save Successfully!');
                    categories_dd = "<option value='" + categoryName + "' selected=''>" + categoryName + "</option>";
                    categories_drop_down.prepend(categories_dd);
                    categories_drop_down.selectpicker('refresh');
                    // update model
                    get_category_list.push({"id":1,"category_name":categoryName,"subcategories":[]});
                    sub_categories_drop_down.html("")
                    sub_categories_drop_down.selectpicker('refresh');
                    setTimeout(function () {
                        $('#addCategory').slideToggle(300);
                    }, 300);
                } else {
                    $('#addCategoryError').css('color', 'red').text('Please try again.');
                }
            });

            $("#addSubcategoryCancelBtn").click(function () {
                $("#addSubcategoryText").val('');
                $('#addSubcategoryError').text('');
                $('#addSubcategory').slideToggle(300);
            });
            $("#addCategoryCancelBtn").click(function () {
                $("#addCategoryText").val('');
                $('#addCategoryError').text('');
                $('#addCategory').slideToggle(300);
            });
            $('#categoryModal').click(function () {
                position = $(this).position();
                $('body').append('<div class="overlay"></div>');
                $("#addCategoryText").val('');
                $('#addCategoryError').text('');
                $('#addCategory').slideToggle(300);
                $('#addCategory').css('top', position.top + 17);
                return false;
            });
            $('#subcategoryModal').click(function () {
                position = $(this).position();
                $('body').append('<div class="overlay"></div>');
                $('#addSubcategory').slideToggle(300);
                $("#addSubcategoryText").val('');
                $('#addSubcategoryError').text('');
                $('#addSubcategory').css('top', position.top + 17);
                return false;
            });
        });
        function populateProjectData(data){
            $("#project_name").val(data.project_name);
            setTimeout(function () {
                $('#category').val(data.category);
                $('#category').selectpicker('refresh');
                $('#category').trigger('change');
            },500);
            setTimeout(function () {
                $('#subcategory').val(data.subcategory);
                $('#subcategory').selectpicker('refresh');
            },500);


        }
        function saveProject() {
            var api_host = $("#api_url").val();
            var project_name = $("#project_name").val();
            var project_id = $("#project_id").val();
            var user_id = $("#user_id").val();
            var created_date = new Date();
            var category = $('#category').find('option:selected').val();
            var subcategory = $('#subcategory').find('option:selected').val();
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
            var ajax_data = {
                "user": user_id,
                "project_id": project_id,
                "name": project_name,
                "created_date": created_date,
                "category": category,
                "subcategory": subcategory,
                "csrf_token": csrf_token,
                "image": "abc.jpg"
            };
            var action_type = "add";
            if(project_id != undefined && project_id != null && project_id != ""){
                action_type = "update";
            }
            var project_url = api_host + "dashboard/createentity/"+action_type+"/project/";
            var inserted_data = call_ajax("POST", project_url, ajax_data);
            if (inserted_data.status == "Entity Created") {
                $(".success_message").css('color', 'green').text("New Project Created Successfully");
                var newProject = [];
                newProject.projectId = inserted_data.id;
                newProject.projectName = project_name;
                newProject.category = category;
                newProject.subcategory = subcategory;
                //addNewProject(newProject);
                window.location.reload();
            } else if (inserted_data.status == "Updated") {
                $(".success_message").css('color', 'green').text("Project is updated");
                var updated_record = {
                    "project_id" :project_id,
                    "project_name": project_name,
                    "category": category,
                    "subcategory": subcategory
                }
                var row_index_id = $('#addProjectModalContent').find('#row_index_id').val();
                upateProject(row_index_id,updated_record);
                window.location.reload();
            } else if (inserted_data.status == "project with same name already exists"){
                $(".success_message").css('color', 'red').text("This project name is already exists!");
                setTimeout(function(){$(".success_message").html("");},4000);
            } else {
                $(".success_message").css('color', 'red').text("Please try again !");

            }
        }
    </script>
{% endblock %}