{% extends 'dashboard/template.html' %}
{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/>

    <style type="text/css">
        .dropdown-menu>li>a{
            padding: 1px 45px 0px !important;
        }
    .col-lg-12{
        padding-right: 0 !important;
    }
    .paddingtop{
     padding: 0 !important;
    }
    label{
            font-size: 13px !important;
    color: #646464 !important;
            font-family: Arial,sans-serif;
    }
        .form-control{
            height: 40px !important;
            border-radius: 0;
        }
        #project_list{
            font-size: 16px !important;
            text-transform: capitalize;
            font-weight: 900;

        }
        .thumbnail img{
            width: 140px;
            height: 80px;
            box-shadow: 0 0 2px #888888;
        }
        .thumbnail{
            word-break: break-all;
            text-align: center;
            margin: 20px;
            display: inline-block;
            background-color: rgba(255,255,255,1);
            border-radius: 0;
            border: 1px solid rgba(255,255,255,1);
        }
        h1{
            text-align: center;
            display: block;
        }
        .selected_thumbnail{
            border: 1px solid rgb(255, 183, 93);
            background-color: rgba(255, 183, 9,0.6);
        }
        .tm-tag {
            color: #555555;
            background-color: #f5f5f5;
            border: #bbbbbb 1px solid;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            display: inline-block;
            border-radius: 3px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            margin: 0 5px 5px 0;
            padding: 4px;
            text-decoration: none;
            transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            vertical-align: middle;
        }
        .tm-tag .tm-tag-remove {
            color: #000000;
            font-weight: bold;
            margin-left: 4px;
            opacity: 0.2;
        }
        .tm-tag .tm-tag-remove:hover {
            color: #000000;
            text-decoration: none;
            opacity: 0.4;
        }
        .tm-tag.tm-tag-info {
            color: #4594b5;
            background-color: #c5eefa;
            border-radius: 0 !important;
        }
        input[type="text"].tm-input {
            margin-bottom: 5px;
            vertical-align: middle !important;
        }
        .control-group.tm-group {
            margin-bottom: 5px;
        }
        .form-horizontal .control-group.tm-group {
            margin-bottom: 15px;
        }
        .launch_btn,.launch_btn:hover,.launch_btn:active,
        .launch_btn:visited,.launch_btn:focus{
            color: #fff;
            background-color: #ff6c3c;
            width: 150px;
            border-radius: 25px;
            border: 1px solid #ff6c3c;
            font-weight: 900;
        }
        .cancel_btn,.cancel_btn:hover,.cancel_btn:active,
        .cancel_btn:focus,.cancel_btn:visited{
            background-color: #fff;
            border: 1px solid #ff6c3c;
            color: #ff6c3c;
            width: 150px;
            border-radius: 37px;
            font-weight: 900;
        }
        .fixed_height{
            height: 30px;
        }
        .media_name{
            text-transform: capitalize;
            display: inline;
            line-height: 30px;
        }
        .media_box{
            border: 1px solid #000000;
            background-color: #fff;
        }
        .media_label{
            display: block;
            margin: 10px 14px;
        }
        #media_list{
            height: 430px;
            overflow-y: scroll;
        }
        hr{
            margin: 0 0;
        }
    </style>
{% endblock %}
{% block container %}
    <h1>Create Test</h1>
    <br><br>
    <form name="create_test" method="POST">
        <div class="col-xs-8">

            {% csrf_token %}
            <input type="hidden" name="user_id" id="user_id" value="{{ user.id }}">
            <div class="row">
                <div class="col-xs-6">
                    <label for="project_list">Select Project:</label>
                    <select class="form-control" id="project_list" ></select>
                </div>
                <div class="col-xs-3">
                    <label for="start_date">Start date :</label>
                    <input type="text" name="start_date" placeholder='DD/MM/YYYY' required
                           class="form-control" id="start_date" /><br>
                </div>
                <div class="col-xs-3">
                    <label for="end_date">End date :</label>
                    <input type="text" name="end_date" placeholder='DD/MM/YYYY' required
                           class="form-control" id="end_date" /><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {#                <select class="form-control" id="media_list"></select>#}
                    <div class="media_box">
                        <label class="media_label">Select Media:</label><hr>
                        <div id="media_list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-12">
                    <label for="testers">Add Tester</label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control selectpicker"  name="testers" id="testers" multiple="multiple">

                    </select>
                </div>
            </div>
            <div class="fixed_height"></div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="hash_tags">Tags</label>
                    <input type="text" autocomplete="on" name="tags" id="hash_tags" placeholder="Press Enter after each tag"
                           class="form-control input-medium tm-input tm-input-info tm-input-01"/>
                </div>
            </div>
            <br><br><br>
            <div class="row pull-right">
                <div class="col-xs-12">
                    <a href="{% url 'dashboard:project_overview' %}" class="btn btn-lg btn-inline cancel_btn">Cancel</a>
                    <input type="submit" class="btn btn-lg btn-inline launch_btn" value="Launch"><br>
                    <span class="success_message"></span>
                </div>
            </div>
        </div>
        <input type="hidden" id="api_url" value="{{ api_url }}">
        <input type="hidden" id="host_url" value="{{ host_url }}">
    </form>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tag_manager.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/multi_select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            }
            if($(location).attr('pathname')== "/users/create_test_view/"){
                var selected =$("#create_test_view");
                selected.addClass("selected_url");
            }
            $(".tm-input.tm-input-01").tagsManager({
                blinkBGColor_1: '#FFFF9C',
                blinkBGColor_2: '#CDE69C'//,
            });
            $('#start_date,#end_date').datetimepicker({
                dayOfWeekStart : 1,
                lang:'en',
                timepicker:false, //for hiding time from datepicker
                format:'d/m/Y',
                minDate: 0, //disable past dates
                minDateTime:new Date()
            });
            var project_drop_down= $('#project_list');
            var media_drop_down = $('#media_list');
            var api_host =$("#api_url").val();
            var host_url =$("#host_url").val();
            var user_id = $("#user_id").val();
            //get project list api
            var project_url = api_host + "dashboard/selectuserproject/";
            var ajax_data = {"user_id":user_id};
            var get_project_list = call_ajax("POST",project_url,ajax_data);
            get_project_list.forEach(function(data) {
                //id, name, media_list
                var project_bar = "<option value='"+data.project_id+"'>"+data.name+"</div></a>";
                project_drop_down.append(project_bar);
            });

            // on change the dropdown list
            project_drop_down.on('change',function () {
                var project_id = project_drop_down.find(" option:selected").attr("value");
                var project_index = get_project_list.findIndex(function(x) { return x.project_id==project_id });
                media_drop_down.html("");
                if(get_project_list[project_index].media.length == 0){
                    //if no media exist for the selected project
                    media_drop_down.html("<h3>No media exist</h3>");
                }
                else{
                    //if the selected project contains media elements then display the thumbnails
                    get_project_list[project_index].media.forEach(function (media_data) {
                        var media_bar = "<div class='thumbnail'><input type='hidden' id='media_id' name='media_id' " +
                            " value='"+media_data.media_id+"'><img src='"+api_host+"media/"+media_data.image_name+"'>" +
                            " <span class='media_name'>"+media_data.name+"</span></div>";
                        media_drop_down.append(media_bar);
                    });
                    //on selecting the thumbnail image need to toggle class
                    $(".thumbnail img").on('click',function () {
                        $(this).parent().parent().find(".selected_thumbnail").removeClass("selected_thumbnail");
                        $(this).parent().toggleClass("selected_thumbnail");
                    });
                    $("img").on("error", function(){
                        $(this).attr('src', '/static/img/image_not_found.png');
                    });
                }
            });
            var url_split = window.location.pathname.split('/');
            if (url_split.length >3)
            {
                var project_id = url_split[3],media_id=url_split[4];
                project_drop_down.find("option[value='"+project_id+"']").attr('selected','selected').trigger("change");
                media_drop_down.find("input[value='"+media_id+"']").parent().addClass('selected_thumbnail');
            }
            project_drop_down.find("option[value='"+project_id+"']").attr('selected','selected');
            var get_testers_url = api_host + "dashboard/getusertesters/";
            var get_testers_list = ajax_call_with_login("POST",get_testers_url,{"user_id":user_id});
            var testers = "";
            if(get_testers_list.length > 0) {
            get_testers_list.forEach(function (tester_list) {
                testers += "<option value='" + tester_list.id + "' title='" + tester_list.email + "'>" + tester_list.name + "</option>";
            });
            }
            $('#testers').append(testers).multiselect({
                "enableFiltering":true,
                "buttonWidth":400,
                "includeSelectAllOption": true
            });

            //on click of launch button
            $("form").on("submit",function () {
                var create_testers_url = api_host + "dashboard/createmediatest/";
                var start_date = $("#start_date").val();
                var end_date = $("#end_date").val();
                var media_id =$(".selected_thumbnail #media_id").val();
                var project_id = project_drop_down.find(" option:selected").attr("value");
                var hash_tags = $(".tm-input.tm-input-01").tagsManager('tags');
                var user_testers = $('#testers').val();
                var success_message = $(".success_message");
                if(!media_id){
                    success_message.html("No media Selected").show().fadeOut(3000);
                    return false;
                }else if(user_testers.length == 0){
                    success_message.html("Add at least one Tester").show().fadeOut(3000);
                    return false;
                }else if(hash_tags.length == 0)
                {
                    success_message.html("Select at least one Hash tag").show().fadeOut(3000);
                    return false;
                }
                else{
                    success_message.html("Creating Test... please wait...").show();
                    var create_test_data = {
                        "start_date" : start_date,
                        "end_date": end_date,
                        "tags":hash_tags,
                        "project_id":project_id,
                        "media_id":media_id,
                        "user_id":user_id,
                        "is_completed":0,
                        "usertesters":user_testers
                    };
                    var get_status = ajax_call_with_login("POST",create_testers_url,create_test_data);
                    //if the test is created then redirect to Home Page by displaying the message.
                    if(get_status.status && get_status.status == "Done")
                    {
                        //to display the success message
                        success_message.html("Test Created Successfully").show().fadeOut(3000);
                        //to redirect to home page
{#                        window.location= "/users/project_overview/";#}
                        return true;
                    }
                    else{
                        success_message.html("Test Failed to create").show().fadeOut(3000);
                        //stay back in the same page.
                        return false;
                    }
                }

            });
            $("img").on("error", function(){
                $(this).attr('src', '/static/img/image_not_found.png');
            });
        });
    </script>
{% endblock %}