{% extends "dashboard/layout.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'css/bootstrap/bootstrap-select.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/rickshaw.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/dashboard_graph_view.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/dashboard_responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/dashboard/nifty_min.css' %}" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <style type="text/css">
        .chart-footer, #graph_zone{
            display: none;
        }.no-data-found-message {
            display: none;
           text-align: center;
            margin-top: 50px;
             }
     /*   #neuro_workshop{
            width: 100%;
            box-shadow: 0px 0px 2px 0 #000;
            margin-top: 5px ;
        }
        #neuro_workshop:hover{
            background-color:#ddd ;
        }
*/
            .panel-wrapper {
                width: 25%;
                position: relative;
                min-height: 1px;
                padding: 10px 10px 0px;
                float: left;
            }

            .panel-info .panel-heading, .panel-info .panel-footer, .panel-info.panel-colorful {
                background-color: #00bcd4;
                border-color: #00bcd4;
                color: #fff;
            }

            .ui-widget-content {
                background: #ecf0f5 !important;
            }

            .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
                border: 1px solid #c5c5c5 !important;
                background: #f6f6f6 !important;
                font-weight: normal;
                color: #777 !important;
            }

            .ui-accordion .ui-accordion-header {
                padding: 0.5em 0.5em 0.5em 1.7em !important;
            }
            .metrics-wrapper{
                display: flex;
                font-size: 14px !important;
            }
            .reset_btn{
                padding-top: 2px;
                height: 25px;
                margin-top: 0px;
                font-size: 13px;
            }

            .metrics {
                width: 200px;
                display: flex;
                border: 1px solid #ddd;
                padding: 2px 30px;
                white-space: nowrap;
            }
            .image_wrapper{
                display: none;
                text-align: center;
            }
            h4[class^=accordion_media] {
                margin-bottom: 13px !important;
                font-size: 18px !important;
            }
            .summary_title{
                text-align: center;
                margin: 10px;
            }
            #accordion_media_0 .ui-accordion-content,#accordion_media_1 .ui-accordion-content  {
                height: 148px !important;
            }
            .ui-accordion .ui-accordion-content{
                padding: 0px !important;
            }
            .margin_top_10{
                margin-top: 10px !important;
            }
            .margin_bottom_50{
                margin-bottom:  50px !important;
            }
            .dash_card{
                border: 1px solid #fa662e;
            }
            .dash_content{
                padding: 0 !important;
            }
            label.heading,div.heading{
                background: #c5c5c5;
                padding: 5px 5px;
                font-size:15px;
                font-weight: 800;
                width: 100%;
            }
            label.heading.align{
                text-align: center;
                margin-bottom: 0px;
            }
            div.metrics{
                cursor:pointer;
            }
            .margin_top_30{
                margin-top: 30px;
            }
            .panel-heading{
                padding: 10px 15px !important;
                background-color: #94918d;
                color: #fff; 
            }
            .dropdown-menu ul li a span.text{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                margin: 0 !important;
            }
            [id^='image_wrapper_heading_']{
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: 500 !important;
                overflow: hidden;
                display: block;
            }
            .filter_icon{
                float: right;
                margin-top: -2px; 
            }
            .dashboard_overlay
            {
                opacity: 0.3 !important;
                pointer-events: none !important;
                background: lightblue !important;
            }
            text 
            {
                font: 12px sans-serif;
            }

            svg {
                display: block;
            }
            .edit_btn{
                padding: 4px 10px;
                border: 1px solid #f05827;
                border-radius: 4px;
                color: #f05827 !important;
                background: #fff;
                font-weight: normal;
            }

    </style>
{% endblock %}

{% block content_title %}Dashboard{% endblock %}
{% block maincontent %}
        <!-- Right side view of dashboard -->

    <input type="hidden" id="user_id" value="{{ user.id }}">
    <div class="container-fluid">
    <br>
        <div class="panel-group">
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#filter_options" class="filter_title">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        Filters
                        <i class="ti-angle-double-down filter_icon"></i>
                        </h4>
                    </div>
                </a>
                <div id="filter_options" class="panel-collapse collapse">
                <div class="panel-footer">
                    <div class="row-fluid">
                        <div class="col-lg-3">
                            <label for="project_dd" class="top-gap">Select Project:</label>
                            <select class="project_list  selectpicker" id="project_dd"
                                    data-live-search="true" data-live-search-placeholder="Search Project"></select>
                        </div>
                        <div class="col-lg-3">
                            <label for="media_dd" class="top-gap">Select Media:</label>
                            <select class="media_list    selectpicker" id="media_dd" multiple data-max-options="2"
                                    data-live-search="true" data-live-search-placeholder="Search Media"></select>
                        </div>
                        <div class="col-lg-3">
                            <label for="user_dd" class="top-gap">Select User Tester:</label>
                            <select class="user_list   selectpicker" id="user_dd" multiple
                                    data-actions-box="true" data-live-search="true"></select>
                        </div>
                        <div class="col-lg-3 gender">
                            <label for="gender_dd" class="top-gap">Gender</label>
                            <select class="btn btn-default dropdown-toggle dropdown_btn " id="gender_dd">
                                <option val="all">All</option>
                                <option val="versus">Versus</option>
                                <option val="male">Male</option>
                                <option val="female">Female</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel-footer"> <!--  -->
                    <div class="row-fluid">
                        <div class="col-lg-3 age">
                            <label for="gender_dd" class="top-gap">Age</label>
                            <select class="btn btn-default dropdown-toggle dropdown_btn " id="age_dd">
                                <option val="all">All</option>
                                <option val="versus">Versus</option>
                                <option val="29">Below 29</option>
                                <option val="49">29-50</option>
                                <option val="50">Above 50</option>
                            </select>
                        </div>
                        <div class="col-lg-3 research_parameters">
                            <h6>Research Parameters</h6>
                            <table class="table table-bordered">
                                <!-- 12 Research params -->
                                <tr>
                                    <td class="selected_param at_param" val="attention" title="A cognitive variable that measures the users focus while watching a video, advertisement or listening to an audio. It provides an overview of how immersive the user is during this period">Attention</td>
                                    <!--Mental Effort, YinYang-->
                                    <td val="ME" title="A key indicator of how a user's brain is processing the video, advertisement or audio. Higher the effort put in by the user to understand the content, greater the complexity and vice-versa">Engagement</td>
                                </tr>
                                <tr>
                                    <td val="ET" title="A variable that ranges from tranquility or boredom to alertness and excitement. It corresponds to similar concepts such as level of activation and stimulation">Activation</td>
                                    <!--Mental Effort, YinYang-->
                                    <td val="AP"
                                        title="A moment by moment analysis of how much of positive or negative inclination is displayed by user during the course of watching the video, advertisement or audio">Enjoyability</td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-lg-3">
                            <div class="image_wrapper" id="image_wrapper_0" style="height: 100px !important;"></div>
                        </div>
                        <div class="col-lg-3">
                            <div class="image_wrapper" id="image_wrapper_1" style="height: 100px !important;"></div>
                            <!-- Button trigger modal -->
                            <!-- <button id="neuro_workshop" type="button" class="btn" data-toggle="modal" data-target="#full_screen_mode">
                                neuro Workshop
                            </button> -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- Rickshaw Chart and bar graph -->

        <div class="row-fluid">
            <div class="no-data-found-message">
                <img src="{% static 'img/dashboard/NoDataFound.png' %}">
            </div>
            <div class="clearfix"></div>
        </div>
         <!-- Second section -->
        <div class="row-fluid">
            <div id="graph_zone">
               
                <div class="row-fluid margin_top_10">
                    <div class="smoothing_row">
                        <div class="col-md-1"><label>Smooth</label></div>
                        <div class="col-md-3"  style="padding-left: 0px">
                            <span id="smoother"></span>
                            <span id="smoother_distribution" style="display: none"></span>

                        </div>
                        <div class="col-md-1"><label>Zoom</label></div>
                        <div class="col-md-3" style="padding-left: 0px">
                            <span id="preview"></span>
                            <span id="preview_distribution" style="display:none"></span>

                        </div>

                        <div class="col-md-4">
                            <div class="metrics-wrapper">
                                <div class="metrics active-metrics selected_param" val="avg">Average</div>
                                <div class="metrics active-metrics" val="var">% Distribution</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="export_content" class="margin_top_10">
                    <div class="row-fluid text-center" id="chart_wrapper">
                        <div class="chart_block_row">
                            <div id="content">

                                <div id="chart_container">
                                    <div id="chart"></div>
                                    <label>Time in (HH:MM:SS)</label>

                                </div>
                                <div id="chart_container_error_label" style="display: none;">
                                    <label>No Data Found!</label>
                                </div>
                                <div id="chart_distribution_container" style="display: none;text-align: left;margin-top: -20px;height:500px; padding: 15px;">
                                        <div id="cd_0" style="height: 150px;">
                                            <label id="chart_distribution_label_0" class="heading">Test 1</label>
                                            <canvas id="chart_distribution_0" height="50" ></canvas>

                                        </div>
                                        <br><br><br>
                                    <div id="cd_1" style="height: 150px;">
                                        <label id="chart_distribution_error_label_0" class="error" style="display: none">No Data found!</label>
                                        <label id="chart_distribution_label_1" class="heading">Test 2</label>
                                        <canvas id="chart_distribution_1" height="50"></canvas>
                                        <br>                                        <label id="chart_distribution_error_label_1" class="error" style="display: none">No Data found!</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div style="height: 400px;" hidden>
                    <br><br>
                    <svg id="chart1"></svg>

                </div>
                 <div class="page-content">
                    <div class="row">
                        <div class="col-lg-12 no-padding-right">
                            <div id="accordion_media_0" >
                                <h4 class="accordion_media_0"></h4>
                                <div class="row" id="test_summary_wrapper_0">
                                    <div class="panel-wrapper" style="height: 150px !important;"></div>
                                </div>
                            </div>
                            <div id="accordion_media_1" class="margin_top_10">
                                <h4 class="accordion_media_1"></h4>
                                <div class="row" id="test_summary_wrapper_1">
                                    <div class="panel-wrapper" style="height: 150px !important;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Bar Graph and spider chart-->
        <div class="row-fluid">
            <div class="chart-footer">
                <div class="row-fluid  margin_top_30">
                    <div class="col-md-12 heading">
                        <label id="selected_media_name_0" ></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label id="emotion_graph_error_label_0" style="display: none;margin-left: 20px">No Data Found!</label>
                    </div>
                </div>
                <div class="row emotion_graph_0">
                    <div class="col-md-8">
                        <canvas id="emotion_bar_chart_less_emo_0" height="100"></canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas id="radar-chart_less_emo_0" height="180" class="margin_top_30"></canvas>

                    </div>
                </div>
                <div class="row-fluid  margin_top_30">
                    <div class="col-md-12 heading">
                        <label id="selected_media_name_1" ></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label id="emotion_graph_error_label_1" style="display: none; margin-left: 20px">No Data Found!</label>
                    </div>
                </div>
                <div class="row emotion_graph_1">
                    <div class="col-md-8">
                        <canvas id="emotion_bar_chart_less_emo_1" height="100"></canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas id="radar-chart_less_emo_1" height="180" class="margin_top_30"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="api_url" value="{{ api_url }}">
    <input type="hidden" id="host_url" value="{{ host_url }}">
{% endblock %}


{% block js %}
    <!-- jQuery and Bootstrap plugins -->
    <!-- <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/d3.layout.min.js' %}"></script>
    <script src="{% static 'js/rickshaw.min.js' %}"></script>
    <script src="{% static 'js/extensions.js' %}"></script>
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script src="{% static 'js/site/common.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="{% static 'js/render_graph.js' %}"></script>
    <script src="{% static 'js/dashboard_view.js' %}"></script>
    <script src="{% static 'js/dashboard/jquery.sparkline.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
{% endblock %}
