{% load staticfiles %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/multi_select.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/>
{% block css %}
{% endblock %}
{% block container %}
    <style type="text/css">
        label{
            font-size: 13px !important;
            color: #646464 !important;
            font-family: Arial,sans-serif;
        }
        .form-control{
            height: 40px !important;
            border-radius: 0;
        }
        #project_list{
            font-size: 16px !important;
            text-transform: capitalize;
            font-weight: 900;

        }
        .thumbnail img{
            width: 140px;
            height: 80px;
            box-shadow: 0 0 2px #888888;
        }
        .thumbnail{
            word-break: break-all;
            text-align: center;
            margin: 20px;
            display: inline-block;
            background-color: rgba(255,255,255,1);
            border-radius: 0;
            border: 1px solid rgba(255,255,255,1);
        }
        h1{
            text-align: center;
            display: block;
        }
        .selected_thumbnail{
            border: 1px solid rgb(255, 183, 93);
            background-color: rgba(255, 183, 9,0.6);
        }
        .tm-tag {
            color: #555555;
            background-color: #f5f5f5;
            border: #bbbbbb 1px solid;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            display: inline-block;
            border-radius: 3px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            margin: 0 5px 5px 0;
            padding: 4px;
            text-decoration: none;
            transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            vertical-align: middle;
        }
        .tm-tag .tm-tag-remove {
            color: #000000;
            font-weight: bold;
            margin-left: 4px;
            opacity: 0.2;
        }
        .tm-tag .tm-tag-remove:hover {
            color: #000000;
            text-decoration: none;
            opacity: 0.4;
        }
        .tm-tag.tm-tag-info {
            color: #636363;
            background-color: #eeeeee;
            border-radius: 0 !important;
        }
        input[type="text"].tm-input {
            margin-bottom: 5px;
            vertical-align: middle !important;
        }
        .control-group.tm-group {
            margin-bottom: 5px;
        }
        .form-horizontal .control-group.tm-group {
            margin-bottom: 15px;
        }

        .fixed_height{
            height: 30px;
        }
        .media_name{
            text-transform: capitalize;
            display: inline;
            line-height: 30px;
        }
        .media_box{
            border: 1px solid #000000;
            background-color: #fff;
        }
        .media_label{
            display: block;
            margin: 10px 14px;
        }
        #media_list{
            height: 430px;
            overflow-y: scroll;
        }
        hr{
            margin: 0 0;
        }
    </style>
    <div>
    <div>
    <form method="POST" name="create_media" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{ user.id }}" id="user_id">
        <input type="hidden" value="{{ project_id }}" name="project" id="project">
        <input type="hidden" value="{{ activity_type }}" name="activity_type" id="activity_type">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon" id="medianame-addon">Test Name:</span>
                    <input type="text" class="form-control" required="" name="name" id="name" placeholder="Enter Test Name" aria-describedby="medianame-addon">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon" id="mediaversion-addon">Test Version:</span>
                    <input type="text" class="form-control" required="" name="media_version" id="test_version" placeholder="Enter Test Version" aria-describedby="mediaversion-addon">
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon" id="tags-addon">Tags:</span>
                <input type="text" autocomplete="on" name="tags" id="hash_tags" placeholder="Press Enter/Comma  after each tag"
                       class="form-control input-medium tm-input tm-input-info tm-input-01"/>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon" id="activityname-addon">Activity Name:</span>
                    <input type="text" disabled class="form-control" name="activity_name" id="activity_name" placeholder="Enter Activity Name" value="">
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon" id="addTester-addon">Add Tester:</span>
                    <select class="form-control selectpicker" data-actions-box="true" name="testers" id="testers" multiple data-live-search="true">
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group file-selection" id="file_type_div">
                    <span class="input-group-addon" id="fileType-addon">File Type:</span>
                    <select id="selectionType" name="file_location" class="form-control" aria-describedby="fileType-addon">
                        <option value="0">Optional Selection</option>
                        <option value="1">Local Drive</option>
                        <option value="2">Network</option>
                    </select>
                </div>
            </div>
        </div><br>
        
        <input type="hidden" id="localdrive_count" value="0">
        <table id ='localdrive_table'>
            <tr style="padding-bottom:15px"><td style="padding:5px">
                <i class="fa fa-plus localDrive" aria-hidden="true" id="localDrivePath_add" style="vertical-align:middle;padding:3px"></i>
                </td>
                <td>
            <input class="localDrive form-control file-selection" type="file" id="localDrivePath">
                </td>
            </tr>
        </table>
        <input type="hidden" id="nd_count" value="0">
        <input type="hidden" id="ld_count" value="0">
        <input type="hidden" id="networkDrive_count" value="0">
        <input type="hidden" name="url" id="network_path_default">
        <div id="network_group">
            <div class="input-group file-selection" style="padding-bottom:25px">
                <i class="fa fa-plus networkDrive" aria-hidden="true" style="vertical-align:middle;float:left;padding-bottom:13px;" id="networkDrivePath_add"></i>
                <span class="input-group-addon networkDrive " id="networkDrive-addon">URL:</span>
                <input type="text" class="form-control networkDrive" name="url" id="networkDrivePath" aria-describedby="networkDrive-addon">
            </div>
        </div>
        <label class="file-selection" id="file_selection_label"> Video Preview</label>
        <video class="file-selection" id="file_selection" src="" height="100px" width="350px" style="padding-top:10px" controls></video>
        <label id="error_message" class="error" id="file_selection_error" ></label>
        <br>
        <input type="hidden" id="api_url" value="{{ api_url }}">
        <input type="hidden" id="host_url" value="{{ host_url }}">
        <input type="hidden" id="media_id" value="{{ media_id }}">
        <div class="success_message"></div>
    </form>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tag_manager.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">

        window.GlobalDelete = [];
        function networkDrive_sub(i) {
                cnt = parseInt($('#nd_count').val());
                if(parseInt(i)>0)
                {
                  window.GlobalDelete.push(i) ;
                }

                $('#nd_count').val(cnt-1);
                $('#networkDrivePath_'+i).remove();
                $('#input-group_'+i).remove();
                $('#networkDrivePath_sub_'+i).remove();
                $('#networkDrive-addon_'+i).remove();
                return false;
        };

        switch($("#activity_type").val()){
            case "1": $("#activity_name").val("Video");break;
            case "15": $("#activity_name").val("Android App");break;
            case "20": $("#activity_name").val("iOS App");break;
            case "25": $("#activity_name").val("Webpage");break;
            case "30": $("#activity_name").val("Physical");break;
            case "35": $("#activity_name").val("Facial Emotion");break;
        }
        function filterArray(array,i)
        {
            return array.filter(function(a){return a !== i});
        }

        function localDrive_sub(i) {
                cnt = parseInt($('#ld_count').val());
                $('#ld_count').val(cnt-1);
                $('#tr_'+i).remove();
                $('#td_'+i).remove();
                $('#localDrivePath_'+i).remove();
                $('#localDrivePath_sub_'+i).remove();
                return false;
        };

        $('#networkDrivePath_add').click(function() {
                cnt = parseInt($('#nd_count').val());
                if(cnt>=10)
                {
                    alert("Ad Clutter Limit Reached : Max 10");
                    return false;
                }
                $('#nd_count').val(cnt+1);

                var i= parseInt($('#networkDrive_count').val());
                $('<div class="input-group file-selection" id="input-group_'+i+'" style="float:left;padding-bottom:13px"><i class="fa fa-minus networkDrive" aria-hidden="true" id="networkDrivePath_sub_'+i+'" onclick="networkDrive_sub('+i+');" style="vertical-align:middle;float:left;padding-bottom:13px;"></i><span class="input-group-addon networkDrive " id="networkDrive-addon_'+i+'">URL:</span><input type="text" class="form-control networkDrive" name="url" id="networkDrivePath_'+-i+'" aria-describedby="networkDrive-addon"></div>').appendTo(network_group);
                $('#networkDrive_count').val(i+1);
                return false;
        });

        $('#localDrivePath_add').click(function() {
                cnt = parseInt($('#ld_count').val());
                if(cnt>=10)
                {
                    alert("Ad Clutter Limit Reached : Max 10");
                    return;
                }
                $('#ld_count').val(cnt+1);

                var i= parseInt($('#localdrive_count').val());
                $('#localdrive_table tbody').append('<tr style="padding-bottom:15px" id="tr_'+i+'"><td style="padding:5px"><i class="fa fa-minus localDrive" aria-hidden="true" id="localDrivePath_sub_'+i+'" onclick="localDrive_sub('+i+');" style="vertical-align:middle;padding:3px"></i></td><td id="td_'+i+'"><input class="localDrive form-control file-selection" type="file" id="localDrivePath_'+i+'"></td></tr>');
                $('#localdrive_count').val(i+1);

                return false;
        });


        function add_path(i,url,cnt){
                count = parseInt($('#nd_count').val());
                if(count>=10)
                {
                    alert("Ad Clutter Limit Reached : Max 10");
                    return false;
                }
                $('#nd_count').val(count+1);

              if (typeof(cnt)==='undefined')
                 {cnt = 0;}
              input = '<i class="fa fa-minus networkDrive" aria-hidden="true" id="networkDrivePath_sub_'+i+'" onclick="networkDrive_sub('+i+');" style="vertical-align:middle;float:left;padding-bottom:13px;"></i><span class="input-group-addon networkDrive " id="networkDrive-addon_'+i+'">URL:</span><input type="text" class="form-control networkDrive" name="url" value="'+url+'"  id="networkDrivePath_'+i+'" aria-describedby="networkDrive-addon">'
              if(cnt>0)
              {
                input = '<span class="input-group-addon networkDrive " id="networkDrive-addon_'+i+'">URL:</span><input type="text" class="form-control networkDrive" name="url" value="'+url+'" readonly="readonly" id="networkDrivePath_'+i+'" aria-describedby="networkDrive-addon">'
              }
              $('<div class="input-group file-selection" id="input-group_'+i+'" style="padding-bottom:25px">'+input+'</div>').appendTo(network_group);
              // /*$('<div class="input-group file-selection" style="padding-bottom:25px"><span class="input-group-addon networkDrive " id="networkDrive-addon">URL:</span><input type="text" class="form-control networkDrive" value="'+url+'" name="url" id="networkDrivePath_'+i+'" aria-describedby="networkDrive-addon"></div>').appendTo(network_group);*/
              return false;
        }

        function saveTest() {
            var api_host = $("#api_url").val();
            var media_name = $("#name").val();
            var test_version = $("#test_version").val();
            var project_id = $("#project").val();
            var media_id = $("#media_id").val();
            var user_id = $("#user_id").val();
            var created_date = new Date();
            //var category = $('#category').find('option:selected').val();
            //var subcategory = $('#subcategory').find('option:selected').val();
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
            var hash_tags = $(".tm-input.tm-input-01").tagsManager('tags');

            var user_testers = $('#testers').val();
            if(media_name == ""){
                return require_file_selection("Please enter Test Name");
            }
            if(test_version == ""){
                return require_file_selection("Please enter Test Version");
            }
            if(user_testers.length == 0){
                return require_file_selection("Add at least one Tester");

            }else if(hash_tags.length == 0)
            {
                return require_file_selection("Select at least one Hashtag");
            }
            $(".success_message").hide();
            var selectedType = $('#selectionType :selected').val();
            var url = "";
            var media_id = $("#media_id").val();
            var media = {
                media_id : media_id,
                name: media_name,
                project: project_id,
                created_date: created_date,
                activitytype: $( "#activity_type").val(),
                csrf_token: csrf_token,
                image: "abc.jpg",
                media_version:test_version
            }
            // if(media.activitytype =="1" || media.activitytype=="2"){
            if(media.activitytype =="1"){
                if(selectedType == "0"){
                    //return require_file_selection("Please select a file type");
                }else
                if(selectedType == "1"){
                    media.url= $("#localDrivePath").val();
                    media.file_location= selectedType;
                    if(media.url == "")
                        {
                        // return require_file_selection("Please choose a file");
                        }
                }else if(selectedType == "2"){
                    media.url= $("#networkDrivePath").val();
                    media.file_location= selectedType;
                    if(media.url == "")
                        {
                         //return require_file_selection("Please enter a url");
                        }
                }
            }

            var project_id = $("#project").val();
            // console.log(project_id);

            var arr = [];

            if(media.activitytype == '1')
            {
                $('#network_group > div > input ').each(function(item) {
                    if(item!=0)
                    {
                    console.log(this.value);
                    console.log(this.id);
                    if(this.value)
                        {
                            arr.push({'value':this.value,'id':this.id.split('_')[1]});
                        }
                    }
                });
            }

            var ajax_data = {
                "media":media,
                "ad_clutter":arr,
                "delete_media":window.GlobalDelete,
                 "media_test": {
                    "start_date":created_date,
                    "end_date":"2017-10-25",
                    "tags":hash_tags,
                    "project_id":project_id,
                    "user_id":user_id,
                    "is_completed":0,
                    "usertesters":user_testers
                }
            };
            var action_type = "add";
            if(project_id != undefined && project_id != null && project_id != ""){
                action_type = "update";
            }

            var test_url = api_host + "dashboard/update_media_plus_mediatest/";
            var inserted_data = call_ajax_json("POST", test_url, JSON.stringify(ajax_data));
            if (inserted_data.status == "Done") {
                $(".success_message").show().css('color', 'green').text("New Test Created Successfully");
                window.location.reload();
            } else if (inserted_data.status == "Updated") {
                $(".success_message").show().css('color', 'green').text("Project is updated");
                window.location.reload();
            } else {
                $(".success_message").show().css('color', 'red').text("Please try again !");
            }
        }
        function require_file_selection(message) {
            $(".success_message").show().css('color', 'Red').text(message);
            return false;
        }

    $(function () {
        window.GlobalDelete = [];
        $('#nd_count').val(0);
        $('#ld_count').val(0);
        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        }
        if($(location).attr('pathname')== "/users/create_test_view/"){
            var selected =$("#create_test_view");
            selected.addClass("selected_url");
        }


        $('#start_date,#end_date').datetimepicker({
            dayOfWeekStart : 1,
            lang:'en',
            timepicker:false, //for hiding time from datepicker
            format:'d/m/Y',
            minDate: 0, //disable past dates
            minDateTime:new Date()
        });
        var project_drop_down= $('#project_list');
        var media_drop_down = $('#media_list');
        var api_host =$("#api_url").val();
        var media_id = $("#media_id").val();
        var host_url =$("#host_url").val();
        var user_id = $("#user_id").val();
        var get_form_fill = api_host + "dashboard/get_edit_dynamic_form_fill";
        var dat = {"media_id":media_id};
        var form_fill = call_ajax_json("POST", get_form_fill , JSON.stringify(dat));
        ad_clutter = form_fill['ad_clutter'];


        console.log(form_fill);
        if(form_fill['name'])
        {
            $("#name").val(form_fill['name']);
        }
        $('#networkDrivePath').val(form_fill['url']);
        if(form_fill['version'])
        {
            $("#test_version").val(form_fill['version']);
        }
        if(form_fill['activitytype'])
        {
            var replace = {'androidapp':'Android App','audio':'Audio','video':'Video','iosapp':'iOS App'
            ,'webpage':'Webpage','physical':'Physical','Facial Emotion':'Facial Emotion'};
            populateActivityType(replace[form_fill['activitytype']]);
            var replace = {'androidapp':'3','audio':'2','video':'1','iosapp':'4'
            ,'webpage':'5','physical':'6','Facial Emotion':'7'};
            $("#activityType").val(replace[form_fill['activitytype']]);
        }

        if(form_fill['activitytype']!='video')
        {
          $(".networkDrive,.localDrive").hide();
        }


        if(form_fill['hashtags'])
        {
            var hasht = form_fill['hashtags'];
            if(hasht.length > 0)
            {
                var tags_element = $(".tm-input.tm-input-01");
                tags_element.tagsManager({
                blinkBGColor_1: '#FFFF9C',
                blinkBGColor_2: '#CDE69C',
                prefilled:hasht
                });

                // $("#hash_tags").val(hasht.join(","));
            }
            else
            {
                 $(".tm-input.tm-input-01").tagsManager({
                blinkBGColor_1: '#FFFF9C',
                blinkBGColor_2: '#CDE69C'//,
                });
            }
        }
        else
        {
                $(".tm-input.tm-input-01").tagsManager({
                blinkBGColor_1: '#FFFF9C',
                blinkBGColor_2: '#CDE69C'//,
                });
        }

        // on change the dropdown list
        var url_split = window.location.pathname.split('/');
        var get_testers_url = api_host + "dashboard/get_editable_testers/";
        var data = {
           "media_id":media_id,
           "user_id":user_id
        }

        var get_testers_list = call_ajax_json("POST", get_testers_url, JSON.stringify(data));
        var testers = "";
        var cnt = 0;
        if(get_testers_list.length > 0) {
            get_testers_list.forEach(function (tester_list) {
               if(tester_list.is_active) // only add active tester
               {
                    if(tester_list.is_completed)
                      {
                        cnt+=1;
                        testers += "<option value='" + tester_list.id + "' title='" + tester_list.email + "' disabled='disabled' style='color: blue;font-weight:bolder; '>" + tester_list.name + "</option>";
                      }
                    else if(tester_list.is_selected)
                      {
                        testers += "<option value='" + tester_list.id + "' title='" + tester_list.email + "' selected='selected' >" + tester_list.name + "</option>";
                      }
                    else
                      {
                        testers += "<option value='" + tester_list.id + "' title='" + tester_list.email + "'>" + tester_list.name + "</option>";
                      }
                 }
            });
        }
        $('#testers').append(testers).selectpicker('refresh');

        if(cnt>0)
        {
            $('#networkDrivePath').attr('readonly',"readonly");
            //$('#file_selection_error').hide();
            //$('#file_selection').hide();
            //$('#file_selection_label').hide();
            //$('#file_type_div').hide();
        }

        $('#nd_count').val(0);
        $('#ld_count').val(0);


        if(form_fill['file_location'] && form_fill['activitytype']=='video')
        {

           $('#selectionType').val(form_fill['file_location']);
            console.log($('#selectionType'));
            populateDriveTextbox(form_fill['file_location'],form_fill['url']);
            if(form_fill['file_location']=='2')
            {
                console.log(form_fill);
                if('url' in form_fill)
                {
                    $('#network_path_default').val(form_fill['url']);
                    $('#networkDrivePath').val(form_fill['url']);
                }
                console.log(ad_clutter);
                for(var i in ad_clutter)
                {
                    console.log(ad_clutter[i]);
                    m_id = ad_clutter[i][0];
                    url = ad_clutter[i][1];
                    console.log(url);
                    var get_count_url = api_host + "dashboard/get_editable_testers/";
                    var get_count = ajax_call_with_login("POST",get_count_url,{'check_complete':true,'media_id':m_id});
                    add_path(m_id,url,get_count.count);
                }
            }
        }

        //on click of launch button
        $("form").on("submit",function () {
            var create_testers_url = api_host + "dashboard/updatemediatest/";
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            var media_id =$(".selected_thumbnail #media_id").val();
            var project_id = project_drop_down.find(" option:selected").attr("value");
            var hash_tags = $(".tm-input.tm-input-01").tagsManager('tags');
            var user_testers = $('#testers').val();

            var success_message = $(".success_message");
            if(!media_id){
                success_message.html("No media Selected").show().fadeOut(3000);
                return false;
            }else if(user_testers.length == 0){
                success_message.html("Add at least one Tester").show().fadeOut(3000);
                return false;
            }else if(hash_tags.length == 0)
            {
                success_message.html("Select at least one Hash tag").show().fadeOut(3000);
                return false;
            }
            else{
                success_message.html("Creating Test... please wait...").show();
                var create_test_data = {
                    "start_date" : start_date,
                    "end_date": end_date,
                    "tags":hash_tags,
                    "project_id":project_id,
                    "media_id":media_id,
                    "user_id":user_id,
                    "is_completed":0,
                    "usertesters":user_testers
                };
                var get_status = ajax_call_with_login("POST",create_testers_url,create_test_data);
                //if the test is created then redirect to Home Page by displaying the message.
                if(get_status.status && get_status.status == "Done")
                {
                    //to display the success message
                    success_message.html("Test Updated Successfully").show().fadeOut(3000);
                    //to redirect to home page
                    {#                        window.location= "/users/project_overview/";#}
                    return true;
                }
                else{
                    success_message.html("Test Failed to create").show().fadeOut(3000);
                    //stay back in the same page.
                    return false;
                }
            }

        });
        $("img").on("error", function(){
            $(this).attr('src', '/static/img/image_not_found.png');
        });
    });
    (function localFileVideoPlayer() {
        'use strict';
        var URL = window.URL || window.webkitURL;
        var displayMessage = function (message, isError) {
            var element = document.querySelector('#error_message');
            element.innerHTML = message;
            element.className = isError ? 'error' : 'info'
        };
        var playLocalDriveSelectedFile = function (event) {
            var file = this.files[0];
            var type = file.type;
            var videoNode = document.querySelector('video');
            var canPlay = videoNode.canPlayType(type);
            if (canPlay === '') canPlay = 'no';
            var message = 'Can play type "' + type + '": ' + canPlay;
            var isError = canPlay === 'no';
            //displayMessage(message, isError);

            if (isError) {
                return
            }
            var fileURL = URL.createObjectURL(file);
            videoNode.src = fileURL
        };
        var playNetworkDriveSelectedFile = function (event) {
            var videoNode = document.querySelector('video');
            var fileURL  = $("#networkDrivePath").val();
            videoNode.src = fileURL
        };
        var inputLocalDrivePathNode = document.querySelector('#localDrivePath');
        inputLocalDrivePathNode.addEventListener('change', playLocalDriveSelectedFile, false);
        var inputLocalDrivePathNode = document.querySelector('#networkDrivePath');
        inputLocalDrivePathNode.addEventListener('change', playNetworkDriveSelectedFile, false)
    })();
    $(function() {
        // default hide all drive input

        $("#selectionType").change(function(){
         $(".networkDrive,.localDrive").hide();

            // clean url
            $("video").attr("src",'');
            $("#error_message").text("");
            // select drop down option form network
            var selectedType = $('#selectionType :selected').val();
            var val = $('#network_path_default').val();
            populateDriveTextbox(selectedType,val)

        });
    });

    function populateDriveTextbox(selectedType,val){

            switch(selectedType){
                case "1":
                    $(".localDrive").show();
                   // $('#localDrivePath').val(val).show();
                    $(".networkDrive").hide();
                    break;
                case "2":
                    $(".localDrive").hide();
                      $("video").attr("src",val);
                     $('#networkDrivePath').val(val).show();
                    $(".networkDrive").show();
                    break;
                default:
                    $(".networkDrive,.localDrive").hide();
                    break;
            }
    }
    $('#activityType').change(function (e) {
        var selectedActivity=$("#activityType option:selected").text();
       populateActivityType(selectedActivity);
    });
    function populateActivityType(selectedActivity)
    {
          if(selectedActivity == "Video" || selectedActivity == "Audio"){
            $('.file-selection').show();
            $("#selectionType").val("0").trigger('change');

        }else{
            //hide video and audio selection file.
            $('.file-selection').hide();
        }
    }

    </script>
        </div>
{% endblock %}