{% extends "profile_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block navlink %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'dashboard:dashboard_view' %}">Dashboard</a></li>
        {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
                {{ user.username |truncatechars:20 }}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
                {% if user.profile.picture == '' %}

                    <img style="width: 200px; height: 200px"  class="profile-pic img-circle" src="{% static 'img/image_not_found.png' %}" />

                {% else %}
                    <img style="width: 200px; height: 200px" class="profile-pic img-circle" src="http://54.237.131.186/media/{{ user.profile.picture }}" />
                {% endif %}
                <li><a class="text-warning text-capitalize" href="{% url 'profiles:show_self' %}">Profile</a>
                </li>
                <li>
                    {% if project_token  != None %}
                        <a class="text-warning text-capitalize" href="{% url 'profiles:show_account' %}">Account</a>
                    {% endif  %}
                </li>
                <li><a class="text-warning" href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
        </li>
    {% endif %}
{% endblock %}
{% block splash %}
    <link href="{% static 'css/rickshaw.css' %}" rel="stylesheet" type="text/css">

    <style type="text/css">
        body{
            font-family: pnaltbold,sans-serif;
        }
        .row-fluid {
            display:  flex;
            flex-wrap: wrap;
        }
        .row-fluid > [class*='col-'] {
            display: flex;
            flex-direction: column;
            padding: 5px;
        }
        .link_text img{
            width: 100px;
            height: 100px;
            margin-top: 30px;
            margin-bottom: 15px;
        }
        .link_div {
            height: 180px;
            margin-top: 15px;
            background-color: rgb(61, 158, 153);
        }
        .link_text{
            background-color: rgb(61, 158, 153);
            height:150px;
            font-size: 16px;
            margin-top: 10px;
            text-align: center;
            color: #fff;
        }
        .link_text:hover,.link_text:focus{
{#            transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; #}
            background-color: rgb(255, 181, 85);
            transition: background-color 0.3s ease;
            color: rgb(255,255,255);
            cursor: pointer;
            text-decoration: none;
        }.paddingtop{
             margin-top: 30px;
             margin-left: 15px;
         }
        .center_align{
            padding-top: 60px;
        }
        .right_side{
            display: inline-flex;
            width: 100%;
{#            height: 80%;#}
        }
        .right_side .panel{
            width: 48%;
            margin: 10px;
        }
        .right_side .panel-body{
            max-height: 85%;
            overflow-y: auto;
            width: 100%;
        }
        h4,h6{
            margin-top:0px;
            margin-bottom: 5px;
        }
        h4{
            font-weight: bold;
            font-size: 20px;
        }
        .progress{
            margin-bottom: 0 !important;
            width: 200px;
            height: 5px;
            margin: 12px;
        }
        .progress-bar{
            float: left;
            width: 0;
            height: 100%;
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            text-align: center;
            background-color: #16a085;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            -webkit-transition: width .6s ease;
            -o-transition: width .6s ease;
            transition: width .6s ease
        }
        .progress-label {
            float: left;
            margin-right: 1em;
        }
        .panel-body img{
            width: 160px;
            height: 90px;
        }
        .status{
            display: flex;
        }
        .status h5{
            margin-top:7px;
        }
        h5{
            margin: 0;
        }
        .view-details{
            font-size: 11px;
        }
        .test_case_row {
            height: 107px;
            border: 1px solid #e4e4e4;
            padding: 7px;
            margin-top: 8px;
            font-family: pnaltlight,sans-serif;
        }
        .test_case_row:hover{
            background: rgba(230, 230, 230, 0.36);
        }
    </style>
    <link href="{% static 'css/home_responsive.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block container %}
    <input type="hidden" id="api_url" value="{{ api_url }}">
    <input type="hidden" id="api_host" value="{{ api_host }}">
    <input type="hidden" id="user_id" value="{{ user.id }}">
    {% comment %}<div class="container paddingtop">
        <div class="row">{% endcomment %}
            <div class="col-md-2">
                <a class="link_text" href="{% url 'dashboard:dashboard_view' %}">
                    <div class="col-lg-12 link_div">
                        <img src="{% static 'img/login_icons/create.png' %}">
                        <div class="text_block">Dashboard</div>
                    </div>
                </a>
                <a class="link_text" href="{% url 'dashboard:project_overview' %}">
                    <div class="col-lg-12 link_div">
                        <img src="{% static 'img/login_icons/manage.png' %}">
                        <div class="text_block">Project</div>
                    </div>
                </a>
                <a class="link_text" href="{% url 'dashboard:compare_reports' %}">
                    <div class="col-lg-12 link_div">
                        <img src="{% static 'img/login_icons/reports.png' %}">
                        <div class="text_block">Reports</div>
                    </div>
                </a>
                <a class="link_text" href="{% url 'dashboard:settings' %}">
                    <div class="col-lg-12 link_div">
                        <img src="{% static 'img/login_icons/settings.png' %}">
                        <div class="text_block">Settings</div>
                    </div>
                </a>
            </div>
            <div class="col-md-10 ">
                <div class="right_side">
                    <div class="panel panel-default">
                    <div class="panel-heading"><div class="panel-title">Live test(Ongoing Test and Completed)</div> </div>
                    <div class = "panel-body live_test_case_div"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><div class="panel-title">Closed Tests</div> </div>
                    <div class="panel-body closed_test_case_div"></div>
                </div>
                </div>
            </div>
            {% comment %} <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:create_test_view' %}">
                    <img src="{% static 'img/login_icons/create.png' %}">
                    <div class="text_block">
                        Create Test
                    </div>
                </a>
            </div>
            <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:manage_project' %}">
                    <img src="{% static 'img/login_icons/manage.png' %}">
                    <div class="text_block">Manage Projects</div>
                </a>
            </div>
            <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:project_overview' %}">
                    <img src="{% static 'img/login_icons/projects.png' %}">
                    <div class="text_block">
                        Project View
                    </div>
                </a>
            </div>
            <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:media_overview' %}">
                    <img src="{% static 'img/login_icons/media.png' %}">
                    <div class="text_block">Media View</div>
                </a>
            </div>
            <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:view_reports' %}">
                    <img src="{% static 'img/login_icons/reports.png' %}">
                    <div class="text_block">Reports and Charts</div>
                </a>
            </div>
            <div class="col-md-1.5 ">
                <a class="link_text" href="{% url 'dashboard:compare_reports' %}">
                    <img src="{% static 'img/login_icons/create.png' %}">
                    <div class="text_block">Home</div>
                </a>
            </div>

        </div>
    </div>
{% endcomment %}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    function call_test_details()
    {
        document.location.href =  $("#api_host").val() +"users/test_details/";
    }



    $(function () {
        var api_host = $("#api_host").val();
        var api_url = $("#api_url").val();
        var user_id = parseInt($("#user_id").val());
        var ajax_data = {"user_id":user_id};
        var tester_list_url = api_url + "dashboard/test_progress_list/";
        var test_details_url =  api_host +"users/test_details/"
        var get_tester_list= ajax_call_with_login("POST", tester_list_url, ajax_data);
        if(Object.keys(get_tester_list).length >0){
            var status_count = 0, status_width = 1;
            $.each(get_tester_list.live_tests, function (tester_key,tester_data) {
                 $(".live_test_case_div").append(testCaseTemplate(tester_data));
            });
            $.each(get_tester_list.closed_tests, function (tester_key,tester_data) {
                 //for each of live tests

                 $(".closed_test_case_div").append(testCaseTemplate(tester_data));
            });
            function testCaseTemplate(tester_data) {
                var total = tester_data.num_completed + tester_data.num_incomplete;
                if(total != 0){
                    status_count = tester_data.num_completed/total;
                    status_width = status_count*100;
                }
                var image_name ;
                if (tester_data.image_name=="" || tester_data.image_name==null)
                image_name = "image_not_found.png";
                else
                image_name =  tester_data.image_name;
                var test_case_display_row = "<div class='test_case_row'>" +
                        " <div class='col-md-3'>" +
                        " <img src='"+api_url+"media/"+image_name+"' class='center-block img-responsive'>" +
                        " </div><div class='col-md-6' title='"+tester_data.media_name+"'><b><font size=4 >"+
                        tester_data.media_name.substring(0,27)+"</font></b> "+
                        " <h6>"+tester_data.project_name+"</h6>" +
                        " <h5 >End Date:"+tester_data.end_date+"</h5>" +
                        "<div class='status'><h4>"+tester_data.num_completed+"</h4><h5>/"+total +"</h5>"+
                        "<div class='progress'>" +
                        " <div class='progress-bar progress-bar-success' role='progressbar' " +
                        " aria-valuenow='"+status_count+"' aria-valuemin='0' aria-valuemax='100'" +
                        " style='width:"+status_width+"%'></div></div></div></div>"+
                        "<div class='col-md-3' >" +
                       //"<a class='btn' href='"+test_details_url+"' id='view_details' class='view-details'>View Details</a>" +
                        "<form action="+test_details_url+" method='GET'>"+
                        "<input type='hidden' name='media_test_id'  value="+tester_data.media_test_id+" }} />"+
                        "<input type='hidden' name='project_id' value="+tester_data.project_id+" }} />"+
                        "<button type='button' id='view_details' " +
                        //"onClick='test_details("+tester_data.project_id+","+tester_data.media_test_id+")' " +
                        //"onClick='javascript:location.href=" +test_details_url+"; "+
                        "class='view-details' " +
                        "onclick = call_test_details();this.form.submit();" +
                        ">View Details</button></div>" +
                        // Test Details Starts
                      "</form>"+
                        "<div class='hide' id='test_details_all'>"+
        "<div id='media_overview' class='hide'>"+
            "<div class='row'>"+
            "</div>"+
            "<div class='fixed_height'></div>"+
            "<table id='project_table' class='table table-striped'>"+
                "<thead>"+
                "<tr>"+
                    "<th>Project Name</th>"+
                    "<th>Category</th>"+
                    "<th>Sub Category</th>"+
                    "<th>Content</th>"+
                    "<th></th>"+
                    "<th></th>"+
                    "<th></th>"+
                    "<th></th>"+
                "</tr>"+
                "</thead>"+
                "<tbody></tbody>"+
            "</table>"+

            "<div class='hide'>"+
                "<table id='media_table' class='table table-condensed '>"+
                    "<thead>"+
                    "<tr>"+
                        "<th class='blue_text'>User Tester</th>"+
                        "<th class='blue_text'>Email</th>"+
                        "<th>Status</th>"+
                        "<th></th>"+
                        "<th></th>"+
                        "<th></th>"+

                    "/tr>"+
                    "/thead>"+
                    "tbody></tbody>"+
                "</table>"+
            "</div>"+
        "</div>"+
    "</div>"+
    "<input type='hidden' id='api_url' value='{{ api_url }}'>"+
    "<input type='hidden' id='user_id' value='{{ user.id }}'>"+
                        "</div>"
                        //"<div class='test_details' id = 'test_details' > </div>"

       /*"<div class='col-md-12'>"+
        "<div id='media_overview' class='hide'>"+
            "<div class='row'>"+
            "</div>"+
            "<div class='fixed_height'></div>"+
            "<table id='project_table' class='table table-striped'>"+
                "<thead>"+
                "<tr>"+
                    "<th>Project Name</th>"+
                    "<th>Category</th>"+
                    "<th>Sub Category</th>"+
                    "<th>Content</th>"+
                    "<th></th>"+
                    "<th></th>"+
                    "<th></th>"+
                    "<th></th>"+
                "</tr>"+
                "</thead>"+
                "<tbody></tbody>"+
            "</table>"+

            "<div class='hide'>"+
                "<table id='media_table' class='table table-condensed '>"+
                    "<thead>"+
                    "<tr>"+
                        "<th class='blue_text'>User Tester</th>"+
                        "<th class='blue_text'>Email</th>"+
                        "<th>Status</th>"+
                        "<th></th>"+
                        "<th></th>"+
                        "<th></th>"+

                    "/tr>"+
                    "/thead>"+
                    "tbody></tbody>"+
                "</table>"+
            "</div>"+
        "</div>"+
    "</div>"+
    "<input type='hidden' id='api_url' value='{{ api_url }}'>"+
    "<input type='hidden' id='user_id' value='{{ user.id }}'>"
    */
;


//$("#test_details").load('<object data="http://127.0.0.1/users/test_details/">');

                return test_case_display_row;
            }
        }
    });//end of document


            function add_media_table_row(table_id, html) {
            var sOut = "<table id=\"project_table_" + table_id + "\"  class='table table-condensed media_table'>";
            sOut += html;
            sOut += "</table>";
            return sOut;
        }
        function test_details(project_id,media_test_id) {

            $(".test_details_all").show();
            $(".media_overview").show();

            if ($(location).attr('pathname') == "/users/test_details/") {
                var selected = $("#project_overview");
                selected.addClass("selected_url");
            }

            var api_url = $("#api_url").val();
            console.log(api_url)
            console.log(api_url + "duh")
            var test_url = api_url + "dashboard/testerlists/";
            var ajax_data = {
                "project_id": project_id,
                "media_test_id": media_test_id
            };
            console.log("huh");
            var get_project_list = call_ajax("POST", test_url, ajax_data);
            console.log(get_project_list);
            {
                console.log("inside");
                var project_table = $('#project_table');
                var iTableCounter = 1, oTable, oInnerTable, media_table_html;
                media_table_html = $("#media_table").html();

                var nCloneTh = document.createElement('th');
                var nCloneTd = document.createElement('td');
                nCloneTd.innerHTML = '<img src="/static/img/arrow_down.png">';
                nCloneTd.className = "center";

                project_table.find('thead tr').each(function () {
                    this.insertBefore(nCloneTh, this.childNodes[0]);
                });

                project_table.find('tbody tr').each(function () {
                    console.log(this.childNodes);
                    this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
                });
                oTable = project_table.dataTable({
                    "bJQueryUI": true,
                    "aaData": [get_project_list],
                    "bPaginate": false,
                    "aoColumns": [
                        {
                            "mDataProp": null,
                            "sClass": "control center toggle_project_row",
                            "bSortable": false,
                            "sDefaultContent": '<img src="/static/img/arrow_down.png">'
                        },
                        {"mDataProp": "project_name"},
                        {
                            "mDataProp": "category"
                        },
                        {
                            "mDataProp": "sub_category"
                        },
                        {
                            "mDataProp": "content"
                        },
                        {
                            "mDataProp": null,
                            "bSortable": false,
                            "sClass": "control center",
                            "sDefaultContent": ''
                        },
                        {
                            "mDataProp": null,
                            "bSortable": false,
                            "sClass": "control center",
                            "sDefaultContent": ''
                        },
                        {
                            "mDataProp": null,
                            "bSortable": false,
                            "sClass": "control center",
                            "sDefaultContent": ''
                        },
                        {
                            "mDataProp": null,
                            "bSortable": false,
                            "sClass": "control center",
                            "sDefaultContent": ''
                        }
                    ],
                    "oLanguage": {
                        "sInfo": "_TOTAL_ projects"
                    },
                    "ordering": true,
                    "order": [[0, 'desc']]
                });

                var nTr
                    = $(this).parents('tr')[0];
                var nTds = this;

                this.src = "/static/img/arrow_up.png";
                for (let i of get_project_list.completed) {
                    i['status'] = "completed";
                }

                for (let i of get_project_list.incomplete) {
                    i['status'] = "incomplete";
                }

                var data = get_project_list.completed.concat(get_project_list.incomplete);
                oTable.fnOpen(nTr, add_media_table_row(iTableCounter, media_table_html));
                oInnerTable = $("#project_table_" + iTableCounter).dataTable({
                    "bJQueryUI": true,
                    "bSort": false, // disables sorting
                    "aoColumns": [

                        {
                            "mDataProp": "name",
                            render: function (data, type, row) {
                                return data;
                            }
                        },
                        {
                            "mDataProp": "email",
                            render: function (data, type, row) {
                                return data;//.toFixed(2);
                            }
                        },
                        {
                            "mDataProp": "status",
                            render: function (data, type, row) {
                                return data;//.toFixed(2);
                            }
                        }
                    ],
                    "bFilter": false,
                    "aaData": data,
                    "bPaginate": false,
                    "oLanguage": {
                        "sInfo": "_TOTAL_ media"
                    }
                });
                iTableCounter = iTableCounter + 1;
            }
        };

    </script>
{% endblock %}