<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/png" href="{% static 'ico/favicon.png' %}">
    <title>{% block title %} Neuro sensum {% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="{% block description %}{% endblock description %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Dashboard Page CSS -->
    <link href="{% static 'css/dashboard/new_dashboard.css' %}" rel="stylesheet">
    <!-- Icons for display -->
    <link href="{% static 'css/dashboard/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts/font-awesome.min.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/fonts/font-awesome.min.css' %}" rel="stylesheet"> -->
    <style type="text/css">
    </style>
    {% block css %}
    {% endblock %}
</head>
<body>
<!-- Wrapper maintains the responsiveness of the website -->
<div class="wrapper">
    <!-- Sidebar decides the background and navigation links -->
    <div class="sidebar" data-background-color="white" data-active-color="danger">
    {% block sidebar %}
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="{% url 'dashboard:project_overview' %}" class="simple-text">
                        Welcome {{ user }}
                    </a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="{% url 'dashboard:project_overview' %}">
                            <i class="ti-panel"></i>
                            <p>Projects</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard:dashboard_view' %}">
                            <i class="ti-view-list-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard:settings' %}">
                            <i class="ti-pencil"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="{% url 'profiles:show_self' %}">
                            <i class="ti-user"></i>
                            <p>User Profile</p>
                        </a>
                    </li> -->
                    
                    <li class="active-pro">
                        <a href="{% url 'accounts:logout' %}">
                            <i class="ti-export"></i>
                            <p>Log Out</p>
                        </a>
                    </li>
                </ul>
            </div>
    {% endblock %}
    </div> <!-- end of sidebar -->
    <!-- This main panel contains the content -->
    <div class="main-panel">
        <!-- Content Header -->
        {% block contentnavbar %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">{% block content_title %}{% endblock %}</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <!-- <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-panel"></i>
                                    <p>Stats</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="ti-bell"></i>
                                        <p class="notification">5</p>
                                        <p>Notifications</p>
                                        <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Notification 1</a></li>
                                    <li><a href="#">Notification 2</a></li>
                                    <li><a href="#">Notification 3</a></li>
                                    <li><a href="#">Notification 4</a></li>
                                    <li><a href="#">Another notification</a></li>
                                  </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-settings"></i>
                                    <p>Settings</p>
                                </a>
                            </li>
                        </ul>-->
                    </div> 
                </div>
            </nav>
        {% endblock %}
            <!-- Image loader -->
        <div id='loader'>
            <img src="{% static 'img/loading.gif' %}" width='320px' height='320px'>
        </div>
        <!-- Image loader -->
        <!-- Main Content to be displayed here -->
        {% block maincontent %}{% endblock %}
    </div> <!-- end of Main panel (right side)-->
</div> <!-- end of page wrapper-->

{% block footer %}{% endblock %}
<!-- $j is for 3.1.1 version js file-->
<!--<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">var $j = $.noConflict(true);</script> -->
<!-- jQuery and Bootstrap plugins -->
<!-- <script type="text/javascript" src="{% static 'js/dashboard/jquery-1.10.2.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Intended for Main Javascript logic -->
{% block js %}{% endblock %}
<script type="text/javascript" src="{% static 'js/dashboard/new_dashboard.js' %}"></script>
</body>
</html>