{% extends 'dashboard/template.html' %}
{% load staticfiles %}
{% block css %}
    	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
    <style type="text/css">
        .thumbnail{
            position: relative;
            word-break: break-all;
            margin: 20px 10px 40px 10px;
            display: inline-flex;
            width: 140px;
            height: 80px;
            background-color: rgba(255,255,255,1);
            border-radius: 0;
            box-shadow: 0 0 1px #888888;
            border: 1px solid rgba(255,255,255,1);
        }
        .thumbnail .close,.project_name_wrapper .delete {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            padding: 2px 2px;
            cursor: pointer;
            font-size: 24px;
            font-weight:900;
            opacity: .2;
            border-radius: 50%;
        }
        .thumbnail:hover img{
            opacity: 0.8;
        }
        .thumbnail:hover .close,.project_name_wrapper:hover .delete{
            background-color: #fff;
            opacity: 1;
        }
        .project_name_wrapper .delete{
              color:red;
        }
        .project_name_wrapper{
            position: relative;
            border-radius: 0;
            display: block;
            text-align: left;
            border: 1px solid #646464;
            padding: 7px;
        }
        .add{
            font-size: 55px;
            font-weight: 900;
            padding-left: 55px;
            text-decoration: none;
        {#        margin-left: 10px;#}
        }
        .add.active, .add:focus, .add:hover{
            text-decoration: none !important;
        }
        h1{
            text-align: center;
        }
        .form-control{
            width:93%;
        }
        .launch_btn,.launch_btn:hover,.launch_btn:active,
        .launch_btn:visited,.launch_btn:focus{
            color: #fff;
            background-color: #ff6c3c;
            width: 150px;
            border-radius: 25px;
            border: 1px solid #ff6c3c;
            font-weight: 900;
        }
        .cancel_btn,.cancel_btn:hover,.cancel_btn:active,
        .cancel_btn:focus,.cancel_btn:visited{
            background-color: #fff;
            border: 1px solid #ff6c3c;
            color: #ff6c3c;
            width: 150px;
            border-radius: 37px;
            font-weight: 900;
            height: 40px;
            padding-top: 10px;
        }
        input,
        .form-control{
            height: 40px;
            border-radius: 0;
        }
        .media_section{
            position: fixed !important;
            top: 50px;
            right: 0;
            bottom: 0;
            padding-left: 33px;
            background-color: rgba(255,255,255,1);
        }
        .media_section .project_view{
            padding-bottom: 30px;
        }
        .col-lg-12 .container-fluid{
            padding-right: 0 !important;
        }
        .search_bar{
            margin: 20px 10px;
            border-radius: 25px;
        }
        hr{
            margin-top: 0;
        }
        .project_section h1{
            margin-right: 10%;
        }
        .project_view{
            height:78%;
            margin-top: 50px;
            overflow-y: scroll;
        }
        .media_section h1{
            margin-left: 27%;
        }
        .right_align{
            float: right;
            width: 78%;
        }
        .media_view{
            display: inline-flex;
        }
    </style>
{% endblock %}
{% block container %}
    <input type="hidden" id="api_url" value="{{ api_url }}">
    <input type="hidden" id="host_url" value="{{ host_url }}">

    <div class="col-sm-4 project_section">
        <h1>Create Project</h1>
        <form method="post" name="create_project">
            {% csrf_token %}
            <br><br>
            <input type="hidden" value="{{ user.id }}" id="user_id">
            <label for="project_name">Project Name:</label>
            <input type="text" class="form-control" autofocus required name="project_name" id="project_name" placeholder="Enter Project Name">
            <br>
            <label for="category">Category:</label>
            <select class="form-control" required  name="category" id="category" >
            </select>
            <br>
            <label for="subcategory">Sub Category:</label>
            <select class="form-control" required name="subcategory" id="subcategory" >
            </select>
            <br>
            <div class="right_align">
                <a href="{% url "dashboard:project_overview" %}" class="btn btn-inline cancel_btn">Cancel</a>
                <input type="submit" class="btn btn-primary btn-inline launch_btn" value="Create">
            </div><br>
        </form>
        <br><br>
        <div class="success_message"></div>
    </div>
    <div class="col-sm-8 media_section">
        <div class="row">
            <div class="col-md-9">
                <h1>Add Media</h1>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control search_bar" placeholder="Search...">
            </div>
        </div>
        <div class="project_view"></div>
    </div>
{% endblock %}
{% block js %}
    <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script-->
    <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script-->
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            if($(location).attr('pathname')== "/users/manage_project/"){
                var selected =$("#project_overview");
                selected.addClass("selected_url");
            }
            //this is for create project section
            var project_id = $("#project_id").val();
            var api_host =$("#api_url").val();
            var host_url =$("#host_url").val();
            var user_id = $("#user_id").val();
            //get project list api
            var category_url = api_host + "dashboard/querycategories/";
            var category_ajax_data =  {"op":"get", "user_id":user_id};
            var get_category_list = call_ajax("POST",category_url,category_ajax_data);
            var categories_dd = "";
            var subcategories_dd="";
            var categories_drop_down = $("#category");
            var sub_categories_drop_down = $("#subcategory");
           /* // to display the list of content types
            if (get_content_types.length > 0) {
                get_content_types.forEach(function (data) {
                    content_type_dd += "<option value='"+data+"'>"+data+"</option>";
                });
                content_type_drop_down.html("").append(content_type_dd);
            }
            else{
                $(".launch_btn").attr("disabled");
            }*/
            //to display the list of categories
            if(get_category_list.length > 0) {
                get_category_list.forEach(function (category_data) {
                    categories_dd += "<option value='"+category_data.category_name+"'>"+category_data.category_name+"</option>"
                });
                categories_drop_down.append(categories_dd);
                categories_drop_down.on('change',function () {
                    var selected_category = categories_drop_down.find("option:selected").val();
                    var index = get_category_list.findIndex(function (x) {
                        return x.category_name == selected_category
                    });
                    subcategories_dd = "";
                    get_category_list[index].subcategories.forEach(function (data) {
                        subcategories_dd += "<option value='"+data.name+"'>"+data.name+"</option>";
                    });

                    sub_categories_drop_down.html("").append(subcategories_dd);

                }).triggerHandler("change");
            }
            else{
                $(".launch_btn").attr("disabled");
            }
            $("form").on('submit',function (event) {
                event.preventDefault();
                var api_host =$("#api_url").val();
                $(".launch_btn").attr("disabled");
                var project_name = $("#project_name").val();
                var user_id = $("#user_id").val();
                var created_date = new Date();
                var category = $('#category').find('option:selected').val();
                var subcategory = $('#subcategory').find('option:selected').val();
                var content_type = $('#content_type').find('option:selected').val();
                var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
                var ajax_data = {
                    "user":user_id,
                    "name":project_name,
                    "created_date":created_date,
                    "category":category,
                    "subcategory":subcategory,
                    "csrf_token":csrf_token,
                    "image":"abc.jpg"
                };
                var project_url = api_host + "dashboard/createentity/add/project/";
                var inserted_data =call_ajax("POST",project_url,ajax_data);
                if(inserted_data.length !=0){
                    $(".success_message").text("New Project Created Successfully");
                    window.location = "/users/project_overview/";
                }
                return false;
            }); //end of create project submit button

            //this is for the update media section
            //get project list api
            var project_url = api_host + "dashboard/selectuserproject/";
            var ajax_data = {"user_id":user_id};
            var get_project_list = call_ajax("POST",project_url,ajax_data);
            if(get_project_list.length == 0)
            {//If no project exist, for the first time if we visit this page, it will come here.
                $('.project_view').html("<h2>No Projects List</h2>");
            }
            else{
                get_project_list.forEach(function(data) {
                    //for displaying the list of the projects in the right pane
                    //id, name, media_list
                    var project_bar = "<div class='' id='project_list_"+data.project_id+"'>" +
                        "<div class='project_name_wrapper' id='project_"+data.project_id+"'>" +data.name+
                        " <span class='delete' id='delete_"+data.project_id+"' val='"+data.name+"'>&times;</span></div>" +
                        "<div class='media_view'></div></div>";
                    $('.project_view').append(project_bar);
                    var media_list = data.media;
                    if(media_list.length ==0)
                    {
                        $("#project_list_"+data.project_id+" .media_view").prepend("<a class='thumbnail add' title='Add Image' href='/users/add_media/"+data.project_id+"'>+</a>");
                    }
                    else{
                        media_list.forEach(function (media_data) {
                            //id, name,type,url,data
                            var media_bar = "<div class='thumbnail'>" +
                                "<span class='close' id='close_"+media_data.media_id+"'" +
                                " val='"+media_data.name+"' >&times;</span>" +
                                "<img src='"+api_host+"media/"+media_data.image_name+"' title='"+media_data.name+"'></div>";
                            $("#project_list_"+data.project_id+" .media_view").append(media_bar);
                        });
                        $("#project_list_"+data.project_id+" .media_view").prepend("<a class='thumbnail add' title='Add Image' href='/users/add_media/"+data.project_id+"'>+</a>");
                    }
                });//end of media list display
            }
            $(".close").on("click",function (event) {
                event.preventDefault();
                var media_id = $(this).attr("id").split("_")[1];
                var media_name = $(this).attr("val");
                if(confirm("Are you sure to delete this file! Media Name :"+media_name+" ?") == true){
                    var ajax_data = {"id":media_id};
                    var ajax_url = api_host + "dashboard/createentity/delete/media/";
                    var get_deleted_status = ajax_call_with_login("POST", ajax_url, ajax_data);
                    if(get_deleted_status.status == "deleted")
                    {
                        location.reload(true);
                    }
                }
                else{
                    return false;
                }
            });

            $(".delete").on("click",function (event) {
                event.preventDefault();
                var project_id = $(this).attr("id").split("_")[1];
                var project_name = $(this).attr("val");
                if(confirm("Are you sure to delete this Project! Project Name :"+project_name+" ?") == true){
                    var ajax_data = {"id":project_id};
                    var ajax_url = api_host + "dashboard/createentity/delete/project/";
                    var get_deleted_status = ajax_call_with_login("POST", ajax_url, ajax_data);
                    if(get_deleted_status.status == "deleted")
                    {
                        location.reload(true);
                    }
                }
                else{
                    return false;
                }
            });
            $("img").on("error", function(){
                $(this).attr('src', '/static/img/image_not_found.png');
            });
        });
    </script>
{% endblock %}
