{% extends 'dashboard/template.html' %}
{% load staticfiles %}
{% block css %}
    <style type="text/css">
    .project_name{
        border-radius: 0;
        display: block;
        text-align: left;
    }
    #media_overview table{
        background-color: rgba(255,255,255,1);
    }
    h1{
        text-align: center;
    }
    table{
        text-transform: capitalize;
    }
    .report_view{
        cursor: pointer;
    }
    .img-circle{
        height: 180px;
        background-color: #fff;
        display: inline-flex;
    }

.circle-tile {
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.dark-blue {
    background-color: #34495E;
}
    .text-faded{
        color: rgba(255,255,255,1);
    }
     .thumbnail{
          word-break: break-all;
        margin: 20px 10px 40px 10px;
        display: inline-flex;
        width: 140px;
        height: 90px;
        background-color: rgba(255,255,255,1);
        border-radius: 0;
        border: 1px solid rgba(255,255,255,1);
            text-align: center;
{#            display: inline-block;#}
        }
        .selected_thumbnail{
            border: 2px solid rgb(255, 183, 93);
            background-color: rgba(255, 183, 9,0.6);
        }
    .thumbnail img{
            width: 140px;
            height: 80px;
            box-shadow: 0 0 2px #888888;
        }
     .media_name{
            text-transform: capitalize;
            display: inline;
            line-height: 30px;
        }
</style>
{% endblock %}
{% block container %}
    <div class="col-md-12">
        <h1>Media Overview</h1><br><br>
        <div class="project_view"></div>
        <input type="hidden" value="{{ user.id }}" id="user_id">
        <input type="hidden" id="api_url" value="{{ api_url }}">
        <input type="hidden" id="host_url" value="{{ host_url }}">
    </div>
{% endblock %}
{% block js %}
        <script src="{% static 'js/common_functions.js' %}"></script>

    <script type="text/javascript">

        $(function(){
            if($(location).attr('pathname')== "/users/media_overview/"){
                var selected =$("#media_overview");
                selected.addClass("selected_url").on("click", function (event) {
                    event.preventDefault();return false;
                });
            }
            var api_host =$("#api_url").val();
            var host_url =$("#host_url").val();
            var user_id = $("#user_id").val();
            //get project list api
            var project_url = api_host + "dashboard/selectuserproject/";
            var ajax_data = {
                "user_id":user_id,
                "select":['attention','AP','meditation','EP','Blink']
            };
            var get_project_list = call_ajax("POST",project_url,ajax_data);
        if(get_project_list.length > 0) {
            get_project_list.forEach(function (data) {
                //id, name, media_list
                var project_bar = "<div class='' id='project_list_" + data.project_id + "'>" +
                    "<a href='/users/media_overview_list/" + data.project_id + "'><div class='btn btn-default project_name' id='project_" + data.project_id + "'>" + data.name + "</div></a>" +
                    "<div class='media_view'></div></div>";
                $('.project_view').append(project_bar);
                var media_list = data.media;
                if (media_list.length == 0) {
                    $("#project_list_" + data.project_id + " .media_view").append("<h5>No Media Exist</h5>");
                    // $("#project_list_"+data.project_id+" .media_view").append("<div><a class='btn btn-default btn-inline' href='/users/add_media/"+data.project_id+"'>Create Media</a></div><br>");#}
                }
                else {
                    media_list.forEach(function (media_data) {
                        //id, name,type,url,data
                        var media_bar = "<a href='/users/media_overview_report/" + data.project_id + "/" + media_data.media_id + "'" +
                            " class='thumbnail'><img src='" + api_host + "/media/" + media_data.image_name + "' title='" + media_data.name + "'></a>";
                        $("#project_list_" + data.project_id + " .media_view").append(media_bar);
                    });
                }

                $("img").on("error", function () {
                    $(this).attr('src', '/static/img/image_not_found.png');
                });
            });
        }
        else{
            $(".project_view").html("<h1>No Project Exist</h1>")
        }

    });
</script>
{% endblock %}