{% extends 'dashboard/template.html' %}
{% load staticfiles %}
{% block css %}
     <style type="text/css">
    .btn{
        border-radius: 0;
        display: block;
        text-align: left;
    }
    .thumbnail{
        word-break: break-all;
        margin: 10px;
        display: inline-flex;
        width: 110px;
        height: 110px;
        background-color: rgba(255,255,255,1);
        border-radius: 0;
        border: 1px solid rgba(255,255,255,1);
    }
    #media_overview table{
        background-color: rgba(255,255,255,1);
        text-transform: capitalize;
    }
    h1{
        text-align: center;
    }
    .report_view{
        cursor: pointer;
    }
        .btn{
            border-radius: 0;
            display: inline;
            text-align: left;
        }
        table img{
            width: 140px;
            height:80px;
            margin: 10px 11px;
        }
        tbody tr td{
            height: 120px;
        }
        .thumbnail{
            word-break: break-all;
            margin: 10px;
            display: inline-flex;
            width: 110px;
            height: 110px;
            background-color: rgba(255,255,255,1);
            border-radius: 0;
            border: 1px solid rgba(255,255,255,1);
        }
        #media_overview_list table{
            background-color: rgba(255,255,255,1);
            text-transform: capitalize;
        }
        h1{
            text-align: center;
        }
        .report_view{
            cursor: pointer;
        }
        table .btn{
            display: block;
        }
        thead tr td{
            height: 50px !important;
            font-size: 16px !important;
            font-weight: 900;
            padding: 15px !important;
        }
        .fixed_height{
            height:10px;
        }
        .compare_div{
            padding-right: 0;
        }
        .compare_div a{
            float: right;
            text-align: center;
            margin-left: 10px;
        }
        .create_project_form{
            display: none;
        }
        .export_btn,.export_btn:hover,.export_btn:active,
        .export_btn:focus,.export_btn:visited{
            background-color: rgb(255, 108, 60);
            width: 90px;
            border-radius: 25px;
            color: #fff;
            border: 1px solid rgb(255, 108, 60);
            font-weight: 900;
        }
        .compare_btn,.compare_btn:hover,.compare_btn:focus,
        .compare_btn:active,.compare_btn:visited{
            border: 1px solid rgb(255, 108, 60);
            color: rgb(255, 108, 60);
            font-weight: 900;
            width: 90px;
            border-radius: 25px;
        }
        .selected_project{
            border: 2px solid rgb(255, 183, 93);
            background-color: rgba(255, 183, 9,0.6);
        }

        tbody tr td{
            vertical-align: middle !important;
        }
</style>
{% endblock %}
{% block container %}
    <div class="col-md-12">
        <div id="media_overview_list">
            <h1>List of Media Overview</h1>
            <input type="hidden" id="user_id" value="{{ user.id }}">
            <input type="hidden" id="project_id" value="{{ project_id }}">
            <input type="hidden" id="api_url" value="{{ api_url }}">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2"></div>
                <div class="col-md-6 pull-right compare_div">
                    <a class="btn btn-default export_btn">Export</a>
                    <a class="btn btn-default compare_btn">Compare</a>
                </div>
            </div>
            <div class="fixed_height"></div>
            <table class="table table-striped">
                <thead class="media_parameters">
                </thead>
                <tbody class="media_list_view">
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">
    $(function(){
        var selected =$("#media_overview");
        selected.addClass("selected_url");
        var project_id = $("#project_id").val();
        var user_id = $("#user_id").val();
        var api_url = $("#api_url").val();
        var ajax_url = api_url+"dashboard/mediaoverview/";
        var ajax_data = {
            "project_id":project_id,
            "select":['attention','AP','meditation','ET','Blink']
        };
        var json_data = ajax_call_with_login("POST",ajax_url,ajax_data);
        if(json_data.length > 0){
            //media params is for the table header
            var media_params ="<tr><td>All Media</td>";
            //for each function has list as data values, and json_key as keys
            json_data.forEach(function (list,json_key) {
                var content = list.content_analysis;
                var media_list_row = "<tr>" +
                    "<td><div><a href='/users/media_overview_report/"+project_id+"/"+list.media_id+"' class='report_view'>" +
                    "<input type='checkbox' name='media_compare[]' class='media_compare[]'>" +
                    "<img src='"+api_url+"media/"+list.image_name+"' class='dashboard_image_wrapper'>"+ list.media_name + "</a></div></td>";
                $.each(content,function (key, list_data) {
                    media_list_row += "<td>" + list_data.toFixed(2) + "</td>";
                    if(json_key == 0) media_params += "<td>" + key + "</td>";
                });
                media_list_row +="</tr>";
                $(".media_list_view").append(media_list_row);
            });
            media_params +="</tr>";
            $(".media_parameters").append(media_params);
            $("#media_overview_list").show();
        }
        $(".dashboard_image_wrapper").on("error", function () {
            $(this).attr('src', '/static/img/image_not_found.png');
        });

    });
</script>
{% endblock %}