{% extends 'dashboard/template.html' %}
{% load staticfiles %}
{% block css %}
    <style type="text/css">
        .btn{
            border-radius: 0;
            display: block;
            text-align: left;
        }
        .thumbnail{
            word-break: break-all;
            margin: 10px;
            display: inline-flex;
            width: 110px;
            height: 110px;
            background-color: rgba(255,255,255,1);
            border-radius: 0;
            border: 1px solid rgba(255,255,255,1);
        }

        h1{
            text-align: center;
        }
        table{
            text-transform: capitalize;
        }
        .report_view{
            cursor: pointer;
        }
        .img-circle{
            height: 180px;
            background-color: #fff;
            display: inline-flex;
        }

        .circle-tile {
            text-align: center;
        }
        .circle-tile-heading {
            border: 3px solid rgba(255, 255, 255, 0.3);
            border-radius: 100%;
            color: #FFFFFF;
            height: 80px;
            margin: 0 auto -40px;
            position: relative;
            transition: all 0.3s ease-in-out 0s;
            width: 80px;
        }
        .circle-tile-heading .fa {
            line-height: 80px;
        }
        .circle-tile-content {
            padding-top: 50px;
        }
        .circle-tile-number {
            font-size: 26px;
            font-weight: 700;
            line-height: 1;
            padding: 5px 0 15px;
        }
        .circle-tile-description {
            text-transform: uppercase;
        }
        .circle-tile-footer {
            background-color: rgba(0, 0, 0, 0.1);
            color: rgba(255, 255, 255, 0.5);
            display: block;
            padding: 5px;
            transition: all 0.3s ease-in-out 0s;
        }
        .circle-tile-footer:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
        }
        .circle-tile-heading.dark-blue:hover {
            background-color: #2E4154;
        }
        .dark-blue {
            background-color: #34495E;
        }
        .text-faded{
            color: rgba(255,255,255,1);
        }
    </style>
{% endblock %}
{% block container %}
    <input type="hidden" id="project_id" value="{{ project_id }}">
    <input type="hidden" id="media_id" value="{{ media_id }}">
    <input type="hidden" id="api_url" value="{{ api_url }}">
    <div class="col-md-12">
        <div id="media_report">
            <h1>Media Report View</h1>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript">

        $(function(){
            var selected =$("#view_reports");
            selected.addClass("selected_url");
            var project_id = $("#project_id").val();
            var media_id = $("#media_id").val();
            var user_id = $("#user_id").val();
            var api_url = $("#api_url").val();
            var ajax_url = api_url+"dashboard/mediaoverview/";
            var ajax_data = {
                "project_id":project_id,
                "select":['attention','AP','meditation','ET','Blink']
            };
            var json_data = ajax_call_with_login("POST",ajax_url,ajax_data);
            var counter_row= "<div class='row'>";
            var media_report = $("#media_report");
            if(json_data.length > 0){
                var media_index =json_data.findIndex(function(x) { return x.media_id==media_id });
                var content = json_data[media_index].content_analysis;
                var width = 100 / Object.keys(content).length;
                $.each(content,function (key, data) {
                    counter_row += '<div style="display:inline-flex;width: '+width+'%" ><div class="circle-tile "  style="width:'+(100-width)+'%;" > ';
                    counter_row +='<div class="circle-tile-heading dark-blue"><span class="fa">'+data.toFixed(2)+'</span></div>';
                    counter_row += '<div class="circle-tile-content dark-blue">';
                    counter_row +='<div class="circle-tile-description text-faded">'+key+'</div>';
                    counter_row += '<div class="circle-tile-number text-faded ">'+data.toFixed(2)+'</div>';
                    counter_row += '</div></div></div>';
                });
            }
            counter_row += "</div>";
            media_report.append(""+counter_row).show();


        });
    </script>
{% endblock %}