{% extends 'dashboard/layout.html' %}
{% load staticfiles %}
{% block title %} Neuro Sensum | Projects Overview{% endblock %}
{% block css %}
<link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<!-- <link href="{% static 'css/dashboard_ui.css' %}" rel="stylesheet"> -->
<!-- <link href="{% static 'css/profiles_base.css' %}" rel="stylesheet"> -->
<style type="text/css">
	@media (min-width: 1200px) {
	    [class*='col-lg-3']:nth-child(4n+1),
        [class*='col-lg-4']:nth-child(3n+1),
	    [class*='col-lg-6']:nth-child(2n+1) {
	        clear: left;
	    }
	}

	@media (min-width: 992px) and (max-width:1199px) {
	    [class*='col-md-4']:nth-child(3n+1) {
	        clear: left;
	    }
	}

	@media (min-width: 768px) and (max-width:991px) {
	    [class*='col-sm-6']:nth-child(2n+1) {
	        clear: left;
	    }
	}
	.edit_row{
		text-align: right;
	}
	.progress-bar{
		background-color:#EB5E28;
	}
	#goback{
		cursor: pointer;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.edit_btn,.edit_btn:hover, .edit_btn:active,
        .edit_btn:focus, .edit_btn:visited{
		padding: 4px 10px;
    	border: 1px solid #f05827;
    	border-radius: 4px;
    	color: #f05827;
	}
	.delete_btn,.delete_btn:hover, .delete_btn:active,
        .delete_btn:focus, .delete_btn:visited{
		padding: 4px 10px;
    	border: 1px solid #f05827;
    	border-radius: 4px;
    	color: #fff;
    	background-color: #f05827;
	}
	.pname{
		width: 100%;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
		font-weight: bold;
        color: #94918d;
        margin: 5px 5px 35px 0;
	}
    .project_strip{
        border-top: 7px solid #fa662e;
    }
    .project_icon{
        color: #fa662e;
        font-size: 1.5em;
    }
	.media_list_container{
		display: none;
	}
	.progress{
		height: 3px !important;
		margin: 0 0 15px 0 !important;
	} 
	.export_btn, .export_btn:hover, .export_btn:active,
        .export_btn:focus, .export_btn:visited {
            background-color: rgb(255, 108, 60);
            /*width: 90px;*/
            border-radius: 25px;
            color: #fff;
            border: 1px solid rgb(255, 108, 60);
            /*font-weight: 900;*/
        }

        .success_btn:hover {
            width: 100px;
        }

        .compare_btn, .compare_btn:hover, .compare_btn:focus,
        .compare_btn:active, .compare_btn:visited {
            border: 1px solid rgb(255, 108, 60);
            color: rgb(255, 108, 60);
            font-weight: 900;
            width: 90px;
            border-radius: 25px;
        }

        .toggle_project_row img {
            cursor: pointer;
            width: 10px;
            height: 12px;
            margin-left: 30px;
        }

        .selected_project {
            border: 2px solid rgb(255, 183, 93);
            background-color: rgba(255, 183, 9, 0.6);
        }

        .project_name {
            display: inline-block;
            width: 200px;
            margin-left: 10px;
        }

        .blue_text {
            color: #00f;
        }

      
        .input-group-btn .btn {
            height: 40px;
        }

        .btn .btn-inline {
            text-align: center;
        }

        .launch_btn, .launch_btn:hover, .launch_btn:active,
        .launch_btn:visited, .launch_btn:focus {
            color: #fff;
            background-color: #ff6c3c;
            border-radius: 25px;
            border: 1px solid #ff6c3c;
            font-weight: 900;
        }

        .cancel_btn, .cancel_btn:hover, .cancel_btn:active,
        .cancel_btn:focus, .cancel_btn:visited {
            background-color: #fff;
            border: 1px solid #ff6c3c;
            color: #ff6c3c;

            border-radius: 37px;
            font-weight: 900;
        }
        .project_content, .card{
        	cursor: pointer;
        }
        .create_project{
            padding: 15px 0 15px 0 !important;
        }
        .tooltip_text{
            font-size: 14px;
        }
        .pname.tname{
            margin: 10px 0 20px 0 !important;
        }
        .test_footer{
            margin: 0 0 7px 0 !important;
        }
        .test_create{
            padding: 62px 0 62px 0 !important;
        }
        .icon-big{
            font-size: 4em !important;
        }
        .ti-plus{
            color: #94918d !important;
        }
        .card:hover .ti-plus, .card:hover .create_id{
            color: #68B3C8 !important;
        }
        .create_id{
            font-size: 20px;
            font-weight: bold;
            color: #94918d;
        }
</style>
{% endblock %}
{% block content_title %}Projects{% endblock %}
{% block maincontent %}
<input type="hidden" id="api_url" value="{{ api_url }}">
<input type="hidden" id="user_id" value="{{ user.id }}">
<input type="hidden" id="host_url" value="{{ host_url }}">
<input type="hidden" id="url_project_id" value="{{ project_id }}">
<div class="content">
    <div class="container-fluid project_list_container">
        <div class="col-lg-3 col-sm-6 first_create">
            <div class="card">
                <div class="content project_content create_project"  href="#" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#addProjectModal"
                       data-modaltype='Add Project'>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="text-center create_id">
                            Create Project
                        </p>
                    </div>
                </div>
            </div>
        </div>
      	<!-- <div id="loader" style="display: none;">
      		<img src="{% static 'img/loading.gif' %}" alt="Loading List of Projects">
      	</div> -->
    </div>
	<div class="container-fluid media_list_container">
	   <div class="col-lg-6 col-sm-6 first_create">
	    <div class="card">
	        <div class="content test_create" href="#" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#addTestModal"
                       data-modaltype='Add Test'>
	            <div class="row">
	                <div class="col-xs-12">
	                    <div class="icon-big icon-info text-center">
	                        <i class="ti-plus"></i>
	                    </div>
	                </div>
	            </div>
	            <div>
	                <p class="text-center create_id">
	                	<input type="hidden" name="pid" id="pid" value="">
	                    Create Test
	                </p>
	            </div>
	        </div>
	    </div>
	</div>
</div>   
{% endblock %}
{% block footer %}
<!--Project Modal -->
    <div id="addProjectModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body" id="add_project_modal_content">

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn launch_btn" value="Add Project" onclick="saveProject()">
                </div>
            </div>

        </div>
    </div>
    <div id="deleteProjectModal" class="modal fade" role="dialog" data-media="0">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Project</h4>
                </div>
                <div class="modal-body" id="delet_project_modal_content">
                    Are you sure you want to delete Project?
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn launch_btn" value="Yes"
                           onclick="deleteProject()" data-dismiss="modal">
                    <input type="button" class="btn launch_btn" value="No" data-dismiss="modal">

                </div>
            </div>


        </div>
    </div>
<!--End Project Modal -->
<!-- Add Test Modal -->
    <div id="addTestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Test</h4>
                </div>
                <div class="modal-body" id="add_test_modal_content">

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn launch_btn" value="Save" onclick="saveTest()">
                </div>
            </div>

        </div>
    </div>
<!--End Add Test Modal -->

    <!--Track Test Modal -->
    <div id="trackTestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Track Test</h4>
                </div>
                <div class="modal-body" id="track_test_modal_content" style="height: auto;">

                </div>
            </div>

        </div>
    </div>
    <!--End Track Test Modal -->

    <div id="editTestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Test</h4>
                </div>
                <div class="modal-body" id="edit_test_modal_content" style="height: auto;">

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn launch_btn save_btn" value="Save" onclick="saveTest()">
                </div>
            </div>

        </div>
    </div>

    <!--Delete Test Modal -->
    <div id="deleteTestModal" class="modal fade" role="dialog" data-media="0">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Test</h4>
                </div>
                <div class="modal-body" id="delete_test_modal_content">
                    Are you sure you want to delete test?
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn launch_btn" value="Yes"
                           onclick="deleteTest()" data-dismiss="modal">
                    <input type="button" class="btn launch_btn" value="No" data-dismiss="modal">

                </div>
            </div>


        </div>
    </div>
    <!--End Delete Test Modal -->



{% endblock %}
{% block js %}


<script src="{% static 'js/common_functions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{% static 'js/dashboard/project_page.js' %}"></script>

{% endblock %}