{% extends 'dashboard/template.html' %}
{% block css %}
    {% load staticfiles %}
    <style type="text/css">
        .btn {
            border-radius: 0;
            display: inline;
            text-align: center;
            height: 30px;
            width: 100px;
        }

        #media_overview table {
            background-color: rgba(255, 255, 255, 1);
            text-transform: capitalize;
        }

        h1 {
            text-align: center;
        }

        thead tr td {
            height: 50px !important;
            font-size: 16px !important;
            font-weight: 900;
            padding: 15px !important;
        }

        .fixed_height {
            height: 10px;
        }

        .compare_div {
            padding-right: 0;
        }

        .compare_div a {
            float: right;
            text-align: center;
            margin-left: 10px;
        }

        .light_text {
            opacity: 0.4;
            padding-left: 4px;
            font-size: 12px;
        }

        .export_btn, .export_btn:hover, .export_btn:active,
        .export_btn:focus, .export_btn:visited {
            background-color: rgb(255, 108, 60);
            width: 90px;
            border-radius: 25px;
            color: #fff;
            border: 1px solid rgb(255, 108, 60);
            font-weight: 900;
        }

        .success_btn:hover {
            width: 100px;
        }

        .compare_btn, .compare_btn:hover, .compare_btn:focus,
        .compare_btn:active, .compare_btn:visited {
            border: 1px solid rgb(255, 108, 60);
            color: rgb(255, 108, 60);
            font-weight: 900;
            width: 90px;
            border-radius: 25px;
        }

        .toggle_project_row img {
            cursor: pointer;
            width: 10px;
            height: 12px;
            margin-left: 30px;
        }

        .selected_project {
            border: 2px solid rgb(255, 183, 93);
            background-color: rgba(255, 183, 9, 0.6);
        }

        .project_name {
            display: inline-block;
            width: 200px;
            margin-left: 10px;
        }

        .blue_text {
            color: #00f;
        }

        .table tbody tr td {
            vertical-align: middle !important;
        }

        .input-group-btn .btn {
            height: 40px;
        }

        .btn .btn-inline {
            text-align: center;
        }

        .launch_btn, .launch_btn:hover, .launch_btn:active,
        .launch_btn:visited, .launch_btn:focus {
            color: #fff;
            background-color: #ff6c3c;
            border-radius: 25px;
            border: 1px solid #ff6c3c;
            font-weight: 900;
        }

        .cancel_btn, .cancel_btn:hover, .cancel_btn:active,
        .cancel_btn:focus, .cancel_btn:visited {
            background-color: #fff;
            border: 1px solid #ff6c3c;
            color: #ff6c3c;

            border-radius: 37px;
            font-weight: 900;
        }

    </style>
    {#    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">#}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
{% endblock %}
{% block container %}
    <div class="col-md-12">
        <div id="media_overview">
            <h1>Project Overview</h1>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-default export_btn" href="#" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#addProjectModal"
                       data-modaltype='Add Project'>Create Project</a>
                </div>
                <div class="col-md-3"></div>
{#                <div class="col-md-5 pull-right compare_div">#}
{#                    <a class="btn btn-default export_btn">Export</a>#}
{#                    <a class="btn btn-default compare_btn">Compare</a>#}
{#                </div>#}
            </div>
            <div class="fixed_height"></div>
            <table id="project_table" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Project Name</th>
                    <th>Category</th>
                    <th>Sub-Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="hide">
                <table id="media_table" class="table table-condensed ">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="blue_text">Attention</th>
                        <th class="blue_text">Engagement</th>
                        <th class="blue_text">Activation</th>
                        <th class="blue_text">Enjoyability</th>
                        <th>Status</th>
                        <th>Track</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Result</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" id="api_url" value="{{ api_url }}">
    <input type="hidden" id="user_id" value="{{ user.id }}">
    <input type="hidden" id="host_url" value="{{ host_url }}">

    <!--Project Modal -->
    <div id="addProjectModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body" id="addProjectModalContent">

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn launch_btn" value="Add Project" onclick="saveProject()">
                </div>
            </div>

        </div>
    </div>
    <div id="deleteProjectModal" class="modal fade" role="dialog" data-media="0">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Project</h4>
                </div>
                <div class="modal-body" id="deleteProjectModalContent">
                    Are you sure you want to delete Project?
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn launch_btn" value="Yes"
                           onclick="deleteProject()" data-dismiss="modal">
                    <input type="button" class="btn launch_btn" value="No" data-dismiss="modal">

                </div>
            </div>


        </div>
    </div>

    <!--End Project Modal -->
    <!--Test Modal -->
    <div id="addTestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Test</h4>
                </div>
                <div class="modal-body" id="addTestModalContent">

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn launch_btn" value="Save" onclick="saveTest()">
                </div>
            </div>

        </div>
    </div>
    <!--End Test Modal -->
    <!--Track Test Modal -->
    <div id="trackTestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Track Test</h4>
                </div>
                <div class="modal-body" id="trackTestModalContent" style="height: auto;">

                </div>
            </div>

        </div>
    </div>

    <div id="editTestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Test</h4>
                </div>
                <div class="modal-body" id="editTestModalContent" style="height: auto;">

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn launch_btn" value="Save" onclick="saveTest()">
                </div>
            </div>

        </div>
    </div>

    <!--End Track Test Modal -->
    <!--Delete Test Modal -->
    <div id="deleteTestModal" class="modal fade" role="dialog" data-media="0">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Test</h4>
                </div>
                <div class="modal-body" id="deleteTestModalContent">
                    Are you sure you want to delete test?
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn launch_btn" value="Yes"
                           onclick="deleteTest()" data-dismiss="modal">
                    <input type="button" class="btn launch_btn" value="No" data-dismiss="modal">

                </div>
            </div>


        </div>
    </div>
    <!--End Delete Test Modal -->

    <script src="{% static 'js/common_functions.js' %}"></script>
{% endblock %}
{% block js %}
    <link rel="stylesheet" href="{% static 'css/fonts/font-awesome.min.css' %}">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


    <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script-->
    <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script-->
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <link href="{% static 'css/dashboard_ui.css' %}" rel="stylesheet">

    <script type="text/javascript">
        var media_id = 0;
        var iTableCounter = 1, oTable, oInnerTable, media_table_html;
        var project_id = undefined;
        function add_media_table_row(table_id, html) {
            var sOut = "<table id=\"project_table_" + table_id + "\"  class='table table-condensed media_table'>";
            sOut += html;
            sOut += "</table>";
            return sOut;
        }
        var api_host = $("#api_url").val();
        var current_domain_url = $("#host_url").val();
        var user_id = $("#user_id").val();
        $(function () {
            if ($(location).attr('pathname') == "/users/project_overview/") {
                var selected = $("#project_overview");
                selected.addClass("selected_url");
            }

            //get project list api
            var project_url = api_host + "dashboard/projectoverview/";
            var ajax_data = {
                "user_id": user_id,
                "select": ["attention", 'AP', 'YY', 'ET', 'ME']
            };
            var get_project_list = call_ajax("POST", project_url, ajax_data);
            if (get_project_list.length > 0) {
                var project_table = $('#project_table');
                // you would probably be using templates here
                media_table_html = $("#media_table").html();
                //Insert a 'details' column to the table
                var nCloneTh = document.createElement('th');
                var nCloneTd = document.createElement('td');
                nCloneTd.innerHTML = '<img src="/static/img/arrow_down.png">';
                nCloneTd.className = "center";

                project_table.find('thead tr').each(function () {
                    this.insertBefore(nCloneTh, this.childNodes[0]);
                });

                project_table.find('tbody tr').each(function () {
                    this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
                });


                //Initialise DataTables, with no sorting on the 'details' column
                //Commented code represents the old api to get avg of project content analysis
                oTable = project_table.dataTable({
                    "bJQueryUI": true,
                    "aaData": get_project_list,
                    "bPaginate": false,
                    "aoColumns": [
                        {
                            "mDataProp": "project_id",
                            "sClass": "project_id hide",
                            "bSortable": false,
                            "sDefaultContent": '<img src="/static/img/arrow_down.png">'
                        },
                        {
                            "mDataProp": null,
                            "sClass": "control center toggle_project_row",
                            "bSortable": false,
                            "sDefaultContent": '<img src="/static/img/arrow_down.png">'
                        },
                        {
                            "mDataProp": null,
                            "sClass": "control center toggle_project_row",
                            "bSortable": false,
                            "sDefaultContent": ''
                        },
                        {
                            "mDataProp": "project_name"
                        },
                        {
                            "mDataProp": "category"

                        },
                        {
                            "mDataProp": "subcategory"

                        },
                        {
                            "mDataProp": null,
                            "bSortable": false,
                            "sClass": "control center",
                            "sDefaultContent": ''
                        },
                        {
                            "mDataProp": null,
                            "bSortable": false,
                            "sClass": "control center",
                            "sDefaultContent": ''
                        },
                        {
                            "mDataProp": null,
                            "bSortable": false,
                            "sClass": "control center",
                            "sDefaultContent": ''
                        },
                        {
                            "mDataProp": null,
                            "bSortable": false,
                            "sClass": "control center",
                            "sDefaultContent": ''
                        }
                    ],
                    "oLanguage": {
                        "sInfo": "_TOTAL_ projects"
                    },
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        var project_id = aData['project_id'];
                        $('td:eq(2)', nRow).html('<i class="fa fa-plus" aria-hidden="true" data-backdrop="static" data-keyboard="false"  data-toggle="modal" data-target="#addTestModal" data-project="' + project_id + '" title="Add Test"></i>');
                        $('td:eq(6)', nRow).html("<a href='#' class='project-edit' title='Edit Project' data-backdrop='static' data-keyboard='false' data-toggle='modal' data-row='" + iDisplayIndex + "' data-project='" + project_id + "' data-target='#addProjectModal' data-modaltype='Edit Project'></a>");
                        $('td:eq(7)', nRow).html("<a href='#' class='project-delete' title='Delete Project' data-backdrop='static' data-keyboard='false' data-toggle='modal' data-row='" + iDisplayIndex + "'   data-target='#deleteProjectModal'></a>");
                        return nRow;
                    },
                    "ordering": true,
                    "order": [[0, 'desc']]
                });
                /* Add event listener for opening and closing details
                 * Note that the indicator for showing which row is open is not controlled by DataTables,
                 * rather it is done here
                 */
                project_table.find('tbody td img').on('click', function () {
                    var nTr
                            = $(this).parents('tr')[0];
                    var nTds = this;

                    if (oTable.fnIsOpen(nTr)) {
                        //this is before click of the + icon
                        /* This row is already open - close it */
                        this.src = "/static/img/arrow_down.png";
                        oTable.fnClose(nTr);
                        $(this).parents('tr').removeClass('highlighted-project');
                    }
                    else {
                        //once you click on the image
                        /* Open this row */
                        var media_data_url = api_host + "dashboard/mediaoverview/";
                        var project_id = $(this).parent().siblings(".project_id").text();
                        var ajax_data = {"project_id": project_id};
                        var detailsRowData = ajax_call_with_login("POST", media_data_url, ajax_data);
                        this.src = "/static/img/arrow_up.png";
                        oTable.fnOpen(nTr, add_media_table_row(iTableCounter, media_table_html));
                        oInnerTable = $("#project_table_" + iTableCounter).dataTable({
                            "bJQueryUI": true,
                            "bFilter": false,
                            "aaData": detailsRowData,
                            "bSort": false, // disables sorting
                            "aoColumns": [

                                {
                                    "mDataProp": "image_name"
                                },
                                {
                                    "mDataProp": "content_analysis.attention",
                                    render: function (data, type, row) {
                                        return data.toFixed(2);
                                    }
                                },
                                {
                                    "mDataProp": "content_analysis.ME",
                                    render: function (data, type, row) {
                                        return data.toFixed(2);
                                    }
                                },
                                {
                                    "mDataProp": "content_analysis.ET",
                                    render: function (data, type, row) {
                                        return data.toFixed(2);
                                    }
                                },
                                {
                                    "mDataProp": "content_analysis.AP",
                                    render: function (data, type, row) {
                                        return data.toFixed(2);
                                    }
                                },
                                {
                                    "mDataProp": "status",
                                    render: function (data, type, row) {
                                        return data + " %";
                                    }
                                },
                                {
                                    "mDataProp": null,
                                    "sClass": "control center",
                                    "sDefaultContent": ''
                                },
                                {
                                    "mDataProp": null,
                                    "sClass": "control center",
                                    "sDefaultContent": '<a href="/users/dashboard" class="btn btn-success">Results</a>'
                                },
                                {
                                    "mDataProp": null,
                                    "sClass": "control center",
                                    "sDefaultContent": ''
                                },
                                {
                                    "mDataProp": null,
                                    "sClass": "control center",
                                    "sDefaultContent": ''
                                }
                            ],
                            "bPaginate": false,
                            "oLanguage": {
                                "sInfo": ""
                            },
                            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                                console.log(aData);
                                console.log(nRow);
                                console.log(iDisplayIndex);
                                console.log(iDisplayIndexFull);
                                var imgLink = aData['activity_type'] == null? "25.jpg":aData['activity_type']+".jpg"
                                        , project_id = aData['project_id'];
                                var media_name = aData['media_name'], media_id = aData['media_id'];
                                var status = aData['status'];
                                var imgTag = '<img width="80px" height="45px" src="' + current_domain_url + "static/img/dashboard/activity_type/" + imgLink + '"/>    ' +
                                        '' + media_name + '';
                                $('td:eq(0)', nRow).html(imgTag);
                                /*if(status == 0) $('td:eq(7)',nRow).html("<a href='/users/create_test_view/"+project_id+"/"+media_id+"' class='btn btn-primary'>Create Test</a>");
                                 else if(status == 100) $('td:eq(7)',nRow).html("<a href='/users/create_test_view/"+project_id+"/"+media_id+"' class='btn btn-success'>Re Test</s>");
                                 else if(status == -1) {
                                 $('td:eq(6)',nRow).html(0);
                                 $('td:eq(7)',nRow).html("<a href='/users/home/' class='track-test' title='Track test'></a>");
                                 }
                                 else{ */
                                $('td:eq(6)', nRow).html("<a href='#' class='track-test' title='Track test' data-backdrop='static' data-keyboard='false' data-toggle='modal' data-project='" + project_id + "' data-media='" + media_id + "'  data-target='#trackTestModal'></a>");
                                $('td:eq(7)', nRow).html("<a href='#' class='track-edit' title='Edit Test'  data-backdrop='static' data-keyboard='false' data-toggle='modal' data-project='" + project_id + "' data-media='" + media_id + "'  data-target='#editTestModal'></a>");
                                $('td:eq(8)', nRow).html("<a href='#' class='track-delete' title='Delete Test'  data-backdrop='static' data-keyboard='false' data-toggle='modal' data-project='" + project_id + "' data-media='" + media_id + "'  data-target='#deleteTestModal'></a>");
                                $('td:eq(9)', nRow).html("<a href='/users/dashboard/" + project_id + "/" + media_id + "' class='track-result' title='View Result'></a>");

                                return nRow;
                            },
                            'columnDefs': [{
                                'targets': 10,
                                'searchable': true,
                                'orderable': false,
                                'className': 'compare_media',
                                'render': function (data, type, full, meta) {
                                    return '';
                                }
                            }]
                        });
                        iTableCounter = iTableCounter + 1;
                        $(this).parents('tr').next().children('td').addClass('highlighted-test');
                        $(this).parents('tr').addClass('highlighted-project');

                    }

                });
            }

            $("#addTestModal").on('shown.bs.modal', function (event) {
                 project_id = getDataAttribute(event, 'project');
                $('#addTestModalContent').load(current_domain_url+'users/add_test?project_id='+project_id);
            });

            $("#editTestModal").on('shown.bs.modal', function (e) {
                project_id = getDataAttribute(e, 'project');
                //name = getDataAttribute(e, 'name');
                //console.log(project_id);
                media_id = getDataAttribute(e, 'media');
                 $('#editTestModalContent,#addTestModalContent').html('');
                $('#editTestModalContent').load(current_domain_url+'users/edit_test?media_id='+media_id+'&project_id='+project_id);
            });


            $("#addProjectModal").on('show.bs.modal', function (event) {
                var modalType = getDataAttribute(event, 'modaltype');
                $('#addProjectModal').find('.modal-title').text(modalType);
            }).on('shown.bs.modal', function (event) {
                $('#addProjectModalContent').load(current_domain_url+'users/add_project/', function () {
                    var modalType = getDataAttribute(event, 'modaltype');
                    if (modalType == 'Edit Project') {
                        var row_id = getDataAttribute(event, 'row');
                        // populate data in form and set project
                        // fetch current row data from data table
                        var $dataTableCache = $('#project_table').DataTable();
                        var data = $dataTableCache.rows(row_id).data();
                        $('#addProjectModalContent').find('#project_id').val(data[0].project_id).find('#row_index_id').val(row_index_id);
                         populateProjectData(data[0]);
                        $('#addProjectModal').find('input[type="button"]').css('width','120').val("Update Project");
                    }else{
                        $('#addProjectModalContent').find('#project_id').val("").find('#row_index_id').val("");
                    }
                });

            });


            $("#trackTestModal").on('shown.bs.modal', function (e) {
                var project_id = $(e.relatedTarget).data('project');
                var media_id = $(e.relatedTarget).data('media');
                $('#trackTestModalContent').load(current_domain_url+'users/track_test/' + project_id + '/' + media_id);
            });
            $("#deleteTestModal").on('shown.bs.modal', function (e) {
                media_id = $(e.relatedTarget).data('media');

            });
            $("#deleteProjectModal").on('shown.bs.modal', function (event) {
                var row_id = getDataAttribute(event, 'row');
                var $dataTableCache = $('#project_table').DataTable();
                var row_index_id = $dataTableCache.data().length - row_id -1
                var data = $dataTableCache.rows().data()[row_id];
                project_id = data.project_id;
            });
        });
        function getDataAttribute(event, attrName) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            return button.data(attrName); // Extract info from data-* attributes
        }

        function deleteTest() {
             var media_data_url = api_host + "dashboard/delete_media/";
            var detailsRowData = ajax_call_with_login("POST", media_data_url, {media_id: media_id});
            if (detailsRowData != undefined && detailsRowData.status == "deleted") {
                $(this).parents('tr').remove();
            }
            //$('#deleteTestModal').dialog().dialog('close');
            window.location.reload();
            return false;
        }
        function deleteProject() {
            var project_data_url = api_host + "dashboard/createentity/delete/project/";
            var detailsRowData = ajax_call_with_login("POST", project_data_url,{"id":project_id});
            if (detailsRowData != undefined && detailsRowData.status == "deleted") {
                $(this).parents('tr').remove();
            }
            window.location.reload();
            return false;
        }
        function addNewProject(row) {
            var data =
            {
                "project_id": row.projectId,
                "project_name": row.projectName,
                "category": row.category,
                "subcategory": row.subcategory
            };
            $("#project_table").DataTable().row.add(data).draw();
        }
        function upateProject(row_id,data) {
           $("#project_table").DataTable().row(row_id).data(data).draw();
        }
    </script>
{% endblock %}

