{% extends 'dashboard/layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap/bootstrap-select.css' %}" rel="stylesheet" type="text/css">
    <link type="text/css" href="{% static 'css/bootstrap2-toggle.min.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <style type="text/css">
        .input_sub_categories_wrap div,
        .input_emails_wrap div,
        .input_content_types_wrap div{
            display: flex;
        }
        .form-control{
            border-radius: 0 !important;
        }
        img.form-control{
            padding: 7px 6px !important;
        }
        h3{
            margin-top: 45px !important;
        }
        .ui-state-hover{
            background-color: #646464 !important;
            color: #fff !important;
        }
        table{
            background-color: rgba(255,255,255,1);
        }
        thead tr td{
            height: 50px !important;
            font-size: 16px !important;
            font-weight: 900;
            padding: 15px !important;
            text-transform: capitalize;
        }
        .table tbody tr td{
            vertical-align: middle !important;
        }
        td i{
            width: 15%;
            opacity: 0.3;
            padding-left: 30px;
        }
        td i:hover{
            opacity: 1;
        }
        #tabs{
            display: none;
        }
        .launch_btn, .launch_btn:hover, .launch_btn:active,
        .launch_btn:visited, .launch_btn:focus {
            color: #fff;
            background-color: #ff6c3c;
            border-radius: 25px;
            border: 1px solid #ff6c3c;
            font-weight: 900;
        }

        .cancel_btn, .cancel_btn:hover, .cancel_btn:active,
        .cancel_btn:focus, .cancel_btn:visited {
            background-color: #fff;
            border: 1px solid #ff6c3c;
            color: #ff6c3c;

            border-radius: 37px;
            font-weight: 900;
        }
        .dropdown-menu ul li a span.text{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                margin: 0 !important;
        }
        div.dropdown-menu.open{
            width: 220px;
        }
        [id*="_tab"] .row
        {
            margin-right: 0 !important; 
        }
    </style>
{% endblock %}
{% block content_title %}Settings{% endblock %}
{% block maincontent %}
    <input type="hidden" value="{{ api_url }}" id="api_url">
    <input type="hidden" value="{{ user.id }}" id="user_id">
    <div id="tabs">
        <!-- Navigation Tabs in the settings page -->
        <ul>
            <li><a href="#tester_tab">Tester</a></li>
            <li><a href="#category_tab">Categories</a></li>
            <li><a href="#passcode_tab">Test Passcode</a></li>
            <li><a href="#pseudotester_tab">Pseudo Tester</a></li>
        </ul>
        <!-- Functionality of the tester tab -->
        <div id="tester_tab">
            <div class="row">
                <div class="test_form_div  ">
                    <h5>Create Tester</h5>
                    <form method="POST" name="create_tester_form">
                        {% csrf_token %}
                        <div class="col-sm-8">
                            <label for="email">Email Address:</label>
                            <div class="input_emails_wrap">
                                <div>
                                    <input type="email" required name="email"
                                           placeholder="Enter Valid Email Address" class="form-control email_fields">
                                </div>
                            </div><br>
                            <input type="button" class="add_email_button" value="Add Emails"><br><br>
                        </div>
                        <div class="col-sm-4">
                            <input type="button" class="btn btn-lg btn-inline cancel_btn" value="Clear">
                            <input type="submit" class="btn btn-lg btn-inline launch_btn" value="Create"><br>
                        </div><br>
                        <span class="success_message"></span>
                    </form>
                </div>
            </div>
            <div class="row">
                <h5>List of Testers</h5>
                <table class="table table-bordered" id="tester_table">
                    <thead class="tester_header"></thead>
                    <tbody class="tester_table_body"></tbody>
                </table>
            </div>
        </div>
        <!-- Categories tab -->
        <div id="category_tab">
            <div class="row">
                <div class="categories_div">
                    <h5>Create Categories</h5>
                    <form name="create_categories">
                        {% csrf_token %}
                        <div class="col-sm-3">
                            <label for="category_name">Category Name:</label><br>
                            <input type="text" required id="category_name" name="category_name" placeholder="Enter Category Name" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label for="sub_categories">Enter Subcategory(ies):</label>
                            <div class="input_sub_categories_wrap">
                                <div>
                                    <input type="text" name="sub_categories" required val="0"
                                           placeholder="Enter Subcategory Name" class=" form-control subcategories" >
                                </div>
                            </div>
                            <input type="button" class="add_field_button" value="Add Subcategories"><br><br>
                        </div>
                        <div class="col-sm-3">
                            <input type="button" class="btn btn-lg btn-inline cancel_btn" value="Cancel">
                            <input type="submit" class="btn btn-lg btn-inline launch_btn categories_btn" value="Create">
                        </div>
                        <br>
                        <span class="success_message"></span>
                    </form>
                </div>
            </div>
            <div class="row">
                <h5>List of Categories</h5>
                <table class="table table-bordered" id="categories_table">
                    <thead></thead><tbody></tbody>
                </table>
            </div>
        </div>
        <!-- </div> -->
        <!-- Passcode Tab -->
        <div id="passcode_tab">
            <div class="row">
                <div class="col-sm-4">
                    <h5></h5>
                    <label for="project_dd" class="top-gap">Select Project:</label>
                    <select class="project_list  selectpicker" id="project_dd"
                                    data-live-search="true" data-live-search-placeholder="Search Project"></select>
                </div>
                <div class="col-sm-6">
                    <h5></h5>
                    <label for="media_dd" class="top-gap">Select Media:</label>
                    <select class="media_list  selectpicker" id="media_dd"
                                    data-live-search="true" data-live-search-placeholder="Search Media"></select>
                </div>
            </div><br><br>
            <div class="clearfix"></div>
            <div class="row passcode_row">
                <div class="col-sm-4">
                    <label for="passcode" class="top-gap">Passcode:</label>
                    <!-- <input type="text" disabled name="passcode" id="passcode" value=""> -->
                    <b><span id="passcode" class="text-primary">No passcode</span></b>
                </div>
                <div class="col-sm-6">
                    <input type="submit" id="passcode_submit" class="btn btn-lg btn-inline launch_btn" value="Generate Passcode">
                </div>
            </div>
            <span class="passcode_success"></span>
        </div>
        <!-- Pseudo Tester Tab -->
        <div id="pseudotester_tab">
            <!-- <form action="#" method="POST"> -->
            <div class="row">
                <div class="col-md-4">
                    <label for="tester_prefix">Enter Tester Prefix:</label>
                    <input type="text" name="tester_prefix" id="tester_prefix" required>
                </div>
                <div class="col-md-4">
                    <label for="tester_password">Enter Password:</label>
                    <input type="password" name="tester_password" id="tester_password" minlength="6" required>
                </div>
                <div class="clearfix"></div>
            </div><br><br>
            <div class="row">
                <div class="col-md-4">
                    <label for="no_of_testers">No of Testers:</label>
                    <input type="number" name="no_of_testers" min="1" id="no_of_testers" required value="1">
                </div>
                <div class="col-md-4">
                    <label for="start_from">Start From:</label>
                    <input type="number" name="start_from" id="start_from" min="0" value="1">
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-lg btn-inline launch_btn" id="create_pseudo_tester" value="Create">
                </div><br>
                <div class="clearfix"></div>
            </div><br>
            <span id="pseudotester_success"></span>
            <!-- </form> -->
        </div> 
    </div>
    <!--End of left side-->

{% endblock %}
{% block js %}
    <!-- jQuery and Bootstrap plugins -->
    <!-- <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/settings_content.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap2-toggle.min.js' %}"></script>

{% endblock %}