<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">

    <title>{% block title %} Neuro sensum {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/profiles_base.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts/font-awesome.min.css' %}" rel="stylesheet">

    <style type="text/css">
        .navbar-right{
            font-family: pnaltregular,sans-serif;
        }
        .navbar-right a span:hover{
            color:black;
        }
        #page-content-wrapper .row{
            margin-right: 0;
        }
        .paddingtop{
            padding-top:40px;
        }
        img.profile-pic.img-circle {
            height:40px;
            margin-top: 5px;
            width:40px;
        }
        /*for profile pic display*/
        .dropdown{
            display:inline-flex !important;
        }
        .profile-pic {
            max-width: 200px;
            max-height: 200px;
            display: block;
        }
        .profile-menu{
            padding-left: 2px !important;
        }
        .less_height{
            height: 100%;
        }
    </style>
    {% block css %}
    {% endblock %}
</head>
<body class="gray-bg">
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "dashboard:project_overview" %}">
                    {% block navbar-brand %}
                        <img src="{% static 'ico/favicon.png' %}" class="less_height img-responsive">
                    {% endblock %}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% block navlink %}
{#                         <li><a class="link_text" href="{% url 'dashboard:create_test_view' %}" id="create_test_view">Create Test</a></li>#}
{#                        <li><a class="link_text" href="{% url 'dashboard:manage_project' %}" id="manage_project">Manage Project</a></li>#}
                        <li><a class="link_text" href="{% url 'dashboard:project_overview' %}" id="project_overview">Project</a></li>
                        {% if user.profile.user_id == 53  %}
                            <li><a class="link_text" href="{% url 'dashboard:vision_view' %}" id="vision_overview">Vision</a></li>
                        {% endif %}
                        <li><a href="{% url 'dashboard:dashboard_view' %}" id="dashboard">Dashboard</a></li>
{#                        <li><a class="link_text" href="{% url 'dashboard:media_overview' %}" id="media_overview">Media Overview</a></li>#}
{#                        <li><a class="link_text" href="{% url 'dashboard:view_reports' %}" id="view_reports">Reports</a></li>#}
{#                        <li><a class="link_text" href="{% url 'dashboard:compare_reports' %}" id="compare_reports">Compare Reports</a></li>#}
                        <li><a class="link_text" href="{% url 'dashboard:settings' %}" id="settings">Settings</a></li>
                    {% endblock %}
                    <li class="dropdown">
                        {% if user.profile.picture == '' %}
                            <img class="profile-pic img-circle" src="{% static 'img/image_not_found.png' %}" />
                        {% else %}
                            <img class="profile-pic img-circle" src="/media/{{ user.profile.picture }}" />
                        {% endif %}
                        <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
                            {{ user.username |truncatechars:20 }}
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a class="text-warning text-capitalize" href="{% url 'profiles:show_self' %}">Profile</a>
                            </li>
                            <li>
                                {% if project_token  != None %}
                                    <a class="text-warning text-capitalize" href="{% url 'profiles:show_account' %}">Account</a>
                                {% endif  %}
                            </li>
                            <li><a class="text-warning" href="{% url 'accounts:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

<div id="page-content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="container-fluid">
                <div class="row-fluid">
                    {% block container %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery and Bootstrap plugins -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}
{% endblock %}

</body>
</html>