{% block container %}          
    <table id="tester_list_table" class="table table-condensed ">
        <thead>
        <tr>
             <th>User Tester</th>
            <th>Email</th>
            <th>Status</th>
           </tr>
        </thead>
        <tbody></tbody>
    </table>
    <input type="hidden" id="api_url" value="{{ api_url }}">
    <input type="hidden" id="user_id" value="{{ user.id }}">
{% endblock %}

{% block js %}

    <script type="text/javascript">
        var status="Incomplete";
        $(function() {
            $("#tester_list_table tbody").html("");
            var api_host = $("#api_url").val();
            var test_url = api_host + "dashboard/testerlists/";
            var ajax_data = {
                "project_id":'{{ project_id }}',
                "media_id":'{{ media_id }}'
            };
            var get_project_list = call_ajax("POST", test_url, ajax_data);
            if(get_project_list.completed.length > 0)
            {
                var data = get_project_list.completed.concat(get_project_list.incomplete);
                var user_data = get_project_list.completed.map(a => a.user_id);
                var user_id = $.unique(data).length;
                $.each(data, function(key, value){
                    if($.inArray(value.user_id,user_data) === -1) 
                    {
                        status="Incomplete";
                    }else{
                        status="Completed";
                    }

                    $("#tester_list_table tbody").append("<tr id="+value.user_id+"><td>"+value.name+"</td><td>"+value.email+"</td><td>"
                        +status+"</td></tr>");
                });
            }
            else{
                 $("#tester_list_table tbody").html("");
                 $("#tester_list_table tbody").append("<tr><td colspan='3'>No Tester completed the test</td></tr>");
            }
            });
    </script>
{% endblock %}
