{% extends "website/base.html" %}
{% load staticfiles %}
{% block container %}
    <!-- end navigation panel -->
     <section id="slider" class="full-screen no-padding travel-agency-slider">
            <div id="owl-demo" class="owl-carousel owl-theme light-pagination">

                <!-- slider item -->
                <div class="item owl-bg-img" style="background-image:url('/static/website/images/Use Case Inner Page Banner.jpg');">
                    <div class="slider-overlay bg-black"></div>
                    <div class="container full-screen position-relative">
                        <div class="col-md-12 slider-typography">
                            <div class="slider-text-middle-main pull-left text-left">
                                <div class="slider-text-middle padding-left-right-px wow fadeIn">
                                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                                <p class="bannerbighead white-text">Enhance your brand’s perception with emotional hooks</p>

                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
            </div>
        </section>
    <!-- slider -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center no-padding margin-five no-margin-top sm-margin-bottom-ten">
                        <p class="never">It’s time to understand what draws consumers to your brand</p>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row">
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/brand_optimization.jpg' %}" alt="Brand Optimization"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Brand optimization</span><br>
                                <!--<span class="destinations-place text-uppercase font-weight-400 letter-spacing-3 black-text display-block">990 Places</span>-->
                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Test brand campaign elements for user response on campaigns</li><br>
                                    <li class="display-block picbody">Analyze emotional,behavioral & cognitive user behavior and predict responses</li><br>

                                </ul>


                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten
                         ">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/competitive_analysis.jpg' %}" alt="Competitive Analysis"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Competitive analysis</span><br>

                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Compare user metrics like perception, awareness, market positioning</li><br>
                                    <li class="display-block picbody">Optimize targeted campaigns to get competitive edge</li><br>


                                </ul>

                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/effective_media_planning.jpg' %}" alt="Effective Media Planning"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Effective media planning</span><br>

                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                     <ul>
                                    <li class="display-block picbody">Understand emotional characteristics for users & enhance market segmentation</li><br>
                                    <li class="display-block picbody">Measure media placement effectiveness with eye tracking and gaze trails</li><br>


                                </ul>


                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/data_driven_decisions.jpg' %}" alt="Data Driven Decision"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Data driven decisions</span><br>

                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                   <ul>
                                    <li class="display-block picbody">Rich illustrated reports to observe user behavior in real time</li><br>
                                    <li class="display-block picbody">Feedback and recommendations with campaign optimization actionable</li><br>


                                </ul>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                </div>
            </div>
        </section>
    <!-- end features section -->

    <!-- end about us section -->
    <section id="our-services" class="our-services no-padding">
            <div class="col-md-6 bg-light-gray padding-five box-min-height sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section" style="background-image:url('{% static 'website/images/whatwedo_brand.jpg' %}');">
                <div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
                    <h1 class="whathead margin-ten no-margin-top orange-light-text">What We Do</h1>
                    <div class="whatbody"> Measure where your brand stands on a user’s emotional spectrum. Strengthen brand building efforts by assigning campaign assets and responses. </div>
                </div>
            </div>
            <div class="col-md-6 bg-gray-light padding-five no-padding-bottom sm-padding-bottom-six box-min-height sm-display-table">
                <div class="col-lg-11 col-md-12 pull-left xs-no-padding">
                    <ul>
                        <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                            <div class="number orange-light-text">01.</div>
                            <div><span class="black-text testing display-table margin-two-bottom">Brand impact</span>
                                <span class="testingbody">Calculate emotional impact of your brand story, guidelines, look and feel, and market positioning.</span></div>
                        </li>
                        <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                            <div class="number orange-light-text">02.</div>
                            <div><span class="black-text testing display-table margin-two-bottom">Brand affinity tracking</span>
                                <span class="testingbody">Quantify the connect of users to your brand, optimize user engagement to increase brand loyalty and referrals.</span></div>
                        </li>
                        <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                            <div class="number orange-light-text">03.</div>
                            <div><span class="black-text testing display-table margin-two-bottom">Brand recall analysis</span>
                                <span class="testingbody">Measure both aided and unaided brand awareness to optimize campaigns for increased user familiarity levels.</span></div>
                        </li>
                        <li class="position-relative font-weight-300 text-extra-large">
                            <div class="number orange-light-text">04.</div>
                            <div><span class="black-text testing display-table margin-two-bottom">Content research</span>
                                <span class="testingbody">Test your campaign content before launch, analyze user sentiment and optimize media plan for positive responses.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    <section class="border-bottom clear-both xs-text-center">
            <div class="container">
                <div class="row">
                </div>
            </div>
    </section>

    <!-- end clients reviews section -->


{% endblock %}

