{% extends "website/base.html" %}
{% load staticfiles %}
{% block container %}
    <!-- end navigation panel -->
     <section id="slider" class="full-screen no-padding travel-agency-slider">
            <div id="owl-demo" class="owl-carousel owl-theme light-pagination">

                <!-- slider item -->
                <div class="item owl-bg-img" style="background-image:url('/static/website/images/Use Case Inner Page Banner.jpg');">
                    <div class="slider-overlay bg-black"></div>
                    <div class="container full-screen position-relative">
                        <div class="col-md-12 slider-typography">
                            <div class="slider-text-middle-main pull-left text-left">
                                <div class="slider-text-middle padding-left-right-px wow fadeIn">
                                     <div class="col-md-offset-1 col-md-10 col-sm-10">
                                <p class="bannerbighead white-text">Launch a product that is designed for success</p>

                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
            </div>
        </section>
    <!-- slider -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center no-padding margin-five no-margin-top sm-margin-bottom-ten">
                        <p class="never">Understand what consumers are looking for and optimize for growth</p>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="row">
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/pre_launch_testing.jpg' %}" alt="Pre Launch Testing"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Pre-launch testing</span><br>
                                <!--<span class="destinations-place text-uppercase font-weight-400 letter-spacing-3 black-text display-block">990 Places</span>-->
                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Test your products across multiple segments & geographies to optimize its launch. Save time & money with targeted efforts</li><br>

                                </ul>


                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center sm-margin-bottom-ten
                         ">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/product_validation.jpg' %}" alt="Product Validation"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Product validation</span>

                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                <ul>
                                    <li class="display-block picbody">Predict the probability of a successful launch based on user responses. Identify and avoid developing under-selling features</li><br>

                                </ul>

                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/project_planning.jpg' %}" alt="Project Planning" >
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Flexible project planning</span><br>

                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                     <ul>
                                    <li class="display-block picbody">Follow agile product development. Conduct multiple tests for all milestones effectively to develop and launch a successful product</li><br>

                                </ul>


                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                    <!-- tour item -->
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="popular-destinations position-relative">
                            <img src="{% static 'website/images/actionable_insight.jpg' %}" alt="Action Insight"/>
                            <div class="popular-destinations-text">
                                <span class="destinations-name picheader">Actionable insights</span><br>

                                <a href="#" class="highlight-button btn btn-small no-margin-right no-margin-bottom">View Details</a>
                            </div>
                            <div class="popular-destinations-highlight">
                                <div class="popular-destinations-highlight-sub">
                                   <ul>
                                    <li class="display-block picbody">Get feedback and recommendations based on user responses. Improve product with actionable insights</li><br>

                                </ul>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end tour item -->
                </div>
            </div>
        </section>
    <!-- end features section -->

    <!-- end about us section -->
    <section id="our-services" class="our-services no-padding">
            <div class="col-md-6 bg-light-gray padding-five box-min-height sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section" style="background-image:url('{% static 'website/images/Whatwedo_product.jpg' %}');">
                <div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
                    <h1 class="whathead margin-ten no-margin-top orange-light-text">What We Do</h1>
                    <div class="whatbody"> Analyze consumer responses to enhance product experience, optimize your product development and GTM strategy before launch. </div>
                </div>
            </div>
            <div class="col-md-6 bg-gray-light no-padding-bottom sm-padding-bottom-six box-min-height sm-display-table">
                <div class="col-lg-11 col-md-12 pull-left xs-no-padding">
                    <ul>
                        <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                            <div class="number orange-light-text">01.</div>
                            <div><span class="black-text testing display-table margin-two-bottom">A/B testing</span>
                                <span class="testingbody"> Calibrate and test different product variants. Identify multi-item improvement needs to launch a winning product.</span></div>
                        </li>
                        <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                            <div class="number orange-light-text">02.</div>
                            <div><span class="black-text testing display-table margin-two-bottom">In-store testing</span>
                                <span class="testingbody">Evaluate customer communication, signage, shelf and display layouts to enhance in-store experience for more sales.</span></div>
                        </li>
                        <li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
                            <div class="number orange-light-text">03.</div>
                            <div><span class="black-text testing display-table margin-two-bottom">Package testing</span>
                                <span class="testingbody"> Test package design concepts to identify creative elements that resonate the most with your consumers and validate product packaging.</span></div>
                        </li>
                        <li class="position-relative font-weight-300 text-extra-large">
                            <div class="number orange-light-text">04.</div>
                            <div><span class="black-text testing display-table margin-two-bottom">Natural environment testing</span>
                                <span class="testingbody"> Measure consumer responses as they experience products in a natural environment. Understand media and device usage to decode their behavior.</span></div>
                        </li><br>
                         <li class="position-relative font-weight-300 text-extra-large">
                            <div class="number orange-light-text">05.</div>
                            <div><span class="black-text testing display-table margin-two-bottom">UI/UX research</span>
                                <span class="testingbody"> Improve product designs by analysing real time consumer interaction with websites, mobile devices, prototypes, at any stage.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    <section class="border-bottom clear-both xs-text-center">
            <div class="container">
                <div class="row">


                </div></div>
        </section>

    <!-- end clients reviews section -->


{% endblock %}

